<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a9f845fd-669e-4c23-8394-beb2136ac855" Alias="Answer Format" Level="1">
  <Info>
    <Name>Answer Format</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Text"
    },
    {
      "id": 2,
      "value": "Date"
    },
    {
      "id": 3,
      "value": "Radio button"
    },
    {
      "id": 4,
      "value": "Checkbox"
    },
    {
      "id": 5,
      "value": "Boolean"
    },
    {
      "id": 6,
      "value": "Email"
    },
    {
      "id": 7,
      "value": "Document upload"
    },
    {
      "id": 8,
      "value": "Dropdown"
    },
    {
      "id": 9,
      "value": "Text Area"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>