<?xml version="1.0" encoding="utf-8"?>
<DataType Key="456c2cc4-e3c7-4785-8f09-232a402e5f13" Alias="Block list - Placeholder Value" Level="1">
  <Info>
    <Name>Block list - Placeholder Value</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{value | truncate:true:200}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{value.markup | truncate:true:200}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>