<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d03c006d-653d-455a-9867-4883c9b70c63" Alias="Block list - Editor - Comments" Level="1">
  <Info>
    <Name>Block list - Editor - Comments</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "04b2f930-7c10-4d7c-a9f4-ab32c05ff0a9",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{umbValue: editorName} - {umbValue: note | truncate:200}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>