<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2f8472be-0695-4b47-89c1-0ab612b90d14" Alias="Categorisation Criteria - NHSOrganisationsAffected - Radio button list" Level="1">
  <Info>
    <Name>Categorisation Criteria - NHSOrganisationsAffected - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "All"
    },
    {
      "id": 2,
      "value": "Some"
    }
  ]
}]]></Config>
</DataType>