<?xml version="1.0" encoding="utf-8"?>
<DataType Key="24a01e79-b70d-4e7c-a37b-e5fc4984a371" Alias="Headline Type - Dropdown" Level="1">
  <Info>
    <Name>Headline Type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "h1"
    },
    {
      "id": 2,
      "value": "h2"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>