<?xml version="1.0" encoding="utf-8"?>
<DataType Key="89c0637a-695c-4682-902e-4e3bdfddb456" Alias="ModificationTypeCriteria - Applicability - Radio button list" Level="1">
  <Info>
    <Name>ModificationTypeCriteria - Applicability - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Yes"
    },
    {
      "id": 2,
      "value": "No"
    }
  ]
}]]></Config>
</DataType>