<?xml version="1.0" encoding="utf-8"?>
<DataType Key="401b22df-d955-4d88-8301-3fa75cbaa06c" Alias="Question Set - Status - Dropdown Property Editor UI" Level="1">
  <Info>
    <Name>Question Set - Status - Dropdown Property Editor UI</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Draft"
    },
    {
      "id": 2,
      "value": "In review"
    },
    {
      "id": 3,
      "value": "Published"
    },
    {
      "id": 4,
      "value": "Archived"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>