<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a2671738-0cbd-401c-891b-5e2e83aff29f" Alias="Question - Possible answers - Multinode Treepicker" Level="1">
  <Info>
    <Name>Question - Possible answers - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "answerOption",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": {
      "originAlias": "Parent",
      "originKey": null,
      "querySteps": [
        {
          "alias": "NearestAncestorOrSelf",
          "anyOfDocTypeKeys": [
            "34771d5c-a237-40ac-b43a-850c71a20ab8",
            "59f2dd20-834f-47bf-ab1b-2383001242b7"
          ]
        }
      ]
    },
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>