<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5da4e3ec-ef52-4497-a289-d7aa83874924" Alias="Section slot picker" Level="1">
  <Info>
    <Name>Section slot picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "section",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": {
      "originAlias": "Parent",
      "originKey": null,
      "querySteps": [
        {
          "alias": "NearestAncestorOrSelf",
          "anyOfDocTypeKeys": [
            "34771d5c-a237-40ac-b43a-850c71a20ab8",
            "59f2dd20-834f-47bf-ab1b-2383001242b7"
          ]
        }
      ]
    },
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>