<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8b108d6c-3dc6-4a2b-89c5-41bb3617d181" Alias="Question picker" Level="1">
  <Info>
    <Name>Question picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "3d0f3732-e7a6-499b-9e96-a0909b351773",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": null
}]]></Config>
</DataType>