<?xml version="1.0" encoding="utf-8"?>
<Content Key="15008d8a-6590-4b6c-8399-0bbdcc18672e" Alias="All" Level="7">
  <Info>
    <Parent Key="3c1759af-79ee-4199-878b-f8957a5b4377">Will some or all of the participating organisations be affected</Parent>
    <Path>/Questionsets/ModificationsQuestionsetRepository/v1/PlannedEndDateJourney/ParticipatingOrganisations/WillSomeOrAllOfTheParticipatingOrganisationsBeAffected/All</Path>
    <Trashed>false</Trashed>
    <ContentType>answerOption</ContentType>
    <CreateDate>2025-07-24T09:53:32</CreateDate>
    <NodeName Default="All" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionName>
      <Value><![CDATA[All]]></Value>
    </optionName>
  </Properties>
</Content>