<?xml version="1.0" encoding="utf-8"?>
<Content Key="dfc6f484-ddf1-4ec9-bbc3-665c8146295b" Alias="Answers Repository" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AnswersRepository</Path>
    <Trashed>false</Trashed>
    <ContentType>answersRepository</ContentType>
    <CreateDate>2025-05-29T15:37:35</CreateDate>
    <NodeName Default="Answers Repository" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>