<?xml version="1.0" encoding="utf-8"?>
<Content Key="deef58f3-9ba0-4ff6-94b7-069a657567b6" Alias="Area of change" Level="4">
  <Info>
    <Parent Key="27b3d982-7362-4450-9e40-cce979471284">v1</Parent>
    <Path>/Questionsets/ModificationsQuestionsetRepository/v1/AreaOfChange</Path>
    <Trashed>false</Trashed>
    <ContentType>areaOfChangeQuestion</ContentType>
    <CreateDate>2025-07-24T09:37:24</CreateDate>
    <NodeName Default="Area of change" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <text>
      <Value><![CDATA[Area of change]]></Value>
    </text>
  </Properties>
</Content>