<?xml version="1.0" encoding="utf-8"?>
<Content Key="6d3d5892-e29c-4159-af19-17ed6da03c5a" Alias="clinical investigation of a medical device" Level="3">
  <Info>
    <Parent Key="6f74395e-7ec9-41d7-9b68-dcad1b8e558f">CTIMP 2</Parent>
    <Path>/AnswersRepository/CTIMP2/clinicalInvestigationOfAMedicalDevice</Path>
    <Trashed>false</Trashed>
    <ContentType>answerOption</ContentType>
    <CreateDate>2025-06-03T11:33:02</CreateDate>
    <NodeName Default="clinical investigation of a medical device" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionName>
      <Value><![CDATA[clinical investigation of a medical device]]></Value>
    </optionName>
  </Properties>
</Content>