<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9549ba8-d278-4e68-aeb6-3b0acfb4944f" Alias="combined trial of an investigational medicinal product and an investigational medical device" Level="3">
  <Info>
    <Parent Key="2dac457f-0be1-42a5-9d24-510213eac00a">CTIMP</Parent>
    <Path>/AnswersRepository/CTIMP/combinedTrialOfAnInvestigationalMedicinalProductAndAnInvestigationalMedicalDevice</Path>
    <Trashed>false</Trashed>
    <ContentType>answerOption</ContentType>
    <CreateDate>2025-06-02T16:41:51</CreateDate>
    <NodeName Default="combined trial of an investigational medicinal product and an investigational medical device" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionName>
      <Value><![CDATA[combined trial of an investigational medicinal product and an investigational medical device]]></Value>
    </optionName>
  </Properties>
</Content>