<?xml version="1.0" encoding="utf-8"?>
<Content Key="43e021fe-41cb-4fbb-b82b-26ca26e8b084" Alias="Countries" Level="2">
  <Info>
    <Parent Key="dfc6f484-ddf1-4ec9-bbc3-665c8146295b">Answers Repository</Parent>
    <Path>/AnswersRepository/Countries</Path>
    <Trashed>false</Trashed>
    <ContentType>answerSet</ContentType>
    <CreateDate>2025-05-29T15:38:15</CreateDate>
    <NodeName Default="Countries" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>