<?xml version="1.0" encoding="utf-8"?>
<Content Key="de995d83-88a0-492e-a6fb-c187e15ea770" Alias="False" Level="3">
  <Info>
    <Parent Key="fb284dbe-e9dc-48fa-98b7-684fd0eb8217">True false</Parent>
    <Path>/AnswersRepository/TrueFalse/False</Path>
    <Trashed>false</Trashed>
    <ContentType>answerOption</ContentType>
    <CreateDate>2025-05-29T15:38:01</CreateDate>
    <NodeName Default="False" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionName>
      <Value><![CDATA[False]]></Value>
    </optionName>
  </Properties>
</Content>