<?xml version="1.0" encoding="utf-8"?>
<Content Key="80a7b724-2dbc-4a1e-b90d-7e845345bdf9" Alias="Is this project a clinical investigation or other project of a medical device (including digital technology)?" Level="5">
  <Info>
    <Parent Key="b1e11110-ebc4-4c13-ad3c-f5554a3ab2ae">Project locations</Parent>
    <Path>/Questionsets/QuestionsetRepository/v1/ProjectLocations/IsThisProjectAClinicalInvestigationOrOtherProjectOfAMedicalDeviceIncludingDigitalTechnology</Path>
    <Trashed>false</Trashed>
    <ContentType>question</ContentType>
    <CreateDate>2025-06-03T11:31:46</CreateDate>
    <NodeName Default="Is this project a clinical investigation or other project of a medical device (including digital technology)?" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerDataType>
      <Value><![CDATA[[
  "Radio button"
]]]></Value>
    </answerDataType>
    <conformance>
      <Value><![CDATA[[
  "Conditional"
]]]></Value>
    </conformance>
    <editorComment>
      <Value><![CDATA[]]></Value>
    </editorComment>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <possibleAnswers>
      <Value><![CDATA[umb://document/6d3d5892e29c4159af1917ed6da03c5a,umb://document/3f6af052133e4a46b84502401d3373d6,umb://document/428f7a1184cd4a22a3024a869deab696]]></Value>
    </possibleAnswers>
    <questionFormat>
      <Value><![CDATA[[
  "Look-up list"
]]]></Value>
    </questionFormat>
    <questionName>
      <Value><![CDATA[Is this project a clinical investigation or other project of a medical device (including digital technology)?]]></Value>
    </questionName>
    <validationRules>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "key": "e9eb1d6b-d467-49d2-bbfb-428299c04546",
      "udi": null,
      "values": [
        {
          "alias": "ruleName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "If CTIMP false"
        },
        {
          "alias": "mode",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "AND"
          ]
        },
        {
          "alias": "parentQuestion",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/1104cbf04f1340418f1c8ccf0536fd67"
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Answer if this is not CTIMP"
        },
        {
          "alias": "conditions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
                "key": "c7f82292-9ad0-46ef-8e97-bce62915b09d",
                "udi": null,
                "values": [
                  {
                    "alias": "mode",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "AND"
                    ]
                  },
                  {
                    "alias": "operator",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "IN"
                    ]
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "negate",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  },
                  {
                    "alias": "optionType",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Single"
                    ]
                  },
                  {
                    "alias": "parentOptions",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "umb://document/de995d8388a0492ea6fbc187e15ea770"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "c7f82292-9ad0-46ef-8e97-bce62915b09d",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "c7f82292-9ad0-46ef-8e97-bce62915b09d",
                  "contentUdi": "umb://element/c7f822929ad046ef8e97bce62915b09d",
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "e9eb1d6b-d467-49d2-bbfb-428299c04546",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e9eb1d6b-d467-49d2-bbfb-428299c04546",
        "contentUdi": "umb://element/e9eb1d6bd46749d2bbfb428299c04546",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </validationRules>
  </Properties>
</Content>