<?xml version="1.0" encoding="utf-8"?>
<Content Key="f62e4de8-97a8-4e33-a5ac-6f91c66d9f9a" Alias="Is this project a clinical investigation or other project of a medical device (including digital technology)?" Level="5">
  <Info>
    <Parent Key="6d6691e1-60b0-42dc-ab1a-7661566e8c74">Project locations</Parent>
    <Path>/Questionsets/QuestionsetRepository/v2Draft/ProjectLocations/IsThisProjectAClinicalInvestigationOrOtherProjectOfAMedicalDeviceIncludingDigitalTechnology</Path>
    <Trashed>false</Trashed>
    <ContentType>question</ContentType>
    <CreateDate>2025-06-03T14:04:43</CreateDate>
    <NodeName Default="Is this project a clinical investigation or other project of a medical device (including digital technology)?" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerDataType>
      <Value><![CDATA[[
  "Radio button"
]]]></Value>
    </answerDataType>
    <conformance>
      <Value><![CDATA[[
  "Mandatory"
]]]></Value>
    </conformance>
    <editorComment>
      <Value><![CDATA[]]></Value>
    </editorComment>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <possibleAnswers>
      <Value><![CDATA[umb://document/6d3d5892e29c4159af1917ed6da03c5a,umb://document/3f6af052133e4a46b84502401d3373d6,umb://document/428f7a1184cd4a22a3024a869deab696]]></Value>
    </possibleAnswers>
    <questionFormat>
      <Value><![CDATA[[
  "Look-up list"
]]]></Value>
    </questionFormat>
    <questionName>
      <Value><![CDATA[Is this project a clinical investigation or other project of a medical device (including digital technology)?]]></Value>
    </questionName>
    <validationRules>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "key": "71e94e64-7d31-4df8-90ec-c753b270a3e5",
      "udi": null,
      "values": [
        {
          "alias": "ruleName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "If CTIMP false"
        },
        {
          "alias": "mode",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "AND"
          ]
        },
        {
          "alias": "parentQuestion",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/fc78f9facf4b4cbf9bf28046ddeda5bc"
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Answer if this is not CTIMP"
        },
        {
          "alias": "conditions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
                "key": "8fc8f005-b68c-4804-97fe-4ff09dd1c93a",
                "udi": null,
                "values": [
                  {
                    "alias": "mode",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "AND"
                    ]
                  },
                  {
                    "alias": "operator",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "IN"
                    ]
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "negate",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  },
                  {
                    "alias": "optionType",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Single"
                    ]
                  },
                  {
                    "alias": "parentOptions",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "umb://document/de995d8388a0492ea6fbc187e15ea770"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "8fc8f005-b68c-4804-97fe-4ff09dd1c93a",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "8fc8f005-b68c-4804-97fe-4ff09dd1c93a",
                  "contentUdi": "umb://element/8fc8f005b68c480497fe4ff09dd1c93a",
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "71e94e64-7d31-4df8-90ec-c753b270a3e5",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "71e94e64-7d31-4df8-90ec-c753b270a3e5",
        "contentUdi": "umb://element/71e94e647d314df890ecc753b270a3e5",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </validationRules>
  </Properties>
</Content>