<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b415a3e-f441-4e3a-9c35-4c8ffcf26ddf" Alias="Modifications questionset repository" Level="2">
  <Info>
    <Parent Key="b8b8e7fa-e0dd-4cc5-857f-9f5c3900e2ba">Questionsets</Parent>
    <Path>/Questionsets/ModificationsQuestionsetRepository</Path>
    <Trashed>false</Trashed>
    <ContentType>questionsetRepository1</ContentType>
    <CreateDate>2025-07-23T14:34:31</CreateDate>
    <NodeName Default="Modifications questionset repository" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <activeQuestionset>
      <Value><![CDATA[umb://document/27b3d982736244509e40cce979471284]]></Value>
    </activeQuestionset>
  </Properties>
</Content>