<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f6af052-133e-4a46-b845-02401d3373d6" Alias="other project of a medical device" Level="3">
  <Info>
    <Parent Key="6f74395e-7ec9-41d7-9b68-dcad1b8e558f">CTIMP 2</Parent>
    <Path>/AnswersRepository/CTIMP2/otherProjectOfAMedicalDevice</Path>
    <Trashed>false</Trashed>
    <ContentType>answerOption</ContentType>
    <CreateDate>2025-06-03T11:33:12</CreateDate>
    <NodeName Default="other project of a medical device" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionName>
      <Value><![CDATA[other project of a medical device]]></Value>
    </optionName>
  </Properties>
</Content>