<?xml version="1.0" encoding="utf-8"?>
<Content Key="22860ea3-e3f4-4638-91c3-b97df44724c5" Alias="Participating organisations" Level="5">
  <Info>
    <Parent Key="eb6b0e0a-dde6-46db-b677-a9b3d5e866c8">Planned End Date Journey</Parent>
    <Path>/Questionsets/ModificationsQuestionsetRepository/v1/PlannedEndDateJourney/ParticipatingOrganisations</Path>
    <Trashed>false</Trashed>
    <ContentType>section</ContentType>
    <CreateDate>2025-07-24T09:51:57</CreateDate>
    <NodeName Default="Participating organisations" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <sectionName>
      <Value><![CDATA[Participating organisations]]></Value>
    </sectionName>
  </Properties>
</Content>