<?xml version="1.0" encoding="utf-8"?>
<Content Key="2fa2190b-f6f6-42ca-9ccf-2f84de7af20e" Alias="Participating Organisation Journey" Level="4">
  <Info>
    <Parent Key="27b3d982-7362-4450-9e40-cce979471284">v1</Parent>
    <Path>/Questionsets/ModificationsQuestionsetRepository/v1/ParticipatingOrganisationJourney</Path>
    <Trashed>false</Trashed>
    <ContentType>modificationJourney</ContentType>
    <CreateDate>2025-07-23T15:05:17</CreateDate>
    <NodeName Default="Participating Organisation Journey" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <condition>
      <Value><![CDATA[umb://document/83ab1bec37b24fe7bdd691f6a21c54e3,umb://document/dec9873780974824b05d3fd0a6f5a336,umb://document/856e51251ea84a2fa26f5513a5c666ba,umb://document/cdf81cacdaf4409da2084e64712ea628]]></Value>
    </condition>
  </Properties>
</Content>