<?xml version="1.0" encoding="utf-8"?>
<Content Key="dec98737-8097-4824-b05d-3fd0a6f5a336" Alias="PICs - Addition of Participant Identification Centres undertaking the same activities as existing PICs" Level="5">
  <Info>
    <Parent Key="8d692d81-8edd-4a66-8148-73e285f2ad5c">Specific change</Parent>
    <Path>/Questionsets/ModificationsQuestionsetRepository/v1/SpecificChange/PICsAdditionOfParticipantIdentificationCentresUndertakingTheSameActivitiesAsExistingPICs</Path>
    <Trashed>false</Trashed>
    <ContentType>answerOption</ContentType>
    <CreateDate>2025-07-24T09:39:47</CreateDate>
    <NodeName Default="PICs - Addition of Participant Identification Centres undertaking the same activities as existing PICs" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionName>
      <Value><![CDATA[PICs - Addition of Participant Identification Centres undertaking the same activities as existing PICs]]></Value>
    </optionName>
  </Properties>
</Content>