<?xml version="1.0" encoding="utf-8"?>
<Content Key="eb6b0e0a-dde6-46db-b677-a9b3d5e866c8" Alias="Planned End Date Journey" Level="4">
  <Info>
    <Parent Key="27b3d982-7362-4450-9e40-cce979471284">v1</Parent>
    <Path>/Questionsets/ModificationsQuestionsetRepository/v1/PlannedEndDateJourney</Path>
    <Trashed>false</Trashed>
    <ContentType>modificationJourney</ContentType>
    <CreateDate>2025-07-23T15:05:55</CreateDate>
    <NodeName Default="Planned End Date Journey" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <condition>
      <Value><![CDATA[umb://document/1fb210bf3ba04d03a7ff2191c82906b8]]></Value>
    </condition>
  </Properties>
</Content>