<?xml version="1.0" encoding="utf-8"?>
<Content Key="d13a53b1-1134-4bd4-9be8-fd423ac27ffa" Alias="Planned end date" Level="5">
  <Info>
    <Parent Key="5d07b6de-8b2a-40d1-90d3-0df2b488beb0">Project details</Parent>
    <Path>/Questionsets/QuestionsetRepository/v1/ProjectDetails/PlannedEndDate</Path>
    <Trashed>false</Trashed>
    <ContentType>question</ContentType>
    <CreateDate>2025-05-29T14:16:25</CreateDate>
    <NodeName Default="Planned end date" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerDataType>
      <Value><![CDATA[[
  "Text"
]]]></Value>
    </answerDataType>
    <conformance>
      <Value><![CDATA[[
  "Mandatory"
]]]></Value>
    </conformance>
    <editorComment>
      <Value><![CDATA[]]></Value>
    </editorComment>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <possibleAnswers>
      <Value><![CDATA[]]></Value>
    </possibleAnswers>
    <questionFormat>
      <Value><![CDATA[[
  "Text"
]]]></Value>
    </questionFormat>
    <questionName>
      <Value><![CDATA[Planned end date]]></Value>
    </questionName>
    <validationRules>
      <Value><![CDATA[]]></Value>
    </validationRules>
  </Properties>
</Content>