<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2f68e70-fed4-47eb-bccd-cba84313c81c" Alias="Project design" Level="5">
  <Info>
    <Parent Key="deef58f3-9ba0-4ff6-94b7-069a657567b6">Area of change</Parent>
    <Path>/Questionsets/ModificationsQuestionsetRepository/v1/AreaOfChange/ProjectDesign</Path>
    <Trashed>false</Trashed>
    <ContentType>answerOption</ContentType>
    <CreateDate>2025-07-24T09:38:48</CreateDate>
    <NodeName Default="Project design" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionName>
      <Value><![CDATA[Project design]]></Value>
    </optionName>
  </Properties>
</Content>