<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d07b6de-8b2a-40d1-90d3-0df2b488beb0" Alias="Project details" Level="3">
  <Info>
    <Parent Key="2122ae7b-4095-43c8-882f-be080aa93d5c">v1</Parent>
    <Path>/QuestionsetRepository/v1/ProjectDetails</Path>
    <Trashed>false</Trashed>
    <ContentType>section</ContentType>
    <CreateDate>2025-05-29T14:13:09</CreateDate>
    <NodeName Default="Project details" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <guidanceContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "59774e00-134e-4886-b4d9-e8ed7ca20600",
      "key": "7ac84372-a2bf-417d-9fc3-0709e62b142b",
      "udi": null,
      "values": [
        {
          "alias": "value",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "This is an example of some body text."
        }
      ]
    },
    {
      "contentTypeKey": "5a39d3b0-c10e-40ad-9475-1c9e8461f6e9",
      "key": "9b6cfa8a-dcde-4de0-9769-d58e5c75b760",
      "udi": null,
      "values": [
        {
          "alias": "items",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "9116e674-4054-4697-827d-c6ae2271b897",
                "key": "e15bd5b5-cbaf-4544-b7f5-ca3da8a1559c",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Accordion item 1"
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Sed ultrices vehicula lorem in aliquet. Ut malesuada sagittis pharetra. Morbi dictum tellus odio, ut vulputate augue sollicitudin et. Nullam maximus erat lorem, a luctus turpis tincidunt a."
                  }
                ]
              },
              {
                "contentTypeKey": "9116e674-4054-4697-827d-c6ae2271b897",
                "key": "b04195e7-e529-4d23-9055-ebf075683f34",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Accordion item 2"
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Sed ultrices vehicula lorem in aliquet. Ut malesuada sagittis pharetra. Morbi dictum tellus odio, ut vulputate augue sollicitudin et. Nullam maximus erat lorem, a luctus turpis tincidunt a.Sed ultrices vehicula lorem in aliquet. Ut malesuada sagittis pharetra. Morbi dictum tellus odio, ut vulputate augue sollicitudin et. Nullam maximus erat lorem, a luctus turpis tincidunt a."
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "e15bd5b5-cbaf-4544-b7f5-ca3da8a1559c",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b04195e7-e529-4d23-9055-ebf075683f34",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "e15bd5b5-cbaf-4544-b7f5-ca3da8a1559c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b04195e7-e529-4d23-9055-ebf075683f34",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "7ac84372-a2bf-417d-9fc3-0709e62b142b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9b6cfa8a-dcde-4de0-9769-d58e5c75b760",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "7ac84372-a2bf-417d-9fc3-0709e62b142b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "9b6cfa8a-dcde-4de0-9769-d58e5c75b760",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </guidanceContent>
    <sectionName>
      <Value><![CDATA[Project details - SHOW AND TELL]]></Value>
    </sectionName>
  </Properties>
</Content>