<?xml version="1.0" encoding="utf-8"?>
<Content Key="a84ac23c-ecd3-4abc-b33c-a73d328e970b" Alias="Scotland" Level="3">
  <Info>
    <Parent Key="43e021fe-41cb-4fbb-b82b-26ca26e8b084">Countries</Parent>
    <Path>/AnswersRepository/Countries/Scotland</Path>
    <Trashed>false</Trashed>
    <ContentType>answerOption</ContentType>
    <CreateDate>2025-05-29T15:38:41</CreateDate>
    <NodeName Default="Scotland" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionName>
      <Value><![CDATA[Scotland]]></Value>
    </optionName>
  </Properties>
</Content>