<?xml version="1.0" encoding="utf-8"?>
<Content Key="fcb24fab-1d80-4c61-87a7-4b56abf124ee" Alias="Select the option that applies to your project" Level="4">
  <Info>
    <Parent Key="b1e11110-ebc4-4c13-ad3c-f5554a3ab2ae">Project locations</Parent>
    <Path>/QuestionsetRepository/v1/ProjectLocations/SelectTheOptionThatAppliesToYourProject</Path>
    <Trashed>false</Trashed>
    <ContentType>question</ContentType>
    <CreateDate>2025-06-03T11:07:01</CreateDate>
    <NodeName Default="Select the option that applies to your project" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerDataType>
      <Value><![CDATA[[
  "Checkbox"
]]]></Value>
    </answerDataType>
    <conformance>
      <Value><![CDATA[[
  "Conditional"
]]]></Value>
    </conformance>
    <editorComment>
      <Value><![CDATA[]]></Value>
    </editorComment>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <possibleAnswers>
      <Value><![CDATA[umb://document/54e37765d24e4c289eef7dca02a9bee1,umb://document/d9549ba8d2784e68aeb63b0acfb4944f]]></Value>
    </possibleAnswers>
    <questionFormat>
      <Value><![CDATA[[
  "Look-up list"
]]]></Value>
    </questionFormat>
    <questionName>
      <Value><![CDATA[Select the option that applies to your project:]]></Value>
    </questionName>
    <validationRules>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "key": "7b01625c-87be-415a-b1c7-26eab7dcbfc0",
      "udi": null,
      "values": [
        {
          "alias": "ruleName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Show if CTIMP true"
        },
        {
          "alias": "mode",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "AND"
          ]
        },
        {
          "alias": "parentQuestion",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/1104cbf04f1340418f1c8ccf0536fd67"
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Answer if you selected \u0022true\u0022 to previous question"
        },
        {
          "alias": "conditions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
                "key": "f04b6894-a42b-4a34-9709-da53ed4dc96d",
                "udi": null,
                "values": [
                  {
                    "alias": "mode",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "AND"
                    ]
                  },
                  {
                    "alias": "operator",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "IN"
                    ]
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "negate",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  },
                  {
                    "alias": "optionType",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Single"
                    ]
                  },
                  {
                    "alias": "parentOptions",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "umb://document/62fa643ea6a24a32a887adf239e3cb21"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "f04b6894-a42b-4a34-9709-da53ed4dc96d",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "f04b6894-a42b-4a34-9709-da53ed4dc96d",
                  "contentUdi": "umb://element/f04b6894a42b4a349709da53ed4dc96d",
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "7b01625c-87be-415a-b1c7-26eab7dcbfc0",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "7b01625c-87be-415a-b1c7-26eab7dcbfc0",
        "contentUdi": "umb://element/7b01625c87be415ab1c726eab7dcbfc0",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </validationRules>
  </Properties>
</Content>