<?xml version="1.0" encoding="utf-8"?>
<Content Key="9467e1dc-9c4a-4691-95d8-c964cba214d5" Alias="Short project title 1" Level="4">
  <Info>
    <Parent Key="12097d77-7d39-4f4b-959e-1f3ca233489a">Project details</Parent>
    <Path>/QuestionsetRepository/v2Draft/ProjectDetails/ShortProjectTitle1</Path>
    <Trashed>false</Trashed>
    <ContentType>question</ContentType>
    <CreateDate>2025-06-03T14:04:43</CreateDate>
    <NodeName Default="Short project title 1" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerDataType>
      <Value><![CDATA[[
  "Text"
]]]></Value>
    </answerDataType>
    <conformance>
      <Value><![CDATA[1]]></Value>
    </conformance>
    <editorComment>
      <Value><![CDATA[]]></Value>
    </editorComment>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <possibleAnswers>
      <Value><![CDATA[]]></Value>
    </possibleAnswers>
    <questionFormat>
      <Value><![CDATA[[
  "Text"
]]]></Value>
    </questionFormat>
    <questionName>
      <Value><![CDATA[Short project title]]></Value>
    </questionName>
    <validationRules>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "key": "3030cb0b-944a-404a-b8ce-d192e931a868",
      "udi": null,
      "values": [
        {
          "alias": "ruleName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Character Limit"
        },
        {
          "alias": "mode",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "AND"
          ]
        },
        {
          "alias": "parentQuestion",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Between 5 and 15 characters"
        },
        {
          "alias": "conditions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
                "key": "0d2fbde4-68d1-4c45-bf1e-9ef8949bfc6d",
                "udi": null,
                "values": [
                  {
                    "alias": "mode",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "AND"
                    ]
                  },
                  {
                    "alias": "operator",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "LENGTH"
                    ]
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "5,15"
                  },
                  {
                    "alias": "negate",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  },
                  {
                    "alias": "optionType",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "parentOptions",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "0d2fbde4-68d1-4c45-bf1e-9ef8949bfc6d",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "0d2fbde4-68d1-4c45-bf1e-9ef8949bfc6d",
                  "contentUdi": "umb://element/0d2fbde468d14c45bf1e9ef8949bfc6d",
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "3030cb0b-944a-404a-b8ce-d192e931a868",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "3030cb0b-944a-404a-b8ce-d192e931a868",
        "contentUdi": "umb://element/3030cb0b944a404ab8ced192e931a868",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </validationRules>
  </Properties>
</Content>