<?xml version="1.0" encoding="utf-8"?>
<Content Key="89592c46-d5cc-48c5-98e4-e4d7c1e3533f" Alias="Short project title" Level="4">
  <Info>
    <Parent Key="5d07b6de-8b2a-40d1-90d3-0df2b488beb0">Project details</Parent>
    <Path>/QuestionsetRepository/v1/ProjectDetails/ShortProjectTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>question</ContentType>
    <CreateDate>2025-05-29T14:13:49</CreateDate>
    <NodeName Default="Short project title" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerDataType>
      <Value><![CDATA[[
  "Text"
]]]></Value>
    </answerDataType>
    <conformance>
      <Value><![CDATA[[
  "Mandatory"
]]]></Value>
    </conformance>
    <editorComment>
      <Value><![CDATA[]]></Value>
    </editorComment>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <possibleAnswers>
      <Value><![CDATA[]]></Value>
    </possibleAnswers>
    <questionFormat>
      <Value><![CDATA[[
  "Text"
]]]></Value>
    </questionFormat>
    <questionName>
      <Value><![CDATA[Short project title]]></Value>
    </questionName>
    <validationRules>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "key": "063e5f5f-e81a-4e62-8ca3-ea480e8704ce",
      "udi": null,
      "values": [
        {
          "alias": "ruleName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Character Limit"
        },
        {
          "alias": "mode",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "AND"
          ]
        },
        {
          "alias": "parentQuestion",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "This field needs to be between 5 and 15 characters"
        },
        {
          "alias": "conditions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
                "key": "844ab187-f6d8-49ce-929e-975b4accea60",
                "udi": null,
                "values": [
                  {
                    "alias": "mode",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "AND"
                    ]
                  },
                  {
                    "alias": "operator",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "LENGTH"
                    ]
                  },
                  {
                    "alias": "value",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "5,16"
                  },
                  {
                    "alias": "negate",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  },
                  {
                    "alias": "optionType",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "parentOptions",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Please enter the correct amount of characters1"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "844ab187-f6d8-49ce-929e-975b4accea60",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "844ab187-f6d8-49ce-929e-975b4accea60",
                  "contentUdi": "umb://element/844ab187f6d849ce929e975b4accea60",
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "063e5f5f-e81a-4e62-8ca3-ea480e8704ce",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "063e5f5f-e81a-4e62-8ca3-ea480e8704ce",
        "contentUdi": "umb://element/063e5f5fe81a4e628ca3ea480e8704ce",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </validationRules>
  </Properties>
</Content>