<?xml version="1.0" encoding="utf-8"?>
<Content Key="1adacde1-5b7d-47cc-9021-f1c8d7f910b9" Alias="Some" Level="7">
  <Info>
    <Parent Key="3c1759af-79ee-4199-878b-f8957a5b4377">Will some or all of the participating organisations be affected</Parent>
    <Path>/Questionsets/ModificationsQuestionsetRepository/v1/PlannedEndDateJourney/ParticipatingOrganisations/WillSomeOrAllOfTheParticipatingOrganisationsBeAffected/Some</Path>
    <Trashed>false</Trashed>
    <ContentType>answerOption</ContentType>
    <CreateDate>2025-07-24T09:53:21</CreateDate>
    <NodeName Default="Some" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionName>
      <Value><![CDATA[Some]]></Value>
    </optionName>
  </Properties>
</Content>