<?xml version="1.0" encoding="utf-8"?>
<Content Key="62fa643e-a6a2-4a32-a887-adf239e3cb21" Alias="True" Level="3">
  <Info>
    <Parent Key="fb284dbe-e9dc-48fa-98b7-684fd0eb8217">True false</Parent>
    <Path>/AnswersRepository/TrueFalse/True</Path>
    <Trashed>false</Trashed>
    <ContentType>answerOption</ContentType>
    <CreateDate>2025-05-29T15:37:53</CreateDate>
    <NodeName Default="True" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionName>
      <Value><![CDATA[True]]></Value>
    </optionName>
  </Properties>
</Content>