<?xml version="1.0" encoding="utf-8"?>
<Content Key="2122ae7b-4095-43c8-882f-be080aa93d5c" Alias="v1" Level="2">
  <Info>
    <Parent Key="894735ce-6929-4d07-8d26-0205701cd049">Questionset repository</Parent>
    <Path>/QuestionsetRepository/v1</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSet</ContentType>
    <CreateDate>2025-05-29T14:11:07</CreateDate>
    <NodeName Default="v1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <comments>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "04b2f930-7c10-4d7c-a9f4-ab32c05ff0a9",
      "key": "56b31147-b274-446d-86d7-3859cf290cf8",
      "udi": null,
      "values": [
        {
          "alias": "note",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "This is a note that I want to add as an editor. It will be visible to all who can access this question set"
        },
        {
          "alias": "editorName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Borjan Vasovski"
        }
      ]
    },
    {
      "contentTypeKey": "04b2f930-7c10-4d7c-a9f4-ab32c05ff0a9",
      "key": "0862c9b9-4a2d-4b1e-a63a-4fec5170f284",
      "udi": null,
      "values": [
        {
          "alias": "note",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "This is a second editor note I want to be available to the editors of this questionset."
        },
        {
          "alias": "editorName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "James Smith"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "56b31147-b274-446d-86d7-3859cf290cf8",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "0862c9b9-4a2d-4b1e-a63a-4fec5170f284",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "56b31147-b274-446d-86d7-3859cf290cf8",
        "contentUdi": "umb://element/56b31147b274446d86d73859cf290cf8",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "0862c9b9-4a2d-4b1e-a63a-4fec5170f284",
        "contentUdi": "umb://element/0862c9b94a2d4b1ea63a4fec5170f284",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </comments>
    <isActive>
      <Value><![CDATA[1]]></Value>
    </isActive>
  </Properties>
</Content>