<?xml version="1.0" encoding="utf-8"?>
<Content Key="cdad05b2-5510-452e-a2e7-93601d09799c" Alias="Was the project reviewed by an NHS Research Ethics Committee (REC)" Level="4">
  <Info>
    <Parent Key="5d07b6de-8b2a-40d1-90d3-0df2b488beb0">Project details</Parent>
    <Path>/QuestionsetRepository/v1/ProjectDetails/WasTheProjectReviewedByAnNHSResearchEthicsCommitteeREC</Path>
    <Trashed>false</Trashed>
    <ContentType>question</ContentType>
    <CreateDate>2025-05-29T15:39:34</CreateDate>
    <NodeName Default="Was the project reviewed by an NHS Research Ethics Committee (REC)" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerDataType>
      <Value><![CDATA[[
  "Text"
]]]></Value>
    </answerDataType>
    <conformance>
      <Value><![CDATA[[
  "Mandatory"
]]]></Value>
    </conformance>
    <editorComment>
      <Value><![CDATA[]]></Value>
    </editorComment>
    <guidanceContent>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d10f8af2-acdd-440c-b05d-24314c8558e0",
      "key": "842f1c68-a593-4912-b4ce-145af873b891",
      "udi": null,
      "values": [
        {
          "alias": "value",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Some text goes here."
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Help with application"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "842f1c68-a593-4912-b4ce-145af873b891",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "842f1c68-a593-4912-b4ce-145af873b891",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </guidanceContent>
    <possibleAnswers>
      <Value><![CDATA[]]></Value>
    </possibleAnswers>
    <questionFormat>
      <Value><![CDATA[[
  "Text"
]]]></Value>
    </questionFormat>
    <questionName>
      <Value><![CDATA[Was the project reviewed by an NHS Research Ethics Committee (REC)?]]></Value>
    </questionName>
    <validationRules>
      <Value><![CDATA[]]></Value>
    </validationRules>
  </Properties>
</Content>