<?xml version="1.0" encoding="utf-8"?>
<Content Key="7e9a41bd-af51-4f16-993c-bc2081d0a982" Alias="Was the project reviewed by an NHS Research Ethics Committee (REC)" Level="4">
  <Info>
    <Parent Key="12097d77-7d39-4f4b-959e-1f3ca233489a">Project details</Parent>
    <Path>/QuestionsetRepository/v2Draft/ProjectDetails/WasTheProjectReviewedByAnNHSResearchEthicsCommitteeREC</Path>
    <Trashed>false</Trashed>
    <ContentType>question</ContentType>
    <CreateDate>2025-06-03T14:04:43</CreateDate>
    <NodeName Default="Was the project reviewed by an NHS Research Ethics Committee (REC)" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerDataType>
      <Value><![CDATA[[
  "Text"
]]]></Value>
    </answerDataType>
    <conformance>
      <Value><![CDATA[1]]></Value>
    </conformance>
    <editorComment>
      <Value><![CDATA[]]></Value>
    </editorComment>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <possibleAnswers>
      <Value><![CDATA[]]></Value>
    </possibleAnswers>
    <questionFormat>
      <Value><![CDATA[[
  "Text"
]]]></Value>
    </questionFormat>
    <questionName>
      <Value><![CDATA[Was the project reviewed by an NHS Research Ethics Committee (REC)?]]></Value>
    </questionName>
    <validationRules>
      <Value><![CDATA[]]></Value>
    </validationRules>
  </Properties>
</Content>