<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ca32dce-1665-4cb4-bcdb-cd4aef3adb84" Alias="Academic Supervisor" Level="6">
  <Info>
    <Parent Key="48f1c88e-ef90-48bb-abd9-589abfac4bb0">Sub document type</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Answers/SubDocumentType/AcademicSupervisor</Path>
    <Trashed>false</Trashed>
    <ContentType>answerOption</ContentType>
    <CreateDate>2025-09-22T15:26:03</CreateDate>
    <NodeName Default="Academic Supervisor" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[OPT0373]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Academic Supervisor]]></Value>
    </optionName>
  </Properties>
</Content>