<?xml version="1.0" encoding="utf-8"?>
<Content Key="1b659c24-e5af-4b58-a04f-4aaeca69e53b" Alias="Additional or new control group (placebo) or arm to the project" Level="6">
  <Info>
    <Parent Key="d329f009-4ad2-4a78-8d3f-b808271cdcf6">Project design</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/AreaOfChange/ProjectDesign/AdditionalOrNewControlGroupPlaceboOrArmToTheProject</Path>
    <Trashed>false</Trashed>
    <ContentType>subAnswerOption</ContentType>
    <CreateDate>2025-10-08T15:37:21</CreateDate>
    <NodeName Default="Additional or new control group (placebo) or arm to the project" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[27]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Additional or new control group (placebo) or arm to the project]]></Value>
    </optionName>
    <showApplicabilityQuestions>
      <Value><![CDATA[1]]></Value>
    </showApplicabilityQuestions>
  </Properties>
</Content>