<?xml version="1.0" encoding="utf-8"?>
<Content Key="e9b0d7b4-7c65-4c0f-9f06-609e1195de5c" Alias="AddRecMember" Level="3">
  <Info>
    <Parent Key="d815fa61-4d54-4c2e-b587-6ad1d47664a0">MemberManagement</Parent>
    <Path>/Home/MemberManagement/AddRecMember</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2026-04-20T15:28:03</CreateDate>
    <NodeName Default="AddRecMember" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b0558d471edb45e089b3b7c08457e43a"
      },
      {
        "contentUdi": "umb://element/1a12b45211c349d08a7f6e028ed7bbb2"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/88d739279dea42e791cfdb174fca75bf"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/88d739279dea42e791cfdb174fca75bf",
            "value": "Add member details"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/b9c66afa48cb4a829e3d660080ded38f",
      "udi": "umb://element/b0558d471edb45e089b3b7c08457e43a"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/bff571f974fe465e9ef3742743508eeb"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/bff571f974fe465e9ef3742743508eeb",
            "value": "Check this information is correct before adding member to"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/b7afb8c3b3954e599903b8f4a1c7f16f",
      "udi": "umb://element/1a12b45211c349d08a7f6e028ed7bbb2"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>