<?xml version="1.0" encoding="utf-8"?>
<Content Key="f793edb6-8845-4cca-ba78-11bdbc5426cb" Alias="Admin" Level="2">
  <Info>
    <Parent Key="af480879-2295-4031-89a6-1c1f0a877b04">Home</Parent>
    <Path>/Home/Admin</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2026-01-21T10:30:41</CreateDate>
    <NodeName Default="Admin" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[]]></Value>
    </contentItems>
  </Properties>
</Content>