<?xml version="1.0" encoding="utf-8"?>
<Content Key="daad52ee-0f35-42ed-939f-bc269abc21b7" Alias="Admin.Users.SearchHintText" Level="5">
  <Info>
    <Parent Key="5809592a-cfc9-4d73-bcd1-71809c2241da">ManageUsers</Parent>
    <Path>/Home/ContentPlaceholders/SystemAdmin/ManageUsers/AdminUsersSearchHintText</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-01-21T10:28:23</CreateDate>
    <NodeName Default="Admin.Users.SearchHintText" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>