<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b45c3d7-fe2a-4e97-9a61-ff5b922d72d5" Alias="Admin.Users.AddNewLink" Level="5">
  <Info>
    <Parent Key="5809592a-cfc9-4d73-bcd1-71809c2241da">ManageUsers</Parent>
    <Path>/Home/ContentPlaceholders/SystemAdmin/ManageUsers/AdminUsersAddNewLink</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-01-21T10:34:42</CreateDate>
    <NodeName Default="Admin.Users.AddNewLink" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>