<?xml version="1.0" encoding="utf-8"?>
<Content Key="93aec0f2-de8c-45ea-9935-591cd979a06b" Alias="Affected Organisations" Level="5">
  <Info>
    <Parent Key="f72ba540-e2a3-4a65-bee5-443790d4fb98">Reviewable free text with applicability modification</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ReviewableFreeTextWithApplicabilityModification/AffectedOrganisations</Path>
    <Trashed>false</Trashed>
    <ContentType>section</ContentType>
    <CreateDate>2025-10-03T11:56:51</CreateDate>
    <NodeName Default="Affected Organisations" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/c3a6e652ddd4447593131b74009a7645]]></Value>
    </category>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <mandatory>
      <Value><![CDATA[1]]></Value>
    </mandatory>
    <sectionId>
      <Value><![CDATA[pem-affected-organisations]]></Value>
    </sectionId>
    <sectionName>
      <Value><![CDATA[affecting organisations type]]></Value>
    </sectionName>
    <sequence>
      <Value><![CDATA[2]]></Value>
    </sequence>
    <staticViewName>
      <Value><![CDATA[AffectedOrganisationsType]]></Value>
    </staticViewName>
  </Properties>
</Content>