<?xml version="1.0" encoding="utf-8"?>
<Content Key="31e70606-a4c2-43ea-a6dd-e695ad254e9f" Alias="Affected Organisations" Level="5">
  <Info>
    <Parent Key="da5d70f5-d2b6-40ae-a199-213583b34249">Non reviewable free text with applicability modification</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/NonReviewableFreeTextWithApplicabilityModification/AffectedOrganisations</Path>
    <Trashed>false</Trashed>
    <ContentType>section</ContentType>
    <CreateDate>2025-10-08T15:47:58</CreateDate>
    <NodeName Default="Affected Organisations" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/c3a6e652ddd4447593131b74009a7645]]></Value>
    </category>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <mandatory>
      <Value><![CDATA[1]]></Value>
    </mandatory>
    <sectionId>
      <Value><![CDATA[pem-non-reviewable-applicability-affected-organisations]]></Value>
    </sectionId>
    <sectionName>
      <Value><![CDATA[affecting organisations type]]></Value>
    </sectionName>
    <sequence>
      <Value><![CDATA[2]]></Value>
    </sequence>
    <staticViewName>
      <Value><![CDATA[AffectedOrganisationsType]]></Value>
    </staticViewName>
  </Properties>
</Content>