<?xml version="1.0" encoding="utf-8"?>
<Content Key="6aadcdcb-0e8a-4a05-8887-6b23fa8e769c" Alias="Affecting Organisations" Level="5">
  <Info>
    <Parent Key="f2f04118-b281-450d-9c3b-512ced26b4fc">Project personnel principal investigator modification</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ProjectPersonnelPrincipalInvestigatorModification/AffectingOrganisations</Path>
    <Trashed>false</Trashed>
    <ContentType>section</ContentType>
    <CreateDate>2025-10-27T15:03:22</CreateDate>
    <NodeName Default="Affecting Organisations" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/d1c6d130e02644f9bc5092ffde43f734]]></Value>
    </category>
    <evaluateBackRoute>
      <Value><![CDATA[]]></Value>
    </evaluateBackRoute>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <isLastSectionBeforeReview>
      <Value><![CDATA[1]]></Value>
    </isLastSectionBeforeReview>
    <mandatory>
      <Value><![CDATA[0]]></Value>
    </mandatory>
    <nextSection>
      <Value><![CDATA[]]></Value>
    </nextSection>
    <parentAnswerOption>
      <Value><![CDATA[]]></Value>
    </parentAnswerOption>
    <parentQuestion>
      <Value><![CDATA[]]></Value>
    </parentQuestion>
    <sectionId>
      <Value><![CDATA[pppi-non-reviewable-applicability-affecting-organisations]]></Value>
    </sectionId>
    <sectionName>
      <Value><![CDATA[affecting organisations meta data]]></Value>
    </sectionName>
    <sequence>
      <Value><![CDATA[5]]></Value>
    </sequence>
    <staticViewName>
      <Value><![CDATA[DisplayQuestionnaire]]></Value>
    </staticViewName>
    <storeReferrer>
      <Value><![CDATA[]]></Value>
    </storeReferrer>
  </Properties>
</Content>