<?xml version="1.0" encoding="utf-8"?>
<Content Key="ae68e135-f96a-45f8-a434-e4c0575c7090" Alias="Affecting Organisations" Level="5">
  <Info>
    <Parent Key="edad373a-186a-4411-99e4-0f67ae5b8ee4">Planned end date modification</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/PlannedEndDateModification/AffectingOrganisations</Path>
    <Trashed>false</Trashed>
    <ContentType>section</ContentType>
    <CreateDate>2025-07-31T11:28:32</CreateDate>
    <NodeName Default="Affecting Organisations" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/1cf4122519c248b385637d42dfec7e11]]></Value>
    </category>
    <evaluateBackRoute>
      <Value><![CDATA[]]></Value>
    </evaluateBackRoute>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <isLastSectionBeforeReview>
      <Value><![CDATA[0]]></Value>
    </isLastSectionBeforeReview>
    <mandatory>
      <Value><![CDATA[0]]></Value>
    </mandatory>
    <nextSection>
      <Value><![CDATA[]]></Value>
    </nextSection>
    <parentAnswerOption>
      <Value><![CDATA[]]></Value>
    </parentAnswerOption>
    <parentQuestion>
      <Value><![CDATA[]]></Value>
    </parentQuestion>
    <sectionId>
      <Value><![CDATA[pem-affecting-organisations]]></Value>
    </sectionId>
    <sectionName>
      <Value><![CDATA[affecting organisations meta data]]></Value>
    </sectionName>
    <sequence>
      <Value><![CDATA[3]]></Value>
    </sequence>
    <staticViewName>
      <Value><![CDATA[DisplayQuestionnaire]]></Value>
    </staticViewName>
    <storeReferrer>
      <Value><![CDATA[]]></Value>
    </storeReferrer>
  </Properties>
</Content>