<?xml version="1.0" encoding="utf-8"?>
<Content Key="1fc19502-d6a9-4b78-97ec-a2f567ca975d" Alias="Affecting Organisations" Level="5">
  <Info>
    <Parent Key="da5d70f5-d2b6-40ae-a199-213583b34249">Non reviewable free text with applicability modification</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/NonReviewableFreeTextWithApplicabilityModification/AffectingOrganisations</Path>
    <Trashed>false</Trashed>
    <ContentType>section</ContentType>
    <CreateDate>2025-10-08T15:48:08</CreateDate>
    <NodeName Default="Affecting Organisations" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/c3a6e652ddd4447593131b74009a7645]]></Value>
    </category>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <mandatory>
      <Value><![CDATA[0]]></Value>
    </mandatory>
    <sectionId>
      <Value><![CDATA[pem-non-reviewable-applicability-affecting-organisations]]></Value>
    </sectionId>
    <sectionName>
      <Value><![CDATA[affecting organisations meta data]]></Value>
    </sectionName>
    <sequence>
      <Value><![CDATA[3]]></Value>
    </sequence>
    <staticViewName>
      <Value><![CDATA[AffectingOrganisations]]></Value>
    </staticViewName>
  </Properties>
</Content>