<?xml version="1.0" encoding="utf-8"?>
<Content Key="30b09979-b39d-467a-a303-f3edfcf6cab2" Alias="All - Some" Level="5">
  <Info>
    <Parent Key="2cfb675f-2cea-4249-8457-de2c9add4a99">Answers</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Answers/AllSome</Path>
    <Trashed>false</Trashed>
    <ContentType>answerSet</ContentType>
    <CreateDate>2025-07-31T11:30:48</CreateDate>
    <NodeName Default="All - Some" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>