<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a70997b-1b38-408e-89f2-2773f5522eb2" Alias="Application.Welcome.EmptySearchTitle" Level="5">
  <Info>
    <Parent Key="4ae47d4e-8055-4d53-abfe-e6120e7fb123">Welcome</Parent>
    <Path>/Home/ContentPlaceholders/Application/Welcome/ApplicationWelcomeEmptySearchTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-14T12:47:07</CreateDate>
    <NodeName Default="Application.Welcome.EmptySearchTitle" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>