<?xml version="1.0" encoding="utf-8"?>
<Content Key="d90fe65c-87ca-49c7-9a37-f8d593078db5" Alias="Application.ValidateProjectClosure.ClosedStatusTitle" Level="5">
  <Info>
    <Parent Key="349ef721-ee79-464f-8d89-0d6926ba55ca">Close project</Parent>
    <Path>/Home/ContentPlaceholders/Application/CloseProject/ApplicationValidateProjectClosureClosedStatusTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-02-11T14:57:45</CreateDate>
    <NodeName Default="Application.ValidateProjectClosure.ClosedStatusTitle" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>