<?xml version="1.0" encoding="utf-8"?>
<Content Key="628f9e59-3971-499f-9877-d71761ca598b" Alias="Application.ConfirmProjectClosure.Body" Level="5">
  <Info>
    <Parent Key="aecd2a08-1482-40b4-86d1-75106ac8dce9">Confirm project closure</Parent>
    <Path>/Home/ContentPlaceholders/Application/ConfirmProjectClosure/ApplicationConfirmProjectClosureBody</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-12-31T16:17:39</CreateDate>
    <NodeName Default="Application.ConfirmProjectClosure.Body" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>