<?xml version="1.0" encoding="utf-8"?>
<Content Key="f6364d36-76e6-4dee-aa23-51ed42c25d53" Alias="Approvals.MyTasklist.PageTitle" Level="5">
  <Info>
    <Parent Key="ed365f95-17d8-42c7-b86d-dbe4ef233ba7">My Taslkilst</Parent>
    <Path>/Home/ContentPlaceholders/Approvals/MyTaslkilst/ApprovalsMyTasklistPageTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-09-08T16:57:03</CreateDate>
    <NodeName Default="Approvals.MyTasklist.PageTitle" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>