<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f3e6a60-3391-4867-ae48-d33dce4ec739" Alias="Approvals.ModificationsTasklist.PageSummaryTeamManager" Level="5">
  <Info>
    <Parent Key="6cfdb8fa-6890-4f38-9c61-e35d7ffbec7e">Modificationstasklist</Parent>
    <Path>/Home/ContentPlaceholders/Approvals/Modificationstasklist/ApprovalsModificationsTasklistPageSummaryTeamManager</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-11-07T10:36:23</CreateDate>
    <NodeName Default="Approvals.ModificationsTasklist.PageSummaryTeamManager" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>