<?xml version="1.0" encoding="utf-8"?>
<Content Key="55aac9dc-4504-4eb5-8876-19dfb7ba0afd" Alias="Approvalsmenu" Level="2">
  <Info>
    <Parent Key="af480879-2295-4031-89a6-1c1f0a877b04">Home</Parent>
    <Path>/Home/Approvalsmenu</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2025-09-09T13:37:03</CreateDate>
    <NodeName Default="Approvalsmenu" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2cad3b3fce054bdf9fcbc28054a7e802"
      },
      {
        "contentUdi": "umb://element/817bd95660664daf9d4fa14c8936bd38"
      },
      {
        "contentUdi": "umb://element/196704c1245e4a668c324d0e0534b739"
      },
      {
        "contentUdi": "umb://element/e899a722687d4827b4fe165d8d77a471"
      },
      {
        "contentUdi": "umb://element/ddf784bf69744bc28fdff0c1027b5097"
      },
      {
        "contentUdi": "umb://element/1314249e71154a11ab87d8269d7097a3"
      },
      {
        "contentUdi": "umb://element/332af568fdc8480882d0dd499dc4bfc1"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/e686deec88fc483fb33d4bcd3b6ea8fb"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/e686deec88fc483fb33d4bcd3b6ea8fb",
            "value": "Approvals"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/a7dfcb03de564e64a15552dadfb2e520",
      "udi": "umb://element/2cad3b3fce054bdf9fcbc28054a7e802"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3467a4969fa24554ac94bcd7a6d4beb6"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/3467a4969fa24554ac94bcd7a6d4beb6",
            "value": "Search records"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/7dbd38d214274e4cb5e03a91e5920ec9",
      "udi": "umb://element/817bd95660664daf9d4fa14c8936bd38"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/6968850290104dc3a1ae106ad2abb903"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/6968850290104dc3a1ae106ad2abb903",
            "value": "Search modification and project records."
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/4896d8051de8488caa3f0c38cbd599b0",
      "udi": "umb://element/196704c1245e4a668c324d0e0534b739"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/51221630127e45368755314ab1d69e9b"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/51221630127e45368755314ab1d69e9b",
            "value": "Modifications tasklist"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/cc16d5c33a60403f92b1876abf618112",
      "udi": "umb://element/e899a722687d4827b4fe165d8d77a471"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/10a77f28b3de487bb08962847b844423"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/10a77f28b3de487bb08962847b844423",
            "value": "See modifications tasklist."
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/fe331166a33c45debea614cb4bb72c59",
      "udi": "umb://element/ddf784bf69744bc28fdff0c1027b5097"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d223ce006fca49feaee1815e03da325f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/d223ce006fca49feaee1815e03da325f",
            "value": "My tasklist"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/085331c7809841b1a5dc5e2b9b6b7997",
      "udi": "umb://element/1314249e71154a11ab87d8269d7097a3"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/8f371240b0524de4b665d4395bf0298e"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/8f371240b0524de4b665d4395bf0298e",
            "value": "See my tasklist."
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/3735a1a963e042b087d9e2102ac32da9",
      "udi": "umb://element/332af568fdc8480882d0dd499dc4bfc1"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>