<?xml version="1.0" encoding="utf-8"?>
<Content Key="64c6e268-5947-4c43-8491-35dd00abe706" Alias="Approvals.ModificationsTasklist.NoResultsBodyText" Level="5">
  <Info>
    <Parent Key="6cfdb8fa-6890-4f38-9c61-e35d7ffbec7e">Modificationstasklist</Parent>
    <Path>/Home/ContentPlaceholders/Approvals/Modificationstasklist/ApprovalsModificationsTasklistNoResultsBodyText</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-09-10T09:44:09</CreateDate>
    <NodeName Default="Approvals.ModificationsTasklist.NoResultsBodyText" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>