<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc79c05e-131d-4dcf-aa8b-9e62a6385e41" Alias="Approvals.Search.NoResultsTitle" Level="5">
  <Info>
    <Parent Key="9af11e6e-c154-4b4b-b4c4-901ace2c8fdb">Search</Parent>
    <Path>/Home/ContentPlaceholders/Approvals/Search/ApprovalsSearchNoResultsTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-09-10T15:09:17</CreateDate>
    <NodeName Default="Approvals.Search.NoResultsTitle" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>