<?xml version="1.0" encoding="utf-8"?>
<Content Key="6a083228-a0d0-4695-b894-e26fc0226116" Alias="Approvals.MyTasklist.NoResultsBody" Level="5">
  <Info>
    <Parent Key="ed365f95-17d8-42c7-b86d-dbe4ef233ba7">My Taslkilst</Parent>
    <Path>/Home/ContentPlaceholders/Approvals/MyTaslkilst/ApprovalsMyTasklistNoResultsBody</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-09-09T09:48:28</CreateDate>
    <NodeName Default="Approvals.MyTasklist.NoResultsBody" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>