<?xml version="1.0" encoding="utf-8"?>
<Content Key="4896d805-1de8-488c-aa3f-0c38cbd599b0" Alias="Approvals.SearchDescription" Level="4">
  <Info>
    <Parent Key="b3251839-9f9d-451f-b8e0-0ab913736287">Approvals</Parent>
    <Path>/Home/ContentPlaceholders/Approvals/ApprovalsSearchDescription</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-08-15T11:18:30</CreateDate>
    <NodeName Default="Approvals.SearchDescription" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>