<?xml version="1.0" encoding="utf-8"?>
<Content Key="56125bbf-c88d-49ef-b64c-17f3e2e6e497" Alias="Approvals.ModificationsTasklist.EmptySearchBodyText" Level="5">
  <Info>
    <Parent Key="6cfdb8fa-6890-4f38-9c61-e35d7ffbec7e">Modificationstasklist</Parent>
    <Path>/Home/ContentPlaceholders/Approvals/Modificationstasklist/ApprovalsModificationsTasklistEmptySearchBodyText</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-09-10T09:44:01</CreateDate>
    <NodeName Default="Approvals.ModificationsTasklist.EmptySearchBodyText" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>