<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5ebe071-f819-4bee-bf6e-8e07b1d8bebf" Alias="Approvals.Search.Title" Level="5">
  <Info>
    <Parent Key="9af11e6e-c154-4b4b-b4c4-901ace2c8fdb">Search</Parent>
    <Path>/Home/ContentPlaceholders/Approvals/Search/ApprovalsSearchTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-09-10T15:08:58</CreateDate>
    <NodeName Default="Approvals.Search.Title" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>