<?xml version="1.0" encoding="utf-8"?>
<Content Key="a5272e71-2076-492f-9b6b-92ade5a47f12" Alias="Approvals.Search.AdvancedFilter.CIHint" Level="5">
  <Info>
    <Parent Key="9af11e6e-c154-4b4b-b4c4-901ace2c8fdb">Search</Parent>
    <Path>/Home/ContentPlaceholders/Approvals/Search/ApprovalsSearchAdvancedFilterCIHint</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-01-21T11:39:53</CreateDate>
    <NodeName Default="Approvals.Search.AdvancedFilter.CIHint" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>