<?xml version="1.0" encoding="utf-8"?>
<Content Key="c07bbaef-e011-47dc-9ffa-29de1b23ead5" Alias="Approvals.Search.AdvancedFilter.SponsorOrg.Hint" Level="5">
  <Info>
    <Parent Key="9af11e6e-c154-4b4b-b4c4-901ace2c8fdb">Search</Parent>
    <Path>/Home/ContentPlaceholders/Approvals/Search/ApprovalsSearchAdvancedFilterSponsorOrgHint</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-01-21T11:44:50</CreateDate>
    <NodeName Default="Approvals.Search.AdvancedFilter.SponsorOrg.Hint" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>