<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b94e4f4-4c25-4c7a-8b23-1c8fa7fbf181" Alias="Approvals.MyTasklist.SearchHint" Level="5">
  <Info>
    <Parent Key="ed365f95-17d8-42c7-b86d-dbe4ef233ba7">My Taslkilst</Parent>
    <Path>/Home/ContentPlaceholders/Approvals/MyTaslkilst/ApprovalsMyTasklistSearchHint</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-09-08T16:56:46</CreateDate>
    <NodeName Default="Approvals.MyTasklist.SearchHint" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>