<?xml version="1.0" encoding="utf-8"?>
<Content Key="38eef064-ccf3-44f7-8924-171b1a7f3c0d" Alias="Approvals" Level="2">
  <Info>
    <Parent Key="af480879-2295-4031-89a6-1c1f0a877b04">Home</Parent>
    <Path>/Home/Approvals</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2025-09-10T15:10:34</CreateDate>
    <NodeName Default="Approvals" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[]]></Value>
    </contentItems>
  </Properties>
</Content>