<?xml version="1.0" encoding="utf-8"?>
<Content Key="74d11194-aa4f-473d-b5b0-ca2d7e3db0d1" Alias="Approvals.MyTasklist.NoModificationsBody" Level="5">
  <Info>
    <Parent Key="ed365f95-17d8-42c7-b86d-dbe4ef233ba7">My Taslkilst</Parent>
    <Path>/Home/ContentPlaceholders/Approvals/MyTaslkilst/ApprovalsMyTasklistNoModificationsBody</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-09-08T17:16:05</CreateDate>
    <NodeName Default="Approvals.MyTasklist.NoModificationsBody" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>