<?xml version="1.0" encoding="utf-8"?>
<Content Key="085331c7-8098-41b1-a5dc-5e2b9b6b7997" Alias="Approvals.MyTasklistTitle" Level="4">
  <Info>
    <Parent Key="b3251839-9f9d-451f-b8e0-0ab913736287">Approvals</Parent>
    <Path>/Home/ContentPlaceholders/Approvals/ApprovalsMyTasklistTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-09-09T13:33:47</CreateDate>
    <NodeName Default="Approvals.MyTasklistTitle" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>