<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c8a6d1a-c3e3-48a4-b224-3d8a121b0177" Alias="AssignModifications" Level="3">
  <Info>
    <Parent Key="e70c5e3c-5f53-457b-9b87-3f375a55d442">Modificationstasklist</Parent>
    <Path>/Home/Modificationstasklist/AssignModifications</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2026-01-21T10:56:55</CreateDate>
    <NodeName Default="AssignModifications" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e8776604613a415c9865b79b9b5bd562"
      },
      {
        "contentUdi": "umb://element/54f8ec38da9f443f919bd727c512d331"
      },
      {
        "contentUdi": "umb://element/ad4c2f8badab422fbc8bbf549bdb15af"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/57b0a95208604102ad3613354f63925d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/57b0a95208604102ad3613354f63925d",
            "value": "Select a reviewer"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/365002f3f5814db5bb30a4e23de6597d",
      "udi": "umb://element/e8776604613a415c9865b79b9b5bd562"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/bfc76392921c4900ad956e987387c48b"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/bfc76392921c4900ad956e987387c48b",
            "value": "Study-wide reviewer to assign the modifications to"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/9b7daa2cf2374130a37198c43fc51d89",
      "udi": "umb://element/54f8ec38da9f443f919bd727c512d331"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b36a7b5d6f10447287a9280cba30ff2f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/b36a7b5d6f10447287a9280cba30ff2f",
            "value": "Select one reviewer"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/8474971567c54d229095431835705c55",
      "udi": "umb://element/ad4c2f8badab422fbc8bbf549bdb15af"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
    <metaTitle>
      <Value><![CDATA[Select a reviewer - Approvals]]></Value>
    </metaTitle>
  </Properties>
</Content>