<?xml version="1.0" encoding="utf-8"?>
<Content Key="a3ed345f-bacb-42e6-bfa8-30e8b72d8ab6" Alias="Authorisations" Level="4">
  <Info>
    <Parent Key="bbd3101e-5d60-4aef-a409-e53c7aef0697">SponsorWorkspace</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/Authorisations</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2025-11-07T12:46:50</CreateDate>
    <NodeName Default="Authorisations" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>