<?xml version="1.0" encoding="utf-8"?>
<Content Key="36dbcb74-ebe1-46e8-9d5a-ef898f4718b5" Alias="Change of sponsor’s legal representative" Level="6">
  <Info>
    <Parent Key="463c4573-13ca-4b01-aea9-fa660e8d8825">Project personnel</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/AreaOfChange/ProjectPersonnel/ChangeOfSponsorSLegalRepresentative</Path>
    <Trashed>false</Trashed>
    <ContentType>subAnswerOption</ContentType>
    <CreateDate>2025-10-08T15:34:46</CreateDate>
    <NodeName Default="Change of sponsor’s legal representative" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[23]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Change of sponsor’s legal representative]]></Value>
    </optionName>
    <showApplicabilityQuestions>
      <Value><![CDATA[0]]></Value>
    </showApplicabilityQuestions>
  </Properties>
</Content>