<?xml version="1.0" encoding="utf-8"?>
<Content Key="503b2d46-1086-4afb-b2b6-aa991e0013f0" Alias="Change of chief investigator" Level="5">
  <Info>
    <Parent Key="2cfb675f-2cea-4249-8457-de2c9add4a99">Answers</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Answers/ChangeOfChiefInvestigator</Path>
    <Trashed>false</Trashed>
    <ContentType>answerSet</ContentType>
    <CreateDate>2025-10-22T15:00:32</CreateDate>
    <NodeName Default="Change of chief investigator" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>