<?xml version="1.0" encoding="utf-8"?>
<Content Key="d40f633b-0f03-46dc-8c96-2712fdb8168b" Alias="Change of principal investigator" Level="5">
  <Info>
    <Parent Key="2cfb675f-2cea-4249-8457-de2c9add4a99">Answers</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Answers/ChangeOfPrincipalInvestigator</Path>
    <Trashed>false</Trashed>
    <ContentType>answerSet</ContentType>
    <CreateDate>2025-10-22T15:02:54</CreateDate>
    <NodeName Default="Change of principal investigator" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>