<?xml version="1.0" encoding="utf-8"?>
<Content Key="d6b6170e-88bd-4f02-8cbc-6c42cb1e3e5d" Alias="Change of Primary Sponsor" Level="5">
  <Info>
    <Parent Key="4a98ec94-ffac-4095-a220-fc28e5602ed5">Category repository</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/CategoryRepository/ChangeOfPrimarySponsor</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2026-03-09T16:22:14</CreateDate>
    <NodeName Default="Change of Primary Sponsor" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryId>
      <Value><![CDATA[Change of Primary Sponsor]]></Value>
    </categoryId>
  </Properties>
</Content>