<?xml version="1.0" encoding="utf-8"?>
<Content Key="2a6d7176-c977-4fc1-8359-48eb9be33627" Alias="Change to the participant sample size: non-significant change" Level="6">
  <Info>
    <Parent Key="d329f009-4ad2-4a78-8d3f-b808271cdcf6">Project design</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/AreaOfChange/ProjectDesign/ChangeToTheParticipantSampleSizeNonSignificantChange</Path>
    <Trashed>false</Trashed>
    <ContentType>subAnswerOption</ContentType>
    <CreateDate>2025-10-08T15:38:04</CreateDate>
    <NodeName Default="Change to the participant sample size: non-significant change" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[29]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Change to the participant sample size: non-significant change]]></Value>
    </optionName>
    <showApplicabilityQuestions>
      <Value><![CDATA[1]]></Value>
    </showApplicabilityQuestions>
  </Properties>
</Content>