<?xml version="1.0" encoding="utf-8"?>
<Content Key="5ce27a8b-4362-4f50-95f1-f437f6b903d7" Alias="ChangeDetails" Level="4">
  <Info>
    <Parent Key="bbd3101e-5d60-4aef-a409-e53c7aef0697">SponsorWorkspace</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/ChangeDetails</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2025-11-18T15:21:57</CreateDate>
    <NodeName Default="ChangeDetails" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>