<?xml version="1.0" encoding="utf-8"?>
<Content Key="dcfc63d8-08d1-4692-8154-5f2d2f90939c" Alias="Changes to funding arrangements that do not affect payments to participants, researchers or participating organisations" Level="6">
  <Info>
    <Parent Key="cfbd546a-6687-41b7-9036-bbea116264ef">Project management</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/AreaOfChange/ProjectManagement/ChangesToFundingArrangementsThatDoNotAffectPaymentsToParticipantsResearchersOrParticipatingOrganisations</Path>
    <Trashed>false</Trashed>
    <ContentType>subAnswerOption</ContentType>
    <CreateDate>2025-10-08T15:39:16</CreateDate>
    <NodeName Default="Changes to funding arrangements that do not affect payments to participants, researchers or participating organisations" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[32]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Changes to funding arrangements that do not affect payments to participants, researchers or participating organisations]]></Value>
    </optionName>
    <showApplicabilityQuestions>
      <Value><![CDATA[0]]></Value>
    </showApplicabilityQuestions>
  </Properties>
</Content>