<?xml version="1.0" encoding="utf-8"?>
<Content Key="6f54fa47-7226-4745-9e2d-6cb183c1dc0d" Alias="CheckAndAuthoriseProjectClosure" Level="3">
  <Info>
    <Parent Key="425e6fe6-f2a1-4af7-b7d8-158fe1d3f8b6">SponsorWorkspace</Parent>
    <Path>/Home/SponsorWorkspace/CheckAndAuthoriseProjectClosure</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2026-01-08T13:57:17</CreateDate>
    <NodeName Default="CheckAndAuthoriseProjectClosure" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0a3d547f23bb4a2b8b21b1787202a64d"
      },
      {
        "contentUdi": "umb://element/14b1b84995fd41f4a8d65ee11ad60942"
      },
      {
        "contentUdi": "umb://element/ad6219529fae49a0bb2f42b6eea0a4fd"
      },
      {
        "contentUdi": "umb://element/015c343c561b4280bacfe16429c515c2"
      },
      {
        "contentUdi": "umb://element/d86b0f1c1cc34041836e4b496b1fafdd"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/393bc186aa5a4ebf8a27797ac387cbc9"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/393bc186aa5a4ebf8a27797ac387cbc9",
            "value": "Check and authorise project closure"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/34f7b8a1494c42cf8c3c18dfe0ec5ac6",
      "udi": "umb://element/0a3d547f23bb4a2b8b21b1787202a64d"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/8493643f3c09462893b2b2dd49a81346"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/8493643f3c09462893b2b2dd49a81346",
            "value": "Planned project end date"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/671de8e3b9b847eb9949427b25831eeb",
      "udi": "umb://element/14b1b84995fd41f4a8d65ee11ad60942"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/91dfbfed03494fffa2bdd5bf63178af5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/91dfbfed03494fffa2bdd5bf63178af5",
            "value": "Actual project closure date"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/150da8fab44e4acb8366deba7560f187",
      "udi": "umb://element/ad6219529fae49a0bb2f42b6eea0a4fd"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9929adabfcdf48adad4a3fd63c3f2a58"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/9929adabfcdf48adad4a3fd63c3f2a58",
            "value": "Authorise project closure"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/2b88273f686b42b9b45115e7357fe1d1",
      "udi": "umb://element/015c343c561b4280bacfe16429c515c2"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/76171cb59ba54f55806dddd38bb60dbc"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/76171cb59ba54f55806dddd38bb60dbc",
            "value": {
              "markup": "<p>Selecting 'Authorised' will confirm that the 'Actual closure date' is correct and close the project. Selecting 'Not authorised' will mean the project remains open. If you need more information to make a decision, contact the researcher.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/66772dd4519e479fa76236cc4f601b7a",
      "udi": "umb://element/d86b0f1c1cc34041836e4b496b1fafdd"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
  </Properties>
</Content>