<?xml version="1.0" encoding="utf-8"?>
<Content Key="13763b18-ff1c-4d0b-a997-2c14cc51077b" Alias="Check Member Details" Level="5">
  <Info>
    <Parent Key="a6e528c6-5fe7-4321-9dc2-6c828a6a4b69">Add Rec Member</Parent>
    <Path>/Home/ContentPlaceholders/MemberManagement/AddRecMember/CheckMemberDetails</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2026-04-20T15:18:11</CreateDate>
    <NodeName Default="Check Member Details" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>