<?xml version="1.0" encoding="utf-8"?>
<Content Key="28c2dec3-4f57-4914-87eb-857ceac8176d" Alias="Chief investigator email" Level="6">
  <Info>
    <Parent Key="642c5557-613b-4b0f-8c62-c598b4ad6a08">Key project roles</Parent>
    <Path>/QuestionSets/ProjectRecordRepository/ProjectRecordV2/Sections/KeyProjectRoles/ChiefInvestigatorEmail</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-07-28T11:25:05</CreateDate>
    <NodeName Default="Chief investigator email" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/d5b0e745867f4354bc072dc493d69545]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Mandatory"
]]]></Value>
    </conformance>
    <questionContent>
      <Value><![CDATA[umb://document/e0e08e2b994a4b29a96a7d4319d46865]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0311]]></Value>
    </questionId>
    <validationRules>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3cb1a92a3aee494e838fe380d0ee0f22"
      },
      {
        "contentUdi": "umb://element/d09c82d1caa44279a6b9eec61bf0ef35"
      }
    ]
  },
  "contentData": [
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ccf734f92f6346df8a769e4e6673b6be"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "Enter an email address in the correct format",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "REGEX"
            ],
            "optionType": "",
            "parentOptions": "",
            "udi": "umb://element/ccf734f92f6346df8a769e4e6673b6be",
            "value": "^(?!\\.)(?!(?:(?:.*\\.\\.)|(?:.*\\.\\@)))(?!.*\\.\\.$)(?!.*\\.\\@)[\\p{L}\\p{N}!#$%&'*+\\/=?^_`{|}~.-]{1,64}@(?:[\\p{L}\\p{N}](?:[\\p{L}\\p{N}-]{0,61}[\\p{L}\\p{N}])?\\.)+[\\p{L}]{2,}$"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "Email",
      "mode": [
        "AND"
      ],
      "parentQuestion": "",
      "ruleName": "Mandatory",
      "udi": "umb://element/3cb1a92a3aee494e838fe380d0ee0f22"
    },
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/8d3ef1358ff9459bb1aee9a2585d4562"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "SIZE"
            ],
            "optionType": "",
            "parentOptions": "",
            "udi": "umb://element/8d3ef1358ff9459bb1aee9a2585d4562",
            "value": "govuk-!-width-three-quarters"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "",
      "mode": [
        "AND"
      ],
      "parentQuestion": "",
      "ruleName": "Set width",
      "udi": "umb://element/d09c82d1caa44279a6b9eec61bf0ef35"
    }
  ],
  "settingsData": []
}]]></Value>
    </validationRules>
  </Properties>
</Content>