<?xml version="1.0" encoding="utf-8"?>
<Content Key="41582693-885a-4145-b3f9-49fea50c09ce" Alias="Chief Investigator" Level="6">
  <Info>
    <Parent Key="48f1c88e-ef90-48bb-abd9-589abfac4bb0">Sub document type</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Answers/SubDocumentType/ChiefInvestigator</Path>
    <Trashed>false</Trashed>
    <ContentType>answerOption</ContentType>
    <CreateDate>2025-09-22T15:25:25</CreateDate>
    <NodeName Default="Chief Investigator" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[OPT0371]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Chief Investigator]]></Value>
    </optionName>
  </Properties>
</Content>