<?xml version="1.0" encoding="utf-8"?>
<Content Key="5e171c04-5917-4463-bd7d-900be169e07a" Alias="Chief investigator: conflict of interest" Level="6">
  <Info>
    <Parent Key="463c4573-13ca-4b01-aea9-fa660e8d8825">Project personnel</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/AreaOfChange/ProjectPersonnel/ChiefInvestigatorConflictOfInterest</Path>
    <Trashed>false</Trashed>
    <ContentType>subAnswerOption</ContentType>
    <CreateDate>2025-10-08T15:33:15</CreateDate>
    <NodeName Default="Chief investigator: conflict of interest" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[20]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Chief investigator: conflict of interest]]></Value>
    </optionName>
    <showApplicabilityQuestions>
      <Value><![CDATA[0]]></Value>
    </showApplicabilityQuestions>
  </Properties>
</Content>