<?xml version="1.0" encoding="utf-8"?>
<Content Key="642c5557-613b-4b0f-8c62-c598b4ad6a08" Alias="Chief investigator" Level="5">
  <Info>
    <Parent Key="4f8b5a84-b8db-4841-964a-4e78c419e551">Sections</Parent>
    <Path>/QuestionSets/ProjectRecordRepository/ProjectRecordV2/Sections/ChiefInvestigator</Path>
    <Trashed>false</Trashed>
    <ContentType>section</ContentType>
    <CreateDate>2025-07-30T14:41:00</CreateDate>
    <NodeName Default="Chief investigator" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/d5b0e745867f4354bc072dc493d69545]]></Value>
    </category>
    <evaluateBackRoute>
      <Value><![CDATA[]]></Value>
    </evaluateBackRoute>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <isLastSectionBeforeReview>
      <Value><![CDATA[]]></Value>
    </isLastSectionBeforeReview>
    <mandatory>
      <Value><![CDATA[0]]></Value>
    </mandatory>
    <nextSection>
      <Value><![CDATA[]]></Value>
    </nextSection>
    <parentAnswerOption>
      <Value><![CDATA[]]></Value>
    </parentAnswerOption>
    <parentQuestion>
      <Value><![CDATA[]]></Value>
    </parentQuestion>
    <sectionId>
      <Value><![CDATA[IQT0002]]></Value>
    </sectionId>
    <sectionName>
      <Value><![CDATA[Chief investigator]]></Value>
    </sectionName>
    <sequence>
      <Value><![CDATA[3]]></Value>
    </sequence>
    <staticViewName>
      <Value><![CDATA[]]></Value>
    </staticViewName>
    <storeReferrer>
      <Value><![CDATA[]]></Value>
    </storeReferrer>
  </Properties>
</Content>