<?xml version="1.0" encoding="utf-8"?>
<Content Key="133adb3f-35c2-43c2-9f6b-65c16f6f3c45" Alias="Closeproject.NowSendToSponsor.Body" Level="3">
  <Info>
    <Parent Key="b1272c43-b8bc-44d5-8d22-18c9b59d7bc0">NowSendToSponsor</Parent>
    <Path>/Home/ContentPlaceholders/CloseProject/NowSendToSponsor/CloseprojectNowSendToSponsorBody</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-12-29T12:25:02</CreateDate>
    <NodeName Default="Closeproject.NowSendToSponsor.Body" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>