<?xml version="1.0" encoding="utf-8"?>
<Content Key="573606ed-5da1-459a-b214-b08924786013" Alias="Closeproject.ConfirmProjectClosure.Title" Level="3">
  <Info>
    <Parent Key="258c751e-a317-4079-94b2-158672139248">ConfirmProjectClosure</Parent>
    <Path>/Home/ContentPlaceholders/CloseProject/ConfirmProjectClosure/CloseprojectConfirmProjectClosureTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-12-29T22:00:31</CreateDate>
    <NodeName Default="Closeproject.ConfirmProjectClosure.Title" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>