<?xml version="1.0" encoding="utf-8"?>
<Content Key="6eb130ac-e1b0-4a19-b703-847abd144dca" Alias="Closeproject" Level="3">
  <Info>
    <Parent Key="60a24d78-9926-460c-ab9c-7fbd70a9054b">Application</Parent>
    <Path>/Home/Application/Closeproject</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2025-12-31T16:22:22</CreateDate>
    <NodeName Default="Closeproject" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6751dc37a561417989082a16e1d6af38"
      },
      {
        "contentUdi": "umb://element/b78b7e5ab42441f68306882f765dc744"
      },
      {
        "contentUdi": "umb://element/7afb046a6ba840ec9b2a008754aef8e5"
      },
      {
        "contentUdi": "umb://element/de82852db1144e33afb4533c81c806cf"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/661b41cedcd54a6b9475f62cd1f097a5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/661b41cedcd54a6b9475f62cd1f097a5",
            "value": "Now send to sponsor"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/3612311e571642eba026a465c32f3ee9",
      "udi": "umb://element/6751dc37a561417989082a16e1d6af38"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/de26181a360b4e069283a303cda40fc6"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/de26181a360b4e069283a303cda40fc6",
            "value": "When you have checked that the details above describing the closure of this project are correct, continue to 'Send to sponsor'. They will review the information before authorising and submitting."
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/55a772f2057242f8a396a38de2a8f408",
      "udi": "umb://element/b78b7e5ab42441f68306882f765dc744"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/6460cfe900854483a7ebd877a3b37ac5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/6460cfe900854483a7ebd877a3b37ac5",
            "value": {
              "markup": "<p data-prosemirror-content-type=\"node\" data-prosemirror-node-name=\"paragraph\" data-prosemirror-node-block=\"true\" data-pm-slice=\"1 1 []\">You cannot currently close this project as it has a modification in progress. If the modification has a status of 'In draft' but it is no longer needed, you can delete it. If the modification has been submitted for review you'll need to wait until the review outcome is issued before you can go on to close the project.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/4723ac6f616f4633bd955963c4a6a57e",
      "udi": "umb://element/7afb046a6ba840ec9b2a008754aef8e5"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/c6c37cec21a4414f857c814ef4042f1a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/c6c37cec21a4414f857c814ef4042f1a",
            "value": {
              "markup": "<p>You can't close this project</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/7276608715924e83bf02209be7012cbc",
      "udi": "umb://element/de82852db1144e33afb4533c81c806cf"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
    <metaTitle>
      <Value><![CDATA[Close project]]></Value>
    </metaTitle>
  </Properties>
</Content>