<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ba37eee-6cea-419e-bcc2-846196f0b5f1" Alias="Closeproject.NowSendToSponsor.Title" Level="3">
  <Info>
    <Parent Key="b1272c43-b8bc-44d5-8d22-18c9b59d7bc0">NowSendToSponsor</Parent>
    <Path>/Home/ContentPlaceholders/CloseProject/NowSendToSponsor/CloseprojectNowSendToSponsorTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-12-29T12:24:14</CreateDate>
    <NodeName Default="Closeproject.NowSendToSponsor.Title" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>