<?xml version="1.0" encoding="utf-8"?>
<Content Key="349ef721-ee79-464f-8d89-0d6926ba55ca" Alias="Close project" Level="4">
  <Info>
    <Parent Key="eae0a2c0-7677-4409-9945-997b104a56bb">Application</Parent>
    <Path>/Home/ContentPlaceholders/Application/CloseProject</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2025-12-31T16:08:01</CreateDate>
    <NodeName Default="Close project" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>