<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf4a09fe-3b3d-4250-826a-d5b1c2eae391" Alias="ConfirmModificationJourney" Level="3">
  <Info>
    <Parent Key="7d10ce7b-5201-428b-a9fd-45140bf56009">Modifications</Parent>
    <Path>/Home/Modifications/ConfirmModificationJourney</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2026-03-06T09:05:43</CreateDate>
    <NodeName Default="ConfirmModificationJourney" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ef65ccbac27a4ce7ae7cabf18ac9e733"
      },
      {
        "contentUdi": "umb://element/52f42f5ced6c4b9a8b49c6c75704d286"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d7af5ed0969f4899b6ec35175bbbd778"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/d7af5ed0969f4899b6ec35175bbbd778",
            "value": {
              "markup": "<p>You can't add another change to this modification</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/9b3a6041040b4ab3b0c15713358c4a40",
      "udi": "umb://element/ef65ccbac27a4ce7ae7cabf18ac9e733"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/c9218e0b9c7f4cd6b8a4564f2abb5ca1"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/c9218e0b9c7f4cd6b8a4564f2abb5ca1",
            "value": {
              "markup": "<p>You can't add another change to this modification as you've already added a change to temporarily halt this project. Change to temporary halt of a project can't include changes to other areas of the project.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/8ec1efd4e7a84609a01d43e9d3e09a1e",
      "udi": "umb://element/52f42f5ced6c4b9a8b49c6c75704d286"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>