<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ac4bea6-9869-4348-8ebe-cd49365c49ee" Alias="Confirm" Level="4">
  <Info>
    <Parent Key="65e64e58-c396-4100-80e4-c7eec04ff34e">Sponsor Organisations</Parent>
    <Path>/Home/ContentPlaceholders/SponsorOrganisations/Confirm</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2025-10-10T09:16:17</CreateDate>
    <NodeName Default="Confirm" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>