<?xml version="1.0" encoding="utf-8"?>
<Content Key="9afe24b5-b272-4486-9d7d-113aac58e871" Alias="Confirmation" Level="4">
  <Info>
    <Parent Key="bbd3101e-5d60-4aef-a409-e53c7aef0697">SponsorWorkspace</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/Confirmation</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2025-11-12T09:27:04</CreateDate>
    <NodeName Default="Confirmation" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>