<?xml version="1.0" encoding="utf-8"?>
<Content Key="f5dc42cc-32ba-4203-9622-f3b9bf289774" Alias="ConfirmProjectDetails" Level="3">
  <Info>
    <Parent Key="f21aa1d4-805e-43fe-bd0d-f2e81259c910">Questionnaire</Parent>
    <Path>/Home/Questionnaire/ConfirmProjectDetails</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2026-01-20T16:56:36</CreateDate>
    <NodeName Default="ConfirmProjectDetails" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b0cdcdaf9aa2450cb6c95adc5bf8db1f"
      },
      {
        "contentUdi": "umb://element/6ff2528e6bc746b4b7734b1f63d38fac"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/bdd87499dcbf4c95a9a218bab319c934"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/bdd87499dcbf4c95a9a218bab319c934",
            "value": "Confirm project details"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/c0adc669ec3d4880ad3a4a8a25a2086d",
      "udi": "umb://element/b0cdcdaf9aa2450cb6c95adc5bf8db1f"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/cc5698b26be24da09e6ca9cf9203255e"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/cc5698b26be24da09e6ca9cf9203255e",
            "value": {
              "markup": "<p>Review your answers and complete any missing information before confirming project details.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/992a0aaae76d4e9fa77fd34f432e0de6",
      "udi": "umb://element/6ff2528e6bc746b4b7734b1f63d38fac"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
  </Properties>
</Content>