<?xml version="1.0" encoding="utf-8"?>
<Content Key="63aaf785-967f-4f07-8ba3-1653862df6b8" Alias="Confirm project details" Level="5">
  <Info>
    <Parent Key="4f8b5a84-b8db-4841-964a-4e78c419e551">Sections</Parent>
    <Path>/QuestionSets/ProjectRecordRepository/ProjectRecordV2/Sections/ConfirmProjectDetails</Path>
    <Trashed>false</Trashed>
    <ContentType>section</ContentType>
    <CreateDate>2025-11-03T13:50:14</CreateDate>
    <NodeName Default="Confirm project details" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/d5b0e745867f4354bc072dc493d69545]]></Value>
    </category>
    <evaluateBackRoute>
      <Value><![CDATA[0]]></Value>
    </evaluateBackRoute>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <isLastSectionBeforeReview>
      <Value><![CDATA[0]]></Value>
    </isLastSectionBeforeReview>
    <mandatory>
      <Value><![CDATA[0]]></Value>
    </mandatory>
    <nextSection>
      <Value><![CDATA[]]></Value>
    </nextSection>
    <parentAnswerOption>
      <Value><![CDATA[]]></Value>
    </parentAnswerOption>
    <parentQuestion>
      <Value><![CDATA[]]></Value>
    </parentQuestion>
    <sectionId>
      <Value><![CDATA[pr-confirm-project-details]]></Value>
    </sectionId>
    <sectionName>
      <Value><![CDATA[Project details]]></Value>
    </sectionName>
    <sequence>
      <Value><![CDATA[1]]></Value>
    </sequence>
    <staticViewName>
      <Value><![CDATA[ProjectRecord]]></Value>
    </staticViewName>
    <storeReferrer>
      <Value><![CDATA[0]]></Value>
    </storeReferrer>
  </Properties>
</Content>