<?xml version="1.0" encoding="utf-8"?>
<Content Key="438f4893-2f4a-48aa-9234-d088ada23ad1" Alias="ConfirmModificationJourney" Level="4">
  <Info>
    <Parent Key="4b97321e-3f44-47cb-9bc4-4f5971a8abee">Modifications</Parent>
    <Path>/Home/ContentPlaceholders/Modifications/ConfirmModificationJourney</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2026-03-06T09:02:59</CreateDate>
    <NodeName Default="ConfirmModificationJourney" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>