<?xml version="1.0" encoding="utf-8"?>
<Content Key="75bece38-85dc-4c69-83f1-349cd2417cfb" Alias="ConfirmReviseAndAuthoriseOutcome" Level="3">
  <Info>
    <Parent Key="425e6fe6-f2a1-4af7-b7d8-158fe1d3f8b6">SponsorWorkspace</Parent>
    <Path>/Home/SponsorWorkspace/ConfirmReviseAndAuthoriseOutcome</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2026-04-23T13:59:05</CreateDate>
    <NodeName Default="ConfirmReviseAndAuthoriseOutcome" />
    <SortOrder>27</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8721664dcbf04bfe937dec132bfb3067"
      },
      {
        "contentUdi": "umb://element/c33039f5aa1c42d2ad265fe57e430cf7"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/837cac01748b457bb801d97abca4c6ea"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/837cac01748b457bb801d97abca4c6ea",
            "value": "Confirm Revise and authorise outcome"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/d0c42d786ec24bb896788add5a41e6c4",
      "udi": "umb://element/8721664dcbf04bfe937dec132bfb3067"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b4293a99f66c4753b97643ec5cdc6bbe"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/b4293a99f66c4753b97643ec5cdc6bbe",
            "value": {
              "markup": "<p>You have selected an outcome of Revise and authorise. If you confirm this outcome you are committing to authorise this response to the request for further information once you have made the revisions. You will not be able to change the outcome to Not authorised, or request revisions from the researcher.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/ae5eb5a3342c4e76a8ccf0e7d0e88a21",
      "udi": "umb://element/c33039f5aa1c42d2ad265fe57e430cf7"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>