<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee0e4390-8606-4065-ae78-16162104f240" Alias="ConfirmAddUpdateUser" Level="4">
  <Info>
    <Parent Key="65e64e58-c396-4100-80e4-c7eec04ff34e">Sponsor Organisations</Parent>
    <Path>/Home/ContentPlaceholders/SponsorOrganisations/ConfirmAddUpdateUser</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2025-10-14T09:37:30</CreateDate>
    <NodeName Default="ConfirmAddUpdateUser" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>