<?xml version="1.0" encoding="utf-8"?>
<Content Key="b483ae4b-ce10-414b-b7ea-a0cef1b646a5" Alias="Contract/agreement arrangements" Level="6">
  <Info>
    <Parent Key="cfbd546a-6687-41b7-9036-bbea116264ef">Project management</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/AreaOfChange/ProjectManagement/ContractagreementArrangements</Path>
    <Trashed>false</Trashed>
    <ContentType>subAnswerOption</ContentType>
    <CreateDate>2025-11-10T15:46:07</CreateDate>
    <NodeName Default="Contract/agreement arrangements" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[121]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Contract/agreement arrangements]]></Value>
    </optionName>
    <showApplicabilityQuestions>
      <Value><![CDATA[1]]></Value>
    </showApplicabilityQuestions>
  </Properties>
</Content>