<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d1e658d-68d6-4c1a-898a-7702636fa444" Alias="Contact details" Level="5">
  <Info>
    <Parent Key="4a98ec94-ffac-4095-a220-fc28e5602ed5">Category repository</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/CategoryRepository/ContactDetails</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-10-20T10:28:26</CreateDate>
    <NodeName Default="Contact details" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryId>
      <Value><![CDATA[Contact details]]></Value>
    </categoryId>
  </Properties>
</Content>