<?xml version="1.0" encoding="utf-8"?>
<Content Key="5b00b9fc-b1a0-4016-bd77-60c1da2e6ded" Alias="Cookies" Level="3">
  <Info>
    <Parent Key="feb9910f-4b1a-49b3-a740-432f59363bc4">Pages</Parent>
    <Path>/Home/Pages/Cookies</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2025-10-22T14:57:09</CreateDate>
    <NodeName Default="Cookies" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c2042585e1a34f7da37f558ebf4e07ce"
      },
      {
        "contentUdi": "umb://element/390be63beed04e8793ac76728f1a30e1"
      },
      {
        "contentUdi": "umb://element/1c5e53557861408d853804a6a4ceb66e"
      },
      {
        "contentUdi": "umb://element/5d4999bdb2ed48a9b1dd976ea6816e04"
      },
      {
        "contentUdi": "umb://element/47d943b6afd14ca9a619d8f53ea0a8cd"
      },
      {
        "contentUdi": "umb://element/834517bfc03d4f659d2980a2f5e2e2b1"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/5763d940811046bbb462bbebb213ee96"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/5763d940811046bbb462bbebb213ee96",
            "value": "Cookies"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/94abba7b7b3947cd84f5477cba7b4dd0",
      "udi": "umb://element/c2042585e1a34f7da37f558ebf4e07ce"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/deced642e1d4433da57e24439b07afed"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/deced642e1d4433da57e24439b07afed",
            "value": {
              "markup": "<p>Cookies are small files saved on your phone, tablet or computer when you visit a website.&nbsp;</p>\n<p>We use cookies to make this site work and collect information about how you use our service.&nbsp;</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/0ef5e6ef3a784d26b53a95bbb6f6fb20",
      "udi": "umb://element/390be63beed04e8793ac76728f1a30e1"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/faafa32a974e41d1afc9dc283447069b"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/faafa32a974e41d1afc9dc283447069b",
            "value": {
              "markup": "<h2>Essential cookies&nbsp;</h2>\n<p>Essential cookies keep your information secure while you use this service. We do not need to ask permission to use them.&nbsp;</p>\n<h3>Essential cookies we use</h3>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/1e6130ae1e984c3882880666e12c792e",
      "udi": "umb://element/1c5e53557861408d853804a6a4ceb66e"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/313cf4a164fb433d85143a4366d8d541"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/313cf4a164fb433d85143a4366d8d541",
            "value": {
              "markup": "<h2>Analytics cookies&nbsp;</h2>\n<p>We use analytics cookies to measure how you use this service. This will help us to continue to improve Plan and Manage Health and Care Research.&nbsp;</p>\n<h3>Analytics cookies we use</h3>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/b37e95aed0fe47e8970c18e19e42db00",
      "udi": "umb://element/5d4999bdb2ed48a9b1dd976ea6816e04"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d90cbba712a748d29acc4384d6efd5d5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/d90cbba712a748d29acc4384d6efd5d5",
            "value": "Success"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/fc332534b2a1472fb653755072274457",
      "udi": "umb://element/47d943b6afd14ca9a619d8f53ea0a8cd"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/8997c40e92ff430e9043bb8c642a43f5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/8997c40e92ff430e9043bb8c642a43f5",
            "value": "You’ve set your cookie preferences."
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/5624767c274e47fb8ea9f17c92dcf611",
      "udi": "umb://element/834517bfc03d4f659d2980a2f5e2e2b1"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
    <metaTitle>
      <Value><![CDATA[Cookie policy]]></Value>
    </metaTitle>
  </Properties>
</Content>