<?xml version="1.0" encoding="utf-8"?>
<Content Key="120e8ef5-45b3-4de3-b43c-f97f5bbb7d8c" Alias="Correction of typographical errors" Level="6">
  <Info>
    <Parent Key="654fa18d-2637-4e70-a3d0-8889cfe91513">Project documents</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/AreaOfChange/ProjectDocuments/CorrectionOfTypographicalErrors</Path>
    <Trashed>false</Trashed>
    <ContentType>subAnswerOption</ContentType>
    <CreateDate>2025-08-19T15:44:05</CreateDate>
    <NodeName Default="Correction of typographical errors" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[5]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Correction of typographical errors]]></Value>
    </optionName>
  </Properties>
</Content>