<?xml version="1.0" encoding="utf-8"?>
<Content Key="db53ecb5-bfaf-4c9e-9a9a-cf0910203b93" Alias="Createapplication" Level="3">
  <Info>
    <Parent Key="60a24d78-9926-460c-ab9c-7fbd70a9054b">Application</Parent>
    <Path>/Home/Application/Createapplication</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2025-09-26T14:17:06</CreateDate>
    <NodeName Default="Createapplication" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/99cb2b0437c941fbace1a9673a0be074"
      },
      {
        "contentUdi": "umb://element/57aa69e1815d42efb4d9a8e001f10c8d"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ea87c3bc0e8c4528b31a1a827a1b806e"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/ea87c3bc0e8c4528b31a1a827a1b806e",
            "value": "Create a project record"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/8e72781a38594b9ea60f8aed46c83fce",
      "udi": "umb://element/99cb2b0437c941fbace1a9673a0be074"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7cd8d50cb433426381a4f5687dd2842d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/7cd8d50cb433426381a4f5687dd2842d",
            "value": {
              "markup": "<p>As it's the first time you're using this system to manage your project, we need you to enter a few details to create a project record. You'll only have to do this once.</p>\n<p>The information we'll ask for can all be found on your original application, so have this with you before starting.</p>\n<p>You'll be able to save your progress and come back to it later if you need to.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/757736f725a24deab74f098535004c66",
      "udi": "umb://element/57aa69e1815d42efb4d9a8e001f10c8d"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
  </Properties>
</Content>