<?xml version="1.0" encoding="utf-8"?>
<Content Key="fdf04f88-88a7-47db-9e93-a86651e7de7b" Alias="CRF/other study data records" Level="6">
  <Info>
    <Parent Key="654fa18d-2637-4e70-a3d0-8889cfe91513">Project documents</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/AreaOfChange/ProjectDocuments/CRFotherStudyDataRecords</Path>
    <Trashed>false</Trashed>
    <ContentType>subAnswerOption</ContentType>
    <CreateDate>2025-08-19T15:45:37</CreateDate>
    <NodeName Default="CRF/other study data records" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[6]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[CRF/other study data records - Changes in the documentation used by the research team for recording study data]]></Value>
    </optionName>
    <showApplicabilityQuestions>
      <Value><![CDATA[1]]></Value>
    </showApplicabilityQuestions>
  </Properties>
</Content>