<?xml version="1.0" encoding="utf-8"?>
<Content Key="2615f92a-3428-490a-9844-2d02f3c798ba" Alias="Curriculum vitae (CV) / suitability of researcher - Chief Investigator" Level="6">
  <Info>
    <Parent Key="d1d32e9e-f9d9-4857-9624-c73a099e89d3">Document Types</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Answers/DocumentTypes/CurriculumVitaeCVSuitabilityOfResearcherChiefInvestigator</Path>
    <Trashed>false</Trashed>
    <ContentType>answerOption</ContentType>
    <CreateDate>2025-11-26T09:45:50</CreateDate>
    <NodeName Default="Curriculum vitae (CV) / suitability of researcher - Chief Investigator" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[OPT0436]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Curriculum vitae (CV) / suitability of researcher - Chief Investigator]]></Value>
    </optionName>
  </Properties>
</Content>