<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1f776e6-0809-41aa-85fb-017aa9a1494a" Alias="Data collection, transfer or processing of identifiable participant information" Level="6">
  <Info>
    <Parent Key="d329f009-4ad2-4a78-8d3f-b808271cdcf6">Project design</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/AreaOfChange/ProjectDesign/DataCollectionTransferOrProcessingOfIdentifiableParticipantInformation</Path>
    <Trashed>false</Trashed>
    <ContentType>subAnswerOption</ContentType>
    <CreateDate>2025-10-27T11:34:23</CreateDate>
    <NodeName Default="Data collection, transfer or processing of identifiable participant information" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[116]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Data collection, transfer or processing of identifiable participant information - Changes in arrangements or organisations involved (other than the addition of new participating organisations)]]></Value>
    </optionName>
    <showApplicabilityQuestions>
      <Value><![CDATA[1]]></Value>
    </showApplicabilityQuestions>
  </Properties>
</Content>