<?xml version="1.0" encoding="utf-8"?>
<Content Key="188274e0-480c-48fd-ad6a-18962b8ecc2c" Alias="DisableSponsorOrganisation" Level="4">
  <Info>
    <Parent Key="65e64e58-c396-4100-80e4-c7eec04ff34e">Sponsor Organisations</Parent>
    <Path>/Home/ContentPlaceholders/SponsorOrganisations/DisableSponsorOrganisation</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2025-10-17T14:42:36</CreateDate>
    <NodeName Default="DisableSponsorOrganisation" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>