<?xml version="1.0" encoding="utf-8"?>
<Content Key="294d916b-f2a5-44f9-a570-779279b09105" Alias="DisabledUser.Body" Level="4">
  <Info>
    <Parent Key="1b2b3cbd-feae-4d7c-857c-0c6ba3a4b376">Disabled User</Parent>
    <Path>/Home/ContentPlaceholders/DisabledUser/DisabledUserBody</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-12-04T22:30:56</CreateDate>
    <NodeName Default="DisabledUser.Body" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>