<?xml version="1.0" encoding="utf-8"?>
<Content Key="1b2b3cbd-feae-4d7c-857c-0c6ba3a4b376" Alias="Disabled User" Level="3">
  <Info>
    <Parent Key="3e0777ee-ed72-4848-a405-0b4cc10df5c6">Content Placeholders</Parent>
    <Path>/Home/ContentPlaceholders/DisabledUser</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2025-12-04T22:28:56</CreateDate>
    <NodeName Default="Disabled User" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>