<?xml version="1.0" encoding="utf-8"?>
<Content Key="2c1f7459-7cf7-4f25-bdde-3f40780b55f9" Alias="Documents scan in progress" Level="5">
  <Info>
    <Parent Key="5c283457-22e1-46d1-ab8b-3601cc8f1bb0">Send to Sponsor</Parent>
    <Path>/Home/ContentPlaceholders/Modifications/SendToSponsor/DocumentsScanInProgress</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2026-01-20T16:02:14</CreateDate>
    <NodeName Default="Documents scan in progress" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>