<?xml version="1.0" encoding="utf-8"?>
<Content Key="44cc10fa-7672-4c67-ac7b-3378e9bebcf6" Alias="Document name" Level="6">
  <Info>
    <Parent Key="2a09985b-ea70-4642-b978-d5585dca5881">Add Document Details</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ProjectDocumentsModification/AddDocumentDetails/DocumentName</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-10-29T12:58:12</CreateDate>
    <NodeName Default="Document name" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Mandatory"
]]]></Value>
    </conformance>
    <questionContent>
      <Value><![CDATA[umb://document/c9602711672f4419a0a981d74f6e8b28]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0623]]></Value>
    </questionId>
    <sectionGroup>
      <Value><![CDATA[]]></Value>
    </sectionGroup>
    <sequence>
      <Value><![CDATA[1]]></Value>
    </sequence>
    <sequenceInSectionGroup>
      <Value><![CDATA[]]></Value>
    </sequenceInSectionGroup>
    <showAnswerOn>
      <Value><![CDATA[]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[0]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[]]></Value>
    </validationRules>
  </Properties>
</Content>