<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ca3d8d2-b786-4669-be93-0dd1d9641499" Alias="Document Type" Level="6">
  <Info>
    <Parent Key="2a09985b-ea70-4642-b978-d5585dca5881">Add Document Details</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ProjectDocumentsModification/AddDocumentDetails/DocumentType</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-08-19T17:18:08</CreateDate>
    <NodeName Default="Document Type" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Mandatory"
]]]></Value>
    </conformance>
    <questionContent>
      <Value><![CDATA[umb://document/86f85d42e1de418596cf34eafc98cb84]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0600]]></Value>
    </questionId>
    <sequence>
      <Value><![CDATA[1]]></Value>
    </sequence>
    <showOriginalAnswer>
      <Value><![CDATA[0]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[]]></Value>
    </validationRules>
  </Properties>
</Content>