<?xml version="1.0" encoding="utf-8"?>
<Content Key="94f256ad-3648-4c80-a094-c5ba86331dc6" Alias="Document Details Incomplete" Level="5">
  <Info>
    <Parent Key="5c283457-22e1-46d1-ab8b-3601cc8f1bb0">Send to Sponsor</Parent>
    <Path>/Home/ContentPlaceholders/Modifications/SendToSponsor/DocumentDetailsIncomplete</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2026-01-20T16:10:20</CreateDate>
    <NodeName Default="Document Details Incomplete" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>