<?xml version="1.0" encoding="utf-8"?>
<Content Key="39802469-cd63-4755-938e-dc6017a4c4ae" Alias="DocumentDetailsIncomplete" Level="3">
  <Info>
    <Parent Key="7d10ce7b-5201-428b-a9fd-45140bf56009">Modifications</Parent>
    <Path>/Home/Modifications/DocumentDetailsIncomplete</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2026-01-20T16:11:31</CreateDate>
    <NodeName Default="DocumentDetailsIncomplete" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a606f16aa4f04e8699e74ce090a8c763"
      },
      {
        "contentUdi": "umb://element/8bf37ffd04874d029784da3fe316e0ab"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ddfb98849d19488eb99b41da08c26370"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/ddfb98849d19488eb99b41da08c26370",
            "value": "You cannot proceed whilst document details are incomplete"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/e85678773e4843a6886f2d73385fff0d",
      "udi": "umb://element/a606f16aa4f04e8699e74ce090a8c763"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/002b2599a8af4084935d2b1ca13c9e04"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/002b2599a8af4084935d2b1ca13c9e04",
            "value": {
              "markup": "<p>All documents must have the status 'Complete' before you can continue.<br>For any documents with the status 'Incomplete', either select 'Change details' to add missing document details, or remove that document if it is no longer&nbsp;needed.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/78c46b9b20354701a7b98ee17cd56d06",
      "udi": "umb://element/8bf37ffd04874d029784da3fe316e0ab"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>