<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1d32e9e-f9d9-4857-9624-c73a099e89d3" Alias="Document Types" Level="5">
  <Info>
    <Parent Key="2cfb675f-2cea-4249-8457-de2c9add4a99">Answers</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Answers/DocumentTypes</Path>
    <Trashed>false</Trashed>
    <ContentType>answerSet</ContentType>
    <CreateDate>2025-08-19T17:09:36</CreateDate>
    <NodeName Default="Document Types" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>