<?xml version="1.0" encoding="utf-8"?>
<Content Key="86f85d42-e1de-4185-96cf-34eafc98cb84" Alias="Document type" Level="6">
  <Info>
    <Parent Key="4767855d-a58c-4db7-b981-c25e481a2815">Project documents</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Questions/ProjectDocuments/DocumentType</Path>
    <Trashed>false</Trashed>
    <ContentType>question</ContentType>
    <CreateDate>2025-08-19T17:13:08</CreateDate>
    <NodeName Default="Document type" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerDataType>
      <Value><![CDATA[[
  "Dropdown"
]]]></Value>
    </answerDataType>
    <editorComment>
      <Value><![CDATA[]]></Value>
    </editorComment>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <possibleAnswers>
      <Value><![CDATA[umb://document/ab3b1738074b41efa2d5b66c5da84223]]></Value>
    </possibleAnswers>
    <questionFormat>
      <Value><![CDATA[[
  "Look-up list"
]]]></Value>
    </questionFormat>
    <questionName>
      <Value><![CDATA[Document type]]></Value>
    </questionName>
    <shortQuestionName>
      <Value><![CDATA[]]></Value>
    </shortQuestionName>
    <supplementaryInfo>
      <Value><![CDATA[]]></Value>
    </supplementaryInfo>
  </Properties>
</Content>