<?xml version="1.0" encoding="utf-8"?>
<Content Key="fa98b7c0-30c1-46a2-96fc-c3d76206d64d" Alias="Early closure or withdrawal of research sites" Level="6">
  <Info>
    <Parent Key="29a78562-b57e-4189-8af9-00cebd220c87">Participating organisations</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/AreaOfChange/ParticipatingOrganisations/EarlyClosureOrWithdrawalOfResearchSites</Path>
    <Trashed>false</Trashed>
    <ContentType>subAnswerOption</ContentType>
    <CreateDate>2025-09-08T12:07:33</CreateDate>
    <NodeName Default="Early closure or withdrawal of research sites" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[1]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Early closure or withdrawal of research sites]]></Value>
    </optionName>
    <showApplicabilityQuestions>
      <Value><![CDATA[]]></Value>
    </showApplicabilityQuestions>
  </Properties>
</Content>