<?xml version="1.0" encoding="utf-8"?>
<Content Key="395d3f0a-3cdf-41eb-a22f-47cbf8a9f44b" Alias="Edit Profile" Level="4">
  <Info>
    <Parent Key="4cd634b3-ea2f-40a2-a0ca-f29e7f8e4740">Profile and Settings</Parent>
    <Path>/Home/ContentPlaceholders/ProfileAndSettings/EditProfile</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2025-10-13T09:33:16</CreateDate>
    <NodeName Default="Edit Profile" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>