<?xml version="1.0" encoding="utf-8"?>
<Content Key="c53d6289-2a8d-4f5e-b329-07377c955564" Alias="Email" Level="6">
  <Info>
    <Parent Key="fea84938-eb13-4873-b8bb-222038f11f4c">New chief investigator</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ProjectPersonnelChiefInvestigatorModification/NewChiefInvestigator/Email</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-10-22T15:30:21</CreateDate>
    <NodeName Default="Email" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Conditional"
]]]></Value>
    </conformance>
    <questionContent>
      <Value><![CDATA[umb://document/2d905d0d313f446a8b5c3c790e3a77ff]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[Email]]></Value>
    </questionId>
    <sectionGroup>
      <Value><![CDATA[]]></Value>
    </sectionGroup>
    <sequence>
      <Value><![CDATA[0]]></Value>
    </sequence>
    <sequenceInSectionGroup>
      <Value><![CDATA[]]></Value>
    </sequenceInSectionGroup>
    <showAnswerOn>
      <Value><![CDATA[ModificationDetails,ReviewAllChanges]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[0]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/14bfb08fd1224ab38eeb2da30b8c9ae6"
      }
    ]
  },
  "contentData": [
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/db073746a1114c7dba08c476efd1c9ca"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "IN"
            ],
            "optionType": [
              "Single"
            ],
            "parentOptions": "umb://document/439fc3d8a7044bf9ab49e852ec3ed767",
            "udi": "umb://element/db073746a1114c7dba08c476efd1c9ca",
            "value": ""
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "",
      "mode": [
        "AND"
      ],
      "parentQuestion": "umb://document/0cf06df406284f65b5b45b9807122c45",
      "ruleName": "Show if previous answer is true",
      "udi": "umb://element/14bfb08fd1224ab38eeb2da30b8c9ae6"
    }
  ],
  "settingsData": []
}]]></Value>
    </validationRules>
  </Properties>
</Content>