<?xml version="1.0" encoding="utf-8"?>
<Content Key="77a035cd-35bb-4224-8c05-d5cf3dac735f" Alias="Email" Level="6">
  <Info>
    <Parent Key="f19d2954-bac6-484f-8c40-cf1e9939edd0">Other</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ContactDetailsModification/Other/Email</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-10-20T11:52:31</CreateDate>
    <NodeName Default="Email" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Conditional"
]]]></Value>
    </conformance>
    <isEditable>
      <Value><![CDATA[]]></Value>
    </isEditable>
    <questionContent>
      <Value><![CDATA[umb://document/da4617b270a34837bf1bee0f55de7ce0]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[Email]]></Value>
    </questionId>
    <sectionGroup>
      <Value><![CDATA[]]></Value>
    </sectionGroup>
    <sequence>
      <Value><![CDATA[2]]></Value>
    </sequence>
    <sequenceInSectionGroup>
      <Value><![CDATA[]]></Value>
    </sequenceInSectionGroup>
    <showAnswerOn>
      <Value><![CDATA[ModificationDetails,ReviewAllChanges]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[0]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3545d19be3ac409fbf2e6d909b991c4b"
      },
      {
        "contentUdi": "umb://element/508b58b061a14c4898c70bffebeca2bc"
      }
    ]
  },
  "contentData": [
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7c0f578750d7447f936eb03382b0c566"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "IN"
            ],
            "optionType": [
              "Single"
            ],
            "parentOptions": "umb://document/1c6e1f7f06ce4dc8b90f2769b96c3e44",
            "udi": "umb://element/7c0f578750d7447f936eb03382b0c566",
            "value": ""
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "",
      "mode": [
        "AND"
      ],
      "parentQuestion": "umb://document/28b38f4d42024950abf37106d8613112",
      "ruleName": "Show if previous answer is true",
      "udi": "umb://element/3545d19be3ac409fbf2e6d909b991c4b"
    },
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/dacd4059f94a4420b428fb9069c7dacf"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "Enter an email address in the correct format",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "REGEX"
            ],
            "optionType": "",
            "parentOptions": "",
            "udi": "umb://element/dacd4059f94a4420b428fb9069c7dacf",
            "value": "^(?!\\.)(?!(?:(?:.*\\.\\.)|(?:.*\\.\\@)))(?!.*\\.\\.$)(?!.*\\.\\@)[\\p{L}\\p{N}!#$%&'*+\\/=?^_`{|}~.-]{1,64}@(?:[\\p{L}\\p{N}](?:[\\p{L}\\p{N}-]{0,61}[\\p{L}\\p{N}])?\\.)+[\\p{L}]{2,}$"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "",
      "mode": [
        "AND"
      ],
      "parentQuestion": "",
      "ruleName": "Email format",
      "udi": "umb://element/508b58b061a14c4898c70bffebeca2bc"
    }
  ],
  "settingsData": []
}]]></Value>
    </validationRules>
  </Properties>
</Content>