<?xml version="1.0" encoding="utf-8"?>
<Content Key="857f7dcd-602c-483b-9f11-a50aa6c2a868" Alias="EnableSponsorOrganisation" Level="4">
  <Info>
    <Parent Key="65e64e58-c396-4100-80e4-c7eec04ff34e">Sponsor Organisations</Parent>
    <Path>/Home/ContentPlaceholders/SponsorOrganisations/EnableSponsorOrganisation</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2025-10-17T14:41:30</CreateDate>
    <NodeName Default="EnableSponsorOrganisation" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>