<?xml version="1.0" encoding="utf-8"?>
<Content Key="c12b912b-e0b7-40fc-a129-860edef6fd26" Alias="EnableUser" Level="4">
  <Info>
    <Parent Key="65e64e58-c396-4100-80e4-c7eec04ff34e">Sponsor Organisations</Parent>
    <Path>/Home/ContentPlaceholders/SponsorOrganisations/EnableUser</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2025-10-16T13:48:36</CreateDate>
    <NodeName Default="EnableUser" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>