<?xml version="1.0" encoding="utf-8"?>
<Content Key="91c840f0-eb18-4d2a-92bb-9473910ce69e" Alias="EnableSponsorOrganisation" Level="3">
  <Info>
    <Parent Key="8bc0704f-82de-4936-b9b6-4c615087c4a8">Sponsororganisations</Parent>
    <Path>/Home/Sponsororganisations/EnableSponsorOrganisation</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2025-10-17T14:45:08</CreateDate>
    <NodeName Default="EnableSponsorOrganisation" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d513ad50b11543ffa5b86899913b1605"
      },
      {
        "contentUdi": "umb://element/d2392d554164466aad2f565ffc47dda5"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/4dad923540cc419ebfce184a2b735a3c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/4dad923540cc419ebfce184a2b735a3c",
            "value": "Confirm that you want to enable"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/6955298dabba48e1a9a1ba4b67cd30ba",
      "udi": "umb://element/d513ad50b11543ffa5b86899913b1605"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/cc9c4da9757948eb9750ec7c21d72579"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/cc9c4da9757948eb9750ec7c21d72579",
            "value": "You are about to enable this sponsor organisation."
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/eff12298239143cb94190a71d6362810",
      "udi": "umb://element/d2392d554164466aad2f565ffc47dda5"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
  </Properties>
</Content>