<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f579b43-da39-4de8-b1fa-e6bb0bfe098c" Alias="EnableUser" Level="3">
  <Info>
    <Parent Key="8bc0704f-82de-4936-b9b6-4c615087c4a8">Sponsororganisations</Parent>
    <Path>/Home/Sponsororganisations/EnableUser</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2025-10-16T13:50:41</CreateDate>
    <NodeName Default="EnableUser" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a8dfd868815f4f74ac291ea87c7b42d3"
      },
      {
        "contentUdi": "umb://element/8fd24a7df61048d19860ef483c84a93a"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/5f562559842c4e428341542ca1752425"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/5f562559842c4e428341542ca1752425",
            "value": "Confirm that you want to activate "
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/ec5d8350895b4a9f8e60af8557565443",
      "udi": "umb://element/a8dfd868815f4f74ac291ea87c7b42d3"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/1a9de55ae338426b96dd7a4dad1a6c4b"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/1a9de55ae338426b96dd7a4dad1a6c4b",
            "value": "You are about to activate the user to work under this sponsor organisation."
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/88906db59d0741aaafb2331cee4f467b",
      "udi": "umb://element/8fd24a7df61048d19860ef483c84a93a"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>