<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd30c1b3-315e-449c-975f-332ae732d259" Alias="England" Level="6">
  <Info>
    <Parent Key="a166c462-3e4d-4c70-887d-f5d6f3985360">UK Nations</Parent>
    <Path>/QuestionSets/ProjectRecordRepository/ProjectRecordV2/AnswerRepository/UKNations/England</Path>
    <Trashed>false</Trashed>
    <ContentType>answerOption</ContentType>
    <CreateDate>2025-07-28T09:52:16</CreateDate>
    <NodeName Default="England" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[OPT0018]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[England]]></Value>
    </optionName>
  </Properties>
</Content>