<?xml version="1.0" encoding="utf-8"?>
<Content Key="2452f71b-d234-4656-b33d-bb815927a84b" Alias="Enter details here describing this change" Level="6">
  <Info>
    <Parent Key="715f4e97-e17c-4f92-b0df-d4790a275443">Non reviewable free text</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/TemporaryHaltToAProjectModification/NonReviewableFreeText/EnterDetailsHereDescribingThisChange</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2026-03-04T15:28:11</CreateDate>
    <NodeName Default="Enter details here describing this change" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Mandatory"
]]]></Value>
    </conformance>
    <isEditable>
      <Value><![CDATA[1]]></Value>
    </isEditable>
    <playbackQuestionId>
      <Value><![CDATA[]]></Value>
    </playbackQuestionId>
    <questionContent>
      <Value><![CDATA[umb://document/b2d103212efb49169d0a52ecec21955f]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0700]]></Value>
    </questionId>
    <sectionGroup>
      <Value><![CDATA[]]></Value>
    </sectionGroup>
    <sequence>
      <Value><![CDATA[1]]></Value>
    </sequence>
    <sequenceInSectionGroup>
      <Value><![CDATA[]]></Value>
    </sequenceInSectionGroup>
    <showAnswerOn>
      <Value><![CDATA[ModificationDetails,ReviewAllChanges]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[0]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a4dbced1071345de8e4c4722f5708fff"
      }
    ]
  },
  "contentData": [
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/23638edfbac94831a233ebf8247923e8"
            },
            {
              "contentUdi": "umb://element/078ed6cc70fc42cdbe8c4f86165d684a"
            },
            {
              "contentUdi": "umb://element/d7ba686f0f974813aad3f8b51742fcf2"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "Enter details describing this change between 1 and 3600 characters",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "LENGTH"
            ],
            "optionType": "",
            "parentOptions": "",
            "udi": "umb://element/078ed6cc70fc42cdbe8c4f86165d684a",
            "value": "1,3600"
          },
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "SIZE"
            ],
            "optionType": "",
            "parentOptions": "",
            "udi": "umb://element/d7ba686f0f974813aad3f8b51742fcf2",
            "value": "3600"
          },
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "Enter details describing this change",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "LENGTH"
            ],
            "optionType": "",
            "parentOptions": "",
            "udi": "umb://element/23638edfbac94831a233ebf8247923e8",
            "value": "EMPTY"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "You can enter up to 3600 characters",
      "mode": [
        "AND"
      ],
      "parentQuestion": "",
      "ruleName": "Min 10 Max 3600",
      "udi": "umb://element/a4dbced1071345de8e4c4722f5708fff"
    }
  ],
  "settingsData": []
}]]></Value>
    </validationRules>
  </Properties>
</Content>