<?xml version="1.0" encoding="utf-8"?>
<Content Key="b2d10321-2efb-4916-9d0a-52ecec21955f" Alias="Enter details here describing this change" Level="6">
  <Info>
    <Parent Key="cf8422bf-d1cf-4ee4-92a3-4f51f05eb07e">Reviewable free text</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Questions/ReviewableFreeText/EnterDetailsHereDescribingThisChange</Path>
    <Trashed>false</Trashed>
    <ContentType>question</ContentType>
    <CreateDate>2025-10-03T11:38:11</CreateDate>
    <NodeName Default="Enter details here describing this change" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerDataType>
      <Value><![CDATA[[
  "Text Area"
]]]></Value>
    </answerDataType>
    <editorComment>
      <Value><![CDATA[]]></Value>
    </editorComment>
    <evaluateOrganisationsAffected>
      <Value><![CDATA[0]]></Value>
    </evaluateOrganisationsAffected>
    <evaluateResourceImplications>
      <Value><![CDATA[0]]></Value>
    </evaluateResourceImplications>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <nhsInvolvement>
      <Value><![CDATA[]]></Value>
    </nhsInvolvement>
    <nonNHSInvolvement>
      <Value><![CDATA[]]></Value>
    </nonNHSInvolvement>
    <possibleAnswers>
      <Value><![CDATA[]]></Value>
    </possibleAnswers>
    <questionFormat>
      <Value><![CDATA[[
  "Text"
]]]></Value>
    </questionFormat>
    <questionName>
      <Value><![CDATA[Enter details here describing this change]]></Value>
    </questionName>
    <shortQuestionName>
      <Value><![CDATA[Details describing this change]]></Value>
    </shortQuestionName>
    <supplementaryInfo>
      <Value><![CDATA[]]></Value>
    </supplementaryInfo>
  </Properties>
</Content>