<?xml version="1.0" encoding="utf-8"?>
<Content Key="57af2176-a258-4a0f-8cf5-a25cdaa7a369" Alias="First name" Level="6">
  <Info>
    <Parent Key="642c5557-613b-4b0f-8c62-c598b4ad6a08">Chief investigator</Parent>
    <Path>/QuestionSets/ProjectRecordRepository/ProjectRecordV2/Sections/ChiefInvestigator/FirstName</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-10-02T09:26:36</CreateDate>
    <NodeName Default="First name" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/d5b0e745867f4354bc072dc493d69545]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Mandatory"
]]]></Value>
    </conformance>
    <questionContent>
      <Value><![CDATA[umb://document/5f22bb6e60fd4b8fbed06d94855f32f5]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0401]]></Value>
    </questionId>
    <sequence>
      <Value><![CDATA[1]]></Value>
    </sequence>
    <showAnswerOn>
      <Value><![CDATA[]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[0]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[]]></Value>
    </validationRules>
  </Properties>
</Content>