<?xml version="1.0" encoding="utf-8"?>
<Content Key="711a8da5-3573-4ded-867d-c338acf97344" Alias="First name" Level="6">
  <Info>
    <Parent Key="fd6c75b0-6834-475f-91fb-68106b481e9b">New principal investigator</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ProjectPersonnelPrincipalInvestigatorModification/NewPrincipalInvestigator/FirstName</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-10-22T15:54:18</CreateDate>
    <NodeName Default="First name" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Mandatory"
]]]></Value>
    </conformance>
    <isEditable>
      <Value><![CDATA[1]]></Value>
    </isEditable>
    <playbackQuestionId>
      <Value><![CDATA[]]></Value>
    </playbackQuestionId>
    <questionContent>
      <Value><![CDATA[umb://document/a28a1aeaf4434592b91404dbcbfef2b0]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0529]]></Value>
    </questionId>
    <sectionGroup>
      <Value><![CDATA[]]></Value>
    </sectionGroup>
    <sequence>
      <Value><![CDATA[1]]></Value>
    </sequence>
    <sequenceInSectionGroup>
      <Value><![CDATA[]]></Value>
    </sequenceInSectionGroup>
    <showAnswerOn>
      <Value><![CDATA[ModificationDetails,ReviewAllChanges]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[0]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[]]></Value>
    </validationRules>
  </Properties>
</Content>