<?xml version="1.0" encoding="utf-8"?>
<Content Key="a82726a5-eb38-429c-bb62-5d77d97939a9" Alias="Full project title" Level="6">
  <Info>
    <Parent Key="336f290e-1767-40fd-be18-409d76b13b2f">Project titles</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ProjectIdentificationModification/ProjectTitles/FullProjectTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-10-30T13:58:43</CreateDate>
    <NodeName Default="Full project title" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Conditional"
]]]></Value>
    </conformance>
    <isEditable>
      <Value><![CDATA[]]></Value>
    </isEditable>
    <questionContent>
      <Value><![CDATA[umb://document/3d969d7ea30743db97c7bed15e21e5e9]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0789]]></Value>
    </questionId>
    <sectionGroup>
      <Value><![CDATA[]]></Value>
    </sectionGroup>
    <sequence>
      <Value><![CDATA[3]]></Value>
    </sequence>
    <sequenceInSectionGroup>
      <Value><![CDATA[]]></Value>
    </sequenceInSectionGroup>
    <showAnswerOn>
      <Value><![CDATA[ModificationDetails,ReviewAllChanges]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[1]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/764fde8d67154d99be6b5aae1fcbe0ac"
      },
      {
        "contentUdi": "umb://element/cca16c13a71f4b37aa8a66ee255020bb"
      }
    ]
  },
  "contentData": [
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3724749764d3412588c9c4623219fcb5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "IN"
            ],
            "optionType": [
              "Multiple"
            ],
            "parentOptions": "umb://document/75e378499e0244d5a150a18ee3efd1ea",
            "udi": "umb://element/3724749764d3412588c9c4623219fcb5",
            "value": ""
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "",
      "mode": [
        "AND"
      ],
      "parentQuestion": "umb://document/338d3feb34454810807da2d2d47c112c",
      "ruleName": "Show if full project title option is selected",
      "udi": "umb://element/764fde8d67154d99be6b5aae1fcbe0ac"
    },
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/99d3d96e298640e2965a83ee18430a9d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "Full project title must not contain more than 2000 characters",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "LENGTH"
            ],
            "optionType": "",
            "parentOptions": "",
            "udi": "umb://element/99d3d96e298640e2965a83ee18430a9d",
            "value": "3,2000"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "Provide full project title between 3 and 2000 characters",
      "mode": [
        "AND"
      ],
      "parentQuestion": "",
      "ruleName": "Length Check",
      "udi": "umb://element/cca16c13a71f4b37aa8a66ee255020bb"
    }
  ],
  "settingsData": []
}]]></Value>
    </validationRules>
  </Properties>
</Content>