<?xml version="1.0" encoding="utf-8"?>
<Content Key="545724b2-f51a-4174-bd36-ba06db39f75c" Alias="Full project title" Level="6">
  <Info>
    <Parent Key="198b43db-f7df-430b-afea-38b58ee11bdc">Which references do you need to change</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ProjectReferenceNumbersModification/WhichReferencesDoYouNeedToChange/FullProjectTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-10-15T13:47:55</CreateDate>
    <NodeName Default="Full project title" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/4dbe3d033d384e3b97107aedb238ee7e]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Conditional"
]]]></Value>
    </conformance>
    <questionContent>
      <Value><![CDATA[umb://document/3d969d7ea30743db97c7bed15e21e5e9]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0789]]></Value>
    </questionId>
    <sequence>
      <Value><![CDATA[3]]></Value>
    </sequence>
    <showAnswerOn>
      <Value><![CDATA[ModificationDetails,ReviewAllChanges]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[1]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b5ffb3b00e3e4ed889b6cf482d910736"
      }
    ]
  },
  "contentData": [
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a232775d33a446e28132e85defb83727"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "IN"
            ],
            "optionType": [
              "Single"
            ],
            "parentOptions": "umb://document/1ac81604f5ae41c09c53d914c88abb32",
            "udi": "umb://element/a232775d33a446e28132e85defb83727",
            "value": ""
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "",
      "mode": [
        "AND"
      ],
      "parentQuestion": "umb://document/e488fdbdd3d14c4b812ed6844e6ed3e6",
      "ruleName": "Show if previous answer is true",
      "udi": "umb://element/b5ffb3b00e3e4ed889b6cf482d910736"
    }
  ],
  "settingsData": []
}]]></Value>
    </validationRules>
  </Properties>
</Content>