<?xml version="1.0" encoding="utf-8"?>
<Content Key="2446bad5-3484-465e-890e-1e00d0cbced1" Alias="Funder's letter/outcome of funding panel" Level="6">
  <Info>
    <Parent Key="d1d32e9e-f9d9-4857-9624-c73a099e89d3">Document Types</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Answers/DocumentTypes/FundersLetteroutcomeOfFundingPanel</Path>
    <Trashed>false</Trashed>
    <ContentType>answerOption</ContentType>
    <CreateDate>2025-09-22T15:17:19</CreateDate>
    <NodeName Default="Funder's letter/outcome of funding panel" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[OPT0339]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Funder's letter/outcome of funding panel]]></Value>
    </optionName>
  </Properties>
</Content>