<?xml version="1.0" encoding="utf-8"?>
<Content Key="4013b8f1-94bc-4494-89db-a074a5166cbd" Alias="Funder reference" Level="6">
  <Info>
    <Parent Key="f2aaa36a-6502-452e-be98-cacf7c7db8b9">Project reference numbers</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Answers/ProjectReferenceNumbers/FunderReference</Path>
    <Trashed>false</Trashed>
    <ContentType>answerOption</ContentType>
    <CreateDate>2025-10-14T11:36:09</CreateDate>
    <NodeName Default="Funder reference" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[OPT0443]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Funder reference]]></Value>
    </optionName>
  </Properties>
</Content>