<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef57a55a-00e8-4785-a766-740d8b53a4a1" Alias="Funder name" Level="6">
  <Info>
    <Parent Key="f4807942-15b3-4ada-a755-c9100a755ef9">Which references do you need to change answers</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ProjectReferenceNumbersModification/WhichReferencesDoYouNeedToChangeAnswers/FunderName</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-10-14T12:09:12</CreateDate>
    <NodeName Default="Funder name" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Conditional"
]]]></Value>
    </conformance>
    <questionContent>
      <Value><![CDATA[umb://document/6c5ba50eee47405aa7b45307bd6146dd]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0834]]></Value>
    </questionId>
    <sequence>
      <Value><![CDATA[2]]></Value>
    </sequence>
    <showAnswerOn>
      <Value><![CDATA[ModificationDetails,ReviewAllChanges]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[0]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b55eafcbfca0450ebfb2a92315f792ef"
      },
      {
        "contentUdi": "umb://element/3a23077be350488298916270114dc860"
      }
    ]
  },
  "contentData": [
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/e6f76e87f05e4b9480d4bb2c2dc9cd20"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "IN"
            ],
            "optionType": [
              "Multiple"
            ],
            "parentOptions": "umb://document/4013b8f194bc449489dba074a5166cbd",
            "udi": "umb://element/e6f76e87f05e4b9480d4bb2c2dc9cd20",
            "value": ""
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "",
      "mode": [
        "AND"
      ],
      "parentQuestion": "umb://document/4b35bbb6c2ed40248e404c2de6530d02",
      "ruleName": "Show if previous answer is true",
      "udi": "umb://element/b55eafcbfca0450ebfb2a92315f792ef"
    },
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ec4a708c40194312baa8e3dfd73b554a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "IN"
            ],
            "optionType": [
              "Single"
            ],
            "parentOptions": "umb://document/3f25202b01be4b6f9afffc344470af04",
            "udi": "umb://element/ec4a708c40194312baa8e3dfd73b554a",
            "value": ""
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "",
      "mode": [
        "AND"
      ],
      "parentQuestion": "umb://document/e488fdbdd3d14c4b812ed6844e6ed3e6",
      "ruleName": "Show if previous answer is true",
      "udi": "umb://element/3a23077be350488298916270114dc860"
    }
  ],
  "settingsData": []
}]]></Value>
    </validationRules>
  </Properties>
</Content>