<?xml version="1.0" encoding="utf-8"?>
<Content Key="0a153f80-ae83-4cfa-9cfc-eb7601b5a999" Alias="GDPR wording - Unaccepted alternative wording used" Level="6">
  <Info>
    <Parent Key="654fa18d-2637-4e70-a3d0-8889cfe91513">Project documents</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/AreaOfChange/ProjectDocuments/GDPRWordingUnacceptedAlternativeWordingUsed</Path>
    <Trashed>false</Trashed>
    <ContentType>subAnswerOption</ContentType>
    <CreateDate>2025-11-10T15:42:24</CreateDate>
    <NodeName Default="GDPR wording - Unaccepted alternative wording used" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[36]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[GDPR wording - Unaccepted alternative wording used]]></Value>
    </optionName>
    <showApplicabilityQuestions>
      <Value><![CDATA[1]]></Value>
    </showApplicabilityQuestions>
  </Properties>
</Content>