<?xml version="1.0" encoding="utf-8"?>
<Content Key="48d685b0-c483-4062-bb3d-244647ed04db" Alias="GDPR wording - Accepted wording used verbatim" Level="6">
  <Info>
    <Parent Key="654fa18d-2637-4e70-a3d0-8889cfe91513">Project documents</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/AreaOfChange/ProjectDocuments/GDPRWordingAcceptedWordingUsedVerbatim</Path>
    <Trashed>false</Trashed>
    <ContentType>subAnswerOption</ContentType>
    <CreateDate>2025-08-19T15:45:55</CreateDate>
    <NodeName Default="GDPR wording - Accepted wording used verbatim" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[7]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[GDPR wording - Accepted wording used verbatim]]></Value>
    </optionName>
    <showApplicabilityQuestions>
      <Value><![CDATA[0]]></Value>
    </showApplicabilityQuestions>
  </Properties>
</Content>