<?xml version="1.0" encoding="utf-8"?>
<Content Key="706d2c62-18e0-4408-ac76-768a1996a620" Alias="HomeDashboard.REC.Description" Level="4">
  <Info>
    <Parent Key="6ab5119f-e6fa-4c40-bc8a-2d63c629bb8c">Home Dashboard</Parent>
    <Path>/Home/ContentPlaceholders/HomeDashboard/HomeDashboardRECDescription</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-09-26T15:59:44</CreateDate>
    <NodeName Default="HomeDashboard.REC.Description" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>