<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c858b71-a6ac-40fd-ad8e-809623040f56" Alias="HomeDashboard.TechnicalAssurance.Description" Level="4">
  <Info>
    <Parent Key="6ab5119f-e6fa-4c40-bc8a-2d63c629bb8c">Home Dashboard</Parent>
    <Path>/Home/ContentPlaceholders/HomeDashboard/HomeDashboardTechnicalAssuranceDescription</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-09-26T16:00:50</CreateDate>
    <NodeName Default="HomeDashboard.TechnicalAssurance.Description" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>