<?xml version="1.0" encoding="utf-8"?>
<Content Key="174c9164-be76-4da8-af9b-7dfa6c831231" Alias="HomeDashboard.SuccessProfileCreationBanner.Body" Level="4">
  <Info>
    <Parent Key="6ab5119f-e6fa-4c40-bc8a-2d63c629bb8c">Home Dashboard</Parent>
    <Path>/Home/ContentPlaceholders/HomeDashboard/HomeDashboardSuccessProfileCreationBannerBody</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-14T15:05:11</CreateDate>
    <NodeName Default="HomeDashboard.SuccessProfileCreationBanner.Body" />
    <SortOrder>22</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>