<?xml version="1.0" encoding="utf-8"?>
<Content Key="6ab5119f-e6fa-4c40-bc8a-2d63c629bb8c" Alias="Home Dashboard" Level="3">
  <Info>
    <Parent Key="3e0777ee-ed72-4848-a405-0b4cc10df5c6">Content Placeholders</Parent>
    <Path>/Home/ContentPlaceholders/HomeDashboard</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2025-09-26T15:36:47</CreateDate>
    <NodeName Default="Home Dashboard" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>