<?xml version="1.0" encoding="utf-8"?>
<Content Key="2bf29397-5706-4a50-a62c-946dbfc2c0da" Alias="HomeDashboard.SuccessProfileCreationBanner.Label" Level="4">
  <Info>
    <Parent Key="6ab5119f-e6fa-4c40-bc8a-2d63c629bb8c">Home Dashboard</Parent>
    <Path>/Home/ContentPlaceholders/HomeDashboard/HomeDashboardSuccessProfileCreationBannerLabel</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-14T15:05:02</CreateDate>
    <NodeName Default="HomeDashboard.SuccessProfileCreationBanner.Label" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>