<?xml version="1.0" encoding="utf-8"?>
<Content Key="362d7b6d-b834-448c-9c5c-28cec4f63233" Alias="HomeDashboard.Approvals.Description" Level="4">
  <Info>
    <Parent Key="6ab5119f-e6fa-4c40-bc8a-2d63c629bb8c">Home Dashboard</Parent>
    <Path>/Home/ContentPlaceholders/HomeDashboard/HomeDashboardApprovalsDescription</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-09-26T15:57:19</CreateDate>
    <NodeName Default="HomeDashboard.Approvals.Description" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>