<?xml version="1.0" encoding="utf-8"?>
<Content Key="bd2f243c-a824-4fd8-a77e-8112a883d219" Alias="HomeDashboard.TechnicalAssurance.Label" Level="4">
  <Info>
    <Parent Key="6ab5119f-e6fa-4c40-bc8a-2d63c629bb8c">Home Dashboard</Parent>
    <Path>/Home/ContentPlaceholders/HomeDashboard/HomeDashboardTechnicalAssuranceLabel</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-09-26T16:00:35</CreateDate>
    <NodeName Default="HomeDashboard.TechnicalAssurance.Label" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>