<?xml version="1.0" encoding="utf-8"?>
<Content Key="af480879-2295-4031-89a6-1c1f0a877b04" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2025-09-08T14:11:24</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <dashboardContentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/53df86342fd3412fb7a1db6725e2d26a"
      },
      {
        "contentUdi": "umb://element/b2ff02a4b3a24553ba24b51379e0af21"
      },
      {
        "contentUdi": "umb://element/4ca90652e5684cffa510e7e799937c1f"
      },
      {
        "contentUdi": "umb://element/ac661b911f5d4ace82236f632e2383c8"
      },
      {
        "contentUdi": "umb://element/fed46a304f28493b98d6c2e13af5b01b"
      },
      {
        "contentUdi": "umb://element/760669146786411d9e84f1fc7802fdf2"
      },
      {
        "contentUdi": "umb://element/46ce744cc08845ffbd9c10c604a78e09"
      },
      {
        "contentUdi": "umb://element/8be6bb01ae7d456fa5a88ecc811496b8"
      },
      {
        "contentUdi": "umb://element/a40586921aef4485983f1c5fe7462585"
      },
      {
        "contentUdi": "umb://element/f0f0f19c6b2b481a9082f065e6554996"
      },
      {
        "contentUdi": "umb://element/4dee382adaff4280aee660f56d7f6d88"
      },
      {
        "contentUdi": "umb://element/d6e5d4b81e194b8f8b1c846d1b573370"
      },
      {
        "contentUdi": "umb://element/bff5e778c6034109ac238769ea6136c8"
      },
      {
        "contentUdi": "umb://element/5bcaccb101634dfcb391576f273ac9b0"
      },
      {
        "contentUdi": "umb://element/2581455c14d44d4195837666546be67f"
      },
      {
        "contentUdi": "umb://element/43b1495df6a84d34a82468c6d0dd3f3f"
      },
      {
        "contentUdi": "umb://element/aa55237981834ad0bb9331cb95e0bcb1"
      },
      {
        "contentUdi": "umb://element/14e0a724b9ed4391afb657c76f14ed28"
      },
      {
        "contentUdi": "umb://element/667e4cda01324a0eb2fd04e523c59b7e"
      },
      {
        "contentUdi": "umb://element/0f2e69b667f14f12b9eb68f7427737fc"
      },
      {
        "contentUdi": "umb://element/8a70fdd79a0f480ea030eefd4d478907"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/91ee5e0d0dde4cee9628c7d57b895d4f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/91ee5e0d0dde4cee9628c7d57b895d4f",
            "value": "My Account homepage"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/871d28b333ea41eb8f1047ee34f3d285",
      "udi": "umb://element/53df86342fd3412fb7a1db6725e2d26a"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7ce6c7dbd2a348b2a8e8458f2a48b077"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/7ce6c7dbd2a348b2a8e8458f2a48b077",
            "value": {
              "markup": "<p>This is your account homepage where you can access your workspaces</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/5168c3cd5f124c2db89a531973bc9af7",
      "udi": "umb://element/b2ff02a4b3a24553ba24b51379e0af21"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/dbc871eb2be74d7b852c12b2ae97fe83"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/dbc871eb2be74d7b852c12b2ae97fe83",
            "value": "My workspaces"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/85f82803d12e4fb887af9efd53229dcd",
      "udi": "umb://element/4ca90652e5684cffa510e7e799937c1f"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9bef3679842448dc972b55ad772b15f9"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/9bef3679842448dc972b55ad772b15f9",
            "value": "Approvals"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/b652430a04e54e039ea84bdbe8971b85",
      "udi": "umb://element/ac661b911f5d4ace82236f632e2383c8"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/e6ae883f2eca48a882f22b75e0fa6f08"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/e6ae883f2eca48a882f22b75e0fa6f08",
            "value": "Workspace for approvals service staff to receive and process applications and post approval activity for review."
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/362d7b6db834448c9c5c28cec4f63233",
      "udi": "umb://element/fed46a304f28493b98d6c2e13af5b01b"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/8c22a5edccc94433942a6b1cedd5ec8e"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/8c22a5edccc94433942a6b1cedd5ec8e",
            "value": "CAG members"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/73f4ba3369b84b449668e8ce3b79a5a1",
      "udi": "umb://element/760669146786411d9e84f1fc7802fdf2"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/95e83585284c42e1b63a9bc60034ea37"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/95e83585284c42e1b63a9bc60034ea37",
            "value": "Workspace for members to review applications and post approval activity."
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/0d4ba26515a64198be264e9bf4c396ab",
      "udi": "umb://element/46ce744cc08845ffbd9c10c604a78e09"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/47251fcd2b9f4e83942509a070a1246e"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/47251fcd2b9f4e83942509a070a1246e",
            "value": "CAT"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/e27c4565574c4f40a89757b628c0a1e4",
      "udi": "umb://element/8be6bb01ae7d456fa5a88ecc811496b8"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9e374c70dbc94ca49f6510fa4fc26c19"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/9e374c70dbc94ca49f6510fa4fc26c19",
            "value": "Workspace for CAT staff to receive and process applications and post approval activity for review."
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/8a0cf1471a5841da92122d92ec3b9d8b",
      "udi": "umb://element/a40586921aef4485983f1c5fe7462585"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d5f0a0a7dde445ff8b0f49ebe6d19b07"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/d5f0a0a7dde445ff8b0f49ebe6d19b07",
            "value": "Member management"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/e06fc0cd93dc4e758c1a1cb679a9ec2c",
      "udi": "umb://element/f0f0f19c6b2b481a9082f065e6554996"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f39a8063921a454b9487a45d1012a392"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/f39a8063921a454b9487a45d1012a392",
            "value": "Workspace for staff to view and update committee member records."
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/b6235ff2083940938e69d5e1b89a2807",
      "udi": "umb://element/4dee382adaff4280aee660f56d7f6d88"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3a46d642de5745da91ac71689c1da658"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/3a46d642de5745da91ac71689c1da658",
            "value": "My research"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/794fa13baf2b4424b525036bc616824a",
      "udi": "umb://element/d6e5d4b81e194b8f8b1c846d1b573370"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/8577e73da410412ba75114024edfade2"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/8577e73da410412ba75114024edfade2",
            "value": "Workspace to view and manage the research I am responsible for."
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/fb2a6e44c3d943d9825adca079efcce5",
      "udi": "umb://element/bff5e778c6034109ac238769ea6136c8"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/8ef7ff5882ef48019fe26e9e5ba52af1"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/8ef7ff5882ef48019fe26e9e5ba52af1",
            "value": "REC members"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/2c71ad81314447498971545e80f8fd89",
      "udi": "umb://element/5bcaccb101634dfcb391576f273ac9b0"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/2f9b597da31b46358fcd9c2b53641be2"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/2f9b597da31b46358fcd9c2b53641be2",
            "value": "Workspace for members to review applications and post approval activity."
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/706d2c6218e04408ac76768a1996a620",
      "udi": "umb://element/2581455c14d44d4195837666546be67f"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/4438d3fadd124d74b6ac35c7926dc349"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/4438d3fadd124d74b6ac35c7926dc349",
            "value": "System administration"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/91b903f1048c4877ace8a092f74b6ab0",
      "udi": "umb://element/43b1495df6a84d34a82468c6d0dd3f3f"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/eea907cc30664330932c64455f996281"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/eea907cc30664330932c64455f996281",
            "value": "Workspace for system administrators to view and manage system administration functions."
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/d62a0fd006304177af62df495055fa3e",
      "udi": "umb://element/aa55237981834ad0bb9331cb95e0bcb1"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/89ca652add734efb9d22c2f7a0363664"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/89ca652add734efb9d22c2f7a0363664",
            "value": "Technical Assurance"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/bd2f243ca8244fd8a77e8112a883d219",
      "udi": "umb://element/14e0a724b9ed4391afb657c76f14ed28"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/5a1bb1332c2a4bd2ab86b50896de01be"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/5a1bb1332c2a4bd2ab86b50896de01be",
            "value": "Workspace for Technical Assurance staff to receive and process applications and post approval activity for review."
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/7c858b71a6ac40fdad8e809623040f56",
      "udi": "umb://element/667e4cda01324a0eb2fd04e523c59b7e"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a5382300304b4d9fbde03e9fb2a6f96d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/a5382300304b4d9fbde03e9fb2a6f96d",
            "value": "Technical Assurance reviewers"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/7af2f8f8042e413496be0dbb5a434bfc",
      "udi": "umb://element/0f2e69b667f14f12b9eb68f7427737fc"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b50d1d4e8faf4a62bc02c079a9f5c188"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/b50d1d4e8faf4a62bc02c079a9f5c188",
            "value": "Workspace for Technical Assurance reviewers to review applications and post approval activity."
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/5901b2465ebe46d4ac7ea486ac66e56a",
      "udi": "umb://element/8a70fdd79a0f480ea030eefd4d478907"
    }
  ],
  "settingsData": []
}]]></Value>
    </dashboardContentItems>
    <footerLinks>
      <Value><![CDATA[[
  {
    "udi": "umb://document/48792fb49fa84904a6e306e62a73fd9c"
  },
  {
    "udi": "umb://document/b8555bde935b4ba4b1d2ad1b8e64bcfc"
  },
  {
    "udi": "umb://document/85c02ff1d04940d297d903e213c929da"
  },
  {
    "udi": "umb://document/3c3bd2c5b33646da83bf32aa9f59b3b0"
  }
]]]></Value>
    </footerLinks>
    <loginLandingPageAboveTheFold>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8d1e3991b1c644c7ab0eb36e2141ebdb"
      },
      {
        "contentUdi": "umb://element/20a553f2dcb14e8e8314aa68726ada17"
      },
      {
        "contentUdi": "umb://element/e2d82bd527e64f5d832f72f717d4651c"
      },
      {
        "contentUdi": "umb://element/d56d4e40ebcd4337ac55bbaf55060fdc"
      },
      {
        "contentUdi": "umb://element/3a83a3202e04496d9306c2bd661592c3"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e93bd9ac-fe6d-4118-8bee-9fdc82c19d1d",
      "headlineType": [
        "h1"
      ],
      "title": "Sign in to Plan and Manage Health and Care Research",
      "udi": "umb://element/8d1e3991b1c644c7ab0eb36e2141ebdb"
    },
    {
      "contentTypeKey": "bb4b01df-522f-4000-afe8-d3b939223fb7",
      "udi": "umb://element/20a553f2dcb14e8e8314aa68726ada17",
      "value": {
        "markup": "<p>Sign in to your Plan and Manage Health and Care Research (HRUK) account to:</p>\n<ul>\n<li>Set up ongoing research projects so they can be modified</li>\n<li>Prepare modifications and supporting documents for review</li>\n<li>Authorise modifications and submit them for regulatory review</li>\n<li>Track progress of modifications that have been submitted for review</li>\n</ul>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "e93bd9ac-fe6d-4118-8bee-9fdc82c19d1d",
      "headlineType": [
        "h2"
      ],
      "title": "Who can use this service?",
      "udi": "umb://element/e2d82bd527e64f5d832f72f717d4651c"
    },
    {
      "contentTypeKey": "bb4b01df-522f-4000-afe8-d3b939223fb7",
      "udi": "umb://element/d56d4e40ebcd4337ac55bbaf55060fdc",
      "value": {
        "markup": "<p>Researchers and sponsors with ongoing research projects that did not need review from an NHS Research Ethics Committee (REC) during initial regulatory approval</p>\n<p><span><strong>You'll need the following to get started:</strong></span></p>\n<ul>\n<li><span>A GOV.UK OneLogin</span></li>\n<li><span>The details of the research project you are modifying:</span></li>\n<li><span>IRAS ID</span></li>\n<li><span>Short project title</span></li>\n<li><span>Planned end date</span></li>\n</ul>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "e93bd9ac-fe6d-4118-8bee-9fdc82c19d1d",
      "headlineType": [
        "h2"
      ],
      "title": "Sign in or set up your account",
      "udi": "umb://element/3a83a3202e04496d9306c2bd661592c3"
    }
  ],
  "settingsData": []
}]]></Value>
    </loginLandingPageAboveTheFold>
    <loginLandingPageBelowTheFold>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f389ce185c344f90901f1b2cef1801ad"
      },
      {
        "contentUdi": "umb://element/c62c314375b94fd7abe046c7b107395c"
      },
      {
        "contentUdi": "umb://element/a311e610b255410186bd724b69a5df29"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d10f8af2-acdd-440c-b05d-24314c8558e0",
      "title": "What is HRUK?",
      "udi": "umb://element/c62c314375b94fd7abe046c7b107395c",
      "value": {
        "markup": "<p>Plan and Manage Health and Care Research (HRUK) is a new service that helps researchers and sponsors plan, set up and manage their research projects in the UK.</p>\n<p>The new service will ultimately replace the Integrated Research Application Service (IRAS).</p>\n<p>We will be inviting researchers and sponsors to start using the new service throughout 2026.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "d10f8af2-acdd-440c-b05d-24314c8558e0",
      "title": "Why do I need a GOV.UK OneLogin?",
      "udi": "umb://element/a311e610b255410186bd724b69a5df29",
      "value": {
        "markup": "<p>GOV.UK One Login lets you sign in and prove your identity so you can access this service quickly and easily.</p>\n<p>It will ultimately allow you to access any government service using the same email address and password, so you only need to prove your identity once.</p>\n<p>&nbsp;You can use your GOV.UK OneLogin to easily manage your personal information:</p>\n<ul>\n<li>email address</li>\n<li>password</li>\n<li>phone number</li>\n</ul>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    },
    {
      "contentTypeKey": "e1896aae-dd14-409a-a3d2-9aedbdb842a6",
      "udi": "umb://element/f389ce185c344f90901f1b2cef1801ad",
      "value": {
        "markup": "<p>If you need help to create your account or sign in please contact <a href=\"/{localLink:umb://document/48792fb49fa84904a6e306e62a73fd9c}\" title=\"Privacy\">GOV.UK OneLogin</a>.</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </loginLandingPageBelowTheFold>
    <phaseBannerContent>
      <Value><![CDATA[{
  "markup": "<p>This is a new service – your <a href=\"/\">feedback</a> will help us to improve it.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </phaseBannerContent>
    <rightSideMenuLinks>
      <Value><![CDATA[]]></Value>
    </rightSideMenuLinks>
    <serviceNavigationLinks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d9e9e75eeaa34d1d9fdc17f849edb688"
      },
      {
        "contentUdi": "umb://element/d759631db8314560b1a2b42457a6e6f4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "bb82103a-3e87-44ec-94cb-3f37a161572f",
      "itemUrl": [
        {
          "name": "Profile and settings",
          "url": "/profileandsettings"
        }
      ],
      "requiresAuthorisation": "1",
      "udi": "umb://element/d9e9e75eeaa34d1d9fdc17f849edb688"
    },
    {
      "contentTypeKey": "bb82103a-3e87-44ec-94cb-3f37a161572f",
      "itemUrl": [
        {
          "name": "Help and support",
          "udi": "umb://document/8e0dfe9f89d84dee8a41b750d9bfa717"
        }
      ],
      "requiresAuthorisation": "0",
      "udi": "umb://element/d759631db8314560b1a2b42457a6e6f4"
    }
  ],
  "settingsData": []
}]]></Value>
    </serviceNavigationLinks>
  </Properties>
</Content>