<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa467a5f-e11f-4c65-a439-ce660faf47a8" Alias="Index" Level="3">
  <Info>
    <Parent Key="e6f7f9ab-6d2f-4110-bd60-f253729ce833">ProfileAndSettings</Parent>
    <Path>/Home/ProfileAndSettings/Index</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2025-10-13T09:29:55</CreateDate>
    <NodeName Default="Index" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e9fa4c85d0de4c898cecd71b8e3f4f4b"
      },
      {
        "contentUdi": "umb://element/8ebb161907e64744bf7cfe4448ac0930"
      },
      {
        "contentUdi": "umb://element/36e0557309c443668d9026220c807840"
      },
      {
        "contentUdi": "umb://element/844f965b51054694b2bd9cdd66c5eb5d"
      },
      {
        "contentUdi": "umb://element/a99b766ac3d54038a6e5cd02bcaf1ca9"
      },
      {
        "contentUdi": "umb://element/c6dbaf9007414bb29479dcbdc035335e"
      },
      {
        "contentUdi": "umb://element/073f0499e6bf479ab87991c82a88316d"
      },
      {
        "contentUdi": "umb://element/8f3a16ac3f924f7cacf0f98cdcd6bfa4"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ab81146761c34878af258feed6f43ad9"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/ab81146761c34878af258feed6f43ad9",
            "value": "Profile and settings"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/9bbdf8e1c5a042e3a25f838514710e84",
      "udi": "umb://element/e9fa4c85d0de4c898cecd71b8e3f4f4b"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/2d8821ff758a48f2877a601f68e8c775"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/2d8821ff758a48f2877a601f68e8c775",
            "value": "One Login details"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/b4d8fb4335b74077b093c90709b49069",
      "udi": "umb://element/8ebb161907e64744bf7cfe4448ac0930"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/94389f9e68c34d35ba71efa03a6b4ab2"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/94389f9e68c34d35ba71efa03a6b4ab2",
            "value": "Profile details"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/a2b07059397d4cf5aaed843afc3b5e16",
      "udi": "umb://element/36e0557309c443668d9026220c807840"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/fa39b2fbe11b4a6eae41a49d16f7a70d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/fa39b2fbe11b4a6eae41a49d16f7a70d",
            "value": "Important"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/04a97fa144a4418aa66c0d323a8165aa",
      "udi": "umb://element/844f965b51054694b2bd9cdd66c5eb5d"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/eb149093ab0d450d9b6ca7752b6d1182"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/eb149093ab0d450d9b6ca7752b6d1182",
            "value": "Making a change to your One Login details "
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/5a0f9ee38b9f4389874c5419d1e1ae32",
      "udi": "umb://element/a99b766ac3d54038a6e5cd02bcaf1ca9"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9834f6a5e08c4bfc8fe3d70f2660028f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/9834f6a5e08c4bfc8fe3d70f2660028f",
            "value": {
              "markup": "<p>Log in through your <a rel=\"noopener\" href=\"https://signin.integration.account.gov.uk/sign-in-or-create\" target=\"_blank\">One Login account</a> if you want to edit/update your email address and telephone number&nbsp;</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/fac122bc461e48dda3cf44658efb28ae",
      "udi": "umb://element/c6dbaf9007414bb29479dcbdc035335e"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9aea2411e9b0427eb76077afee14fd84"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/9aea2411e9b0427eb76077afee14fd84",
            "value": "Profile change successfully saved"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/50b9efae450146888d0c40ed55915832",
      "udi": "umb://element/073f0499e6bf479ab87991c82a88316d"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f3667faf751e4f4c959ae41b5d58e7e5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/f3667faf751e4f4c959ae41b5d58e7e5",
            "value": "Success"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/d4b74b99d9a34c3dad66c2ad55a159ec",
      "udi": "umb://element/8f3a16ac3f924f7cacf0f98cdcd6bfa4"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
  </Properties>
</Content>