<?xml version="1.0" encoding="utf-8"?>
<Content Key="b0092453-77c1-47be-b906-465eaf0bed18" Alias="Index" Level="3">
  <Info>
    <Parent Key="38eef064-ccf3-44f7-8924-171b1a7f3c0d">Approvals</Parent>
    <Path>/Home/Approvals/Index</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2025-09-10T15:12:41</CreateDate>
    <NodeName Default="Index" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/79d0597d0d90494688d9b6b841f26a69"
      },
      {
        "contentUdi": "umb://element/d50d9707a2264925b8fd01a5142b5cef"
      },
      {
        "contentUdi": "umb://element/940ae23c391d49619ebf59473676df62"
      },
      {
        "contentUdi": "umb://element/f6a2b24a0f6f42648da6ca503cadff86"
      },
      {
        "contentUdi": "umb://element/bf8b53da225442daa4b39b2205cf5a09"
      },
      {
        "contentUdi": "umb://element/7170bb35e2ce4befa04f18c7f69d7ad6"
      },
      {
        "contentUdi": "umb://element/4c4c9b70f144492dbe52e46c290c346b"
      },
      {
        "contentUdi": "umb://element/c62d824b0f154c59a04bba51e1dfcfb7"
      },
      {
        "contentUdi": "umb://element/de8eca7149c94893a666b06b77061a03"
      },
      {
        "contentUdi": "umb://element/fac2e5f8a0d847838bf1c829324ec7e4"
      },
      {
        "contentUdi": "umb://element/ab4a2fee00cd4d3fbe3afa29a0190630"
      },
      {
        "contentUdi": "umb://element/999d6cddc4844375902da11dfc3754ca"
      },
      {
        "contentUdi": "umb://element/851f8e2fb7ae4365938296d741b156c4"
      },
      {
        "contentUdi": "umb://element/4b0017445922493a9781d13c5fe6afca"
      },
      {
        "contentUdi": "umb://element/721c0a4fac934fb0ae359656d961bed1"
      },
      {
        "contentUdi": "umb://element/933478770a4949e3b4afda45114ed09b"
      },
      {
        "contentUdi": "umb://element/880a84ae419d4fb0b3caff20f09436bc"
      },
      {
        "contentUdi": "umb://element/0822daeab6394c6ea32f2c72f8c01d76"
      },
      {
        "contentUdi": "umb://element/4c1e50c5e8524dbf8491a718e7a4897c"
      },
      {
        "contentUdi": "umb://element/c6c9c038c6484ef2b0ced6a50e05a7f6"
      },
      {
        "contentUdi": "umb://element/510fd74c350047f58c98aec44f895efa"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/0df256adc44446deaf39be4716708489"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/0df256adc44446deaf39be4716708489",
            "value": "Search"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/d5ebe071f8194beebf6e8e07b1d8bebf",
      "udi": "umb://element/79d0597d0d90494688d9b6b841f26a69"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/844ee3ae4d4c46a5a5d36a162101a395"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/844ee3ae4d4c46a5a5d36a162101a395",
            "value": {
              "markup": "<p>Enter the IRAS ID to search for all modifications received, including those submitted for notification only</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/47a4e853bf9c49e486fc219e0ba81341",
      "udi": "umb://element/d50d9707a2264925b8fd01a5142b5cef"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b2c031c9b821407e9b75df9aa5ed3810"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/b2c031c9b821407e9b75df9aa5ed3810",
            "value": "There are no matching results"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/dc79c05e131d4dcfaa8b9e62a6385e41",
      "udi": "umb://element/940ae23c391d49619ebf59473676df62"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f8122857a7324d45afc74fe0b9fb86d0"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/f8122857a7324d45afc74fe0b9fb86d0",
            "value": {
              "markup": "<p>Improve your search results by:</p>\n<ul>\n<li>removing filters</li>\n<li>double-checking your spelling</li>\n<li>using fewer keywords</li>\n<li>searching for something less specific</li>\n</ul>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/3c2df1af9dc0478bbdd82c7a30d5953f",
      "udi": "umb://element/f6a2b24a0f6f42648da6ca503cadff86"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/2a363e4d501c41ba819ef4c1da8e2616"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/2a363e4d501c41ba819ef4c1da8e2616",
            "value": "Chief Investigator name"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/2fb8963960124101b11e754d35fed434",
      "udi": "umb://element/bf8b53da225442daa4b39b2205cf5a09"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/da4f14199a59435ba5ec67f48594c231"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/da4f14199a59435ba5ec67f48594c231",
            "value": "Enter the name of the Chief Investigator"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/a5272e712076492f9b6b92ade5a47f12",
      "udi": "umb://element/7170bb35e2ce4befa04f18c7f69d7ad6"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f1cf56b2bcb641d7ace2f13b2ff26700"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/f1cf56b2bcb641d7ace2f13b2ff26700",
            "value": "Date submitted"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/7f3ae1f4ecd445029a16833a489942f0",
      "udi": "umb://element/4c4c9b70f144492dbe52e46c290c346b"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/448383718cd1462889a5632c36210d2d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/448383718cd1462889a5632c36210d2d",
            "value": "Enter the date you want to search from"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/03101ed7f418455cbc2fedbc9921e4c5",
      "udi": "umb://element/c62d824b0f154c59a04bba51e1dfcfb7"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/80756f39b84748b19a26542b91be52c5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/80756f39b84748b19a26542b91be52c5",
            "value": "For example, 28 February 2023"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/2f28627b572646c983b5defc41c07e04",
      "udi": "umb://element/de8eca7149c94893a666b06b77061a03"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/4a61191c2d574caf86e26e08573c0a4f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/4a61191c2d574caf86e26e08573c0a4f",
            "value": "Enter the date you want to search to"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/ac3bddc7278840fb9a27ef0eb09266ef",
      "udi": "umb://element/fac2e5f8a0d847838bf1c829324ec7e4"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/e0d02984e7ae4e6c928d0aa6aed307c7"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/e0d02984e7ae4e6c928d0aa6aed307c7",
            "value": "For example, 12 October 2024"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/991211d1bd604b1baef17ab728139f79",
      "udi": "umb://element/ab4a2fee00cd4d3fbe3afa29a0190630"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/55bda79b91dc49c1ad3811e07fbfff7f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/55bda79b91dc49c1ad3811e07fbfff7f",
            "value": "Lead nation"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/061c3431d1a644ce9246c4a00c2c2783",
      "udi": "umb://element/999d6cddc4844375902da11dfc3754ca"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f284771d422a4de5890f739a4a42aa19"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/f284771d422a4de5890f739a4a42aa19",
            "value": "Select all that apply"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/b440a7bbd61248e4aed3501991182c1e",
      "udi": "umb://element/851f8e2fb7ae4365938296d741b156c4"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/1b379f098c3d4cf2ab7e167d4633802c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/1b379f098c3d4cf2ab7e167d4633802c",
            "value": "Modification type"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/08cfa1f19ca34379ab38de45480f38ae",
      "udi": "umb://element/4b0017445922493a9781d13c5fe6afca"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/389a8f4ea9bb4a7581684076406aebf0"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/389a8f4ea9bb4a7581684076406aebf0",
            "value": "Select all that apply"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/3e73a052022143db8864571bda41f370",
      "udi": "umb://element/721c0a4fac934fb0ae359656d961bed1"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/665714871bcf4a568dc2ec851bc9d345"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/665714871bcf4a568dc2ec851bc9d345",
            "value": "Participating nation"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/e864af11b60e4a79aa5564ad194c96ba",
      "udi": "umb://element/933478770a4949e3b4afda45114ed09b"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f487a1444d3a4179bea7350dd57acb40"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/f487a1444d3a4179bea7350dd57acb40",
            "value": "Select all that apply"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/eaf93b246a5643738d0d21a8a47d7b20",
      "udi": "umb://element/880a84ae419d4fb0b3caff20f09436bc"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/cd772fa6efb04991a78d1991d70d7948"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/cd772fa6efb04991a78d1991d70d7948",
            "value": "Short project title"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/6fa2643045904ba2a8ffcbe3190e2844",
      "udi": "umb://element/0822daeab6394c6ea32f2c72f8c01d76"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/11dcc9071b7a49a3bd471ab3c23c6295"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/11dcc9071b7a49a3bd471ab3c23c6295",
            "value": "Enter the short project title"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/3e1ca52cd48b43f588700d9c8dfef6f7",
      "udi": "umb://element/4c1e50c5e8524dbf8491a718e7a4897c"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/c95018b063e44712bfb92fac6d64ddd2"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/c95018b063e44712bfb92fac6d64ddd2",
            "value": "Sponsor organisation"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/b691a9e69981497c8b3ea732a1e9696d",
      "udi": "umb://element/c6c9c038c6484ef2b0ced6a50e05a7f6"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f4332caa8e2c410da1d65e153992bbb6"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/f4332caa8e2c410da1d65e153992bbb6",
            "value": "Type the name of the organisation or scroll through the list"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/c07bbaefe01147dc9ffa29de1b23ead5",
      "udi": "umb://element/510fd74c350047f58c98aec44f895efa"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>