<?xml version="1.0" encoding="utf-8"?>
<Content Key="09eaa809-9f24-4665-a774-6cb591f75e98" Alias="Index" Level="4">
  <Info>
    <Parent Key="4cd634b3-ea2f-40a2-a0ca-f29e7f8e4740">Profile and Settings</Parent>
    <Path>/Home/ContentPlaceholders/ProfileAndSettings/Index</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2025-10-13T09:30:37</CreateDate>
    <NodeName Default="Index" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>