<?xml version="1.0" encoding="utf-8"?>
<Content Key="baba35f0-7eb4-4d44-a818-090200fedada" Alias="Insurance renewal - no change to the level or breadth of cover" Level="6">
  <Info>
    <Parent Key="654fa18d-2637-4e70-a3d0-8889cfe91513">Project documents</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/AreaOfChange/ProjectDocuments/InsuranceRenewalNoChangeToTheLevelOrBreadthOfCover</Path>
    <Trashed>false</Trashed>
    <ContentType>subAnswerOption</ContentType>
    <CreateDate>2025-10-08T15:40:28</CreateDate>
    <NodeName Default="Insurance renewal - no change to the level or breadth of cover" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[35]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Insurance renewal - no change to the level or breadth of cover]]></Value>
    </optionName>
    <showApplicabilityQuestions>
      <Value><![CDATA[0]]></Value>
    </showApplicabilityQuestions>
  </Properties>
</Content>