<?xml version="1.0" encoding="utf-8"?>
<Content Key="8a0cdacb-2373-46a1-bba6-19a283ff0afe" Alias="International standard randomised controlled trial number (ISRCTN)" Level="6">
  <Info>
    <Parent Key="f4807942-15b3-4ada-a755-c9100a755ef9">Which references do you need to change answers</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ProjectReferenceNumbersModification/WhichReferencesDoYouNeedToChangeAnswers/InternationalStandardRandomisedControlledTrialNumberISRCTN</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-10-14T12:04:23</CreateDate>
    <NodeName Default="International standard randomised controlled trial number (ISRCTN)" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/4dbe3d033d384e3b97107aedb238ee7e]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Conditional"
]]]></Value>
    </conformance>
    <questionContent>
      <Value><![CDATA[umb://document/24068751868348cf961a63de7f4566b0]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0832]]></Value>
    </questionId>
    <sequence>
      <Value><![CDATA[0]]></Value>
    </sequence>
    <showAnswerOn>
      <Value><![CDATA[ModificationDetails,ReviewAllChanges]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[0]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/81d61629d82e422d8e6a1b1bf4a993e5"
      },
      {
        "contentUdi": "umb://element/31faa8e40ea3472592b6aea2aed98dde"
      }
    ]
  },
  "contentData": [
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/5d594f2d88f04716af271c99bc8df5ab"
            },
            {
              "contentUdi": "umb://element/aaaed84e91ab4ddab9533570a77c6771"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "IN"
            ],
            "optionType": [
              "Multiple"
            ],
            "parentOptions": "umb://document/9019a9c15a0a4e83a5fb530e56e28fa6",
            "udi": "umb://element/5d594f2d88f04716af271c99bc8df5ab",
            "value": ""
          },
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "Enter a value with this format ISRCTNxxxxxxxx where x are digits",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "REGEX"
            ],
            "optionType": "",
            "parentOptions": "",
            "udi": "umb://element/aaaed84e91ab4ddab9533570a77c6771",
            "value": "^ISRCTN\\d{1,8}$"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "",
      "mode": [
        "AND"
      ],
      "parentQuestion": "umb://document/4b35bbb6c2ed40248e404c2de6530d02",
      "ruleName": "Mandatory",
      "udi": "umb://element/81d61629d82e422d8e6a1b1bf4a993e5"
    },
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/caacfd86eead420580a50fe002ff7916"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "IN"
            ],
            "optionType": [
              "Single"
            ],
            "parentOptions": "umb://document/3f25202b01be4b6f9afffc344470af04",
            "udi": "umb://element/caacfd86eead420580a50fe002ff7916",
            "value": ""
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "",
      "mode": [
        "AND"
      ],
      "parentQuestion": "umb://document/e488fdbdd3d14c4b812ed6844e6ed3e6",
      "ruleName": "Show if previous answer is true",
      "udi": "umb://element/31faa8e40ea3472592b6aea2aed98dde"
    }
  ],
  "settingsData": []
}]]></Value>
    </validationRules>
  </Properties>
</Content>