<?xml version="1.0" encoding="utf-8"?>
<Content Key="4991a4af-5c82-41b3-b86a-de11b4703f56" Alias="InvalidSponsorOrganisation" Level="4">
  <Info>
    <Parent Key="65e64e58-c396-4100-80e4-c7eec04ff34e">Sponsor Organisations</Parent>
    <Path>/Home/ContentPlaceholders/SponsorOrganisations/InvalidSponsorOrganisation</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2026-02-12T12:54:00</CreateDate>
    <NodeName Default="InvalidSponsorOrganisation" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>