<?xml version="1.0" encoding="utf-8"?>
<Content Key="f7935158-8ba5-4ae1-bd0c-305cc694c709" Alias="Is the project taking place at any NHS / HSC organisations?" Level="6">
  <Info>
    <Parent Key="2c6d1d79-8fe4-40d7-95e0-8c65e04e2fe5">Research locations</Parent>
    <Path>/QuestionSets/ProjectRecordRepository/ProjectRecordV2/QuestionsRepository/ResearchLocations/IsTheProjectTakingPlaceAtAnyNHSHSCOrganisations</Path>
    <Trashed>false</Trashed>
    <ContentType>question</ContentType>
    <CreateDate>2025-07-30T14:45:18</CreateDate>
    <NodeName Default="Is the project taking place at any NHS / HSC organisations?" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerDataType>
      <Value><![CDATA[[
  "Boolean"
]]]></Value>
    </answerDataType>
    <editorComment>
      <Value><![CDATA[]]></Value>
    </editorComment>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <possibleAnswers>
      <Value><![CDATA[umb://document/a1bd3b81dfbb4bb1b3aa211245db0465,umb://document/9be6603e14f548ea86cbe1e9884beaa9]]></Value>
    </possibleAnswers>
    <questionFormat>
      <Value><![CDATA[[
  "Boolean"
]]]></Value>
    </questionFormat>
    <questionName>
      <Value><![CDATA[Is this project taking place at any NHS / HSC organisation?]]></Value>
    </questionName>
    <shortQuestionName>
      <Value><![CDATA[NHS / HSC organisations]]></Value>
    </shortQuestionName>
    <supplementaryInfo>
      <Value><![CDATA[]]></Value>
    </supplementaryInfo>
  </Properties>
</Content>