<?xml version="1.0" encoding="utf-8"?>
<Content Key="149e1cbb-98df-47b6-a8f0-1767cc39ab6a" Alias="Is this project taking place at any NHS HSC organisation" Level="6">
  <Info>
    <Parent Key="9cb66927-770b-45ab-b45f-570fa605a329">Research locations</Parent>
    <Path>/QuestionSets/ProjectRecordRepository/ProjectRecordV2/Sections/ResearchLocations/IsThisProjectTakingPlaceAtAnyNHSHSCOrganisation</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-07-30T14:47:00</CreateDate>
    <NodeName Default="Is this project taking place at any NHS HSC organisation" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/d5b0e745867f4354bc072dc493d69545]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Mandatory"
]]]></Value>
    </conformance>
    <isEditable>
      <Value><![CDATA[1]]></Value>
    </isEditable>
    <questionContent>
      <Value><![CDATA[umb://document/f79351588ba54ae1bd0c305cc694c709]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0004]]></Value>
    </questionId>
    <sectionGroup>
      <Value><![CDATA[Research locations]]></Value>
    </sectionGroup>
    <sequence>
      <Value><![CDATA[2]]></Value>
    </sequence>
    <sequenceInSectionGroup>
      <Value><![CDATA[2]]></Value>
    </sequenceInSectionGroup>
    <showAnswerOn>
      <Value><![CDATA[ResearchLocations]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[1]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[]]></Value>
    </validationRules>
  </Properties>
</Content>