<?xml version="1.0" encoding="utf-8"?>
<Content Key="d102646f-f9e4-464c-bba3-bac818e0f454" Alias="Last name" Level="6">
  <Info>
    <Parent Key="2def2b39-b03b-4a1e-9f54-ebda71a45657">Temporary arrangement</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ProjectPersonnelPrincipalInvestigatorModification/TemporaryArrangement/LastName</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2026-01-16T16:59:57</CreateDate>
    <NodeName Default="Last name" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Conditional"
]]]></Value>
    </conformance>
    <isEditable>
      <Value><![CDATA[1]]></Value>
    </isEditable>
    <playbackQuestionId>
      <Value><![CDATA[]]></Value>
    </playbackQuestionId>
    <questionContent>
      <Value><![CDATA[umb://document/2c938ef519f84f1f8ccb64b8b88df2eb]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0643]]></Value>
    </questionId>
    <sectionGroup>
      <Value><![CDATA[]]></Value>
    </sectionGroup>
    <sequence>
      <Value><![CDATA[2]]></Value>
    </sequence>
    <sequenceInSectionGroup>
      <Value><![CDATA[]]></Value>
    </sequenceInSectionGroup>
    <showAnswerOn>
      <Value><![CDATA[ModificationDetails,ReviewAllChanges]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[0]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e790c7f618944380971a2fbf67be0ab4"
      }
    ]
  },
  "contentData": [
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d51265d76d4f4e2294c9eeb76fc0521e"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "IN"
            ],
            "optionType": [
              "Single"
            ],
            "parentOptions": "umb://document/7a309c4f93b1499e8c58295280eb97d2",
            "udi": "umb://element/d51265d76d4f4e2294c9eeb76fc0521e",
            "value": ""
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "",
      "mode": [
        "AND"
      ],
      "parentQuestion": "umb://document/93eae7bdfe394c6e9bcc14fa15bb7920",
      "ruleName": "Show if previous answer is true",
      "udi": "umb://element/e790c7f618944380971a2fbf67be0ab4"
    }
  ],
  "settingsData": []
}]]></Value>
    </validationRules>
  </Properties>
</Content>