<?xml version="1.0" encoding="utf-8"?>
<Content Key="fd0c5b81-a8ab-4349-80db-65c5586bc4da" Alias="Last name" Level="6">
  <Info>
    <Parent Key="642c5557-613b-4b0f-8c62-c598b4ad6a08">Chief investigator</Parent>
    <Path>/QuestionSets/ProjectRecordRepository/ProjectRecordV2/Sections/ChiefInvestigator/LastName</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-10-02T09:27:16</CreateDate>
    <NodeName Default="Last name" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/d5b0e745867f4354bc072dc493d69545]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Mandatory"
]]]></Value>
    </conformance>
    <isEditable>
      <Value><![CDATA[1]]></Value>
    </isEditable>
    <questionContent>
      <Value><![CDATA[umb://document/1e64679dd45f43ecbf53033621908950]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0310]]></Value>
    </questionId>
    <sectionGroup>
      <Value><![CDATA[Chief Investigator]]></Value>
    </sectionGroup>
    <sequence>
      <Value><![CDATA[2]]></Value>
    </sequence>
    <sequenceInSectionGroup>
      <Value><![CDATA[2]]></Value>
    </sequenceInSectionGroup>
    <showAnswerOn>
      <Value><![CDATA[ProjectTeam]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[1]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fbbd1b57353b467f8108f38263564ea8"
      }
    ]
  },
  "contentData": [
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/4691a92e9cd448a4bbfe2d7a44d32213"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "Last name must be 250 characters or less",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "LENGTH"
            ],
            "optionType": "",
            "parentOptions": "",
            "udi": "umb://element/4691a92e9cd448a4bbfe2d7a44d32213",
            "value": "1,250"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "",
      "mode": [
        "AND"
      ],
      "parentQuestion": "",
      "ruleName": "Should be less than 250 characters",
      "udi": "umb://element/fbbd1b57353b467f8108f38263564ea8"
    }
  ],
  "settingsData": []
}]]></Value>
    </validationRules>
  </Properties>
</Content>