<?xml version="1.0" encoding="utf-8"?>
<Content Key="5809592a-cfc9-4d73-bcd1-71809c2241da" Alias="ManageUsers" Level="4">
  <Info>
    <Parent Key="232252c5-8c14-4c6d-9961-01ea87a0050f">System Admin</Parent>
    <Path>/Home/ContentPlaceholders/SystemAdmin/ManageUsers</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2026-01-21T10:23:50</CreateDate>
    <NodeName Default="ManageUsers" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>