<?xml version="1.0" encoding="utf-8"?>
<Content Key="6a10340c-5e3f-499b-b553-7dd028b0c482" Alias="MemberManagement.AddMember.ConfirmMemberDetails.Body" Level="6">
  <Info>
    <Parent Key="3c3dd050-7fcc-48e6-bb17-ac40f9743af2">Confirm Member Details</Parent>
    <Path>/Home/ContentPlaceholders/MemberManagement/AddRecMember/ConfirmMemberDetails/MemberManagementAddMemberConfirmMemberDetailsBody</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-04-20T15:20:55</CreateDate>
    <NodeName Default="MemberManagement.AddMember.ConfirmMemberDetails.Body" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>