<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1d49868-42c7-4689-b6d8-a2e02953f7b5" Alias="MemberManagement.AddMember.ConfirmMemberDetails.Title" Level="6">
  <Info>
    <Parent Key="3c3dd050-7fcc-48e6-bb17-ac40f9743af2">Confirm Member Details</Parent>
    <Path>/Home/ContentPlaceholders/MemberManagement/AddRecMember/ConfirmMemberDetails/MemberManagementAddMemberConfirmMemberDetailsTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-04-20T15:20:55</CreateDate>
    <NodeName Default="MemberManagement.AddMember.ConfirmMemberDetails.Title" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>