<?xml version="1.0" encoding="utf-8"?>
<Content Key="c0f661e9-480f-4e59-9520-642896ddaf6d" Alias="MemberManagement.AddMember.MemberInRec.ButtonLabel" Level="6">
  <Info>
    <Parent Key="145b546e-1e1a-4e52-ac53-60d1c5967037">Member Already In Rec</Parent>
    <Path>/Home/ContentPlaceholders/MemberManagement/AddRecMember/MemberAlreadyInRec/MemberManagementAddMemberMemberInRecButtonLabel</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-04-20T15:14:29</CreateDate>
    <NodeName Default="MemberManagement.AddMember.MemberInRec.ButtonLabel" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>