<?xml version="1.0" encoding="utf-8"?>
<Content Key="0515eb1e-2740-4446-8f8a-afa22427a8fc" Alias="MemberManagement.AddMember.AccountDoesNotExist.ButtonLabel" Level="6">
  <Info>
    <Parent Key="33a969b9-023d-4a11-9d1f-e702e23147db">Account does not exists</Parent>
    <Path>/Home/ContentPlaceholders/MemberManagement/AddRecMember/AccountDoesNotExists/MemberManagementAddMemberAccountDoesNotExistButtonLabel</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-04-20T15:14:09</CreateDate>
    <NodeName Default="MemberManagement.AddMember.AccountDoesNotExist.ButtonLabel" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>