<?xml version="1.0" encoding="utf-8"?>
<Content Key="422bf37c-63cc-4c78-ad96-26984269bd2f" Alias="MemberManagement.ResearchEthicsCommitteesDescription" Level="4">
  <Info>
    <Parent Key="45a7a20e-cd8e-40c6-b40a-77b6f72541ce">MemberManagement</Parent>
    <Path>/Home/ContentPlaceholders/MemberManagement/MemberManagementResearchEthicsCommitteesDescription</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-04-15T14:11:03</CreateDate>
    <NodeName Default="MemberManagement.ResearchEthicsCommitteesDescription" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>