<?xml version="1.0" encoding="utf-8"?>
<Content Key="27d69402-1c35-4acd-b5b1-65a4e961c220" Alias="MemberManagement.AddMember.SearchMember.NoResultsBody" Level="6">
  <Info>
    <Parent Key="abe9359b-a1e0-40b7-9259-1560b4a53a6b">Search Member Page</Parent>
    <Path>/Home/ContentPlaceholders/MemberManagement/AddRecMember/SearchMemberPage/MemberManagementAddMemberSearchMemberNoResultsBody</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-04-20T15:22:34</CreateDate>
    <NodeName Default="MemberManagement.AddMember.SearchMember.NoResultsBody" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>