<?xml version="1.0" encoding="utf-8"?>
<Content Key="9aeef814-9286-45e6-81e9-70a59af1bec0" Alias="MemberManagement.AddMember.AccountDoesNotExist.Body" Level="6">
  <Info>
    <Parent Key="33a969b9-023d-4a11-9d1f-e702e23147db">Account does not exists</Parent>
    <Path>/Home/ContentPlaceholders/MemberManagement/AddRecMember/AccountDoesNotExists/MemberManagementAddMemberAccountDoesNotExistBody</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-04-20T15:13:59</CreateDate>
    <NodeName Default="MemberManagement.AddMember.AccountDoesNotExist.Body" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>