<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b3c592f-fd23-44b0-8602-f0e19c82685f" Alias="MemberManagement.ResearchEthicsCommittees.SearchHint" Level="5">
  <Info>
    <Parent Key="9b79ece9-04b4-4fb2-bbd9-b9c88d28cc0f">ResearchEthicsCommittees</Parent>
    <Path>/Home/ContentPlaceholders/MemberManagement/ResearchEthicsCommittees/MemberManagementResearchEthicsCommitteesSearchHint</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-04-15T14:17:36</CreateDate>
    <NodeName Default="MemberManagement.ResearchEthicsCommittees.SearchHint" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>