<?xml version="1.0" encoding="utf-8"?>
<Content Key="9e5571e8-ad83-493b-888d-6b3569e89b05" Alias="MemberManagement.AddMember.MemberInRec.Body" Level="6">
  <Info>
    <Parent Key="145b546e-1e1a-4e52-ac53-60d1c5967037">Member Already In Rec</Parent>
    <Path>/Home/ContentPlaceholders/MemberManagement/AddRecMember/MemberAlreadyInRec/MemberManagementAddMemberMemberInRecBody</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-04-20T15:14:29</CreateDate>
    <NodeName Default="MemberManagement.AddMember.MemberInRec.Body" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>