<?xml version="1.0" encoding="utf-8"?>
<Content Key="1c82a156-8580-4967-88ba-8ef9ec03646b" Alias="MemberManagement.AddMember.ProfileDisabled.Body" Level="6">
  <Info>
    <Parent Key="2310e23e-a8c3-48f6-8e2b-0f80c764579a">Profile Disabled</Parent>
    <Path>/Home/ContentPlaceholders/MemberManagement/AddRecMember/ProfileDisabled/MemberManagementAddMemberProfileDisabledBody</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-04-20T15:15:34</CreateDate>
    <NodeName Default="MemberManagement.AddMember.ProfileDisabled.Body" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>