<?xml version="1.0" encoding="utf-8"?>
<Content Key="c7c37197-0bad-4f8c-8b56-029d408180af" Alias="MemberManagement.AddMember.ProfileDisabled.Title" Level="6">
  <Info>
    <Parent Key="2310e23e-a8c3-48f6-8e2b-0f80c764579a">Profile Disabled</Parent>
    <Path>/Home/ContentPlaceholders/MemberManagement/AddRecMember/ProfileDisabled/MemberManagementAddMemberProfileDisabledTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-04-20T15:15:34</CreateDate>
    <NodeName Default="MemberManagement.AddMember.ProfileDisabled.Title" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>