<?xml version="1.0" encoding="utf-8"?>
<Content Key="ecf9f8a3-bebc-488d-92dc-a37af9b8f17e" Alias="MemberManagement.AddMember.ProfileDisabled.ButtonLabel" Level="6">
  <Info>
    <Parent Key="2310e23e-a8c3-48f6-8e2b-0f80c764579a">Profile Disabled</Parent>
    <Path>/Home/ContentPlaceholders/MemberManagement/AddRecMember/ProfileDisabled/MemberManagementAddMemberProfileDisabledButtonLabel</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-04-20T15:15:34</CreateDate>
    <NodeName Default="MemberManagement.AddMember.ProfileDisabled.ButtonLabel" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>