<?xml version="1.0" encoding="utf-8"?>
<Content Key="f28ddd8f-cfee-4def-82c3-98cf1ad5e23b" Alias="MemberManagement.AddMember.SearchMember.Body" Level="6">
  <Info>
    <Parent Key="abe9359b-a1e0-40b7-9259-1560b4a53a6b">Search Member Page</Parent>
    <Path>/Home/ContentPlaceholders/MemberManagement/AddRecMember/SearchMemberPage/MemberManagementAddMemberSearchMemberBody</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-04-20T15:17:27</CreateDate>
    <NodeName Default="MemberManagement.AddMember.SearchMember.Body" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>