<?xml version="1.0" encoding="utf-8"?>
<Content Key="d815fa61-4d54-4c2e-b587-6ad1d47664a0" Alias="MemberManagement" Level="2">
  <Info>
    <Parent Key="af480879-2295-4031-89a6-1c1f0a877b04">Home</Parent>
    <Path>/Home/MemberManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2026-04-15T14:11:21</CreateDate>
    <NodeName Default="MemberManagement" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b29404c54ed54722a638d7726062201d"
      },
      {
        "contentUdi": "umb://element/aa6414a0586b4646a4494afe4188bb81"
      },
      {
        "contentUdi": "umb://element/2974e03f46be494b9aabd93b3a275229"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/299f9b65e0f14c5b89898bf54945fb35"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/299f9b65e0f14c5b89898bf54945fb35",
            "value": "View research ethics committees and add members. You can also view, edit  or add member profiles."
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/422bf37c63cc4c78ad9626984269bd2f",
      "udi": "umb://element/b29404c54ed54722a638d7726062201d"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/bb5d9738af0a4807b71c727cdc529067"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/bb5d9738af0a4807b71c727cdc529067",
            "value": "Member management"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/7011b9107f454a86bc089a5701d6c799",
      "udi": "umb://element/aa6414a0586b4646a4494afe4188bb81"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7090b02f6d124cc084f904dc66b7e85d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/7090b02f6d124cc084f904dc66b7e85d",
            "value": "Research ethics committees"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/147e5c0a6f3f4bf99093fc9fd745b69f",
      "udi": "umb://element/2974e03f46be494b9aabd93b3a275229"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>