<?xml version="1.0" encoding="utf-8"?>
<Content Key="45a7a20e-cd8e-40c6-b40a-77b6f72541ce" Alias="MemberManagement" Level="3">
  <Info>
    <Parent Key="3e0777ee-ed72-4848-a405-0b4cc10df5c6">Content Placeholders</Parent>
    <Path>/Home/ContentPlaceholders/MemberManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2026-04-15T13:15:53</CreateDate>
    <NodeName Default="MemberManagement" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>