<?xml version="1.0" encoding="utf-8"?>
<Content Key="37c8ff8a-7c23-4fa7-af67-fe03c266e64b" Alias="MemberManagement.AddMember.AccountDoesNotExist.Title" Level="6">
  <Info>
    <Parent Key="33a969b9-023d-4a11-9d1f-e702e23147db">Account does not exists</Parent>
    <Path>/Home/ContentPlaceholders/MemberManagement/AddRecMember/AccountDoesNotExists/MemberManagementAddMemberAccountDoesNotExistTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-04-20T15:13:47</CreateDate>
    <NodeName Default="MemberManagement.AddMember.AccountDoesNotExist.Title" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>