<?xml version="1.0" encoding="utf-8"?>
<Content Key="d499b675-eed1-4c3d-b7c7-cf510925f51a" Alias="Modifications.Sendmodificationtosponsor.Warning" Level="6">
  <Info>
    <Parent Key="f579b673-f017-42d7-a1b5-4e3aa2b06ccb">Sent to sponsor successfully</Parent>
    <Path>/Home/ContentPlaceholders/Modifications/SendToSponsor/SentToSponsorSuccessfully/ModificationsSendmodificationtosponsorWarning</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-01-20T22:00:07</CreateDate>
    <NodeName Default="Modifications.Sendmodificationtosponsor.Warning" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>