<?xml version="1.0" encoding="utf-8"?>
<Content Key="078b87c4-443e-489b-a87f-eaf17f69f54a" Alias="Modifications Repository" Level="2">
  <Info>
    <Parent Key="c2b14ef6-f7e3-4343-8a2e-f982ac9604f4">Question sets</Parent>
    <Path>/QuestionSets/ModificationsRepository</Path>
    <Trashed>false</Trashed>
    <ContentType>modificationsQuestionsetRepository</ContentType>
    <CreateDate>2025-07-30T14:58:38</CreateDate>
    <NodeName Default="Modifications Repository" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <activeQuestionset>
      <Value><![CDATA[umb://document/df71c69e0cca4bcf98b9030c0c0211d7]]></Value>
    </activeQuestionset>
  </Properties>
</Content>