<?xml version="1.0" encoding="utf-8"?>
<Content Key="df71c69e-0cca-4bcf-98b9-030c0c0211d7" Alias="Modifications v1" Level="3">
  <Info>
    <Parent Key="078b87c4-443e-489b-a87f-eaf17f69f54a">Modifications Repository</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1</Path>
    <Trashed>false</Trashed>
    <ContentType>modificationsQuestionSet</ContentType>
    <CreateDate>2025-07-31T11:11:09</CreateDate>
    <NodeName Default="Modifications v1" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <activeFrom>
      <Value><![CDATA[]]></Value>
    </activeFrom>
    <activeTo>
      <Value><![CDATA[]]></Value>
    </activeTo>
    <comments>
      <Value><![CDATA[]]></Value>
    </comments>
    <status>
      <Value><![CDATA[[
  "Draft"
]]]></Value>
    </status>
    <versionNumber>
      <Value><![CDATA[1]]></Value>
    </versionNumber>
  </Properties>
</Content>