<?xml version="1.0" encoding="utf-8"?>
<Content Key="1b14ebfd-31e0-45ad-871e-6d03558815a5" Alias="Modifications.Rfi.RfiResponsesConfirmation.ResponseRequestRevisionBody" Level="6">
  <Info>
    <Parent Key="9a6706b1-06c2-446a-bad6-5f2900bc6dcb">RfiResponsesConfirmation</Parent>
    <Path>/Home/ContentPlaceholders/Modifications/RFI/RfiResponsesConfirmation/ModificationsRfiRfiResponsesConfirmationResponseRequestRevisionBody</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-04-30T10:58:21</CreateDate>
    <NodeName Default="Modifications.Rfi.RfiResponsesConfirmation.ResponseRequestRevisionBody" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>