<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ce8caeb-7a5e-4b19-a587-4f0179ee9060" Alias="ModificationDetails.SponsorRevisionDescriptionHeadline" Level="5">
  <Info>
    <Parent Key="edc3e604-b8f3-45dc-8ce4-a5e4104556ce">Modification Details</Parent>
    <Path>/Home/ContentPlaceholders/Modifications/ModificationDetails/ModificationDetailsSponsorRevisionDescriptionHeadline</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-03-03T09:44:02</CreateDate>
    <NodeName Default="ModificationDetails.SponsorRevisionDescriptionHeadline" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>