<?xml version="1.0" encoding="utf-8"?>
<Content Key="78c46b9b-2035-4701-a7b9-8ee17cd56d06" Alias="Modifications.DocumentDetailsIncomplete.Body" Level="6">
  <Info>
    <Parent Key="94f256ad-3648-4c80-a094-c5ba86331dc6">Document Details Incomplete</Parent>
    <Path>/Home/ContentPlaceholders/Modifications/SendToSponsor/DocumentDetailsIncomplete/ModificationsDocumentDetailsIncompleteBody</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-01-20T16:11:03</CreateDate>
    <NodeName Default="Modifications.DocumentDetailsIncomplete.Body" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>