<?xml version="1.0" encoding="utf-8"?>
<Content Key="edc3e604-b8f3-45dc-8ce4-a5e4104556ce" Alias="Modification Details" Level="4">
  <Info>
    <Parent Key="4b97321e-3f44-47cb-9bc4-4f5971a8abee">Modifications</Parent>
    <Path>/Home/ContentPlaceholders/Modifications/ModificationDetails</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2025-10-28T10:55:23</CreateDate>
    <NodeName Default="Modification Details" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>