<?xml version="1.0" encoding="utf-8"?>
<Content Key="7f8c9a8d-252c-48ef-a2cb-b8374d7f12ad" Alias="Modifications.Sendmodificationtosponsor.BodyContent" Level="6">
  <Info>
    <Parent Key="f579b673-f017-42d7-a1b5-4e3aa2b06ccb">Sent to sponsor successfully</Parent>
    <Path>/Home/ContentPlaceholders/Modifications/SendToSponsor/SentToSponsorSuccessfully/ModificationsSendmodificationtosponsorBodyContent</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-01-20T15:55:50</CreateDate>
    <NodeName Default="Modifications.Sendmodificationtosponsor.BodyContent" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>