<?xml version="1.0" encoding="utf-8"?>
<Content Key="e70c5e3c-5f53-457b-9b87-3f375a55d442" Alias="Modificationstasklist" Level="2">
  <Info>
    <Parent Key="af480879-2295-4031-89a6-1c1f0a877b04">Home</Parent>
    <Path>/Home/Modificationstasklist</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2025-09-10T10:59:01</CreateDate>
    <NodeName Default="Modificationstasklist" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[]]></Value>
    </contentItems>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>