<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ae4b2f1-7e15-4e98-bb97-0a2792f4dff4" Alias="Modifications.Rfi.RfiCheckAndSubmitResponses.ReviseAndAuthoriseHeader" Level="6">
  <Info>
    <Parent Key="6339f3f8-140f-4ccb-8594-9881584c24ef">RfiCheckAndSubmitResponses</Parent>
    <Path>/Home/ContentPlaceholders/Modifications/RFI/RfiCheckAndSubmitResponses/ModificationsRfiRfiCheckAndSubmitResponsesReviseAndAuthoriseHeader</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-04-24T13:19:03</CreateDate>
    <NodeName Default="Modifications.Rfi.RfiCheckAndSubmitResponses.ReviseAndAuthoriseHeader" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>