<?xml version="1.0" encoding="utf-8"?>
<Content Key="7ebfad11-ef7d-42d2-88f4-f9a867e77524" Alias="Modifications" Level="4">
  <Info>
    <Parent Key="bbd3101e-5d60-4aef-a409-e53c7aef0697">SponsorWorkspace</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/Modifications</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2026-01-15T12:50:35</CreateDate>
    <NodeName Default="Modifications" />
    <SortOrder>23</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>