<?xml version="1.0" encoding="utf-8"?>
<Content Key="006aa2f1-14a7-4049-906f-613e22328347" Alias="Modification of an Important Detail" Level="5">
  <Info>
    <Parent Key="07e3c8f7-8427-4522-972d-91aafb2c117e">Ranking: Modification Type</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/RankingModificationType/ModificationOfAnImportantDetail</Path>
    <Trashed>false</Trashed>
    <ContentType>modificationType</ContentType>
    <CreateDate>2025-10-02T23:42:52</CreateDate>
    <NodeName Default="Modification of an Important Detail" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <criteria>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9f9dcebebaa241cd9a502c79052058c0"
      }
    ]
  },
  "contentData": [
    {
      "applicability": "Yes",
      "contentTypeKey": "a4d8004d-10fe-4642-bd35-fef2cd244cc1",
      "projectType": "non-REC",
      "specificAreaOfChange": "umb://document/cbf6fd02ea014948b9215f4b13ccb34d",
      "udi": "umb://element/9f9dcebebaa241cd9a502c79052058c0"
    }
  ],
  "settingsData": []
}]]></Value>
    </criteria>
    <order>
      <Value><![CDATA[2]]></Value>
    </order>
    <substantiality>
      <Value><![CDATA[Modification of an Important Detail]]></Value>
    </substantiality>
  </Properties>
</Content>