<?xml version="1.0" encoding="utf-8"?>
<Content Key="4b97321e-3f44-47cb-9bc4-4f5971a8abee" Alias="Modifications" Level="3">
  <Info>
    <Parent Key="3e0777ee-ed72-4848-a405-0b4cc10df5c6">Content Placeholders</Parent>
    <Path>/Home/ContentPlaceholders/Modifications</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2025-10-14T13:37:02</CreateDate>
    <NodeName Default="Modifications" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>