<?xml version="1.0" encoding="utf-8"?>
<Content Key="95214128-eff8-427b-9ee1-905b0bcaa48e" Alias="Modifications" Level="3">
  <Info>
    <Parent Key="425e6fe6-f2a1-4af7-b7d8-158fe1d3f8b6">SponsorWorkspace</Parent>
    <Path>/Home/SponsorWorkspace/Modifications</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2025-12-17T14:44:56</CreateDate>
    <NodeName Default="Modifications" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/35604a467cb84d548e42732ccac35c6a"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/487b52c5e30b4623afbb935ce44e2816"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/487b52c5e30b4623afbb935ce44e2816",
            "value": "Authorisations"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/d2f3159fd8314063941bdb58ba5b706b",
      "udi": "umb://element/35604a467cb84d548e42732ccac35c6a"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
  </Properties>
</Content>