<?xml version="1.0" encoding="utf-8"?>
<Content Key="97105dbe-5779-47c1-83c7-36ad4386024a" Alias="Modifications.Rfi.RfiCheckAndSubmitResponses.ReviseAndAuthoriseBody" Level="6">
  <Info>
    <Parent Key="6339f3f8-140f-4ccb-8594-9881584c24ef">RfiCheckAndSubmitResponses</Parent>
    <Path>/Home/ContentPlaceholders/Modifications/RFI/RfiCheckAndSubmitResponses/ModificationsRfiRfiCheckAndSubmitResponsesReviseAndAuthoriseBody</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-04-24T13:19:16</CreateDate>
    <NodeName Default="Modifications.Rfi.RfiCheckAndSubmitResponses.ReviseAndAuthoriseBody" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>