<?xml version="1.0" encoding="utf-8"?>
<Content Key="fafee108-56b5-45bc-992b-ab7bbbf00733" Alias="Modifications.Documentsscaninprogress.Body" Level="6">
  <Info>
    <Parent Key="2c1f7459-7cf7-4f25-bdde-3f40780b55f9">Documents scan in progress</Parent>
    <Path>/Home/ContentPlaceholders/Modifications/SendToSponsor/DocumentsScanInProgress/ModificationsDocumentsscaninprogressBody</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-01-20T16:04:37</CreateDate>
    <NodeName Default="Modifications.Documentsscaninprogress.Body" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>