<?xml version="1.0" encoding="utf-8"?>
<Content Key="08288975-4921-4b33-b5ee-357fcf12eb7f" Alias="ModificationDetails.RevisionDescriptionBody" Level="5">
  <Info>
    <Parent Key="edc3e604-b8f3-45dc-8ce4-a5e4104556ce">Modification Details</Parent>
    <Path>/Home/ContentPlaceholders/Modifications/ModificationDetails/ModificationDetailsRevisionDescriptionBody</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-02-17T17:15:00</CreateDate>
    <NodeName Default="ModificationDetails.RevisionDescriptionBody" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>