<?xml version="1.0" encoding="utf-8"?>
<Content Key="ed365f95-17d8-42c7-b86d-dbe4ef233ba7" Alias="My Taslkilst" Level="4">
  <Info>
    <Parent Key="b3251839-9f9d-451f-b8e0-0ab913736287">Approvals</Parent>
    <Path>/Home/ContentPlaceholders/Approvals/MyTaslkilst</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2025-09-10T09:40:42</CreateDate>
    <NodeName Default="My Taslkilst" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>