<?xml version="1.0" encoding="utf-8"?>
<Content Key="b239b0f1-914e-4d8f-9aae-a1b87b13101a" Alias="MyOrganisationUsersAddUserRole" Level="4">
  <Info>
    <Parent Key="bbd3101e-5d60-4aef-a409-e53c7aef0697">SponsorWorkspace</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/MyOrganisationUsersAddUserRole</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2026-01-07T11:48:05</CreateDate>
    <NodeName Default="MyOrganisationUsersAddUserRole" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>