<?xml version="1.0" encoding="utf-8"?>
<Content Key="19113e94-adb0-4b3a-a6fe-14a089bad474" Alias="MyOrganisationProjects" Level="4">
  <Info>
    <Parent Key="bbd3101e-5d60-4aef-a409-e53c7aef0697">SponsorWorkspace</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/MyOrganisationProjects</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2025-12-22T17:01:13</CreateDate>
    <NodeName Default="MyOrganisationProjects" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>