<?xml version="1.0" encoding="utf-8"?>
<Content Key="37aeff7b-76b2-4cd7-a902-2d1eeece5d54" Alias="MyOrganisationUsersAddUserPermission" Level="3">
  <Info>
    <Parent Key="425e6fe6-f2a1-4af7-b7d8-158fe1d3f8b6">SponsorWorkspace</Parent>
    <Path>/Home/SponsorWorkspace/MyOrganisationUsersAddUserPermission</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2026-01-07T11:05:32</CreateDate>
    <NodeName Default="MyOrganisationUsersAddUserPermission" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/eb65c47a68344e8f90ae1fc56d138363"
      },
      {
        "contentUdi": "umb://element/50514a1255694263a0da17850056db57"
      },
      {
        "contentUdi": "umb://element/d4a5782748234db494f384077c199cc1"
      },
      {
        "contentUdi": "umb://element/398dc0e9c9a8406584c31ed42ec3ff61"
      },
      {
        "contentUdi": "umb://element/c08a494fe0c143949bc6125a0c1601ed"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f04f55efd91b4118accae1a4beec581f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/f04f55efd91b4118accae1a4beec581f",
            "value": "Add user permission"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/a74ffd53bcc947a4808316b455a20a52",
      "udi": "umb://element/eb65c47a68344e8f90ae1fc56d138363"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f5a44fdc856d461bb48ff7df46727dd3"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/f5a44fdc856d461bb48ff7df46727dd3",
            "value": "Permissions"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/525ba663b6574fc38e1320d083ceddaa",
      "udi": "umb://element/50514a1255694263a0da17850056db57"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/0d3b5b4f836e424d92eaf6b2e34cab8e"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/0d3b5b4f836e424d92eaf6b2e34cab8e",
            "value": "This user has permission to authorise all modification submissions on behalf of the sponsor organisation."
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/3b163e811ec0491db16492fa775f7cdc",
      "udi": "umb://element/d4a5782748234db494f384077c199cc1"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/01e583d8090b4a208486f6178cadcf83"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/01e583d8090b4a208486f6178cadcf83",
            "value": "Sponsor organisation profile"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/0da5850555d240bea29fd5ac4fb02503",
      "udi": "umb://element/398dc0e9c9a8406584c31ed42ec3ff61"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3360cf22917e42de8c84911655d7e0cd"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/3360cf22917e42de8c84911655d7e0cd",
            "value": "Select the permissions for this user."
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/8ecef741cfcd43839424933c38d4762c",
      "udi": "umb://element/c08a494fe0c143949bc6125a0c1601ed"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
  </Properties>
</Content>