<?xml version="1.0" encoding="utf-8"?>
<Content Key="92e55c35-a011-4dbf-ac50-b2f2606bc2df" Alias="MyOrganisationUsersAddUserRole" Level="3">
  <Info>
    <Parent Key="425e6fe6-f2a1-4af7-b7d8-158fe1d3f8b6">SponsorWorkspace</Parent>
    <Path>/Home/SponsorWorkspace/MyOrganisationUsersAddUserRole</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2026-01-07T11:52:15</CreateDate>
    <NodeName Default="MyOrganisationUsersAddUserRole" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a183132392944bbbacd1cacbb48ba170"
      },
      {
        "contentUdi": "umb://element/ee8f550f4f4d4585b0dce68806df3a8f"
      },
      {
        "contentUdi": "umb://element/9d595ed2a043449fbe4acae3a5248ef6"
      },
      {
        "contentUdi": "umb://element/875f0b062bb149e49675fb63ce3b3925"
      },
      {
        "contentUdi": "umb://element/5a225d13befd4281bb78ee4861783eee"
      },
      {
        "contentUdi": "umb://element/f49e7b0c1ae64c22be2095ce32653409"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/57f9ea396b7643448cdf9bdbc89683dc"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/57f9ea396b7643448cdf9bdbc89683dc",
            "value": "A sponsor can view this organisation's profile, projects and users."
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/cebc67f8f82449d28c2df8af489571fb",
      "udi": "umb://element/a183132392944bbbacd1cacbb48ba170"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f7b99c3c0bc74b99b2caf020c19a78b5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/f7b99c3c0bc74b99b2caf020c19a78b5",
            "value": "Sponsor organisation profile"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/186fc82b3fb54530a8332f3b4885c721",
      "udi": "umb://element/ee8f550f4f4d4585b0dce68806df3a8f"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b8b0bc8bd11142d5a0aaefed5a5cf30f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/b8b0bc8bd11142d5a0aaefed5a5cf30f",
            "value": "Add user role"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/22c43a39a5884109a7f94e2f70298383",
      "udi": "umb://element/9d595ed2a043449fbe4acae3a5248ef6"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/34ef042ae88c43be9ffdcea5a93a5966"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/34ef042ae88c43be9ffdcea5a93a5966",
            "value": "Select the roles for this user."
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/a39d7488189a4b02b6b4d75c1b74db0c",
      "udi": "umb://element/875f0b062bb149e49675fb63ce3b3925"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/6a2730c05ade498d8d9d8c39f759aff2"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/6a2730c05ade498d8d9d8c39f759aff2",
            "value": "Role"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/b22414d94b7a49c8a62b00303071fe07",
      "udi": "umb://element/5a225d13befd4281bb78ee4861783eee"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ecb0ad3511574748a2475aca1bccc16c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/ecb0ad3511574748a2475aca1bccc16c",
            "value": "An organisation administrator can view this organisation's projects, manage its profile and users. This includes adding and managing other organisation administrators. This user has permission to authorise all modification submissions on behalf of the sponsor organisation."
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/d1481ae02fe44e15b106e5dc3fe743d2",
      "udi": "umb://element/f49e7b0c1ae64c22be2095ce32653409"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
  </Properties>
</Content>