<?xml version="1.0" encoding="utf-8"?>
<Content Key="8992bf59-d3ac-487a-beca-8b451043a796" Alias="MyOrganisationUsersCheckAndConfirm" Level="3">
  <Info>
    <Parent Key="425e6fe6-f2a1-4af7-b7d8-158fe1d3f8b6">SponsorWorkspace</Parent>
    <Path>/Home/SponsorWorkspace/MyOrganisationUsersCheckAndConfirm</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2026-01-07T12:11:34</CreateDate>
    <NodeName Default="MyOrganisationUsersCheckAndConfirm" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/56209a02e23e4df099d375a1c263e356"
      },
      {
        "contentUdi": "umb://element/c7a58fd6ae1b435a8710949192faa5ae"
      },
      {
        "contentUdi": "umb://element/f0908522fab84571b0ca0e82790f9653"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/0b53d6415b064b3b89d71caf457ecef7"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/0b53d6415b064b3b89d71caf457ecef7",
            "value": "Sponsor organisation profile"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/278eeb9ff4f3495b87e326bcba1f51f3",
      "udi": "umb://element/56209a02e23e4df099d375a1c263e356"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7ebac9765fe7409e84c2b6794da0981d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/7ebac9765fe7409e84c2b6794da0981d",
            "value": "Check and confirm user"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/fd4fb99ea4c047fc971665884656db7c",
      "udi": "umb://element/c7a58fd6ae1b435a8710949192faa5ae"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/0fcc6974a8fc4dd4b75ec04343b24eec"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/0fcc6974a8fc4dd4b75ec04343b24eec",
            "value": "Check the information here is correct before adding the user to "
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/18fe120a5c5f46c28ca47c558ab85de5",
      "udi": "umb://element/f0908522fab84571b0ca0e82790f9653"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>