<?xml version="1.0" encoding="utf-8"?>
<Content Key="be985bb6-33e5-4ede-a423-ecb3f3f0ce01" Alias="MyOrganisationInvalidSponsorOrganisation" Level="3">
  <Info>
    <Parent Key="425e6fe6-f2a1-4af7-b7d8-158fe1d3f8b6">SponsorWorkspace</Parent>
    <Path>/Home/SponsorWorkspace/MyOrganisationInvalidSponsorOrganisation</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2026-02-12T13:12:07</CreateDate>
    <NodeName Default="MyOrganisationInvalidSponsorOrganisation" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8bd6e9b9826c43ce833b2ae8aff09784"
      },
      {
        "contentUdi": "umb://element/540c94d3cf2d48e88b8c89c1ed6fabf5"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a8efe22d3b77418d8303955dc4f72c7b"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/a8efe22d3b77418d8303955dc4f72c7b",
            "value": "Sponsor organisation is disabled"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/047b546769c043fc9ca6fcfd739e7cb2",
      "udi": "umb://element/8bd6e9b9826c43ce833b2ae8aff09784"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/314fc14733cd4bf5ad306d2092bd7368"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/314fc14733cd4bf5ad306d2092bd7368",
            "value": {
              "markup": "<p>You cannot add a user because this sponsor organisation has been disabled.</p>\n<p>You will not be able to make changes to this sponsor organisation until it is re-enabled.</p>\n<p>If you think this is a mistake, contact the support team.&nbsp;</p>\n<p><strong>Online\u2028</strong><br>Visit the <a href=\"https://healthresearchauthority.haloitsm.com/portal\">HRA support site</a>\u2028\u2028<br><br><strong>Email\u2028</strong><br><a href=\"mailto:service.desk@hra.nhs.uk\">service.desk@hra.nhs.uk</a></p>\n<p><strong>Phone\u2028</strong><br>020 7104 8260\u2028<br>Monday to Friday, 9am to 5pm</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/f81fb41454dc4786ba96445e7fe6c09c",
      "udi": "umb://element/540c94d3cf2d48e88b8c89c1ed6fabf5"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>