<?xml version="1.0" encoding="utf-8"?>
<Content Key="b727b991-aa2d-4c65-9637-3f3736b372a6" Alias="MyOrganisationAuditTrail" Level="4">
  <Info>
    <Parent Key="bbd3101e-5d60-4aef-a409-e53c7aef0697">SponsorWorkspace</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/MyOrganisationAuditTrail</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2025-12-22T17:02:11</CreateDate>
    <NodeName Default="MyOrganisationAuditTrail" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>