<?xml version="1.0" encoding="utf-8"?>
<Content Key="e4b4146a-c954-4b95-8ed2-f9a84a912b85" Alias="MyOrganisationUsersInvalidUser" Level="3">
  <Info>
    <Parent Key="425e6fe6-f2a1-4af7-b7d8-158fe1d3f8b6">SponsorWorkspace</Parent>
    <Path>/Home/SponsorWorkspace/MyOrganisationUsersInvalidUser</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2025-12-30T14:43:01</CreateDate>
    <NodeName Default="MyOrganisationUsersInvalidUser" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8f76abfa7cb54c13b96347b303ccdaf1"
      },
      {
        "contentUdi": "umb://element/8bf9d5546c024cfab2416dd693444fae"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/2b9180d6959b4110bb7dc3cbb5a5297e"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/2b9180d6959b4110bb7dc3cbb5a5297e",
            "value": "User account doesn't exist"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/f1e7dff3963348cda7000bdf0f5ed205",
      "udi": "umb://element/8f76abfa7cb54c13b96347b303ccdaf1"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3d6e03676d04449ea39e27ae65e1ac9f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/3d6e03676d04449ea39e27ae65e1ac9f",
            "value": {
              "markup": "<p>There isn't a user account registered to the email address you entered, so you can't add it to this organisation.\u2028\u2028</p>\n<p>You can try again. Make sure you double-check the spelling when entering the email address.\u2028\u2028</p>\n<p>You should also check with the user to confirm you are using the correct email address. You need to add them using the same email address they use to log into the system.</p>\n<p>To get help, contact the support team. </p>\n<p><strong>Online\u2028</strong><br>Visit the <a href=\"https://healthresearchauthority.haloitsm.com/portal\">HRA support site</a>\u2028\u2028<br><br><strong>Email\u2028</strong><br><a href=\"mailto:service.desk@hra.nhs.uk\">service.desk@hra.nhs.uk</a></p>\n<p><strong>Phone\u2028</strong><br>020 7104 8260\u2028<br>Monday to Friday, 9am to 5pm</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/54842b97d98545fe96435d2f030fdb51",
      "udi": "umb://element/8bf9d5546c024cfab2416dd693444fae"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
  </Properties>
</Content>