<?xml version="1.0" encoding="utf-8"?>
<Content Key="382ab42c-cd11-454f-ba79-6da52a15add0" Alias="Name" Level="6">
  <Info>
    <Parent Key="061455aa-80c4-4e7d-a961-29810728f3ed">Temporary arrangement</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ProjectPersonnelChiefInvestigatorModification/TemporaryArrangement/Name</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-10-22T15:35:20</CreateDate>
    <NodeName Default="Name" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Conditional"
]]]></Value>
    </conformance>
    <questionContent>
      <Value><![CDATA[umb://document/fb1a126eafa64ba8a3177fb413a05c64]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0362]]></Value>
    </questionId>
    <sectionGroup>
      <Value><![CDATA[]]></Value>
    </sectionGroup>
    <sequence>
      <Value><![CDATA[1]]></Value>
    </sequence>
    <sequenceInSectionGroup>
      <Value><![CDATA[]]></Value>
    </sequenceInSectionGroup>
    <showAnswerOn>
      <Value><![CDATA[ModificationDetails,ReviewAllChanges]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[0]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f5fa360336fa44d0a7801ae0461f75ff"
      }
    ]
  },
  "contentData": [
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/690a22d533c246eda6e22e4d6ad971fd"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "IN"
            ],
            "optionType": [
              "Single"
            ],
            "parentOptions": "umb://document/9769884e64c047348217b0b7529da27a",
            "udi": "umb://element/690a22d533c246eda6e22e4d6ad971fd",
            "value": ""
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "",
      "mode": [
        "AND"
      ],
      "parentQuestion": "umb://document/0cf06df406284f65b5b45b9807122c45",
      "ruleName": "Show if previous answer is true",
      "udi": "umb://element/f5fa360336fa44d0a7801ae0461f75ff"
    }
  ],
  "settingsData": []
}]]></Value>
    </validationRules>
  </Properties>
</Content>