<?xml version="1.0" encoding="utf-8"?>
<Content Key="50f0d8d6-2b29-49f4-87e7-f45801cc99f3" Alias="New sponsor contact/organisation" Level="6">
  <Info>
    <Parent Key="8473be11-76b4-448d-9734-8c1a29302b91">Project identification</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Questions/ProjectIdentification/NewSponsorContactorganisation</Path>
    <Trashed>false</Trashed>
    <ContentType>question</ContentType>
    <CreateDate>2026-03-09T10:42:02</CreateDate>
    <NodeName Default="New sponsor contact/organisation" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerDataType>
      <Value><![CDATA[[
  "Text"
]]]></Value>
    </answerDataType>
    <editorComment>
      <Value><![CDATA[]]></Value>
    </editorComment>
    <evaluateOrganisationsAffected>
      <Value><![CDATA[1]]></Value>
    </evaluateOrganisationsAffected>
    <evaluateResourceImplications>
      <Value><![CDATA[1]]></Value>
    </evaluateResourceImplications>
    <guidanceContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2d51c98294c941a5814b12ce3904a336"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d10f8af2-acdd-440c-b05d-24314c8558e0",
      "title": "Can't find your organisation?",
      "udi": "umb://element/2d51c98294c941a5814b12ce3904a336",
      "value": {
        "markup": "<p>You can improve your search results by:</p>\n<ul>\n<li>double checking your spelling</li>\n<li>using fewer keywords</li>\n<li>searching for something less specific</li>\n</ul>\n<p>If you still can't find the organisation you're looking for, contact the service desk with the IRAS ID and name and address of the organisation you want to add.</p>\n<p>Service desk email: <a href=\"mailto:service.desk@hra.nhs.uk\">service.desk@hra.nhs.uk</a></p>\n<p>Visit the <a href=\"https://healthresearchauthority.haloitsm.com/portal\">Plan and manage health and care research support site</a></p>\n<p>Phone:<br>020 7104 8260<br>Monday to Friday, 9am to 5pm</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </guidanceContent>
    <nhsInvolvement>
      <Value><![CDATA[]]></Value>
    </nhsInvolvement>
    <nonNHSInvolvement>
      <Value><![CDATA[]]></Value>
    </nonNHSInvolvement>
    <possibleAnswers>
      <Value><![CDATA[]]></Value>
    </possibleAnswers>
    <questionFormat>
      <Value><![CDATA[[
  "rts:org_lookup"
]]]></Value>
    </questionFormat>
    <questionName>
      <Value><![CDATA[New sponsor contact/organisation]]></Value>
    </questionName>
    <shortQuestionName>
      <Value><![CDATA[]]></Value>
    </shortQuestionName>
    <supplementaryInfo>
      <Value><![CDATA[]]></Value>
    </supplementaryInfo>
    <useAnswerForNextSection>
      <Value><![CDATA[1]]></Value>
    </useAnswerForNextSection>
  </Properties>
</Content>