<?xml version="1.0" encoding="utf-8"?>
<Content Key="9f0b4b65-6da3-49ec-ba49-f46960d07c82" Alias="New principal investigator" Level="6">
  <Info>
    <Parent Key="d40f633b-0f03-46dc-8c96-2712fdb8168b">Change of principal investigator</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Answers/ChangeOfPrincipalInvestigator/NewPrincipalInvestigator</Path>
    <Trashed>false</Trashed>
    <ContentType>answerOption</ContentType>
    <CreateDate>2025-10-22T15:03:36</CreateDate>
    <NodeName Default="New principal investigator" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[OPT0740]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[New principal investigator]]></Value>
    </optionName>
  </Properties>
</Content>