<?xml version="1.0" encoding="utf-8"?>
<Content Key="042491ca-0e34-4b10-8268-ce506ae9bed1" Alias="New planned project end date" Level="6">
  <Info>
    <Parent Key="119583c4-51b9-4151-8af1-03164341b777">Planned end date 1</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/PlannedEndDate/PlannedEndDate1/NewPlannedProjectEndDate</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-07-31T11:22:52</CreateDate>
    <NodeName Default="New planned project end date" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[]]></Value>
    </conformance>
    <questionContent>
      <Value><![CDATA[umb://document/26daf52278324cec9b650ae55ffe828a]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0032]]></Value>
    </questionId>
    <validationRules>
      <Value><![CDATA[]]></Value>
    </validationRules>
  </Properties>
</Content>