<?xml version="1.0" encoding="utf-8"?>
<Content Key="119583c4-51b9-4151-8af1-03164341b777" Alias="New planned end date" Level="5">
  <Info>
    <Parent Key="edad373a-186a-4411-99e4-0f67ae5b8ee4">Planned end date modification</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/PlannedEndDateModification/NewPlannedEndDate</Path>
    <Trashed>false</Trashed>
    <ContentType>section</ContentType>
    <CreateDate>2025-07-31T11:18:10</CreateDate>
    <NodeName Default="New planned end date" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/1cf4122519c248b385637d42dfec7e11]]></Value>
    </category>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <isLastSectionBeforeReview>
      <Value><![CDATA[0]]></Value>
    </isLastSectionBeforeReview>
    <mandatory>
      <Value><![CDATA[0]]></Value>
    </mandatory>
    <parentAnswerOption>
      <Value><![CDATA[]]></Value>
    </parentAnswerOption>
    <parentQuestion>
      <Value><![CDATA[]]></Value>
    </parentQuestion>
    <sectionId>
      <Value><![CDATA[pem-new-planned-end-date]]></Value>
    </sectionId>
    <sectionName>
      <Value><![CDATA[New planned end date]]></Value>
    </sectionName>
    <sequence>
      <Value><![CDATA[1]]></Value>
    </sequence>
    <staticViewName>
      <Value><![CDATA[DisplayQuestionnaire]]></Value>
    </staticViewName>
  </Properties>
</Content>