<?xml version="1.0" encoding="utf-8"?>
<Content Key="042491ca-0e34-4b10-8268-ce506ae9bed1" Alias="New planned project end date" Level="6">
  <Info>
    <Parent Key="119583c4-51b9-4151-8af1-03164341b777">New planned end date</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/PlannedEndDateModification/NewPlannedEndDate/NewPlannedProjectEndDate</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-07-31T11:22:52</CreateDate>
    <NodeName Default="New planned project end date" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Mandatory"
]]]></Value>
    </conformance>
    <questionContent>
      <Value><![CDATA[umb://document/26daf52278324cec9b650ae55ffe828a]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0003]]></Value>
    </questionId>
    <sequence>
      <Value><![CDATA[1]]></Value>
    </sequence>
    <showAnswerOn>
      <Value><![CDATA[ModificationDetails,ReviewAllChanges]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[1]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/cf5a5865aa6b4e6c9d789ce754e2d74a"
      }
    ]
  },
  "contentData": [
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/acafc6063bd44bc0854a1fd8c22d28a3"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "The date should be a valid date and in future",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "DATE"
            ],
            "optionType": "",
            "parentOptions": "",
            "udi": "umb://element/acafc6063bd44bc0854a1fd8c22d28a3",
            "value": "FORMAT:yyyy-MM-dd,FUTUREDATE"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "For example, 19 June 2030",
      "mode": [
        "AND"
      ],
      "parentQuestion": "",
      "ruleName": "Date Validation Rule",
      "udi": "umb://element/cf5a5865aa6b4e6c9d789ce754e2d74a"
    }
  ],
  "settingsData": []
}]]></Value>
    </validationRules>
  </Properties>
</Content>