<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe7fed62-4064-473a-9be2-337113687ec7" Alias="New chief investigator email" Level="6">
  <Info>
    <Parent Key="c9b114a7-6c9a-4835-a03d-9f46b9618c42">New chief investigator email</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ContactDetailsModification/NewChiefInvestigatorEmail/NewChiefInvestigatorEmail</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-10-20T10:02:17</CreateDate>
    <NodeName Default="New chief investigator email" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Conditional"
]]]></Value>
    </conformance>
    <questionContent>
      <Value><![CDATA[umb://document/6985e7a3092d43209a002854c253ed89]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0311]]></Value>
    </questionId>
    <sectionGroup>
      <Value><![CDATA[]]></Value>
    </sectionGroup>
    <sequence>
      <Value><![CDATA[1]]></Value>
    </sequence>
    <sequenceInSectionGroup>
      <Value><![CDATA[]]></Value>
    </sequenceInSectionGroup>
    <showAnswerOn>
      <Value><![CDATA[ModificationDetails,ReviewAllChanges]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[1]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/00ec9dbf73914fb98e5ad972cbc4a85c"
      },
      {
        "contentUdi": "umb://element/29b9af3cd68744ed94e6ac1a68a94e4e"
      }
    ]
  },
  "contentData": [
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/4c8c97f2546048d3bef77e4e0832ca32"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "IN"
            ],
            "optionType": [
              "Single"
            ],
            "parentOptions": "umb://document/776d2072333a42fbb2efd9f73046bf6b",
            "udi": "umb://element/4c8c97f2546048d3bef77e4e0832ca32",
            "value": ""
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "",
      "mode": [
        "AND"
      ],
      "parentQuestion": "umb://document/28b38f4d42024950abf37106d8613112",
      "ruleName": "Show if previous answer is true",
      "udi": "umb://element/00ec9dbf73914fb98e5ad972cbc4a85c"
    },
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/57526bcb0139419081c8320dbe78e810"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "Enter an email address in the correct format",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "REGEX"
            ],
            "optionType": "",
            "parentOptions": "",
            "udi": "umb://element/57526bcb0139419081c8320dbe78e810",
            "value": "^(?!\\.)(?!(?:(?:.*\\.\\.)|(?:.*\\.\\@)))(?!.*\\.\\.$)(?!.*\\.\\@)[\\p{L}\\p{N}!#$%&'*+\\/=?^_`{|}~.-]{1,64}@(?:[\\p{L}\\p{N}](?:[\\p{L}\\p{N}-]{0,61}[\\p{L}\\p{N}])?\\.)+[\\p{L}]{2,}$"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "",
      "mode": [
        "AND"
      ],
      "parentQuestion": "",
      "ruleName": "Email format",
      "udi": "umb://element/29b9af3cd68744ed94e6ac1a68a94e4e"
    }
  ],
  "settingsData": []
}]]></Value>
    </validationRules>
  </Properties>
</Content>