<?xml version="1.0" encoding="utf-8"?>
<Content Key="7a195204-3b7c-45dc-9f30-a0b30fb81101" Alias="New principal investigator email" Level="6">
  <Info>
    <Parent Key="f16d54a6-8115-42db-a9b2-994309d07cf8">Project personnel</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Questions/ProjectPersonnel/NewPrincipalInvestigatorEmail</Path>
    <Trashed>false</Trashed>
    <ContentType>question</ContentType>
    <CreateDate>2025-10-22T15:09:28</CreateDate>
    <NodeName Default="New principal investigator email" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerDataType>
      <Value><![CDATA[[
  "Email"
]]]></Value>
    </answerDataType>
    <editorComment>
      <Value><![CDATA[]]></Value>
    </editorComment>
    <evaluateOrganisationsAffected>
      <Value><![CDATA[0]]></Value>
    </evaluateOrganisationsAffected>
    <evaluateResourceImplications>
      <Value><![CDATA[0]]></Value>
    </evaluateResourceImplications>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <nhsInvolvement>
      <Value><![CDATA[]]></Value>
    </nhsInvolvement>
    <nonNHSInvolvement>
      <Value><![CDATA[]]></Value>
    </nonNHSInvolvement>
    <possibleAnswers>
      <Value><![CDATA[]]></Value>
    </possibleAnswers>
    <questionFormat>
      <Value><![CDATA[[
  "Text"
]]]></Value>
    </questionFormat>
    <questionName>
      <Value><![CDATA[New Principal Investigator email]]></Value>
    </questionName>
    <shortQuestionName>
      <Value><![CDATA[New Principal Investigator email]]></Value>
    </shortQuestionName>
    <supplementaryInfo>
      <Value><![CDATA[]]></Value>
    </supplementaryInfo>
    <useAnswerForNextSection>
      <Value><![CDATA[0]]></Value>
    </useAnswerForNextSection>
  </Properties>
</Content>