<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f84c0c6-6052-4666-b2c9-6fad2adaf02e" Alias="New Site" Level="5">
  <Info>
    <Parent Key="f2ec6a56-5bc7-4df3-bf0a-6a6ff05f930f">Ranking: Categorisation</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/RankingCategorisation/NewSite</Path>
    <Trashed>false</Trashed>
    <ContentType>categorisation</ContentType>
    <CreateDate>2025-11-10T14:50:40</CreateDate>
    <NodeName Default="New Site" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[New Site]]></Value>
    </category>
    <criteria>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2ffdf3b7445643ffb9a659a4bf4c7ca4"
      },
      {
        "contentUdi": "umb://element/9609e101a9d6474fb9705ac848952f18"
      },
      {
        "contentUdi": "umb://element/33c84a19f3994a6c933251a2aadfd8c9"
      },
      {
        "contentUdi": "umb://element/9ece8cf606ba4ecaba947c4ac09225bd"
      },
      {
        "contentUdi": "umb://element/7a1bc0d407b742a8a6d614ea2086f77c"
      },
      {
        "contentUdi": "umb://element/5b9e5a47b89e45b38a6ba7cad3eafa28"
      },
      {
        "contentUdi": "umb://element/213bc24f51634255be29545f142cf605"
      },
      {
        "contentUdi": "umb://element/b68d525a2cfe4392b9b8500255f3c9af"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "0e88793e-2f9d-4a51-afbf-1abc1036fc9a",
      "isNHSInvolved": "1",
      "isNonNHSInvolved": "0",
      "nhsOrganisationsAffected": "All",
      "nhsResourceImplications": "0",
      "specificAreaOfChange": "umb://document/c57520f830ab4b48ac872c6c4521a191,umb://document/a6b35a7ec45c4951819dd49ca2df8909",
      "udi": "umb://element/2ffdf3b7445643ffb9a659a4bf4c7ca4"
    },
    {
      "contentTypeKey": "0e88793e-2f9d-4a51-afbf-1abc1036fc9a",
      "isNHSInvolved": "1",
      "isNonNHSInvolved": "0",
      "nhsOrganisationsAffected": "Some",
      "nhsResourceImplications": "0",
      "specificAreaOfChange": "umb://document/c57520f830ab4b48ac872c6c4521a191,umb://document/a6b35a7ec45c4951819dd49ca2df8909",
      "udi": "umb://element/9609e101a9d6474fb9705ac848952f18"
    },
    {
      "contentTypeKey": "0e88793e-2f9d-4a51-afbf-1abc1036fc9a",
      "isNHSInvolved": "1",
      "isNonNHSInvolved": "1",
      "nhsOrganisationsAffected": "All",
      "nhsResourceImplications": "0",
      "specificAreaOfChange": "umb://document/c57520f830ab4b48ac872c6c4521a191,umb://document/a6b35a7ec45c4951819dd49ca2df8909",
      "udi": "umb://element/33c84a19f3994a6c933251a2aadfd8c9"
    },
    {
      "contentTypeKey": "0e88793e-2f9d-4a51-afbf-1abc1036fc9a",
      "isNHSInvolved": "1",
      "isNonNHSInvolved": "1",
      "nhsOrganisationsAffected": "Some",
      "nhsResourceImplications": "0",
      "specificAreaOfChange": "umb://document/a6b35a7ec45c4951819dd49ca2df8909,umb://document/c57520f830ab4b48ac872c6c4521a191",
      "udi": "umb://element/9ece8cf606ba4ecaba947c4ac09225bd"
    },
    {
      "contentTypeKey": "0e88793e-2f9d-4a51-afbf-1abc1036fc9a",
      "isNHSInvolved": "1",
      "isNonNHSInvolved": "1",
      "nhsOrganisationsAffected": "All",
      "nhsResourceImplications": "1",
      "specificAreaOfChange": "umb://document/a6b35a7ec45c4951819dd49ca2df8909,umb://document/c57520f830ab4b48ac872c6c4521a191",
      "udi": "umb://element/7a1bc0d407b742a8a6d614ea2086f77c"
    },
    {
      "contentTypeKey": "0e88793e-2f9d-4a51-afbf-1abc1036fc9a",
      "isNHSInvolved": "1",
      "isNonNHSInvolved": "1",
      "nhsOrganisationsAffected": "Some",
      "nhsResourceImplications": "1",
      "specificAreaOfChange": "umb://document/a6b35a7ec45c4951819dd49ca2df8909,umb://document/c57520f830ab4b48ac872c6c4521a191",
      "udi": "umb://element/5b9e5a47b89e45b38a6ba7cad3eafa28"
    },
    {
      "contentTypeKey": "0e88793e-2f9d-4a51-afbf-1abc1036fc9a",
      "isNHSInvolved": "1",
      "isNonNHSInvolved": "0",
      "nhsOrganisationsAffected": "All",
      "nhsResourceImplications": "1",
      "specificAreaOfChange": "umb://document/a6b35a7ec45c4951819dd49ca2df8909,umb://document/c57520f830ab4b48ac872c6c4521a191",
      "udi": "umb://element/213bc24f51634255be29545f142cf605"
    },
    {
      "contentTypeKey": "0e88793e-2f9d-4a51-afbf-1abc1036fc9a",
      "isNHSInvolved": "1",
      "isNonNHSInvolved": "0",
      "nhsOrganisationsAffected": "Some",
      "nhsResourceImplications": "1",
      "specificAreaOfChange": "umb://document/c57520f830ab4b48ac872c6c4521a191,umb://document/a6b35a7ec45c4951819dd49ca2df8909",
      "udi": "umb://element/b68d525a2cfe4392b9b8500255f3c9af"
    }
  ],
  "settingsData": []
}]]></Value>
    </criteria>
    <order>
      <Value><![CDATA[7]]></Value>
    </order>
  </Properties>
</Content>