<?xml version="1.0" encoding="utf-8"?>
<Content Key="d707c6d2-ce0f-42d3-9e1a-f226b8d0737f" Alias="NHS HSC" Level="6">
  <Info>
    <Parent Key="42ba1a6e-266a-4db1-ab98-2e85e6deb331">Organisation types</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Answers/OrganisationTypes/NHSHSC</Path>
    <Trashed>false</Trashed>
    <ContentType>answerOption</ContentType>
    <CreateDate>2025-07-31T11:24:30</CreateDate>
    <NodeName Default="NHS HSC" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[OPT0325]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[NHS/HSC]]></Value>
    </optionName>
  </Properties>
</Content>