<?xml version="1.0" encoding="utf-8"?>
<Content Key="aaab695b-0c0f-4b9e-b39b-416e30c05f6d" Alias="No" Level="6">
  <Info>
    <Parent Key="a97b4a27-1997-497b-830e-fd29611f56b3">True false</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Answers/TrueFalse/No</Path>
    <Trashed>false</Trashed>
    <ContentType>answerOption</ContentType>
    <CreateDate>2025-07-31T11:26:13</CreateDate>
    <NodeName Default="No" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[OPT0005]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[No]]></Value>
    </optionName>
  </Properties>
</Content>