<?xml version="1.0" encoding="utf-8"?>
<Content Key="723a2051-fe05-4a55-8e4e-a433eee66be4" Alias="Non reviewable free text" Level="5">
  <Info>
    <Parent Key="da5d70f5-d2b6-40ae-a199-213583b34249">Non reviewable free text with applicability modification</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/NonReviewableFreeTextWithApplicabilityModification/NonReviewableFreeText</Path>
    <Trashed>false</Trashed>
    <ContentType>section</ContentType>
    <CreateDate>2025-10-08T15:47:39</CreateDate>
    <NodeName Default="Non reviewable free text" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/c3a6e652ddd4447593131b74009a7645]]></Value>
    </category>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <mandatory>
      <Value><![CDATA[0]]></Value>
    </mandatory>
    <sectionId>
      <Value><![CDATA[prm-non-reviewable-applicability-free-text]]></Value>
    </sectionId>
    <sectionName>
      <Value><![CDATA[Reviewable free text]]></Value>
    </sectionName>
    <sequence>
      <Value><![CDATA[1]]></Value>
    </sequence>
    <staticViewName>
      <Value><![CDATA[ReviewableFreeText]]></Value>
    </staticViewName>
  </Properties>
</Content>