<?xml version="1.0" encoding="utf-8"?>
<Content Key="856c6577-d688-4228-8ca2-102dd6bb777d" Alias="Non reviewable free text modification" Level="4">
  <Info>
    <Parent Key="df71c69e-0cca-4bcf-98b9-030c0c0211d7">Modifications v1</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/NonReviewableFreeTextModification</Path>
    <Trashed>false</Trashed>
    <ContentType>modificationJourney</ContentType>
    <CreateDate>2025-10-08T12:18:43</CreateDate>
    <NodeName Default="Non reviewable free text modification" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <condition>
      <Value><![CDATA[umb://document/5e171c0459174463bd7d900be169e07a,umb://document/36dbcb74ebe146e89d5aef898f4718b5,umb://document/5fe772ec118e448c82d655dfe698e811,umb://document/dcfc63d808d1469281545f2d2f90939c,umb://document/7fba810900ab4084abb05cfeb3531846,umb://document/baba35f07eb44d44a818090200fedada,umb://document/78b21730ca6042d8bebcdb3fcfedb900]]></Value>
    </condition>
  </Properties>
</Content>