<?xml version="1.0" encoding="utf-8"?>
<Content Key="54cea2dd-cf81-4073-8255-4a26691641a1" Alias="Non reviewable free text" Level="5">
  <Info>
    <Parent Key="856c6577-d688-4228-8ca2-102dd6bb777d">Non reviewable free text modification</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/NonReviewableFreeTextModification/NonReviewableFreeText</Path>
    <Trashed>false</Trashed>
    <ContentType>section</ContentType>
    <CreateDate>2025-10-08T15:49:32</CreateDate>
    <NodeName Default="Non reviewable free text" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/c3a6e652ddd4447593131b74009a7645]]></Value>
    </category>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <isLastSectionBeforeReview>
      <Value><![CDATA[]]></Value>
    </isLastSectionBeforeReview>
    <mandatory>
      <Value><![CDATA[0]]></Value>
    </mandatory>
    <parentAnswerOption>
      <Value><![CDATA[]]></Value>
    </parentAnswerOption>
    <parentQuestion>
      <Value><![CDATA[]]></Value>
    </parentQuestion>
    <sectionId>
      <Value><![CDATA[prm-non-reviewable-free-text]]></Value>
    </sectionId>
    <sectionName>
      <Value><![CDATA[Reviewable free text]]></Value>
    </sectionName>
    <sequence>
      <Value><![CDATA[1]]></Value>
    </sequence>
    <staticViewName>
      <Value><![CDATA[ReviewableFreeText]]></Value>
    </staticViewName>
  </Properties>
</Content>