<?xml version="1.0" encoding="utf-8"?>
<Content Key="b43be6c0-9062-47eb-9c3b-20f2b0d7845e" Alias="Northern Ireland" Level="6">
  <Info>
    <Parent Key="a166c462-3e4d-4c70-887d-f5d6f3985360">UK Nations</Parent>
    <Path>/QuestionSets/ProjectRecordRepository/ProjectRecordV2/AnswerRepository/UKNations/NorthernIreland</Path>
    <Trashed>false</Trashed>
    <ContentType>answerOption</ContentType>
    <CreateDate>2025-07-28T09:52:16</CreateDate>
    <NodeName Default="Northern Ireland" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[OPT0019]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Northern Ireland]]></Value>
    </optionName>
  </Properties>
</Content>