<?xml version="1.0" encoding="utf-8"?>
<Content Key="692b054b-3d2e-4acb-8f7b-2ce95e7b07f7" Alias="NotAuthorised" Level="4">
  <Info>
    <Parent Key="bbd3101e-5d60-4aef-a409-e53c7aef0697">SponsorWorkspace</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/NotAuthorised</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2026-02-12T13:11:49</CreateDate>
    <NodeName Default="NotAuthorised" />
    <SortOrder>26</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>