<?xml version="1.0" encoding="utf-8"?>
<Content Key="b1272c43-b8bc-44d5-8d22-18c9b59d7bc0" Alias="NowSendToSponsor" Level="4">
  <Info>
    <Parent Key="ccf5480f-3d4c-4bf7-b72b-5a534446ac7d">Close project</Parent>
    <Path>/Home/ContentPlaceholders/CloseProject/NowSendToSponsor</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2025-12-29T12:23:04</CreateDate>
    <NodeName Default="NowSendToSponsor" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>