<?xml version="1.0" encoding="utf-8"?>
<Content Key="c1e99c02-f4aa-4f37-bfcc-02f6c1dcd855" Alias="NowSendToSponsor" Level="3">
  <Info>
    <Parent Key="140ae53c-1759-44f4-b9c4-70fc6fc12574">Close project</Parent>
    <Path>/Home/CloseProject/NowSendToSponsor</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2025-12-31T13:52:55</CreateDate>
    <NodeName Default="NowSendToSponsor" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/474a4aeff9014a23b343d2e5334cc65e"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/0b7a2c17a697443bbfe6180c23df6686"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/0b7a2c17a697443bbfe6180c23df6686",
            "value": "Dan test"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/8ba37eee6cea419ebcc2846196f0b5f1",
      "udi": "umb://element/474a4aeff9014a23b343d2e5334cc65e"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>