<?xml version="1.0" encoding="utf-8"?>
<Content Key="42ba1a6e-266a-4db1-ab98-2e85e6deb331" Alias="Organisation types" Level="5">
  <Info>
    <Parent Key="2cfb675f-2cea-4249-8457-de2c9add4a99">Answers</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Answers/OrganisationTypes</Path>
    <Trashed>false</Trashed>
    <ContentType>answerSet</ContentType>
    <CreateDate>2025-07-31T11:24:14</CreateDate>
    <NodeName Default="Organisation types" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>