<?xml version="1.0" encoding="utf-8"?>
<Content Key="50603c2d-6efc-42f2-9f4d-e9d63d9bd467" Alias="Other stop or restart of the project" Level="6">
  <Info>
    <Parent Key="a61af52a-5378-47eb-b777-c8d7e2b8a209">Stop or restart</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/AreaOfChange/StopOrRestart/OtherStopOrRestartOfTheProject</Path>
    <Trashed>false</Trashed>
    <ContentType>subAnswerOption</ContentType>
    <CreateDate>2025-10-03T11:24:07</CreateDate>
    <NodeName Default="Other stop or restart of the project" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[17]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Other stop or restart of the project]]></Value>
    </optionName>
    <showApplicabilityQuestions>
      <Value><![CDATA[1]]></Value>
    </showApplicabilityQuestions>
  </Properties>
</Content>