<?xml version="1.0" encoding="utf-8"?>
<Content Key="f19d2954-bac6-484f-8c40-cf1e9939edd0" Alias="Other" Level="5">
  <Info>
    <Parent Key="a479db33-dfb1-425e-8364-fc0f0ead0fcb">Contact details modification</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ContactDetailsModification/Other</Path>
    <Trashed>false</Trashed>
    <ContentType>section</ContentType>
    <CreateDate>2025-10-20T10:33:24</CreateDate>
    <NodeName Default="Other" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/5d1e658d68d64c1a898a7702636fa444]]></Value>
    </category>
    <evaluateBackRoute>
      <Value><![CDATA[]]></Value>
    </evaluateBackRoute>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <isLastSectionBeforeReview>
      <Value><![CDATA[1]]></Value>
    </isLastSectionBeforeReview>
    <mandatory>
      <Value><![CDATA[0]]></Value>
    </mandatory>
    <nextSection>
      <Value><![CDATA[]]></Value>
    </nextSection>
    <parentAnswerOption>
      <Value><![CDATA[umb://document/1c6e1f7f06ce4dc8b90f2769b96c3e44]]></Value>
    </parentAnswerOption>
    <parentQuestion>
      <Value><![CDATA[umb://document/28b38f4d42024950abf37106d8613112]]></Value>
    </parentQuestion>
    <sectionId>
      <Value><![CDATA[cdm-other]]></Value>
    </sectionId>
    <sectionName>
      <Value><![CDATA[Other]]></Value>
    </sectionName>
    <sequence>
      <Value><![CDATA[4]]></Value>
    </sequence>
    <staticViewName>
      <Value><![CDATA[DisplayQuestionnaire]]></Value>
    </staticViewName>
    <storeReferrer>
      <Value><![CDATA[]]></Value>
    </storeReferrer>
  </Properties>
</Content>