<?xml version="1.0" encoding="utf-8"?>
<Content Key="a4728d0c-a5c8-4ca8-a482-9bc4a9d594c3" Alias="PageNotFound" Level="4">
  <Info>
    <Parent Key="6ff25aed-249a-42db-8c5b-8b0e05af86a0">Errors</Parent>
    <Path>/Home/ContentPlaceholders/Errors/PageNotFound</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2025-12-09T22:18:22</CreateDate>
    <NodeName Default="PageNotFound" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>