<?xml version="1.0" encoding="utf-8"?>
<Content Key="feb9910f-4b1a-49b3-a740-432f59363bc4" Alias="Pages" Level="2">
  <Info>
    <Parent Key="af480879-2295-4031-89a6-1c1f0a877b04">Home</Parent>
    <Path>/Home/Pages</Path>
    <Trashed>false</Trashed>
    <ContentType>genericPage</ContentType>
    <CreateDate>2025-09-08T14:11:35</CreateDate>
    <NodeName Default="Pages" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <hasNoContent>
      <Value><![CDATA[1]]></Value>
    </hasNoContent>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
    <pageContent>
      <Value><![CDATA[]]></Value>
    </pageContent>
  </Properties>
</Content>