<?xml version="1.0" encoding="utf-8"?>
<Content Key="05d3381c-4ea0-45eb-b041-34dcfb53349f" Alias="Participating Organisation Details" Level="5">
  <Info>
    <Parent Key="4de398cc-4180-4b6a-8be2-96266b3fa095">Questions</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Questions/ParticipatingOrganisationDetails</Path>
    <Trashed>false</Trashed>
    <ContentType>questionsFolder</ContentType>
    <CreateDate>2026-03-18T22:57:03</CreateDate>
    <NodeName Default="Participating Organisation Details" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>