<?xml version="1.0" encoding="utf-8"?>
<Content Key="2d45b216-8f06-434d-ab5a-58105253c89b" Alias="Participating Organisations" Level="5">
  <Info>
    <Parent Key="929eb76c-873d-4c1d-9c11-2aac006320e3">Participating organisations modification</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ParticipatingOrganisationsModification/ParticipatingOrganisations</Path>
    <Trashed>false</Trashed>
    <ContentType>section</ContentType>
    <CreateDate>2025-09-08T12:57:30</CreateDate>
    <NodeName Default="Participating Organisations" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/00181bb1166d4df3aa4e2a88fa6a22c0]]></Value>
    </category>
    <evaluateBackRoute>
      <Value><![CDATA[]]></Value>
    </evaluateBackRoute>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <isLastSectionBeforeReview>
      <Value><![CDATA[]]></Value>
    </isLastSectionBeforeReview>
    <mandatory>
      <Value><![CDATA[0]]></Value>
    </mandatory>
    <nextSection>
      <Value><![CDATA[]]></Value>
    </nextSection>
    <parentAnswerOption>
      <Value><![CDATA[]]></Value>
    </parentAnswerOption>
    <parentQuestion>
      <Value><![CDATA[]]></Value>
    </parentQuestion>
    <sectionId>
      <Value><![CDATA[pom-participating-organisations]]></Value>
    </sectionId>
    <sectionName>
      <Value><![CDATA[ParticipatingOrganisations]]></Value>
    </sectionName>
    <sequence>
      <Value><![CDATA[1]]></Value>
    </sequence>
    <staticViewName>
      <Value><![CDATA[ParticipatingOrganisation]]></Value>
    </staticViewName>
    <storeReferrer>
      <Value><![CDATA[]]></Value>
    </storeReferrer>
  </Properties>
</Content>