<?xml version="1.0" encoding="utf-8"?>
<Content Key="21a2b902-e166-45ba-9e6e-1368aa556302" Alias="Participating nations" Level="6">
  <Info>
    <Parent Key="2c6d1d79-8fe4-40d7-95e0-8c65e04e2fe5">Research locations</Parent>
    <Path>/QuestionSets/ProjectRecordRepository/ProjectRecordV2/QuestionsRepository/ResearchLocations/ParticipatingNations</Path>
    <Trashed>false</Trashed>
    <ContentType>question</ContentType>
    <CreateDate>2025-07-28T15:05:56</CreateDate>
    <NodeName Default="Participating nations" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerDataType>
      <Value><![CDATA[[
  "Checkbox"
]]]></Value>
    </answerDataType>
    <editorComment>
      <Value><![CDATA[]]></Value>
    </editorComment>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <possibleAnswers>
      <Value><![CDATA[umb://document/112f60d4775c4f4c8c3dde257e430328,umb://document/b43be6c0906247eb9c3b20f2b0d7845e,umb://document/0859a0b408494f48aa3f56ca7b3dfb12,umb://document/dd30c1b3315e449c975f332ae732d259]]></Value>
    </possibleAnswers>
    <questionFormat>
      <Value><![CDATA[[
  "Look-up list"
]]]></Value>
    </questionFormat>
    <questionName>
      <Value><![CDATA[Participating nations: In which countries of the UK is the project taking place? Select all that apply:]]></Value>
    </questionName>
  </Properties>
</Content>