<?xml version="1.0" encoding="utf-8"?>
<Content Key="00181bb1-166d-4df3-aa4e-2a88fa6a22c0" Alias="Participating organisations" Level="5">
  <Info>
    <Parent Key="4a98ec94-ffac-4095-a220-fc28e5602ed5">Category repository</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/CategoryRepository/ParticipatingOrganisations</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-09-08T12:58:23</CreateDate>
    <NodeName Default="Participating organisations" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryId>
      <Value><![CDATA[Participating organisations]]></Value>
    </categoryId>
  </Properties>
</Content>