<?xml version="1.0" encoding="utf-8"?>
<Content Key="8b6ea119-8722-4320-945a-cf35a012f7a0" Alias="Participating nations" Level="6">
  <Info>
    <Parent Key="9cb66927-770b-45ab-b45f-570fa605a329">Research locations</Parent>
    <Path>/QuestionSets/ProjectRecordRepository/ProjectRecordV2/Sections/ResearchLocations/ParticipatingNations</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-07-28T15:08:01</CreateDate>
    <NodeName Default="Participating nations" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/d5b0e745867f4354bc072dc493d69545]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Mandatory"
]]]></Value>
    </conformance>
    <questionContent>
      <Value><![CDATA[umb://document/21a2b902e16645ba9e6e1368aa556302]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0032]]></Value>
    </questionId>
    <validationRules>
      <Value><![CDATA[]]></Value>
    </validationRules>
  </Properties>
</Content>