<?xml version="1.0" encoding="utf-8"?>
<Content Key="929eb76c-873d-4c1d-9c11-2aac006320e3" Alias="Participating organisations modification" Level="4">
  <Info>
    <Parent Key="df71c69e-0cca-4bcf-98b9-030c0c0211d7">Modifications v1</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ParticipatingOrganisationsModification</Path>
    <Trashed>false</Trashed>
    <ContentType>modificationJourney</ContentType>
    <CreateDate>2025-09-08T12:14:39</CreateDate>
    <NodeName Default="Participating organisations modification" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <condition>
      <Value><![CDATA[umb://document/8f704708385c4298832a15e6fc622e69,umb://document/875260cdd5684724bc878e5c7da9f1e8,umb://document/51fce0d37f9c4746b2a5022c2a4f2b91,umb://document/db576aab455b4372ae03382c398997bc]]></Value>
    </condition>
  </Properties>
</Content>