<?xml version="1.0" encoding="utf-8"?>
<Content Key="29a78562-b57e-4189-8af9-00cebd220c87" Alias="Participating organisations" Level="5">
  <Info>
    <Parent Key="a989dd88-dc88-4fcb-8d2f-57d1c751776c">Area of change</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/AreaOfChange/ParticipatingOrganisations</Path>
    <Trashed>false</Trashed>
    <ContentType>answerOption</ContentType>
    <CreateDate>2025-07-31T14:37:19</CreateDate>
    <NodeName Default="Participating organisations" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Participating organisations]]></Value>
    </optionName>
  </Properties>
</Content>