<?xml version="1.0" encoding="utf-8"?>
<Content Key="6b35d309-b8ad-4e07-9e89-f0062979b606" Alias="Participant diary (sample)" Level="6">
  <Info>
    <Parent Key="d1d32e9e-f9d9-4857-9624-c73a099e89d3">Document Types</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Answers/DocumentTypes/ParticipantDiarySample</Path>
    <Trashed>false</Trashed>
    <ContentType>answerOption</ContentType>
    <CreateDate>2025-09-22T15:15:11</CreateDate>
    <NodeName Default="Participant diary (sample)" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[OPT0335]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Participant diary (sample)]]></Value>
    </optionName>
  </Properties>
</Content>