<?xml version="1.0" encoding="utf-8"?>
<Content Key="6acd92d1-e091-47ce-b58d-00012530f8ed" Alias="PI conflicts of interest" Level="6">
  <Info>
    <Parent Key="05d3381c-4ea0-45eb-b041-34dcfb53349f">Participating Organisation Details</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Questions/ParticipatingOrganisationDetails/PIConflictsOfInterest</Path>
    <Trashed>false</Trashed>
    <ContentType>question</ContentType>
    <CreateDate>2026-03-18T23:05:52</CreateDate>
    <NodeName Default="PI conflicts of interest" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerDataType>
      <Value><![CDATA[[
  "Text Area"
]]]></Value>
    </answerDataType>
    <editorComment>
      <Value><![CDATA[]]></Value>
    </editorComment>
    <evaluateOrganisationsAffected>
      <Value><![CDATA[0]]></Value>
    </evaluateOrganisationsAffected>
    <evaluateResourceImplications>
      <Value><![CDATA[0]]></Value>
    </evaluateResourceImplications>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <nhsInvolvement>
      <Value><![CDATA[]]></Value>
    </nhsInvolvement>
    <nonNHSInvolvement>
      <Value><![CDATA[]]></Value>
    </nonNHSInvolvement>
    <possibleAnswers>
      <Value><![CDATA[]]></Value>
    </possibleAnswers>
    <questionFormat>
      <Value><![CDATA[[
  "Text"
]]]></Value>
    </questionFormat>
    <questionName>
      <Value><![CDATA[PI conflicts of interest]]></Value>
    </questionName>
    <shortQuestionName>
      <Value><![CDATA[]]></Value>
    </shortQuestionName>
    <supplementaryInfo>
      <Value><![CDATA[]]></Value>
    </supplementaryInfo>
    <useAnswerForNextSection>
      <Value><![CDATA[0]]></Value>
    </useAnswerForNextSection>
  </Properties>
</Content>