<?xml version="1.0" encoding="utf-8"?>
<Content Key="6bbc3c25-f246-41a4-a145-3e35836fc68c" Alias="PI conflict of interests" Level="6">
  <Info>
    <Parent Key="2f8ff2db-c9d0-490f-a193-255050d5e15d">Add Participating Organisation Details</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ParticipatingOrganisationsModification/AddParticipatingOrganisationDetails/PIConflictOfInterests</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2026-03-18T22:54:26</CreateDate>
    <NodeName Default="PI conflict of interests" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Conditional"
]]]></Value>
    </conformance>
    <isEditable>
      <Value><![CDATA[1]]></Value>
    </isEditable>
    <playbackQuestionId>
      <Value><![CDATA[]]></Value>
    </playbackQuestionId>
    <questionContent>
      <Value><![CDATA[umb://document/6acd92d1e09147ceb58d00012530f8ed]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0752]]></Value>
    </questionId>
    <sectionGroup>
      <Value><![CDATA[]]></Value>
    </sectionGroup>
    <sequence>
      <Value><![CDATA[3]]></Value>
    </sequence>
    <sequenceInSectionGroup>
      <Value><![CDATA[]]></Value>
    </sequenceInSectionGroup>
    <showAnswerOn>
      <Value><![CDATA[]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[0]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3cb6766d842447b986f57c01b329d066"
      }
    ]
  },
  "contentData": [
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/da50cafdad574eaaa479511cb3aa9e8e"
            },
            {
              "contentUdi": "umb://element/978f9fd4a21242ec87001c71574a6926"
            },
            {
              "contentUdi": "umb://element/46a3d23acc3c4b36ae9e1e09f05dcbd8"
            },
            {
              "contentUdi": "umb://element/3f3932ea6b6d4652aabf8634ddfb2200"
            },
            {
              "contentUdi": "umb://element/e25f2bff67474bc28eaf7b07108d2897"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "IN"
            ],
            "optionType": [
              "Single"
            ],
            "parentOptions": "umb://document/b20287b326c84c9eb619ba81c4585c13",
            "udi": "umb://element/da50cafdad574eaaa479511cb3aa9e8e",
            "value": ""
          },
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "Enter conflicts of interest details",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "LENGTH"
            ],
            "optionType": "",
            "parentOptions": "",
            "udi": "umb://element/978f9fd4a21242ec87001c71574a6926",
            "value": "EMPTY"
          },
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "Conflict of interest details must be less than 200 characters",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "LENGTH"
            ],
            "optionType": "",
            "parentOptions": "",
            "udi": "umb://element/46a3d23acc3c4b36ae9e1e09f05dcbd8",
            "value": "1,200"
          },
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "SIZE"
            ],
            "optionType": "",
            "parentOptions": "",
            "udi": "umb://element/3f3932ea6b6d4652aabf8634ddfb2200",
            "value": "200"
          },
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "If you answered yes, enter details here, otherwise leave blank",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "HINT"
            ],
            "optionType": "",
            "parentOptions": "",
            "udi": "umb://element/e25f2bff67474bc28eaf7b07108d2897",
            "value": ""
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "You can enter up to 200 characters",
      "mode": [
        "AND"
      ],
      "parentQuestion": "umb://document/26ef65408368471e916c743fcfd00053",
      "ruleName": "Show if the PI has conflicts of interest",
      "udi": "umb://element/3cb6766d842447b986f57c01b329d066"
    }
  ],
  "settingsData": []
}]]></Value>
    </validationRules>
  </Properties>
</Content>