<?xml version="1.0" encoding="utf-8"?>
<Content Key="875260cd-d568-4724-bc87-8e5c7da9f1e8" Alias="PICs – Add new PICs (same activities) - with search" Level="6">
  <Info>
    <Parent Key="4e5570bf-9c27-4eeb-a874-5ba6244a32de">Participating organisations with search</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/AreaOfChange/ParticipatingOrganisationsWithSearch/PICsAddNewPICsSameActivitiesWithSearch</Path>
    <Trashed>false</Trashed>
    <ContentType>subAnswerOption</ContentType>
    <CreateDate>2026-02-12T23:50:58</CreateDate>
    <NodeName Default="PICs – Add new PICs (same activities) - with search" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[2]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[PICs - Addition of Participant Identification Centres undertaking the same activities as existing PICs]]></Value>
    </optionName>
    <showApplicabilityQuestions>
      <Value><![CDATA[1]]></Value>
    </showApplicabilityQuestions>
  </Properties>
</Content>