<?xml version="1.0" encoding="utf-8"?>
<Content Key="7f62ca3c-d3a0-4d7a-a01c-7d6ac44567b7" Alias="PICs – Early closure/withdrawal" Level="6">
  <Info>
    <Parent Key="29a78562-b57e-4189-8af9-00cebd220c87">Participating organisations</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/AreaOfChange/ParticipatingOrganisations/PICsEarlyClosurewithdrawal</Path>
    <Trashed>false</Trashed>
    <ContentType>subAnswerOption</ContentType>
    <CreateDate>2025-09-08T12:11:12</CreateDate>
    <NodeName Default="PICs – Early closure/withdrawal" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[3]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[PICs - Early closure or withdrawal of Participant Identification Centres]]></Value>
    </optionName>
    <showApplicabilityQuestions>
      <Value><![CDATA[1]]></Value>
    </showApplicabilityQuestions>
  </Properties>
</Content>