<?xml version="1.0" encoding="utf-8"?>
<Content Key="a6b35a7e-c45c-4951-819d-d49ca2df8909" Alias="PICs – Add new PICs (same activities)" Level="6">
  <Info>
    <Parent Key="29a78562-b57e-4189-8af9-00cebd220c87">Participating organisations</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/AreaOfChange/ParticipatingOrganisations/PICsAddNewPICsSameActivities</Path>
    <Trashed>false</Trashed>
    <ContentType>subAnswerOption</ContentType>
    <CreateDate>2025-09-08T12:08:56</CreateDate>
    <NodeName Default="PICs – Add new PICs (same activities)" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[2]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[PICs - Addition of Participant Identification Centres undertaking the same activities as existing PICs]]></Value>
    </optionName>
    <showApplicabilityQuestions>
      <Value><![CDATA[]]></Value>
    </showApplicabilityQuestions>
  </Properties>
</Content>