<?xml version="1.0" encoding="utf-8"?>
<Content Key="51fce0d3-7f9c-4746-b2a5-022c2a4f2b91" Alias="PICs – Early closure/withdrawal - with search" Level="6">
  <Info>
    <Parent Key="4e5570bf-9c27-4eeb-a874-5ba6244a32de">Participating organisations with search</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/AreaOfChange/ParticipatingOrganisationsWithSearch/PICsEarlyClosurewithdrawalWithSearch</Path>
    <Trashed>false</Trashed>
    <ContentType>subAnswerOption</ContentType>
    <CreateDate>2026-02-12T23:51:15</CreateDate>
    <NodeName Default="PICs – Early closure/withdrawal - with search" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[3]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[PICs - Early closure or withdrawal of Participant Identification Centres]]></Value>
    </optionName>
    <showApplicabilityQuestions>
      <Value><![CDATA[1]]></Value>
    </showApplicabilityQuestions>
  </Properties>
</Content>