<?xml version="1.0" encoding="utf-8"?>
<Content Key="08238c26-e8d3-46be-914d-50638d891ac6" Alias="Planned end date" Level="6">
  <Info>
    <Parent Key="8a9ce90d-aa45-4131-9976-dc26a161eeae">Project details</Parent>
    <Path>/QuestionSets/ProjectRecordRepository/ProjectRecordV2/Sections/ProjectDetails/PlannedEndDate</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-07-29T10:02:20</CreateDate>
    <NodeName Default="Planned end date" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/d5b0e745867f4354bc072dc493d69545]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Mandatory"
]]]></Value>
    </conformance>
    <questionContent>
      <Value><![CDATA[umb://document/d6d7c3dca1f64fa58370f7e5c6f4073b]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0003]]></Value>
    </questionId>
    <sequence>
      <Value><![CDATA[2]]></Value>
    </sequence>
    <showAnswerOn>
      <Value><![CDATA[ProjectOverview]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[1]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/74c4dd334a7647aeb4b289384887afe1"
      }
    ]
  },
  "contentData": [
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/bfc83bed7f914b869cd5a76f6a1a0c70"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "The date should be a valid date and in future",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "DATE"
            ],
            "optionType": "",
            "parentOptions": "",
            "udi": "umb://element/bfc83bed7f914b869cd5a76f6a1a0c70",
            "value": "FORMAT:yyyy-MM-dd,FUTUREDATE"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "For example, 19 06 2025",
      "mode": [
        "AND"
      ],
      "parentQuestion": "",
      "ruleName": "Mandatory",
      "udi": "umb://element/74c4dd334a7647aeb4b289384887afe1"
    }
  ],
  "settingsData": []
}]]></Value>
    </validationRules>
  </Properties>
</Content>