<?xml version="1.0" encoding="utf-8"?>
<Content Key="fda28b3e-5ccd-4dac-879f-b19ea3bb6acd" Alias="Previous version approved?" Level="6">
  <Info>
    <Parent Key="4767855d-a58c-4db7-b981-c25e481a2815">Project documents</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Questions/ProjectDocuments/PreviousVersionApproved</Path>
    <Trashed>false</Trashed>
    <ContentType>question</ContentType>
    <CreateDate>2025-08-19T17:32:16</CreateDate>
    <NodeName Default="Previous version approved?" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerDataType>
      <Value><![CDATA[[
  "Radio button"
]]]></Value>
    </answerDataType>
    <editorComment>
      <Value><![CDATA[]]></Value>
    </editorComment>
    <evaluateOrganisationsAffected>
      <Value><![CDATA[]]></Value>
    </evaluateOrganisationsAffected>
    <evaluateResourceImplications>
      <Value><![CDATA[]]></Value>
    </evaluateResourceImplications>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <nhsInvolvement>
      <Value><![CDATA[]]></Value>
    </nhsInvolvement>
    <nonNHSInvolvement>
      <Value><![CDATA[]]></Value>
    </nonNHSInvolvement>
    <possibleAnswers>
      <Value><![CDATA[umb://document/b20287b326c84c9eb619ba81c4585c13,umb://document/aaab695b0c0f4b9eb39b416e30c05f6d]]></Value>
    </possibleAnswers>
    <questionFormat>
      <Value><![CDATA[[
  "Boolean"
]]]></Value>
    </questionFormat>
    <questionName>
      <Value><![CDATA[Has a previous version of this document been approved?]]></Value>
    </questionName>
    <shortQuestionName>
      <Value><![CDATA[Previously approved?]]></Value>
    </shortQuestionName>
    <supplementaryInfo>
      <Value><![CDATA[]]></Value>
    </supplementaryInfo>
  </Properties>
</Content>