<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f0afaf1-9958-48b9-abe8-f6bb1d66a15e" Alias="Previous version approved?" Level="6">
  <Info>
    <Parent Key="2a09985b-ea70-4642-b978-d5585dca5881">Add Document Details</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ProjectDocumentsModification/AddDocumentDetails/PreviousVersionApproved</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-08-19T17:38:09</CreateDate>
    <NodeName Default="Previous version approved?" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Mandatory"
]]]></Value>
    </conformance>
    <isEditable>
      <Value><![CDATA[]]></Value>
    </isEditable>
    <playbackQuestionId>
      <Value><![CDATA[]]></Value>
    </playbackQuestionId>
    <questionContent>
      <Value><![CDATA[umb://document/fda28b3e5ccd4dac879fb19ea3bb6acd]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0603]]></Value>
    </questionId>
    <sectionGroup>
      <Value><![CDATA[]]></Value>
    </sectionGroup>
    <sequence>
      <Value><![CDATA[6]]></Value>
    </sequence>
    <sequenceInSectionGroup>
      <Value><![CDATA[]]></Value>
    </sequenceInSectionGroup>
    <showAnswerOn>
      <Value><![CDATA[]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[0]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[]]></Value>
    </validationRules>
  </Properties>
</Content>