<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea43fafb-4c1d-418f-b355-a0085e855c26" Alias="Primary sponsor organisation" Level="6">
  <Info>
    <Parent Key="0e61fb2f-dc46-43f0-8e87-df42af421721">Project identifiers</Parent>
    <Path>/QuestionSets/ProjectRecordRepository/ProjectRecordV2/QuestionsRepository/ProjectIdentifiers/PrimarySponsorOrganisation</Path>
    <Trashed>false</Trashed>
    <ContentType>question</ContentType>
    <CreateDate>2025-07-28T11:21:07</CreateDate>
    <NodeName Default="Primary sponsor organisation" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerDataType>
      <Value><![CDATA[[
  "Text"
]]]></Value>
    </answerDataType>
    <editorComment>
      <Value><![CDATA[]]></Value>
    </editorComment>
    <evaluateOrganisationsAffected>
      <Value><![CDATA[0]]></Value>
    </evaluateOrganisationsAffected>
    <evaluateResourceImplications>
      <Value><![CDATA[0]]></Value>
    </evaluateResourceImplications>
    <guidanceContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2da5c4d157454204ad5d4a4806a08a31"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "d10f8af2-acdd-440c-b05d-24314c8558e0",
      "title": "Can't find your organisation?",
      "udi": "umb://element/2da5c4d157454204ad5d4a4806a08a31",
      "value": {
        "markup": "<p>You can improve your search results by:</p>\n<ul>\n<li>double checking your spelling</li>\n<li>using fewer keywords</li>\n<li>searching for something less specific</li>\n</ul>\n<p>If you still can't find the organisation you're looking for, contact the service desk with the IRAS ID and name and address of the organisation you want to add.</p>\n<p>Service desk email: <a href=\"mailto:service.desk@hra.nhs.uk\">service.desk@hra.nhs.uk</a></p>\n<p>Visit the <a href=\"https://healthresearchauthority.haloitsm.com/portal\">Plan and manage health and care research support site</a></p>\n<p>Phone:<br>020 7104 8260<br>Monday to Friday, 9am to 6pm</p>",
        "blocks": {
          "contentData": [],
          "settingsData": []
        }
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </guidanceContent>
    <nhsInvolvement>
      <Value><![CDATA[]]></Value>
    </nhsInvolvement>
    <nonNHSInvolvement>
      <Value><![CDATA[]]></Value>
    </nonNHSInvolvement>
    <possibleAnswers>
      <Value><![CDATA[]]></Value>
    </possibleAnswers>
    <questionFormat>
      <Value><![CDATA[[
  "Rts:org_lookup"
]]]></Value>
    </questionFormat>
    <questionName>
      <Value><![CDATA[Primary sponsor organisation]]></Value>
    </questionName>
    <shortQuestionName>
      <Value><![CDATA[]]></Value>
    </shortQuestionName>
    <supplementaryInfo>
      <Value><![CDATA[]]></Value>
    </supplementaryInfo>
    <useAnswerForNextSection>
      <Value><![CDATA[1]]></Value>
    </useAnswerForNextSection>
  </Properties>
</Content>