<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ade85e9-779d-4592-8b83-124b12521b34" Alias="Principal investigator: conflict of interest" Level="6">
  <Info>
    <Parent Key="463c4573-13ca-4b01-aea9-fa660e8d8825">Project personnel</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/AreaOfChange/ProjectPersonnel/PrincipalInvestigatorConflictOfInterest</Path>
    <Trashed>false</Trashed>
    <ContentType>subAnswerOption</ContentType>
    <CreateDate>2025-10-08T15:34:08</CreateDate>
    <NodeName Default="Principal investigator: conflict of interest" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[21]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Principal Investigator: conflict of interest]]></Value>
    </optionName>
    <showApplicabilityQuestions>
      <Value><![CDATA[1]]></Value>
    </showApplicabilityQuestions>
  </Properties>
</Content>