<?xml version="1.0" encoding="utf-8"?>
<Content Key="48792fb4-9fa8-4904-a6e3-06e62a73fd9c" Alias="Privacy" Level="3">
  <Info>
    <Parent Key="feb9910f-4b1a-49b3-a740-432f59363bc4">Pages</Parent>
    <Path>/Home/Pages/Privacy</Path>
    <Trashed>false</Trashed>
    <ContentType>genericPage</ContentType>
    <CreateDate>2025-10-07T16:36:14</CreateDate>
    <NodeName Default="Privacy" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <hasNoContent>
      <Value><![CDATA[0]]></Value>
    </hasNoContent>
    <pageContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8883f6a11cbd44529a0a8b9fe7062de2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e93bd9ac-fe6d-4118-8bee-9fdc82c19d1d",
      "headlineType": [
        "h1"
      ],
      "title": "Privacy",
      "udi": "umb://element/8883f6a11cbd44529a0a8b9fe7062de2"
    }
  ],
  "settingsData": []
}]]></Value>
    </pageContent>
  </Properties>
</Content>