<?xml version="1.0" encoding="utf-8"?>
<Content Key="4cd634b3-ea2f-40a2-a0ca-f29e7f8e4740" Alias="Profile and Settings" Level="3">
  <Info>
    <Parent Key="3e0777ee-ed72-4848-a405-0b4cc10df5c6">Content Placeholders</Parent>
    <Path>/Home/ContentPlaceholders/ProfileAndSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2025-10-13T09:30:29</CreateDate>
    <NodeName Default="Profile and Settings" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>