<?xml version="1.0" encoding="utf-8"?>
<Content Key="5b4cc59f-dfb7-4881-9193-db650587b54f" Alias="ProjectNotEligible.Body" Level="5">
  <Info>
    <Parent Key="b116b8aa-6400-4847-a2c1-38f48d216648">Project Not Eligible</Parent>
    <Path>/Home/ContentPlaceholders/ProjectRecord/ProjectNotEligible/ProjectNotEligibleBody</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-22T23:47:39</CreateDate>
    <NodeName Default="ProjectNotEligible.Body" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>