<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2f04118-b281-450d-9c3b-512ced26b4fc" Alias="Project personnel principal investigator modification" Level="4">
  <Info>
    <Parent Key="df71c69e-0cca-4bcf-98b9-030c0c0211d7">Modifications v1</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ProjectPersonnelPrincipalInvestigatorModification</Path>
    <Trashed>false</Trashed>
    <ContentType>modificationJourney</ContentType>
    <CreateDate>2025-10-22T15:12:31</CreateDate>
    <NodeName Default="Project personnel principal investigator modification" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <condition>
      <Value><![CDATA[umb://document/f2440c0fc7d74a7883241e39004b6f91]]></Value>
    </condition>
  </Properties>
</Content>