<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf6d62b1-fa6c-43bc-a2d7-bb8d74c91e74" Alias="ProjectClosures" Level="4">
  <Info>
    <Parent Key="bbd3101e-5d60-4aef-a409-e53c7aef0697">SponsorWorkspace</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/ProjectClosures</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2026-01-15T12:54:32</CreateDate>
    <NodeName Default="ProjectClosures" />
    <SortOrder>24</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>