<?xml version="1.0" encoding="utf-8"?>
<Content Key="c10a4f37-67e5-434f-be7a-d16a6301eefd" Alias="Project documents modification" Level="4">
  <Info>
    <Parent Key="df71c69e-0cca-4bcf-98b9-030c0c0211d7">Modifications v1</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ProjectDocumentsModification</Path>
    <Trashed>false</Trashed>
    <ContentType>modificationJourney</ContentType>
    <CreateDate>2025-08-19T15:50:03</CreateDate>
    <NodeName Default="Project documents modification" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <condition>
      <Value><![CDATA[umb://document/120e8ef545b34de3b43cf97f5bbb7d8c,umb://document/fdf04f8888a747db9e93a86651e7de7b,umb://document/48d685b0c4834062bb3d244647ed04db,umb://document/346f478ee20540698311e698163bc6b6,umb://document/19e34c33d41545889b84489cb9edf3d5,umb://document/367c7ef6db944c2b80bacb46057db53a,umb://document/53a14b308cfa4ee2a443925035becf1f]]></Value>
    </condition>
  </Properties>
</Content>