<?xml version="1.0" encoding="utf-8"?>
<Content Key="78327c1e-ab30-4977-aa35-3fd083602bb2" Alias="Project reference numbers modification" Level="4">
  <Info>
    <Parent Key="df71c69e-0cca-4bcf-98b9-030c0c0211d7">Modifications v1</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ProjectReferenceNumbersModification</Path>
    <Trashed>false</Trashed>
    <ContentType>modificationJourney</ContentType>
    <CreateDate>2025-10-14T10:15:35</CreateDate>
    <NodeName Default="Project reference numbers modification" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <condition>
      <Value><![CDATA[umb://document/f4a0e09783ad492d99784e7b0417125a]]></Value>
    </condition>
  </Properties>
</Content>