<?xml version="1.0" encoding="utf-8"?>
<Content Key="654fa18d-2637-4e70-a3d0-8889cfe91513" Alias="Project documents" Level="5">
  <Info>
    <Parent Key="a989dd88-dc88-4fcb-8d2f-57d1c751776c">Area of change</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/AreaOfChange/ProjectDocuments</Path>
    <Trashed>false</Trashed>
    <ContentType>answerOption</ContentType>
    <CreateDate>2025-08-16T16:27:45</CreateDate>
    <NodeName Default="Project documents" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[3]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Project documents]]></Value>
    </optionName>
  </Properties>
</Content>