<?xml version="1.0" encoding="utf-8"?>
<Content Key="4dbe3d03-3d38-4e3b-9710-7aedb238ee7e" Alias="Project identification" Level="5">
  <Info>
    <Parent Key="4a98ec94-ffac-4095-a220-fc28e5602ed5">Category repository</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/CategoryRepository/ProjectIdentification</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-10-14T11:24:55</CreateDate>
    <NodeName Default="Project identification" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryId>
      <Value><![CDATA[Project identification]]></Value>
    </categoryId>
  </Properties>
</Content>