<?xml version="1.0" encoding="utf-8"?>
<Content Key="511cb1af-a4d4-48f1-9d9d-ed4840c46c1b" Alias="ProjectClosureConfirmation" Level="3">
  <Info>
    <Parent Key="425e6fe6-f2a1-4af7-b7d8-158fe1d3f8b6">SponsorWorkspace</Parent>
    <Path>/Home/SponsorWorkspace/ProjectClosureConfirmation</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2026-01-08T13:58:02</CreateDate>
    <NodeName Default="ProjectClosureConfirmation" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c735b2b9ddee4af4bb9e3451f2f28515"
      },
      {
        "contentUdi": "umb://element/07cf89c4b0664133a26bc04b5840d152"
      },
      {
        "contentUdi": "umb://element/81b7d98a97dc4d61852fcba086e6dd73"
      },
      {
        "contentUdi": "umb://element/8aed12c737c647bc86bf47264028dff6"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7f86f1d288364530a7c4abb1a24a32df"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/7f86f1d288364530a7c4abb1a24a32df",
            "value": "Project closed"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/c9d9a1b4a8364715ad5e74695ca2f503",
      "udi": "umb://element/c735b2b9ddee4af4bb9e3451f2f28515"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3000cc0ee6ff49ba8bcfc6436b1ef1b9"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/3000cc0ee6ff49ba8bcfc6436b1ef1b9",
            "value": {
              "markup": "<p>This project is now closed and the review bodies have been notified.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/562ed85d85214c43a887aabe5180b185",
      "udi": "umb://element/07cf89c4b0664133a26bc04b5840d152"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9515519bc4d94674a89fa3b5ff74a7b7"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/9515519bc4d94674a89fa3b5ff74a7b7",
            "value": "Project not closed"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/e15876f8d4134a3da4080b5152d06d36",
      "udi": "umb://element/81b7d98a97dc4d61852fcba086e6dd73"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/8009ad70e3524db3bf229b47e43afdef"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/8009ad70e3524db3bf229b47e43afdef",
            "value": {
              "markup": "<p>The project has not been closed and will remain open.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/ad381f347427486fa9c6cdd47fbe31ad",
      "udi": "umb://element/8aed12c737c647bc86bf47264028dff6"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
    <metaTitle>
      <Value><![CDATA[Close project Confirmation]]></Value>
    </metaTitle>
  </Properties>
</Content>