<?xml version="1.0" encoding="utf-8"?>
<Content Key="6178b297-b367-4c6e-8a71-d90f1275a484" Alias="ProjectRecordSearch.NoResultsBody" Level="4">
  <Info>
    <Parent Key="fe4e2923-ba51-41bb-8346-4eab866b6a98">Project record search</Parent>
    <Path>/Home/ContentPlaceholders/ProjectRecordSearch/ProjectRecordSearchNoResultsBody</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-11-07T16:35:56</CreateDate>
    <NodeName Default="ProjectRecordSearch.NoResultsBody" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>