<?xml version="1.0" encoding="utf-8"?>
<Content Key="85f7b6ad-5ec2-4a97-8fc0-ea7963d506d0" Alias="ProjectRecord" Level="2">
  <Info>
    <Parent Key="af480879-2295-4031-89a6-1c1f0a877b04">Home</Parent>
    <Path>/Home/ProjectRecord</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2025-10-23T00:42:48</CreateDate>
    <NodeName Default="ProjectRecord" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[]]></Value>
    </contentItems>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>