<?xml version="1.0" encoding="utf-8"?>
<Content Key="c10a4f37-67e5-434f-be7a-d16a6301eefd" Alias="Project documents modification" Level="4">
  <Info>
    <Parent Key="df71c69e-0cca-4bcf-98b9-030c0c0211d7">Modifications v1</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ProjectDocumentsModification</Path>
    <Trashed>false</Trashed>
    <ContentType>modificationJourney</ContentType>
    <CreateDate>2025-08-19T15:50:03</CreateDate>
    <NodeName Default="Project documents modification" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <condition>
      <Value><![CDATA[]]></Value>
    </condition>
  </Properties>
</Content>