<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c715e3f-22bd-47fb-9a37-710e0248b761" Alias="Project restart following temporary halt" Level="6">
  <Info>
    <Parent Key="a61af52a-5378-47eb-b777-c8d7e2b8a209">Project stop or restart</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/AreaOfChange/ProjectStopOrRestart/ProjectRestartFollowingTemporaryHalt</Path>
    <Trashed>false</Trashed>
    <ContentType>subAnswerOption</ContentType>
    <CreateDate>2026-03-06T16:35:56</CreateDate>
    <NodeName Default="Project restart following temporary halt" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[52]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Project restart following temporary halt]]></Value>
    </optionName>
    <showApplicabilityQuestions>
      <Value><![CDATA[1]]></Value>
    </showApplicabilityQuestions>
  </Properties>
</Content>