<?xml version="1.0" encoding="utf-8"?>
<Content Key="d701285a-a690-4015-b73b-af9992fb66f8" Alias="ProjectRecordAlreadyExist" Level="2">
  <Info>
    <Parent Key="af480879-2295-4031-89a6-1c1f0a877b04">Home</Parent>
    <Path>/Home/ProjectRecordAlreadyExist</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2025-10-22T16:27:25</CreateDate>
    <NodeName Default="ProjectRecordAlreadyExist" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0705493322584dca89e08b02d1bc4900"
      },
      {
        "contentUdi": "umb://element/b93205cb6e8f424f97c7ec7560af82c1"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ed8c270a418945d683888ebde5d44548"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/ed8c270a418945d683888ebde5d44548",
            "value": "A project record already exists"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/3b575f5c82ba44a98c52f689c241befa",
      "udi": "umb://element/0705493322584dca89e08b02d1bc4900"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/e71a7e640acf480fb74bb48e396d0e1c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/e71a7e640acf480fb74bb48e396d0e1c",
            "value": {
              "markup": "<p>The IRAS ID you entered is for a project that has already been added to this service. You only need to add a project once. </p>\n<p>If you added the project you will find it in the ‘My research’ section of your account. </p>\n<p>If someone else added the project you will need to contact them.<br><br></p>\n<p>To get help, contact the support team. </p>\n<p><strong>Online<br></strong>Visit the <a href=\"https://www.hra.nhs.uk/about-us/contact-us/\">HRA support site</a>\u2028<br><br><strong>Email<br></strong><a href=\"mailto:service.desk@hra.nhs.uk\">service.desk@hra.nhs.uk</a></p>\n<p><strong>Phone<br></strong>020 7104 8260<br>Monday to Friday, 9am to 5pm</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/248c7cafe455475a8a19c99699ab3948",
      "udi": "umb://element/b93205cb6e8f424f97c7ec7560af82c1"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
  </Properties>
</Content>