<?xml version="1.0" encoding="utf-8"?>
<Content Key="fa9ec351-5507-4296-884b-7e5280d00729" Alias="ProjectClosures" Level="3">
  <Info>
    <Parent Key="425e6fe6-f2a1-4af7-b7d8-158fe1d3f8b6">SponsorWorkspace</Parent>
    <Path>/Home/SponsorWorkspace/ProjectClosures</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2025-12-17T14:45:56</CreateDate>
    <NodeName Default="ProjectClosures" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/916c5a4eb3954c40a9daee87fa2d0ea3"
      },
      {
        "contentUdi": "umb://element/7de7f60aed4d43f5a2d68a01c71f4b26"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/16e44c9430374147bb2e86130826f6c5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/16e44c9430374147bb2e86130826f6c5",
            "value": "Authorisations"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/c615b2a27d014ee382338079e6a1b01b",
      "udi": "umb://element/916c5a4eb3954c40a9daee87fa2d0ea3"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a95933943eb9486fa17f508dfe5a242a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/a95933943eb9486fa17f508dfe5a242a",
            "value": "Enter the IRAS ID or modification ID"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/42c296a9c2fe45d49f6cd0452b38dc73",
      "udi": "umb://element/7de7f60aed4d43f5a2d68a01c71f4b26"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
    <metaTitle>
      <Value><![CDATA[Authorisations]]></Value>
    </metaTitle>
  </Properties>
</Content>