<?xml version="1.0" encoding="utf-8"?>
<Content Key="d329f009-4ad2-4a78-8d3f-b808271cdcf6" Alias="Project design" Level="5">
  <Info>
    <Parent Key="a989dd88-dc88-4fcb-8d2f-57d1c751776c">Area of change</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/AreaOfChange/ProjectDesign</Path>
    <Trashed>false</Trashed>
    <ContentType>answerOption</ContentType>
    <CreateDate>2025-07-31T14:37:19</CreateDate>
    <NodeName Default="Project design" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Project design]]></Value>
    </optionName>
  </Properties>
</Content>