<?xml version="1.0" encoding="utf-8"?>
<Content Key="992a0aaa-e76d-4e9f-a77f-d34f432e0de6" Alias="ProjectRecord.ConfirmProjectDetails.Content" Level="5">
  <Info>
    <Parent Key="029137e6-06aa-43b4-97d4-479160b7a4bf">Review answers</Parent>
    <Path>/Home/ContentPlaceholders/ProjectRecord/ReviewAnswers/ProjectRecordConfirmProjectDetailsContent</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-01-20T16:56:12</CreateDate>
    <NodeName Default="ProjectRecord.ConfirmProjectDetails.Content" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>