<?xml version="1.0" encoding="utf-8"?>
<Content Key="f16d54a6-8115-42db-a9b2-994309d07cf8" Alias="Project personnel" Level="5">
  <Info>
    <Parent Key="4de398cc-4180-4b6a-8be2-96266b3fa095">Questions</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Questions/ProjectPersonnel</Path>
    <Trashed>false</Trashed>
    <ContentType>questionsFolder</ContentType>
    <CreateDate>2025-10-22T14:59:15</CreateDate>
    <NodeName Default="Project personnel" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>