<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1c6d130-e026-44f9-bc50-92ffde43f734" Alias="Project personnel principal investigator" Level="5">
  <Info>
    <Parent Key="4a98ec94-ffac-4095-a220-fc28e5602ed5">Category repository</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/CategoryRepository/ProjectPersonnelPrincipalInvestigator</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-10-22T15:15:23</CreateDate>
    <NodeName Default="Project personnel principal investigator" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryId>
      <Value><![CDATA[Project personnel principal investigator]]></Value>
    </categoryId>
  </Properties>
</Content>