<?xml version="1.0" encoding="utf-8"?>
<Content Key="d64cd1dc-f47a-4718-a11f-19abe026f584" Alias="ProjectRecordSearch.SearchHint" Level="4">
  <Info>
    <Parent Key="fe4e2923-ba51-41bb-8346-4eab866b6a98">Project record search</Parent>
    <Path>/Home/ContentPlaceholders/ProjectRecordSearch/ProjectRecordSearchSearchHint</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-11-07T16:35:56</CreateDate>
    <NodeName Default="ProjectRecordSearch.SearchHint" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>