<?xml version="1.0" encoding="utf-8"?>
<Content Key="42711a49-f0ea-4f56-96fd-7f371d09daea" Alias="Project Record Already Exist" Level="3">
  <Info>
    <Parent Key="3e0777ee-ed72-4848-a405-0b4cc10df5c6">Content Placeholders</Parent>
    <Path>/Home/ContentPlaceholders/ProjectRecordAlreadyExist</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2025-10-22T16:28:11</CreateDate>
    <NodeName Default="Project Record Already Exist" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>