<?xml version="1.0" encoding="utf-8"?>
<Content Key="7dc754a6-3ac6-4a88-a7b7-cb19e05915d1" Alias="Project documents" Level="5">
  <Info>
    <Parent Key="4a98ec94-ffac-4095-a220-fc28e5602ed5">Category repository</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/CategoryRepository/ProjectDocuments</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2025-08-19T15:53:30</CreateDate>
    <NodeName Default="Project documents" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryId>
      <Value><![CDATA[Project documents]]></Value>
    </categoryId>
  </Properties>
</Content>