<?xml version="1.0" encoding="utf-8"?>
<Content Key="336f290e-1767-40fd-be18-409d76b13b2f" Alias="Project titles" Level="5">
  <Info>
    <Parent Key="78327c1e-ab30-4977-aa35-3fd083602bb2">Project Identification modification</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ProjectIdentificationModification/ProjectTitles</Path>
    <Trashed>false</Trashed>
    <ContentType>section</ContentType>
    <CreateDate>2025-10-16T11:47:51</CreateDate>
    <NodeName Default="Project titles" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/4dbe3d033d384e3b97107aedb238ee7e]]></Value>
    </category>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <isLastSectionBeforeReview>
      <Value><![CDATA[1]]></Value>
    </isLastSectionBeforeReview>
    <mandatory>
      <Value><![CDATA[0]]></Value>
    </mandatory>
    <parentAnswerOption>
      <Value><![CDATA[umb://document/34253e1b9e4644a4984ec49091742cf0,umb://document/75e378499e0244d5a150a18ee3efd1ea]]></Value>
    </parentAnswerOption>
    <parentQuestion>
      <Value><![CDATA[umb://document/338d3feb34454810807da2d2d47c112c]]></Value>
    </parentQuestion>
    <sectionId>
      <Value><![CDATA[title-section]]></Value>
    </sectionId>
    <sectionName>
      <Value><![CDATA[Title section]]></Value>
    </sectionName>
    <sequence>
      <Value><![CDATA[3]]></Value>
    </sequence>
    <staticViewName>
      <Value><![CDATA[DisplayQuestionnaire]]></Value>
    </staticViewName>
  </Properties>
</Content>