<?xml version="1.0" encoding="utf-8"?>
<Content Key="80daf930-2678-4ef3-9ff9-702a971d3981" Alias="Project restart modification" Level="4">
  <Info>
    <Parent Key="df71c69e-0cca-4bcf-98b9-030c0c0211d7">Modifications v1</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ProjectRestartModification</Path>
    <Trashed>false</Trashed>
    <ContentType>modificationJourney</ContentType>
    <CreateDate>2026-03-06T16:37:30</CreateDate>
    <NodeName Default="Project restart modification" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <condition>
      <Value><![CDATA[umb://document/0c715e3f22bd47fb9a37710e0248b761]]></Value>
    </condition>
  </Properties>
</Content>