<?xml version="1.0" encoding="utf-8"?>
<Content Key="fe4e2923-ba51-41bb-8346-4eab866b6a98" Alias="Project record search" Level="3">
  <Info>
    <Parent Key="3e0777ee-ed72-4848-a405-0b4cc10df5c6">Content Placeholders</Parent>
    <Path>/Home/ContentPlaceholders/ProjectRecordSearch</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2025-11-07T16:35:30</CreateDate>
    <NodeName Default="Project record search" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>