<?xml version="1.0" encoding="utf-8"?>
<Content Key="89319fe0-479e-456c-ade1-315aa29dc17e" Alias="ProjectRecordSearch.Title" Level="4">
  <Info>
    <Parent Key="fe4e2923-ba51-41bb-8346-4eab866b6a98">Project record search</Parent>
    <Path>/Home/ContentPlaceholders/ProjectRecordSearch/ProjectRecordSearchTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-11-07T16:35:56</CreateDate>
    <NodeName Default="ProjectRecordSearch.Title" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>