<?xml version="1.0" encoding="utf-8"?>
<Content Key="4d14af7f-15d2-4859-ab84-6fe5ea53509c" Alias="ProjectDocument" Level="4">
  <Info>
    <Parent Key="d406ed1c-1c6f-4570-bd8c-d9671a38b3a9">Documents</Parent>
    <Path>/Home/Modifications/Documents/ProjectDocument</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2026-01-20T16:33:57</CreateDate>
    <NodeName Default="ProjectDocument" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/df216d9fb35b4dbbbbf3aa0037947292"
      },
      {
        "contentUdi": "umb://element/c96f21b84cd04b22ae331a906077a2d9"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a381243fee864c32a5de1166071ebe00"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/a381243fee864c32a5de1166071ebe00",
            "value": "Add supporting documents"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/cca3fe88cde146efbf24f56c5c6fc3e7",
      "udi": "umb://element/df216d9fb35b4dbbbbf3aa0037947292"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7ea889a0de5d46ae97dae7e0a7e6e894"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/7ea889a0de5d46ae97dae7e0a7e6e894",
            "value": {
              "markup": "<p>Upload your documents here. You’ll add document details in the next step.<br>Larger files will take longer to upload.<br><br>Documents must be less than 100MB and one of these file types: mp4, mov, avi, mkv, wmv, mpeg, mpg, webm, png, gif, bmp, svg, jpg, jpeg, doc, docx, dot, dotx, pdf, rtf, odt, ofd, xps, xls, xlsx, csv, ppt, pptx, txt, xml, html, htm, vcf, eml, msg</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/c0738b689f154ef48c7b5efce7e09b28",
      "udi": "umb://element/c96f21b84cd04b22ae331a906077a2d9"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
  </Properties>
</Content>