<?xml version="1.0" encoding="utf-8"?>
<Content Key="0e61fb2f-dc46-43f0-8e87-df42af421721" Alias="Project identifiers" Level="5">
  <Info>
    <Parent Key="adfe82ab-5727-49ed-b140-6b1c1cdd9386">Questions repository</Parent>
    <Path>/QuestionSets/ProjectRecordRepository/ProjectRecordV2/QuestionsRepository/ProjectIdentifiers</Path>
    <Trashed>false</Trashed>
    <ContentType>questionsFolder</ContentType>
    <CreateDate>2025-07-30T14:48:05</CreateDate>
    <NodeName Default="Project identifiers" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>