<?xml version="1.0" encoding="utf-8"?>
<Content Key="0e6439a0-c016-4bfb-9b17-bdd513a220a9" Alias="Project Record Exists" Level="4">
  <Info>
    <Parent Key="42711a49-f0ea-4f56-96fd-7f371d09daea">Project Record</Parent>
    <Path>/Home/ContentPlaceholders/ProjectRecord/ProjectRecordExists</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2025-10-22T23:46:31</CreateDate>
    <NodeName Default="Project Record Exists" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>