<?xml version="1.0" encoding="utf-8"?>
<Content Key="4ac0e878-e8a7-42df-832e-868c01f73105" Alias="Project identifiers" Level="5">
  <Info>
    <Parent Key="4f8b5a84-b8db-4841-964a-4e78c419e551">Sections</Parent>
    <Path>/QuestionSets/ProjectRecordRepository/ProjectRecordV2/Sections/ProjectIdentifiers</Path>
    <Trashed>false</Trashed>
    <ContentType>section</ContentType>
    <CreateDate>2025-10-02T14:55:28</CreateDate>
    <NodeName Default="Project identifiers" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/d5b0e745867f4354bc072dc493d69545]]></Value>
    </category>
    <evaluateBackRoute>
      <Value><![CDATA[0]]></Value>
    </evaluateBackRoute>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <isLastSectionBeforeReview>
      <Value><![CDATA[0]]></Value>
    </isLastSectionBeforeReview>
    <mandatory>
      <Value><![CDATA[0]]></Value>
    </mandatory>
    <nextSection>
      <Value><![CDATA[]]></Value>
    </nextSection>
    <parentAnswerOption>
      <Value><![CDATA[]]></Value>
    </parentAnswerOption>
    <parentQuestion>
      <Value><![CDATA[]]></Value>
    </parentQuestion>
    <sectionId>
      <Value><![CDATA[pr-project-identifiers]]></Value>
    </sectionId>
    <sectionName>
      <Value><![CDATA[Project identifiers]]></Value>
    </sectionName>
    <sequence>
      <Value><![CDATA[2]]></Value>
    </sequence>
    <staticViewName>
      <Value><![CDATA[]]></Value>
    </staticViewName>
    <storeReferrer>
      <Value><![CDATA[0]]></Value>
    </storeReferrer>
  </Properties>
</Content>