<?xml version="1.0" encoding="utf-8"?>
<Content Key="367c7ef6-db94-4c2b-80ba-cb46057db53a" Alias="Protocol - Non-substantial changes" Level="6">
  <Info>
    <Parent Key="654fa18d-2637-4e70-a3d0-8889cfe91513">Project documents</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/AreaOfChange/ProjectDocuments/ProtocolNonSubstantialChanges</Path>
    <Trashed>false</Trashed>
    <ContentType>subAnswerOption</ContentType>
    <CreateDate>2025-08-19T15:47:21</CreateDate>
    <NodeName Default="Protocol - Non-substantial changes" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[10]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Protocol - Non-substantial changes (e.g. not affecting safety or the scientific value of the trial)]]></Value>
    </optionName>
    <showApplicabilityQuestions>
      <Value><![CDATA[]]></Value>
    </showApplicabilityQuestions>
  </Properties>
</Content>