<?xml version="1.0" encoding="utf-8"?>
<Content Key="9475631c-2dc4-4669-908b-94aa924089f3" Alias="Protocol - Significant changes (e.g. affecting safety or the scientific value of the trial)" Level="6">
  <Info>
    <Parent Key="654fa18d-2637-4e70-a3d0-8889cfe91513">Project documents</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/AreaOfChange/ProjectDocuments/ProtocolSignificantChangesEgAffectingSafetyOrTheScientificValueOfTheTrial</Path>
    <Trashed>false</Trashed>
    <ContentType>subAnswerOption</ContentType>
    <CreateDate>2025-11-10T15:43:39</CreateDate>
    <NodeName Default="Protocol - Significant changes (e.g. affecting safety or the scientific value of the trial)" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[38]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Protocol - Significant changes (e.g. affecting safety or the scientific value of the trial)]]></Value>
    </optionName>
    <showApplicabilityQuestions>
      <Value><![CDATA[1]]></Value>
    </showApplicabilityQuestions>
  </Properties>
</Content>