<?xml version="1.0" encoding="utf-8"?>
<Content Key="b4d8fb43-35b7-4077-b093-c90709b49069" Alias="P&amp;S.OneLoginTitle" Level="5">
  <Info>
    <Parent Key="09eaa809-9f24-4665-a774-6cb591f75e98">Index</Parent>
    <Path>/Home/ContentPlaceholders/ProfileAndSettings/Index/PSOneLoginTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-13T09:31:23</CreateDate>
    <NodeName Default="P&amp;S.OneLoginTitle" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>