<?xml version="1.0" encoding="utf-8"?>
<Content Key="a2b07059-397d-4cf5-aaed-843afc3b5e16" Alias="P&amp;S.ProfileDetailsTitle" Level="5">
  <Info>
    <Parent Key="09eaa809-9f24-4665-a774-6cb591f75e98">Index</Parent>
    <Path>/Home/ContentPlaceholders/ProfileAndSettings/Index/PSProfileDetailsTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-13T09:31:37</CreateDate>
    <NodeName Default="P&amp;S.ProfileDetailsTitle" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>