<?xml version="1.0" encoding="utf-8"?>
<Content Key="00c87454-a7cb-493e-abef-0cead89def43" Alias="P&amp;S.EditProfile.OneLoginBanner.Label" Level="5">
  <Info>
    <Parent Key="395d3f0a-3cdf-41eb-a22f-47cbf8a9f44b">Edit Profile</Parent>
    <Path>/Home/ContentPlaceholders/ProfileAndSettings/EditProfile/PSEditProfileOneLoginBannerLabel</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-13T09:33:16</CreateDate>
    <NodeName Default="P&amp;S.EditProfile.OneLoginBanner.Label" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>