<?xml version="1.0" encoding="utf-8"?>
<Content Key="c543084a-559a-4b62-8e8e-519b296e976a" Alias="P&amp;S.EditProfile.OneLoginBanner.Title" Level="5">
  <Info>
    <Parent Key="395d3f0a-3cdf-41eb-a22f-47cbf8a9f44b">Edit Profile</Parent>
    <Path>/Home/ContentPlaceholders/ProfileAndSettings/EditProfile/PSEditProfileOneLoginBannerTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-13T09:33:16</CreateDate>
    <NodeName Default="P&amp;S.EditProfile.OneLoginBanner.Title" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>