<?xml version="1.0" encoding="utf-8"?>
<Content Key="275b6a61-26a1-47a7-8136-1663fbeefd84" Alias="P&amp;S.EditProfile.OneLoginBanner.Body" Level="5">
  <Info>
    <Parent Key="395d3f0a-3cdf-41eb-a22f-47cbf8a9f44b">Edit Profile</Parent>
    <Path>/Home/ContentPlaceholders/ProfileAndSettings/EditProfile/PSEditProfileOneLoginBannerBody</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-13T09:33:16</CreateDate>
    <NodeName Default="P&amp;S.EditProfile.OneLoginBanner.Body" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>