<?xml version="1.0" encoding="utf-8"?>
<Content Key="04a97fa1-44a4-418a-a66c-0d323a8165aa" Alias="P&amp;S.OneLoginBanner.Label" Level="5">
  <Info>
    <Parent Key="09eaa809-9f24-4665-a774-6cb591f75e98">Index</Parent>
    <Path>/Home/ContentPlaceholders/ProfileAndSettings/Index/PSOneLoginBannerLabel</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-13T09:32:49</CreateDate>
    <NodeName Default="P&amp;S.OneLoginBanner.Label" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>