<?xml version="1.0" encoding="utf-8"?>
<Content Key="50b9efae-4501-4688-8d0c-40ed55915832" Alias="P&amp;S.SuccessEditMessage.Body" Level="5">
  <Info>
    <Parent Key="09eaa809-9f24-4665-a774-6cb591f75e98">Index</Parent>
    <Path>/Home/ContentPlaceholders/ProfileAndSettings/Index/PSSuccessEditMessageBody</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-13T10:02:17</CreateDate>
    <NodeName Default="P&amp;S.SuccessEditMessage.Body" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>