<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2b14ef6-f7e3-4343-8a2e-f982ac9604f4" Alias="Question sets" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/QuestionSets</Path>
    <Trashed>false</Trashed>
    <ContentType>questionsets</ContentType>
    <CreateDate>2025-07-25T11:27:14</CreateDate>
    <NodeName Default="Question sets" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>