<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2ec6a56-5bc7-4df3-bf0a-6a6ff05f930f" Alias="Ranking: Categorisation" Level="4">
  <Info>
    <Parent Key="df71c69e-0cca-4bcf-98b9-030c0c0211d7">Modifications v1</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/RankingCategorisation</Path>
    <Trashed>false</Trashed>
    <ContentType>modificationRanking</ContentType>
    <CreateDate>2025-10-02T23:44:35</CreateDate>
    <NodeName Default="Ranking: Categorisation" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>