<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c9f1757-33a5-4b58-b2b3-be3764a7bd1a" Alias="RecMemberNotActive" Level="3">
  <Info>
    <Parent Key="d815fa61-4d54-4c2e-b587-6ad1d47664a0">MemberManagement</Parent>
    <Path>/Home/MemberManagement/RecMemberNotActive</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2026-04-20T15:42:51</CreateDate>
    <NodeName Default="RecMemberNotActive" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/dc300315b87346d88fbfbb15c0f0d911"
      },
      {
        "contentUdi": "umb://element/9dbd5805befb40ada2a9e96e81b58a38"
      },
      {
        "contentUdi": "umb://element/a021225b106848b58fb399549b97d6cc"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/198cb2ac1835485db0c37064922e416f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/198cb2ac1835485db0c37064922e416f",
            "value": {
              "markup": "<p><span>You cannot add this member because their profile has been disabled.</span></p>\n<p><span>You can try again. Make sure you double-check the spelling when entering the email address.</span></p>\n<p><span>You should check you are using the correct email address. You need to add them using the same email address they use to log into the system.</span></p>\n<p><span>To get help, contact the support team.&nbsp;</span></p>\n<p><strong>Online<br></strong>Visit the <a rel=\"noopener\" href=\"https://healthresearchauthority.haloitsm.com/portal\" target=\"_blank\">HRA support site</a></p>\n<p><strong>Email<br></strong><a href=\"mailto:service.desk@hra.nhs.uk\">service.desk@hra.nhs.uk</a></p>\n<p><strong>Phone<br></strong>020 7104 8260<br>Monday to Friday, 9am to 5pm</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/1c82a1568580496788ba8ef9ec03646b",
      "udi": "umb://element/dc300315b87346d88fbfbb15c0f0d911"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3c8b7ec6a71545a495b3f350d9b1aaae"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/3c8b7ec6a71545a495b3f350d9b1aaae",
            "value": "Research ethics committee member profile is disabled"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/c7c371970bad4f8c8b56029d408180af",
      "udi": "umb://element/9dbd5805befb40ada2a9e96e81b58a38"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/379e5f861331497eab7ae36363b03742"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/379e5f861331497eab7ae36363b03742",
            "value": "Return to research ethics committee profile"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/ecf9f8a3bebc488d92dca37af9b8f17e",
      "udi": "umb://element/a021225b106848b58fb399549b97d6cc"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>