<?xml version="1.0" encoding="utf-8"?>
<Content Key="1fa85c10-a433-4ae8-962e-052028119e37" Alias="Recordsearch" Level="3">
  <Info>
    <Parent Key="38eef064-ccf3-44f7-8924-171b1a7f3c0d">Approvals</Parent>
    <Path>/Home/Approvals/Recordsearch</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2025-11-03T15:36:03</CreateDate>
    <NodeName Default="Recordsearch" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7c6953022d6d402091e3cf9fb43dbe64"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/cfb59866c9ec4e2cb8a444fd0d238134"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/cfb59866c9ec4e2cb8a444fd0d238134",
            "value": "Choose a record type to search"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/2c06692043d749ec9cc88042a7c772a6",
      "udi": "umb://element/7c6953022d6d402091e3cf9fb43dbe64"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
    <metaTitle>
      <Value><![CDATA[Approvals]]></Value>
    </metaTitle>
  </Properties>
</Content>