<?xml version="1.0" encoding="utf-8"?>
<Content Key="9267ea31-31f4-4111-9670-d2d9d14c74d5" Alias="Recruitment - Change in identification, approach, recruitment or consent of participants" Level="6">
  <Info>
    <Parent Key="474a9fbe-7a91-43f9-b860-60ebdd553f1a">Participant procedures</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/AreaOfChange/ParticipantProcedures/RecruitmentChangeInIdentificationApproachRecruitmentOrConsentOfParticipants</Path>
    <Trashed>false</Trashed>
    <ContentType>subAnswerOption</ContentType>
    <CreateDate>2025-10-27T11:20:11</CreateDate>
    <NodeName Default="Recruitment - Change in identification, approach, recruitment or consent of participants" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[113]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Recruitment - Change in identification, approach, recruitment or consent of participants]]></Value>
    </optionName>
    <showApplicabilityQuestions>
      <Value><![CDATA[1]]></Value>
    </showApplicabilityQuestions>
  </Properties>
</Content>