<?xml version="1.0" encoding="utf-8"?>
<Content Key="2c6d1d79-8fe4-40d7-95e0-8c65e04e2fe5" Alias="Research locations" Level="5">
  <Info>
    <Parent Key="adfe82ab-5727-49ed-b140-6b1c1cdd9386">Questions repository</Parent>
    <Path>/QuestionSets/ProjectRecordRepository/ProjectRecordV2/QuestionsRepository/ResearchLocations</Path>
    <Trashed>false</Trashed>
    <ContentType>questionsFolder</ContentType>
    <CreateDate>2025-07-30T14:44:45</CreateDate>
    <NodeName Default="Research locations" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>