<?xml version="1.0" encoding="utf-8"?>
<Content Key="e13ab3ee-bc56-4fb5-8ef4-0fd3afe91f85" Alias="Review Changes" Level="5">
  <Info>
    <Parent Key="f2f04118-b281-450d-9c3b-512ced26b4fc">Project personnel principal investigator modification</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ProjectPersonnelPrincipalInvestigatorModification/ReviewChanges</Path>
    <Trashed>false</Trashed>
    <ContentType>section</ContentType>
    <CreateDate>2025-10-22T17:28:27</CreateDate>
    <NodeName Default="Review Changes" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/d1c6d130e02644f9bc5092ffde43f734]]></Value>
    </category>
    <evaluateBackRoute>
      <Value><![CDATA[]]></Value>
    </evaluateBackRoute>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <isLastSectionBeforeReview>
      <Value><![CDATA[0]]></Value>
    </isLastSectionBeforeReview>
    <mandatory>
      <Value><![CDATA[0]]></Value>
    </mandatory>
    <nextSection>
      <Value><![CDATA[]]></Value>
    </nextSection>
    <parentAnswerOption>
      <Value><![CDATA[]]></Value>
    </parentAnswerOption>
    <parentQuestion>
      <Value><![CDATA[]]></Value>
    </parentQuestion>
    <sectionId>
      <Value><![CDATA[pppi-review-changes]]></Value>
    </sectionId>
    <sectionName>
      <Value><![CDATA[Review Changes]]></Value>
    </sectionName>
    <sequence>
      <Value><![CDATA[6]]></Value>
    </sequence>
    <staticViewName>
      <Value><![CDATA[ReviewChanges]]></Value>
    </staticViewName>
    <storeReferrer>
      <Value><![CDATA[]]></Value>
    </storeReferrer>
  </Properties>
</Content>