<?xml version="1.0" encoding="utf-8"?>
<Content Key="12547a26-9c9a-4e2d-8910-5a128a96de6d" Alias="ReviewBody.View.SearchTitle" Level="5">
  <Info>
    <Parent Key="75e12c2d-9a82-4b64-b7b1-5bdec5e51505">ReviewBody</Parent>
    <Path>/Home/ContentPlaceholders/SystemAdmin/ReviewBody/ReviewBodyViewSearchTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-01-21T10:16:21</CreateDate>
    <NodeName Default="ReviewBody.View.SearchTitle" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>