<?xml version="1.0" encoding="utf-8"?>
<Content Key="681ad3e5-ee33-4eee-a496-2d787da34ae4" Alias="ReviewBody.View.Heading" Level="5">
  <Info>
    <Parent Key="75e12c2d-9a82-4b64-b7b1-5bdec5e51505">ReviewBody</Parent>
    <Path>/Home/ContentPlaceholders/SystemAdmin/ReviewBody/ReviewBodyViewHeading</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-01-21T10:16:03</CreateDate>
    <NodeName Default="ReviewBody.View.Heading" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>