<?xml version="1.0" encoding="utf-8"?>
<Content Key="75e12c2d-9a82-4b64-b7b1-5bdec5e51505" Alias="ReviewBody" Level="4">
  <Info>
    <Parent Key="232252c5-8c14-4c6d-9961-01ea87a0050f">System Admin</Parent>
    <Path>/Home/ContentPlaceholders/SystemAdmin/ReviewBody</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2026-01-21T10:13:50</CreateDate>
    <NodeName Default="ReviewBody" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>