<?xml version="1.0" encoding="utf-8"?>
<Content Key="b9df48fc-4cda-4fb7-9f05-bdfe6dda44ea" Alias="Review Changes" Level="5">
  <Info>
    <Parent Key="da5d70f5-d2b6-40ae-a199-213583b34249">Non reviewable free text with applicability modification</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/NonReviewableFreeTextWithApplicabilityModification/ReviewChanges</Path>
    <Trashed>false</Trashed>
    <ContentType>section</ContentType>
    <CreateDate>2025-10-08T15:48:49</CreateDate>
    <NodeName Default="Review Changes" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/c3a6e652ddd4447593131b74009a7645]]></Value>
    </category>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <mandatory>
      <Value><![CDATA[0]]></Value>
    </mandatory>
    <sectionId>
      <Value><![CDATA[pem-non-reviewable-applicability-review-changes]]></Value>
    </sectionId>
    <sectionName>
      <Value><![CDATA[Review Changes]]></Value>
    </sectionName>
    <sequence>
      <Value><![CDATA[4]]></Value>
    </sequence>
    <staticViewName>
      <Value><![CDATA[ReviewChanges]]></Value>
    </staticViewName>
  </Properties>
</Content>