<?xml version="1.0" encoding="utf-8"?>
<Content Key="34cd1d48-ebdd-4ac4-98d6-f8bbd2bb53ef" Alias="ReviewAllChanges" Level="3">
  <Info>
    <Parent Key="7d10ce7b-5201-428b-a9fd-45140bf56009">Modifications</Parent>
    <Path>/Home/Modifications/ReviewAllChanges</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2026-02-19T11:30:48</CreateDate>
    <NodeName Default="ReviewAllChanges" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3571ea47b7ac4c7d982a9763bd7df2c3"
      },
      {
        "contentUdi": "umb://element/3bbf2e21d6d94db1988c5afb9b85ac92"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ef9b37835de94b46959f40b72aec2c33"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/ef9b37835de94b46959f40b72aec2c33",
            "value": {
              "markup": "<p>Description of revisions made</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/d259d195aacd4e908c290b1cafba471c",
      "udi": "umb://element/3571ea47b7ac4c7d982a9763bd7df2c3"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/0cb98594af7b447d9462fc729815fa4d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/0cb98594af7b447d9462fc729815fa4d",
            "value": {
              "markup": "<p>Describe how the changes you have made address the requests made by the sponsor or provide details why the changes couldn’t be made</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/322e385aaa6c462a85a7bd07813c7171",
      "udi": "umb://element/3bbf2e21d6d94db1988c5afb9b85ac92"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>