<?xml version="1.0" encoding="utf-8"?>
<Content Key="61ac2db8-7833-4b0c-842a-19644cd4072e" Alias="ReviewOutcome" Level="4">
  <Info>
    <Parent Key="bbd3101e-5d60-4aef-a409-e53c7aef0697">SponsorWorkspace</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/ReviewOutcome</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2026-03-09T09:55:44</CreateDate>
    <NodeName Default="ReviewOutcome" />
    <SortOrder>28</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>