<?xml version="1.0" encoding="utf-8"?>
<Content Key="db909b77-2a9d-44ec-ac98-0ec800349792" Alias="Review Changes" Level="5">
  <Info>
    <Parent Key="856c6577-d688-4228-8ca2-102dd6bb777d">Non reviewable free text modification</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/NonReviewableFreeTextModification/ReviewChanges</Path>
    <Trashed>false</Trashed>
    <ContentType>section</ContentType>
    <CreateDate>2025-10-08T17:10:59</CreateDate>
    <NodeName Default="Review Changes" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/c3a6e652ddd4447593131b74009a7645]]></Value>
    </category>
    <evaluateBackRoute>
      <Value><![CDATA[]]></Value>
    </evaluateBackRoute>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <isLastSectionBeforeReview>
      <Value><![CDATA[]]></Value>
    </isLastSectionBeforeReview>
    <mandatory>
      <Value><![CDATA[0]]></Value>
    </mandatory>
    <nextSection>
      <Value><![CDATA[]]></Value>
    </nextSection>
    <parentAnswerOption>
      <Value><![CDATA[]]></Value>
    </parentAnswerOption>
    <parentQuestion>
      <Value><![CDATA[]]></Value>
    </parentQuestion>
    <sectionId>
      <Value><![CDATA[pem-non-reviewable-review-changes]]></Value>
    </sectionId>
    <sectionName>
      <Value><![CDATA[Review Changes]]></Value>
    </sectionName>
    <sequence>
      <Value><![CDATA[4]]></Value>
    </sequence>
    <staticViewName>
      <Value><![CDATA[ReviewChanges]]></Value>
    </staticViewName>
    <storeReferrer>
      <Value><![CDATA[]]></Value>
    </storeReferrer>
  </Properties>
</Content>