<?xml version="1.0" encoding="utf-8"?>
<Content Key="f72ba540-e2a3-4a65-bee5-443790d4fb98" Alias="Reviewable free text with applicability modification" Level="4">
  <Info>
    <Parent Key="df71c69e-0cca-4bcf-98b9-030c0c0211d7">Modifications v1</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ReviewableFreeTextWithApplicabilityModification</Path>
    <Trashed>false</Trashed>
    <ContentType>modificationJourney</ContentType>
    <CreateDate>2025-10-03T11:33:54</CreateDate>
    <NodeName Default="Reviewable free text with applicability modification" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <condition>
      <Value><![CDATA[umb://document/438e456769794b94b851f942be43b560,umb://document/13c60da05fbc49e0858fb98eb95c4ecc,umb://document/b9e219a596ba403986de23361e189d02,umb://document/4855103a8a0642b396cf6036534e3420,umb://document/24493f3f308c4915871504a3a42dcc5f,umb://document/50603c2d6efc42f29f4de9d63d9bd467,umb://document/a01bebd085bb4b0f82e16a4a30e0dff6,umb://document/0d64b35b37cf4e3a83070a8e67ec8d12]]></Value>
    </condition>
  </Properties>
</Content>