<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d982545-4a87-46ba-b94d-8b54d9153683" Alias="Reviewable free text" Level="5">
  <Info>
    <Parent Key="f72ba540-e2a3-4a65-bee5-443790d4fb98">Reviewable free text with applicability modification</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ReviewableFreeTextWithApplicabilityModification/ReviewableFreeText</Path>
    <Trashed>false</Trashed>
    <ContentType>section</ContentType>
    <CreateDate>2025-10-03T11:42:06</CreateDate>
    <NodeName Default="Reviewable free text" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/c3a6e652ddd4447593131b74009a7645]]></Value>
    </category>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <mandatory>
      <Value><![CDATA[0]]></Value>
    </mandatory>
    <sectionId>
      <Value><![CDATA[prm-free-text]]></Value>
    </sectionId>
    <sectionName>
      <Value><![CDATA[Reviewable free text]]></Value>
    </sectionName>
    <sequence>
      <Value><![CDATA[1]]></Value>
    </sequence>
    <staticViewName>
      <Value><![CDATA[ReviewableFreeText]]></Value>
    </staticViewName>
  </Properties>
</Content>