<?xml version="1.0" encoding="utf-8"?>
<Content Key="34cd1d48-ebdd-4ac4-98d6-f8bbd2bb53ef" Alias="ReviewAllChanges" Level="3">
  <Info>
    <Parent Key="7d10ce7b-5201-428b-a9fd-45140bf56009">Modifications</Parent>
    <Path>/Home/Modifications/ReviewAllChanges</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2026-02-19T11:30:48</CreateDate>
    <NodeName Default="ReviewAllChanges" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3571ea47b7ac4c7d982a9763bd7df2c3"
      },
      {
        "contentUdi": "umb://element/3bbf2e21d6d94db1988c5afb9b85ac92"
      },
      {
        "contentUdi": "umb://element/752d008cd77a4842aa3e1c9942a8ed93"
      },
      {
        "contentUdi": "umb://element/e9b31076c2a34ca6ba2882272099b0b1"
      },
      {
        "contentUdi": "umb://element/44b9a5a140474902a59e82d463be01c7"
      },
      {
        "contentUdi": "umb://element/e4eec2365e684176be426d390bec51ad"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ef9b37835de94b46959f40b72aec2c33"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/ef9b37835de94b46959f40b72aec2c33",
            "value": {
              "markup": "<p>Description of revisions made</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/d259d195aacd4e908c290b1cafba471c",
      "udi": "umb://element/3571ea47b7ac4c7d982a9763bd7df2c3"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/0cb98594af7b447d9462fc729815fa4d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/0cb98594af7b447d9462fc729815fa4d",
            "value": {
              "markup": "<p>Describe how the changes you have made address the requests made by the sponsor or provide details why the changes couldn’t be made</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/322e385aaa6c462a85a7bd07813c7171",
      "udi": "umb://element/3bbf2e21d6d94db1988c5afb9b85ac92"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/8c9a5ad96300408f822044783e81da30"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/8c9a5ad96300408f822044783e81da30",
            "value": "Description of revisions made by the sponsor"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/4e89b4f912d54ee480bca9a99b269e6f",
      "udi": "umb://element/752d008cd77a4842aa3e1c9942a8ed93"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ef3340b685634f969666fce8ce936328"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/ef3340b685634f969666fce8ce936328",
            "value": {
              "markup": "<p>To save all of this modification’s documents to a zip file, select 'Download all'.<br><br>To download a selection of documents, select them from the list then ‘Download selection’.<br><br>If the document list is more than one page long, you'll need to select and download documents from one page at a time. Moving between pages will clear your selection.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/4842f8fe834d409f8cc2351a978bd13e",
      "udi": "umb://element/e9b31076c2a34ca6ba2882272099b0b1"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/e6e2343c23484a64866687d9451f4fa1"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/e6e2343c23484a64866687d9451f4fa1",
            "value": {
              "markup": "<p>Review the reasons for the request for further information. By selecting 'Respond' you'll be able to provide a written response to the request and add new supporting documents.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/7ba13116aa82490abed25c9dc80b6f8c",
      "udi": "umb://element/44b9a5a140474902a59e82d463be01c7"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/4f13a346289549a59d8fbbf1bee4c5bf"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/4f13a346289549a59d8fbbf1bee4c5bf",
            "value": "Next steps"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/6006f71cabe6476d9d514ba66e16592e",
      "udi": "umb://element/e4eec2365e684176be426d390bec51ad"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>