<?xml version="1.0" encoding="utf-8"?>
<Content Key="7cff16ed-9adf-47da-8e56-eabe77e7b27c" Alias="RfiCheckAndSubmitResponses" Level="4">
  <Info>
    <Parent Key="19d38f4d-378c-4dad-9da2-07af4f3c97af">Rfi</Parent>
    <Path>/Home/Modifications/Rfi/RfiCheckAndSubmitResponses</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2026-04-24T13:19:51</CreateDate>
    <NodeName Default="RfiCheckAndSubmitResponses" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6e1cffb7a04d4f79b1fe49ef0cb9977b"
      },
      {
        "contentUdi": "umb://element/2d05816dcfc149aa86900e600868febb"
      },
      {
        "contentUdi": "umb://element/5234e86425a340b0a119cd0404a8e8e6"
      },
      {
        "contentUdi": "umb://element/e2fee0fdf3384b08aa8aa0bbcd02d1e9"
      },
      {
        "contentUdi": "umb://element/6a3af6fe4f444b5380c248fb84f98291"
      },
      {
        "contentUdi": "umb://element/24e983bfc14c46339050fef4fa7e0c25"
      },
      {
        "contentUdi": "umb://element/8592e7f0b84045b39696ba2961fa19c0"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9ec9fc2b2ba94bf5bf3146bb9664871a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/9ec9fc2b2ba94bf5bf3146bb9664871a",
            "value": "Check the information before you send"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/01dfd9db0e484acb83ef80739df72480",
      "udi": "umb://element/6e1cffb7a04d4f79b1fe49ef0cb9977b"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/598622d5a6f74732ae6c9afdcaf0bcb3"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/598622d5a6f74732ae6c9afdcaf0bcb3",
            "value": {
              "markup": "<p>Make sure the information is correct before you send the response.<br>Once the response is sent to the sponsor, it cannot be changed.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/142d3fced1e1461a989e20b7f00cc1bc",
      "udi": "umb://element/2d05816dcfc149aa86900e600868febb"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/59953d95bdee4eb0885d7568d7c0e430"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/59953d95bdee4eb0885d7568d7c0e430",
            "value": "Response to request for further information"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/7f253b1b92b74aa8b1dda6a0b5f1cd29",
      "udi": "umb://element/5234e86425a340b0a119cd0404a8e8e6"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/8cd6d3c2974f4772afb16758c1468aad"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/8cd6d3c2974f4772afb16758c1468aad",
            "value": "Check, authorise and submit"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/1ae4b2f17e154e98bb970a2792f4dff4",
      "udi": "umb://element/e2fee0fdf3384b08aa8aa0bbcd02d1e9"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/e0203ace037348609ef3a1f2b9b3dd09"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/e0203ace037348609ef3a1f2b9b3dd09",
            "value": {
              "markup": "<p>Check that you're happy with your responses before authorising and submitting. Your response can not be changed after it is submitted to the review body.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/97105dbe577947c183c736ad4386024a",
      "udi": "umb://element/6a3af6fe4f444b5380c248fb84f98291"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/97a2cfee0e8c4303881963d65bb9b575"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/97a2cfee0e8c4303881963d65bb9b575",
            "value": {
              "markup": "<p>Check and send request for revisions</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/4a82fb49120c4cae8f08f5bf11f3d5e1",
      "udi": "umb://element/24e983bfc14c46339050fef4fa7e0c25"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/1d157c0e30c14ea0ae7e08882ef52002"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/1d157c0e30c14ea0ae7e08882ef52002",
            "value": {
              "markup": "<p>Check your requested revisions and send back to the researcher.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/1257e221bfbd4edc983b20a451e3776e",
      "udi": "umb://element/8592e7f0b84045b39696ba2961fa19c0"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>