<?xml version="1.0" encoding="utf-8"?>
<Content Key="35f95c2c-d8c7-49f2-9b85-c68c38501bf6" Alias="RfiDetails" Level="4">
  <Info>
    <Parent Key="19d38f4d-378c-4dad-9da2-07af4f3c97af">Rfi</Parent>
    <Path>/Home/Modifications/Rfi/RfiDetails</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2026-03-16T15:03:45</CreateDate>
    <NodeName Default="RfiDetails" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/08222497c9b942ebab40fb5403b1f6b1"
      },
      {
        "contentUdi": "umb://element/ca812e968eb94438b7e155ef59229e00"
      },
      {
        "contentUdi": "umb://element/df02c846e32f485593f471c60aff7050"
      },
      {
        "contentUdi": "umb://element/1d855e76266c4ca8b9a069a14578b209"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/21d4631461574bfeb3b4ed561a300fa1"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/21d4631461574bfeb3b4ed561a300fa1",
            "value": "Request for further information"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/bfe47b4662844507b0d0a9f93284c306",
      "udi": "umb://element/08222497c9b942ebab40fb5403b1f6b1"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/98e5aad0906a4061b82c56b7d0d5d444"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/98e5aad0906a4061b82c56b7d0d5d444",
            "value": "Reasons for requesting further information"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/d43f0b5c9e4747f38da865b16068558f",
      "udi": "umb://element/ca812e968eb94438b7e155ef59229e00"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/11dfb8bb0f61471f898b2d31e9f5c46c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/11dfb8bb0f61471f898b2d31e9f5c46c",
            "value": {
              "markup": "<p>Review the reasons for the request for further information. By selecting 'Respond' you'll be able to provide a written response to the request and add new supporting documents.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/8be81416307f423d9359dbbe3491eabc",
      "udi": "umb://element/df02c846e32f485593f471c60aff7050"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/60c0342c0df04b2ca9be6f2b223d357b"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/60c0342c0df04b2ca9be6f2b223d357b",
            "value": "Next steps"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/c43c8c0957304a58a7f47ba2ef517f43",
      "udi": "umb://element/1d855e76266c4ca8b9a069a14578b209"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
    <metaTitle>
      <Value><![CDATA[Request for further information]]></Value>
    </metaTitle>
  </Properties>
</Content>