<?xml version="1.0" encoding="utf-8"?>
<Content Key="29fe146a-dac4-4001-85c3-fe2b382089ce" Alias="RfiResponsesConfirmation" Level="4">
  <Info>
    <Parent Key="19d38f4d-378c-4dad-9da2-07af4f3c97af">Rfi</Parent>
    <Path>/Home/Modifications/Rfi/RfiResponsesConfirmation</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2026-04-24T14:28:41</CreateDate>
    <NodeName Default="RfiResponsesConfirmation" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fb392881888f4ad98b9a5cb1e07818bd"
      },
      {
        "contentUdi": "umb://element/74d295457ff74fe0b014681a898b657c"
      },
      {
        "contentUdi": "umb://element/1fcc034114534a4dbf67d5e7374de5d1"
      },
      {
        "contentUdi": "umb://element/80a49c9269f84b2b8512428cf5f15482"
      },
      {
        "contentUdi": "umb://element/a04e6aa4edab45208db7a6f8f964fbd9"
      },
      {
        "contentUdi": "umb://element/f45e9099c231491e885dfcf749f23208"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/63ee757cce1548efb8b4dc90715282bd"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/63ee757cce1548efb8b4dc90715282bd",
            "value": "Response sent to sponsor"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/23f1e7584aa446a5be7ba0004ce50afb",
      "udi": "umb://element/fb392881888f4ad98b9a5cb1e07818bd"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/40bf015df04d4048897658234229c276"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/40bf015df04d4048897658234229c276",
            "value": {
              "markup": "<p>The response has been submitted to the sponsor. No further review or approval is needed.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/c94c30990ca6468aa2331cfae432a1b6",
      "udi": "umb://element/74d295457ff74fe0b014681a898b657c"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/976f02fcf4d747ed88ccbd615c2ae0d9"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/976f02fcf4d747ed88ccbd615c2ae0d9",
            "value": "The response to request for further information has been authorised and submitted for review"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/76f9058f9af44d59b3a3351308831e56",
      "udi": "umb://element/1fcc034114534a4dbf67d5e7374de5d1"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/1f69589867b14cb3aaa5cfe37d29973f"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/1f69589867b14cb3aaa5cfe37d29973f",
            "value": {
              "markup": "<p>The response to request for further information has been authorised and submitted and is now awaiting review.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/eb93f695f7d644a5b292799242110b91",
      "udi": "umb://element/80a49c9269f84b2b8512428cf5f15482"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b532e7d64a0847dbb0c103fe2b20a337"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/b532e7d64a0847dbb0c103fe2b20a337",
            "value": {
              "markup": "<p>Revisions request sent</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/1468e17ecd924afe86dd5f1b10c1eb5e",
      "udi": "umb://element/a04e6aa4edab45208db7a6f8f964fbd9"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/35143af8581248ccb6b5cacae99c8d48"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/35143af8581248ccb6b5cacae99c8d48",
            "value": {
              "markup": "<p>Your request for revisions has been sent to the researcher.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/95811b05f1b6454ea7d585e61ba2db1b",
      "udi": "umb://element/f45e9099c231491e885dfcf749f23208"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>