<?xml version="1.0" encoding="utf-8"?>
<Content Key="9a6706b1-06c2-446a-bad6-5f2900bc6dcb" Alias="RfiResponsesConfirmation" Level="5">
  <Info>
    <Parent Key="76c70ea7-b084-4a1f-a4ce-da81ff8554e3">RFI</Parent>
    <Path>/Home/ContentPlaceholders/Modifications/RFI/RfiResponsesConfirmation</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2026-04-24T14:25:14</CreateDate>
    <NodeName Default="RfiResponsesConfirmation" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>