<?xml version="1.0" encoding="utf-8"?>
<Content Key="12f20b72-8f3a-4d77-ba5b-ac9f06383a96" Alias="Samples - addition of the storage or use of human tissue samples under the relevant legislation on Human Tissue for the first time" Level="6">
  <Info>
    <Parent Key="d329f009-4ad2-4a78-8d3f-b808271cdcf6">Project design</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/AreaOfChange/ProjectDesign/SamplesAdditionOfTheStorageOrUseOfHumanTissueSamplesUnderTheRelevantLegislationOnHumanTissueForTheFirstTime</Path>
    <Trashed>false</Trashed>
    <ContentType>subAnswerOption</ContentType>
    <CreateDate>2025-10-27T11:34:51</CreateDate>
    <NodeName Default="Samples - addition of the storage or use of human tissue samples under the relevant legislation on Human Tissue for the first time" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[117]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Samples - addition of the storage or use of human tissue samples under the relevant legislation on Human Tissue for the first time]]></Value>
    </optionName>
    <showApplicabilityQuestions>
      <Value><![CDATA[1]]></Value>
    </showApplicabilityQuestions>
  </Properties>
</Content>