<?xml version="1.0" encoding="utf-8"?>
<Content Key="37bb615e-2a13-493c-8850-144a0748dd20" Alias="Select change" Level="6">
  <Info>
    <Parent Key="8473be11-76b4-448d-9734-8c1a29302b91">Project identification</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Questions/ProjectIdentification/SelectChange</Path>
    <Trashed>false</Trashed>
    <ContentType>question</ContentType>
    <CreateDate>2025-10-14T11:29:30</CreateDate>
    <NodeName Default="Select change" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerDataType>
      <Value><![CDATA[[
  "Radio button"
]]]></Value>
    </answerDataType>
    <editorComment>
      <Value><![CDATA[]]></Value>
    </editorComment>
    <evaluateOrganisationsAffected>
      <Value><![CDATA[0]]></Value>
    </evaluateOrganisationsAffected>
    <evaluateResourceImplications>
      <Value><![CDATA[0]]></Value>
    </evaluateResourceImplications>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <nhsInvolvement>
      <Value><![CDATA[]]></Value>
    </nhsInvolvement>
    <nonNHSInvolvement>
      <Value><![CDATA[]]></Value>
    </nonNHSInvolvement>
    <possibleAnswers>
      <Value><![CDATA[umb://document/3f25202b01be4b6f9afffc344470af04]]></Value>
    </possibleAnswers>
    <questionFormat>
      <Value><![CDATA[[
  "Look-up list"
]]]></Value>
    </questionFormat>
    <questionName>
      <Value><![CDATA[Select change]]></Value>
    </questionName>
    <shortQuestionName>
      <Value><![CDATA[Select change]]></Value>
    </shortQuestionName>
    <supplementaryInfo>
      <Value><![CDATA[]]></Value>
    </supplementaryInfo>
  </Properties>
</Content>