<?xml version="1.0" encoding="utf-8"?>
<Content Key="93eae7bd-fe39-4c6e-9bcc-14fa15bb7920" Alias="Select change" Level="6">
  <Info>
    <Parent Key="a36fbc0b-c974-4445-9cdf-f45c899aa97a">Select change</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ProjectPersonnelPrincipalInvestigatorModification/SelectChange/SelectChange</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-10-22T15:19:55</CreateDate>
    <NodeName Default="Select change" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Mandatory"
]]]></Value>
    </conformance>
    <isEditable>
      <Value><![CDATA[]]></Value>
    </isEditable>
    <questionContent>
      <Value><![CDATA[umb://document/2620a47b8590451ba2d4fa0922c25419]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0989]]></Value>
    </questionId>
    <sectionGroup>
      <Value><![CDATA[]]></Value>
    </sectionGroup>
    <sequence>
      <Value><![CDATA[1]]></Value>
    </sequence>
    <sequenceInSectionGroup>
      <Value><![CDATA[]]></Value>
    </sequenceInSectionGroup>
    <showAnswerOn>
      <Value><![CDATA[ModificationDetails,ReviewAllChanges]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[0]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[]]></Value>
    </validationRules>
  </Properties>
</Content>