<?xml version="1.0" encoding="utf-8"?>
<Content Key="53e6d4f5-bc1d-4439-a388-ba4598e3a2b8" Alias="Select change" Level="5">
  <Info>
    <Parent Key="14abdf98-78bd-4b33-90ca-e7089d661ed3">Project personnel chief investigator modification</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ProjectPersonnelChiefInvestigatorModification/SelectChange</Path>
    <Trashed>false</Trashed>
    <ContentType>section</ContentType>
    <CreateDate>2025-10-22T15:14:03</CreateDate>
    <NodeName Default="Select change" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/83cca666750b413688cbf7d3d40efeb6]]></Value>
    </category>
    <evaluateBackRoute>
      <Value><![CDATA[]]></Value>
    </evaluateBackRoute>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <isLastSectionBeforeReview>
      <Value><![CDATA[0]]></Value>
    </isLastSectionBeforeReview>
    <mandatory>
      <Value><![CDATA[1]]></Value>
    </mandatory>
    <nextSection>
      <Value><![CDATA[]]></Value>
    </nextSection>
    <parentAnswerOption>
      <Value><![CDATA[]]></Value>
    </parentAnswerOption>
    <parentQuestion>
      <Value><![CDATA[]]></Value>
    </parentQuestion>
    <sectionId>
      <Value><![CDATA[ppci-select-change]]></Value>
    </sectionId>
    <sectionName>
      <Value><![CDATA[Select change]]></Value>
    </sectionName>
    <sequence>
      <Value><![CDATA[1]]></Value>
    </sequence>
    <staticViewName>
      <Value><![CDATA[DisplayQuestionnaire]]></Value>
    </staticViewName>
    <storeReferrer>
      <Value><![CDATA[]]></Value>
    </storeReferrer>
  </Properties>
</Content>