<?xml version="1.0" encoding="utf-8"?>
<Content Key="2620a47b-8590-451b-a2d4-fa0922c25419" Alias="Select details to change for principal investigator" Level="6">
  <Info>
    <Parent Key="f16d54a6-8115-42db-a9b2-994309d07cf8">Project personnel</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Questions/ProjectPersonnel/SelectDetailsToChangeForPrincipalInvestigator</Path>
    <Trashed>false</Trashed>
    <ContentType>question</ContentType>
    <CreateDate>2025-10-22T15:07:51</CreateDate>
    <NodeName Default="Select details to change for principal investigator" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerDataType>
      <Value><![CDATA[[
  "Radio button"
]]]></Value>
    </answerDataType>
    <editorComment>
      <Value><![CDATA[]]></Value>
    </editorComment>
    <evaluateOrganisationsAffected>
      <Value><![CDATA[0]]></Value>
    </evaluateOrganisationsAffected>
    <evaluateResourceImplications>
      <Value><![CDATA[0]]></Value>
    </evaluateResourceImplications>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <nhsInvolvement>
      <Value><![CDATA[]]></Value>
    </nhsInvolvement>
    <nonNHSInvolvement>
      <Value><![CDATA[]]></Value>
    </nonNHSInvolvement>
    <possibleAnswers>
      <Value><![CDATA[umb://document/9f0b4b656da349ecba49f46960d07c82,umb://document/7a309c4f93b1499e8c58295280eb97d2]]></Value>
    </possibleAnswers>
    <questionFormat>
      <Value><![CDATA[[
  "Look-up list"
]]]></Value>
    </questionFormat>
    <questionName>
      <Value><![CDATA[Select details to change]]></Value>
    </questionName>
    <shortQuestionName>
      <Value><![CDATA[Select details to change]]></Value>
    </shortQuestionName>
    <supplementaryInfo>
      <Value><![CDATA[]]></Value>
    </supplementaryInfo>
    <useAnswerForNextSection>
      <Value><![CDATA[0]]></Value>
    </useAnswerForNextSection>
  </Properties>
</Content>