<?xml version="1.0" encoding="utf-8"?>
<Content Key="e488fdbd-d3d1-4c4b-812e-d6844e6ed3e6" Alias="Select change" Level="6">
  <Info>
    <Parent Key="706b5ce3-1616-4561-bd7c-7c07e6a13e25">Select change</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ProjectReferenceNumbersModification/SelectChange/SelectChange</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-10-14T11:50:42</CreateDate>
    <NodeName Default="Select change" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/4dbe3d033d384e3b97107aedb238ee7e]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Mandatory"
]]]></Value>
    </conformance>
    <questionContent>
      <Value><![CDATA[umb://document/37bb615e2a13493c8850144a0748dd20]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0830]]></Value>
    </questionId>
    <sequence>
      <Value><![CDATA[1]]></Value>
    </sequence>
    <showAnswerOn>
      <Value><![CDATA[ModificationDetails,ReviewAllChanges]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[0]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[]]></Value>
    </validationRules>
  </Properties>
</Content>