<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c283457-22e1-46d1-ab8b-3601cc8f1bb0" Alias="Send to Sponsor" Level="4">
  <Info>
    <Parent Key="4b97321e-3f44-47cb-9bc4-4f5971a8abee">Modifications</Parent>
    <Path>/Home/ContentPlaceholders/Modifications/SendToSponsor</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2026-01-20T15:31:39</CreateDate>
    <NodeName Default="Send to Sponsor" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>