<?xml version="1.0" encoding="utf-8"?>
<Content Key="e128aa4d-0b91-49c4-b34b-356abf68c20f" Alias="ServerError.PageTitle" Level="5">
  <Info>
    <Parent Key="85eba631-02d4-46a1-ac42-5a35a051990a">ServerError</Parent>
    <Path>/Home/ContentPlaceholders/Errors/ServerError/ServerErrorPageTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-12-09T22:23:34</CreateDate>
    <NodeName Default="ServerError.PageTitle" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>