<?xml version="1.0" encoding="utf-8"?>
<Content Key="1402df32-b968-4504-be57-b78704709658" Alias="ServerError.ContactDetails" Level="5">
  <Info>
    <Parent Key="85eba631-02d4-46a1-ac42-5a35a051990a">ServerError</Parent>
    <Path>/Home/ContentPlaceholders/Errors/ServerError/ServerErrorContactDetails</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-12-09T22:41:08</CreateDate>
    <NodeName Default="ServerError.ContactDetails" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>