<?xml version="1.0" encoding="utf-8"?>
<Content Key="15a4b5e0-234e-433a-85a6-d54f98f52fbb" Alias="ServerError.Header" Level="5">
  <Info>
    <Parent Key="85eba631-02d4-46a1-ac42-5a35a051990a">ServerError</Parent>
    <Path>/Home/ContentPlaceholders/Errors/ServerError/ServerErrorHeader</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-12-09T22:28:31</CreateDate>
    <NodeName Default="ServerError.Header" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>