<?xml version="1.0" encoding="utf-8"?>
<Content Key="ef27f05f-3370-4fe3-a9c0-3f43fb130413" Alias="ServerError.ReferenceCode" Level="5">
  <Info>
    <Parent Key="85eba631-02d4-46a1-ac42-5a35a051990a">ServerError</Parent>
    <Path>/Home/ContentPlaceholders/Errors/ServerError/ServerErrorReferenceCode</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-12-09T22:40:52</CreateDate>
    <NodeName Default="ServerError.ReferenceCode" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>