<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf65e729-f80b-4594-8821-46faaa178e9f" Alias="Setup" Level="4">
  <Info>
    <Parent Key="65e64e58-c396-4100-80e4-c7eec04ff34e">Sponsor Organisations</Parent>
    <Path>/Home/ContentPlaceholders/SponsorOrganisations/Setup</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2025-10-10T09:02:22</CreateDate>
    <NodeName Default="Setup" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>