<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f5d5a0b-a8ba-4264-8c42-9d26688be993" Alias="Short project title" Level="6">
  <Info>
    <Parent Key="59634909-3f01-46f7-ae70-009e06db755b">Project details</Parent>
    <Path>/QuestionSets/ProjectRecordRepository/ProjectRecordV2/QuestionsRepository/ProjectDetails/ShortProjectTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>question</ContentType>
    <CreateDate>2025-07-28T09:52:16</CreateDate>
    <NodeName Default="Short project title" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerDataType>
      <Value><![CDATA[[
  "Text"
]]]></Value>
    </answerDataType>
    <editorComment>
      <Value><![CDATA[]]></Value>
    </editorComment>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <possibleAnswers>
      <Value><![CDATA[]]></Value>
    </possibleAnswers>
    <questionFormat>
      <Value><![CDATA[[
  "Text"
]]]></Value>
    </questionFormat>
    <questionName>
      <Value><![CDATA[Short project title]]></Value>
    </questionName>
  </Properties>
</Content>