<?xml version="1.0" encoding="utf-8"?>
<Content Key="34253e1b-9e46-44a4-984e-c49091742cf0" Alias="Short project title" Level="6">
  <Info>
    <Parent Key="1de78465-76e5-4f3d-9483-2ecd7282c389">Project titles</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Answers/ProjectTitles/ShortProjectTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>answerOption</ContentType>
    <CreateDate>2025-10-30T14:04:36</CreateDate>
    <NodeName Default="Short project title" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[501]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Short project title]]></Value>
    </optionName>
  </Properties>
</Content>