<?xml version="1.0" encoding="utf-8"?>
<Content Key="9f13dd51-4798-46be-831b-7a381a702d36" Alias="Some" Level="6">
  <Info>
    <Parent Key="30b09979-b39d-467a-a303-f3edfcf6cab2">All - Some</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Answers/AllSome/Some</Path>
    <Trashed>false</Trashed>
    <ContentType>answerOption</ContentType>
    <CreateDate>2025-07-31T11:31:05</CreateDate>
    <NodeName Default="Some" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[OPT0324]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Some]]></Value>
    </optionName>
  </Properties>
</Content>