<?xml version="1.0" encoding="utf-8"?>
<Content Key="54f1c1f3-6abf-4364-8744-1c5a3e6934a2" Alias="Specific change" Level="4">
  <Info>
    <Parent Key="df71c69e-0cca-4bcf-98b9-030c0c0211d7">Modifications v1</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/SpecificChange</Path>
    <Trashed>false</Trashed>
    <ContentType>specificChangeQuestion</ContentType>
    <CreateDate>2025-07-31T11:11:38</CreateDate>
    <NodeName Default="Specific change" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <text>
      <Value><![CDATA[Specific change]]></Value>
    </text>
  </Properties>
</Content>