<?xml version="1.0" encoding="utf-8"?>
<Content Key="5ac5ae7b-9337-4fc7-b503-380eb10c2895" Alias="SponsorOrganisations.ConfirmAddUpdateUser.Title" Level="5">
  <Info>
    <Parent Key="ee0e4390-8606-4065-ae78-16162104f240">ConfirmAddUpdateUser</Parent>
    <Path>/Home/ContentPlaceholders/SponsorOrganisations/ConfirmAddUpdateUser/SponsorOrganisationsConfirmAddUpdateUserTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-14T09:37:56</CreateDate>
    <NodeName Default="SponsorOrganisations.ConfirmAddUpdateUser.Title" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>