<?xml version="1.0" encoding="utf-8"?>
<Content Key="12e735f3-ead3-4179-ae7a-e59972f9381c" Alias="SponsorWorkspace.ConfirmationModificationNotAuthorised.RfiTitle" Level="5">
  <Info>
    <Parent Key="692b054b-3d2e-4acb-8f7b-2ce95e7b07f7">NotAuthorised</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/NotAuthorised/SponsorWorkspaceConfirmationModificationNotAuthorisedRfiTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-04-15T11:14:06</CreateDate>
    <NodeName Default="SponsorWorkspace.ConfirmationModificationNotAuthorised.RfiTitle" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>