<?xml version="1.0" encoding="utf-8"?>
<Content Key="ae00da8c-dc1a-42e9-9dad-7f4569d6d8e1" Alias="Sponsor modification reference" Level="6">
  <Info>
    <Parent Key="fefb8cf3-af4a-4d7d-a831-78f191482a1c">Sponsor Reference</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Questions/SponsorReference/SponsorModificationReference</Path>
    <Trashed>false</Trashed>
    <ContentType>question</ContentType>
    <CreateDate>2025-09-27T00:51:25</CreateDate>
    <NodeName Default="Sponsor modification reference" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerDataType>
      <Value><![CDATA[[
  "Text"
]]]></Value>
    </answerDataType>
    <editorComment>
      <Value><![CDATA[]]></Value>
    </editorComment>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <possibleAnswers>
      <Value><![CDATA[]]></Value>
    </possibleAnswers>
    <questionFormat>
      <Value><![CDATA[[
  "Text"
]]]></Value>
    </questionFormat>
    <questionName>
      <Value><![CDATA[Sponsor modification reference]]></Value>
    </questionName>
    <shortQuestionName>
      <Value><![CDATA[Sponsor modification reference]]></Value>
    </shortQuestionName>
    <supplementaryInfo>
      <Value><![CDATA[]]></Value>
    </supplementaryInfo>
  </Properties>
</Content>