<?xml version="1.0" encoding="utf-8"?>
<Content Key="cc7ab994-8c69-466a-b4e8-c75b5d5e6fdb" Alias="SponsorWorkspace.Confirmation.NotAuthorisedMessageForRfi.Title" Level="5">
  <Info>
    <Parent Key="9afe24b5-b272-4486-9d7d-113aac58e871">Confirmation</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/Confirmation/SponsorWorkspaceConfirmationNotAuthorisedMessageForRfiTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-04-14T13:55:13</CreateDate>
    <NodeName Default="SponsorWorkspace.Confirmation.NotAuthorisedMessageForRfi.Title" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>