<?xml version="1.0" encoding="utf-8"?>
<Content Key="b40da3c5-39cd-438f-859e-6b341524b6ac" Alias="SponsorWorkspace.MyOrganisations.SearchHint" Level="5">
  <Info>
    <Parent Key="9e4ec148-b623-4165-9d78-c6467fb2b9a7">MyOrganisations</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/MyOrganisations/SponsorWorkspaceMyOrganisationsSearchHint</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-12-17T11:47:00</CreateDate>
    <NodeName Default="SponsorWorkspace.MyOrganisations.SearchHint" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>