<?xml version="1.0" encoding="utf-8"?>
<Content Key="3fb6307b-e6db-4774-b5f9-2d3f693e0c3c" Alias="SponsorWorkspace.CheckAndAuthorise.OutcomeDescription" Level="5">
  <Info>
    <Parent Key="85e7b370-728d-43f6-9fee-ce2cc4d0ba88">CheckAndAuthorise</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/CheckAndAuthorise/SponsorWorkspaceCheckAndAuthoriseOutcomeDescription</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-04-13T12:26:01</CreateDate>
    <NodeName Default="SponsorWorkspace.CheckAndAuthorise.OutcomeDescription" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>