<?xml version="1.0" encoding="utf-8"?>
<Content Key="ebdf8a6f-be7e-476b-95e2-e7671c8675e4" Alias="Sponsor document date" Level="6">
  <Info>
    <Parent Key="4767855d-a58c-4db7-b981-c25e481a2815">Project documents</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Questions/ProjectDocuments/SponsorDocumentDate</Path>
    <Trashed>false</Trashed>
    <ContentType>question</ContentType>
    <CreateDate>2025-08-19T17:29:33</CreateDate>
    <NodeName Default="Sponsor document date" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerDataType>
      <Value><![CDATA[[
  "Date"
]]]></Value>
    </answerDataType>
    <editorComment>
      <Value><![CDATA[]]></Value>
    </editorComment>
    <evaluateOrganisationsAffected>
      <Value><![CDATA[]]></Value>
    </evaluateOrganisationsAffected>
    <evaluateResourceImplications>
      <Value><![CDATA[]]></Value>
    </evaluateResourceImplications>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <nhsInvolvement>
      <Value><![CDATA[]]></Value>
    </nhsInvolvement>
    <nonNHSInvolvement>
      <Value><![CDATA[]]></Value>
    </nonNHSInvolvement>
    <possibleAnswers>
      <Value><![CDATA[]]></Value>
    </possibleAnswers>
    <questionFormat>
      <Value><![CDATA[[
  "Date"
]]]></Value>
    </questionFormat>
    <questionName>
      <Value><![CDATA[Sponsor document date]]></Value>
    </questionName>
    <shortQuestionName>
      <Value><![CDATA[Document date]]></Value>
    </shortQuestionName>
    <supplementaryInfo>
      <Value><![CDATA[]]></Value>
    </supplementaryInfo>
    <useAnswerForNextSection>
      <Value><![CDATA[]]></Value>
    </useAnswerForNextSection>
  </Properties>
</Content>