<?xml version="1.0" encoding="utf-8"?>
<Content Key="d0acc42b-ba5e-4417-a365-7cf7c777b802" Alias="SponsorWorkspace.ModificationNotAuthorised.RfiTitle" Level="5">
  <Info>
    <Parent Key="692b054b-3d2e-4acb-8f7b-2ce95e7b07f7">NotAuthorised</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/NotAuthorised/SponsorWorkspaceModificationNotAuthorisedRfiTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-04-15T11:11:35</CreateDate>
    <NodeName Default="SponsorWorkspace.ModificationNotAuthorised.RfiTitle" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>