<?xml version="1.0" encoding="utf-8"?>
<Content Key="ae8d5274-df1d-441b-bc4a-d1a43795200b" Alias="SponsorWorkspace.CheckAndAuthorise.OutcomeTitle" Level="5">
  <Info>
    <Parent Key="85e7b370-728d-43f6-9fee-ce2cc4d0ba88">CheckAndAuthorise</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/CheckAndAuthorise/SponsorWorkspaceCheckAndAuthoriseOutcomeTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-11-11T16:45:02</CreateDate>
    <NodeName Default="SponsorWorkspace.CheckAndAuthorise.OutcomeTitle" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>