<?xml version="1.0" encoding="utf-8"?>
<Content Key="0da58505-55d2-40be-a29f-d5ac4fb02503" Alias="SponsorWorkspace.MyOrganisationUsersAddUserPermission.Title" Level="5">
  <Info>
    <Parent Key="771ad38b-0833-46ff-822b-8f81161e08d1">MyOrganisationUsersAddUserPermission</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/MyOrganisationUsersAddUserPermission/SponsorWorkspaceMyOrganisationUsersAddUserPermissionTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-01-07T11:04:27</CreateDate>
    <NodeName Default="SponsorWorkspace.MyOrganisationUsersAddUserPermission.Title" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>