<?xml version="1.0" encoding="utf-8"?>
<Content Key="8289e07a-ef8a-43f7-b58b-592ba74df1b4" Alias="Sponsor modification date" Level="6">
  <Info>
    <Parent Key="fefb8cf3-af4a-4d7d-a831-78f191482a1c">Sponsor Reference</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Questions/SponsorReference/SponsorModificationDate</Path>
    <Trashed>false</Trashed>
    <ContentType>question</ContentType>
    <CreateDate>2025-09-27T00:52:09</CreateDate>
    <NodeName Default="Sponsor modification date" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerDataType>
      <Value><![CDATA[[
  "Date"
]]]></Value>
    </answerDataType>
    <editorComment>
      <Value><![CDATA[]]></Value>
    </editorComment>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <possibleAnswers>
      <Value><![CDATA[]]></Value>
    </possibleAnswers>
    <questionFormat>
      <Value><![CDATA[[
  "Date"
]]]></Value>
    </questionFormat>
    <questionName>
      <Value><![CDATA[Sponsor modification date]]></Value>
    </questionName>
    <shortQuestionName>
      <Value><![CDATA[Sponsor modification date]]></Value>
    </shortQuestionName>
    <supplementaryInfo>
      <Value><![CDATA[]]></Value>
    </supplementaryInfo>
  </Properties>
</Content>