<?xml version="1.0" encoding="utf-8"?>
<Content Key="9e256e97-f2c6-4930-b3ea-9339263c4250" Alias="Sponsor modification reference" Level="6">
  <Info>
    <Parent Key="1e4ab5d5-ac4a-4472-876e-0d389863ec46">Sponsor modification reference</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/SponsorDetails/SponsorModificationReference/SponsorModificationReference</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-09-27T00:59:37</CreateDate>
    <NodeName Default="Sponsor modification reference" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "N/A"
]]]></Value>
    </conformance>
    <isEditable>
      <Value><![CDATA[]]></Value>
    </isEditable>
    <questionContent>
      <Value><![CDATA[umb://document/ae00da8cdc1a42e99dad7f4569d6d8e1]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA505]]></Value>
    </questionId>
    <sectionGroup>
      <Value><![CDATA[]]></Value>
    </sectionGroup>
    <sequence>
      <Value><![CDATA[1]]></Value>
    </sequence>
    <sequenceInSectionGroup>
      <Value><![CDATA[]]></Value>
    </sequenceInSectionGroup>
    <showAnswerOn>
      <Value><![CDATA[]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[0]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[]]></Value>
    </validationRules>
  </Properties>
</Content>