<?xml version="1.0" encoding="utf-8"?>
<Content Key="6df36b6f-3a45-41de-911b-e5473dfa920f" Alias="SponsorWorkspace.AuthorisationsTitle" Level="4">
  <Info>
    <Parent Key="bbd3101e-5d60-4aef-a409-e53c7aef0697">SponsorWorkspace</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/SponsorWorkspaceAuthorisationsTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-29T14:16:55</CreateDate>
    <NodeName Default="SponsorWorkspace.AuthorisationsTitle" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>