<?xml version="1.0" encoding="utf-8"?>
<Content Key="e1020485-73e5-4412-95c6-0dbebc564e1e" Alias="SponsorOrganisations.Index.AddNewLink" Level="5">
  <Info>
    <Parent Key="2f413a2d-6065-4430-9fd7-2ba5d79ebc32">Index</Parent>
    <Path>/Home/ContentPlaceholders/SponsorOrganisations/Index/SponsorOrganisationsIndexAddNewLink</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-06T15:36:25</CreateDate>
    <NodeName Default="SponsorOrganisations.Index.AddNewLink" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>