<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ed91ad8-3b9b-40f4-9add-fb080c9d94d4" Alias="SponsorOrganisations.ConfirmAddUpdateUser.Body" Level="5">
  <Info>
    <Parent Key="ee0e4390-8606-4065-ae78-16162104f240">ConfirmAddUpdateUser</Parent>
    <Path>/Home/ContentPlaceholders/SponsorOrganisations/ConfirmAddUpdateUser/SponsorOrganisationsConfirmAddUpdateUserBody</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-14T09:37:56</CreateDate>
    <NodeName Default="SponsorOrganisations.ConfirmAddUpdateUser.Body" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>