<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f6b489d-b5f3-4160-b5fe-56428171dd34" Alias="SponsorOrganisations.DisableSponsorOrganisation.Title" Level="5">
  <Info>
    <Parent Key="188274e0-480c-48fd-ad6a-18962b8ecc2c">DisableSponsorOrganisation</Parent>
    <Path>/Home/ContentPlaceholders/SponsorOrganisations/DisableSponsorOrganisation/SponsorOrganisationsDisableSponsorOrganisationTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-17T14:43:04</CreateDate>
    <NodeName Default="SponsorOrganisations.DisableSponsorOrganisation.Title" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>