<?xml version="1.0" encoding="utf-8"?>
<Content Key="ec5d8350-895b-4a9f-8e60-af8557565443" Alias="SponsorOrganisations.EnableUser.Title" Level="5">
  <Info>
    <Parent Key="c12b912b-e0b7-40fc-a129-860edef6fd26">EnableUser</Parent>
    <Path>/Home/ContentPlaceholders/SponsorOrganisations/EnableUser/SponsorOrganisationsEnableUserTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-16T13:49:13</CreateDate>
    <NodeName Default="SponsorOrganisations.EnableUser.Title" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>