<?xml version="1.0" encoding="utf-8"?>
<Content Key="c5d3905f-a41c-47a6-9c35-8408b1c8f40c" Alias="SponsorSelector" Level="3">
  <Info>
    <Parent Key="425e6fe6-f2a1-4af7-b7d8-158fe1d3f8b6">SponsorWorkspace</Parent>
    <Path>/Home/SponsorWorkspace/SponsorSelector</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2026-02-18T12:05:21</CreateDate>
    <NodeName Default="SponsorSelector" />
    <SortOrder>26</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/415beb6bbef54c51ac0980bf66c33278"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/cf980aae712f483db1d3ac2e664c5720"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/cf980aae712f483db1d3ac2e664c5720",
            "value": "Authorisations"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/3932338a75b0459db01b4f4522543c72",
      "udi": "umb://element/415beb6bbef54c51ac0980bf66c33278"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>