<?xml version="1.0" encoding="utf-8"?>
<Content Key="69336501-eb86-4211-b056-6e88d16fe4dc" Alias="SponsorWorkspace.MyOrganisationUsers.FindUserTitle" Level="5">
  <Info>
    <Parent Key="51dd2ca9-f044-4fb6-af9a-9f92f0c1dcb8">MyOrganisationUsers</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/MyOrganisationUsers/SponsorWorkspaceMyOrganisationUsersFindUserTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-12-23T15:29:23</CreateDate>
    <NodeName Default="SponsorWorkspace.MyOrganisationUsers.FindUserTitle" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>