<?xml version="1.0" encoding="utf-8"?>
<Content Key="28facb65-3f42-46d1-b428-677cd8929ab8" Alias="SponsorOrganisations.View.Headline" Level="5">
  <Info>
    <Parent Key="1bc85f34-646b-4d1d-b057-8a3677fd9613">View</Parent>
    <Path>/Home/ContentPlaceholders/SponsorOrganisations/View/SponsorOrganisationsViewHeadline</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-10T09:57:23</CreateDate>
    <NodeName Default="SponsorOrganisations.View.Headline" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>