<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ecef741-cfcd-4383-9424-933c38d4762c" Alias="SponsorWorkspace.MyOrganisationUsersAddUserPermission.Description" Level="5">
  <Info>
    <Parent Key="771ad38b-0833-46ff-822b-8f81161e08d1">MyOrganisationUsersAddUserPermission</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/MyOrganisationUsersAddUserPermission/SponsorWorkspaceMyOrganisationUsersAddUserPermissionDescription</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-01-07T11:43:26</CreateDate>
    <NodeName Default="SponsorWorkspace.MyOrganisationUsersAddUserPermission.Description" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>