<?xml version="1.0" encoding="utf-8"?>
<Content Key="ec7f4d47-a59c-41ee-9c1a-661fb6dbaa2e" Alias="SponsorWorkspace.ReviewOutcome.CommentHeading" Level="5">
  <Info>
    <Parent Key="61ac2db8-7833-4b0c-842a-19644cd4072e">ReviewOutcome</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/ReviewOutcome/SponsorWorkspaceReviewOutcomeCommentHeading</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-03-09T09:55:55</CreateDate>
    <NodeName Default="SponsorWorkspace.ReviewOutcome.CommentHeading" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>