<?xml version="1.0" encoding="utf-8"?>
<Content Key="9687ca1c-5019-4a61-b5dc-b0596f3fb588" Alias="SponsorOrganisations.Confirm.Body" Level="5">
  <Info>
    <Parent Key="9ac4bea6-9869-4348-8ebe-cd49365c49ee">Confirm</Parent>
    <Path>/Home/ContentPlaceholders/SponsorOrganisations/Confirm/SponsorOrganisationsConfirmBody</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-10T09:28:51</CreateDate>
    <NodeName Default="SponsorOrganisations.Confirm.Body" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>