<?xml version="1.0" encoding="utf-8"?>
<Content Key="97571069-e3bb-4b98-becc-9a39253a64b3" Alias="SponsorWorkspace.RequestRevisions.Description" Level="5">
  <Info>
    <Parent Key="a5054a63-d166-4593-997c-ddbf4696919f">RequestRevisions</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/RequestRevisions/SponsorWorkspaceRequestRevisionsDescription</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-02-04T15:29:47</CreateDate>
    <NodeName Default="SponsorWorkspace.RequestRevisions.Description" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>