<?xml version="1.0" encoding="utf-8"?>
<Content Key="3ec0de7f-d8e2-4dd9-a6ca-c9314be7d80a" Alias="SponsorWorkspace.CheckAndAuthorise.RevisionDesciptionAfterReviseAndAuthoriseHeadline" Level="5">
  <Info>
    <Parent Key="85e7b370-728d-43f6-9fee-ce2cc4d0ba88">CheckAndAuthorise</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/CheckAndAuthorise/SponsorWorkspaceCheckAndAuthoriseRevisionDesciptionAfterReviseAndAuthoriseHeadline</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-03-05T13:43:23</CreateDate>
    <NodeName Default="SponsorWorkspace.CheckAndAuthorise.RevisionDesciptionAfterReviseAndAuthoriseHeadline" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>