<?xml version="1.0" encoding="utf-8"?>
<Content Key="b0d0def1-f5c0-4ad3-9145-79f4e80ea835" Alias="SponsorWorkspace.Confirmation.RevisionRequestMessage" Level="5">
  <Info>
    <Parent Key="9afe24b5-b272-4486-9d7d-113aac58e871">Confirmation</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/Confirmation/SponsorWorkspaceConfirmationRevisionRequestMessage</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-02-04T16:06:20</CreateDate>
    <NodeName Default="SponsorWorkspace.Confirmation.RevisionRequestMessage" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>