<?xml version="1.0" encoding="utf-8"?>
<Content Key="65e64e58-c396-4100-80e4-c7eec04ff34e" Alias="Sponsor Organisations" Level="3">
  <Info>
    <Parent Key="3e0777ee-ed72-4848-a405-0b4cc10df5c6">Content Placeholders</Parent>
    <Path>/Home/ContentPlaceholders/SponsorOrganisations</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2025-10-06T14:38:19</CreateDate>
    <NodeName Default="Sponsor Organisations" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>