<?xml version="1.0" encoding="utf-8"?>
<Content Key="1bc58206-7630-4951-b80a-b14dc4ed3160" Alias="SponsorWorkspace.Confirmation.NotAuthorisedHeader" Level="5">
  <Info>
    <Parent Key="9afe24b5-b272-4486-9d7d-113aac58e871">Confirmation</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/Confirmation/SponsorWorkspaceConfirmationNotAuthorisedHeader</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-11-12T09:33:36</CreateDate>
    <NodeName Default="SponsorWorkspace.Confirmation.NotAuthorisedHeader" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>