<?xml version="1.0" encoding="utf-8"?>
<Content Key="e25277bc-10ba-401c-b829-7534273c98f3" Alias="SponsorWorkspace.ReviewOutcome.CommentHint" Level="5">
  <Info>
    <Parent Key="61ac2db8-7833-4b0c-842a-19644cd4072e">ReviewOutcome</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/ReviewOutcome/SponsorWorkspaceReviewOutcomeCommentHint</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-03-09T09:56:14</CreateDate>
    <NodeName Default="SponsorWorkspace.ReviewOutcome.CommentHint" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>