<?xml version="1.0" encoding="utf-8"?>
<Content Key="269e08dd-477c-47c0-b1e4-0ee67afb6c62" Alias="SponsorOrganisations.ViewAddUser.Body" Level="5">
  <Info>
    <Parent Key="4c266fa4-0a60-46eb-b26c-5eef13f3e7c0">ViewAddUser</Parent>
    <Path>/Home/ContentPlaceholders/SponsorOrganisations/ViewAddUser/SponsorOrganisationsViewAddUserBody</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-14T09:27:28</CreateDate>
    <NodeName Default="SponsorOrganisations.ViewAddUser.Body" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>