<?xml version="1.0" encoding="utf-8"?>
<Content Key="81f303c6-0fd0-48bb-bbfd-ebe2ac3418e3" Alias="SponsorWorkspace.Confirmation.NoReviewRequiredMessage" Level="5">
  <Info>
    <Parent Key="9afe24b5-b272-4486-9d7d-113aac58e871">Confirmation</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/Confirmation/SponsorWorkspaceConfirmationNoReviewRequiredMessage</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-11-12T09:33:18</CreateDate>
    <NodeName Default="SponsorWorkspace.Confirmation.NoReviewRequiredMessage" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>