<?xml version="1.0" encoding="utf-8"?>
<Content Key="525ba663-b657-4fc3-8e13-20d083ceddaa" Alias="SponsorWorkspace.MyOrganisationUsersAddUserPermission.PermissionTitle" Level="5">
  <Info>
    <Parent Key="771ad38b-0833-46ff-822b-8f81161e08d1">MyOrganisationUsersAddUserPermission</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/MyOrganisationUsersAddUserPermission/SponsorWorkspaceMyOrganisationUsersAddUserPermissionPermissionTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-01-07T11:04:47</CreateDate>
    <NodeName Default="SponsorWorkspace.MyOrganisationUsersAddUserPermission.PermissionTitle" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>