<?xml version="1.0" encoding="utf-8"?>
<Content Key="d2f3159f-d831-4063-941b-db58ba5b706b" Alias="SponsorWorkspace.Authorisations.Title" Level="5">
  <Info>
    <Parent Key="a3ed345f-bacb-42e6-bfa8-30e8b72d8ab6">Authorisations</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/Authorisations/SponsorWorkspaceAuthorisationsTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-11-07T12:47:38</CreateDate>
    <NodeName Default="SponsorWorkspace.Authorisations.Title" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>