<?xml version="1.0" encoding="utf-8"?>
<Content Key="47756509-5a8d-4cf6-a2d3-03529cdc24db" Alias="SponsorWorkspace.MyOrganisations.Title" Level="5">
  <Info>
    <Parent Key="9e4ec148-b623-4165-9d78-c6467fb2b9a7">MyOrganisations</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/MyOrganisations/SponsorWorkspaceMyOrganisationsTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-12-17T10:42:41</CreateDate>
    <NodeName Default="SponsorWorkspace.MyOrganisations.Title" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>