<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8acf5c0-412f-45c7-b9d6-6069dbd177b4" Alias="SponsorWorkspace.ConfirmationModificationNotAuthorised.Headline" Level="5">
  <Info>
    <Parent Key="692b054b-3d2e-4acb-8f7b-2ce95e7b07f7">NotAuthorised</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/NotAuthorised/SponsorWorkspaceConfirmationModificationNotAuthorisedHeadline</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-02-15T15:56:59</CreateDate>
    <NodeName Default="SponsorWorkspace.ConfirmationModificationNotAuthorised.Headline" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>