<?xml version="1.0" encoding="utf-8"?>
<Content Key="2d717e55-a467-4928-881d-9623110eda30" Alias="Sponsor organisation" Level="6">
  <Info>
    <Parent Key="4ac0e878-e8a7-42df-832e-868c01f73105">Project identifiers</Parent>
    <Path>/QuestionSets/ProjectRecordRepository/ProjectRecordV2/Sections/ProjectIdentifiers/SponsorOrganisation</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-10-02T14:56:43</CreateDate>
    <NodeName Default="Sponsor organisation" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/d5b0e745867f4354bc072dc493d69545]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Mandatory"
]]]></Value>
    </conformance>
    <questionContent>
      <Value><![CDATA[umb://document/ea43fafb4c1d418fb355a0085e855c26]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0312]]></Value>
    </questionId>
    <sectionGroup>
      <Value><![CDATA[Project details]]></Value>
    </sectionGroup>
    <sequence>
      <Value><![CDATA[1]]></Value>
    </sequence>
    <sequenceInSectionGroup>
      <Value><![CDATA[1]]></Value>
    </sequenceInSectionGroup>
    <showAnswerOn>
      <Value><![CDATA[ProjectDetails]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[1]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/438f1aac593a416aa23e798f1a8d7027"
      }
    ]
  },
  "contentData": [
    {
      "conditions": "",
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "Start typing to see suggestions and select an organisation",
      "mode": [
        "AND"
      ],
      "parentQuestion": "",
      "ruleName": "",
      "udi": "umb://element/438f1aac593a416aa23e798f1a8d7027"
    }
  ],
  "settingsData": []
}]]></Value>
    </validationRules>
  </Properties>
</Content>