<?xml version="1.0" encoding="utf-8"?>
<Content Key="8c4fc6b9-3254-47e9-a83e-f80f154c77f6" Alias="SponsorWorkspace.ProjectClosurePreAuthorisation.Header" Level="5">
  <Info>
    <Parent Key="a0dbfc36-e35b-44e3-a562-7321294f7513">ProjectClosurePreAuthorisation</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/ProjectClosurePreAuthorisation/SponsorWorkspaceProjectClosurePreAuthorisationHeader</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-01-08T14:00:03</CreateDate>
    <NodeName Default="SponsorWorkspace.ProjectClosurePreAuthorisation.Header" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>