<?xml version="1.0" encoding="utf-8"?>
<Content Key="096f266d-ac9b-4f6e-8eed-27cf4cb4569e" Alias="SponsorWorkspace.MyOrganisationUsersAddUser.Body" Level="5">
  <Info>
    <Parent Key="687ecd77-43ef-4569-9c22-2fd5fd8864b2">MyOrganisationUsersAddUser</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/MyOrganisationUsersAddUser/SponsorWorkspaceMyOrganisationUsersAddUserBody</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-12-30T14:20:40</CreateDate>
    <NodeName Default="SponsorWorkspace.MyOrganisationUsersAddUser.Body" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>