<?xml version="1.0" encoding="utf-8"?>
<Content Key="aaee1b37-7bf3-416d-bded-98a894db82a8" Alias="Sponsor contact email" Level="6">
  <Info>
    <Parent Key="8473be11-76b4-448d-9734-8c1a29302b91">Project identification</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Questions/ProjectIdentification/SponsorContactEmail</Path>
    <Trashed>false</Trashed>
    <ContentType>question</ContentType>
    <CreateDate>2025-10-20T10:24:00</CreateDate>
    <NodeName Default="Sponsor contact email" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerDataType>
      <Value><![CDATA[[
  "Email"
]]]></Value>
    </answerDataType>
    <editorComment>
      <Value><![CDATA[]]></Value>
    </editorComment>
    <evaluateOrganisationsAffected>
      <Value><![CDATA[0]]></Value>
    </evaluateOrganisationsAffected>
    <evaluateResourceImplications>
      <Value><![CDATA[0]]></Value>
    </evaluateResourceImplications>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <nhsInvolvement>
      <Value><![CDATA[]]></Value>
    </nhsInvolvement>
    <nonNHSInvolvement>
      <Value><![CDATA[]]></Value>
    </nonNHSInvolvement>
    <possibleAnswers>
      <Value><![CDATA[]]></Value>
    </possibleAnswers>
    <questionFormat>
      <Value><![CDATA[[
  "Text"
]]]></Value>
    </questionFormat>
    <questionName>
      <Value><![CDATA[Sponsor contact email]]></Value>
    </questionName>
    <shortQuestionName>
      <Value><![CDATA[Sponsor contact email]]></Value>
    </shortQuestionName>
    <supplementaryInfo>
      <Value><![CDATA[]]></Value>
    </supplementaryInfo>
    <useAnswerForNextSection>
      <Value><![CDATA[0]]></Value>
    </useAnswerForNextSection>
  </Properties>
</Content>