<?xml version="1.0" encoding="utf-8"?>
<Content Key="066b1805-d125-43c6-9cad-4d0d3fb876dc" Alias="SponsorOrganisations.DisableUser.Body" Level="5">
  <Info>
    <Parent Key="3e9ac6c2-a6a3-4e49-a85d-dea19e847f40">DisableUser</Parent>
    <Path>/Home/ContentPlaceholders/SponsorOrganisations/DisableUser/SponsorOrganisationsDisableUserBody</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-16T13:48:23</CreateDate>
    <NodeName Default="SponsorOrganisations.DisableUser.Body" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>