<?xml version="1.0" encoding="utf-8"?>
<Content Key="425e6fe6-f2a1-4af7-b7d8-158fe1d3f8b6" Alias="SponsorWorkspace" Level="2">
  <Info>
    <Parent Key="af480879-2295-4031-89a6-1c1f0a877b04">Home</Parent>
    <Path>/Home/SponsorWorkspace</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2025-10-29T14:07:13</CreateDate>
    <NodeName Default="SponsorWorkspace" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9c269f6c8b564cab9267abb48f2a7414"
      },
      {
        "contentUdi": "umb://element/3d62036ced7d4b7d864bc947787f27d0"
      },
      {
        "contentUdi": "umb://element/1744dbfb13be4bed9267e95a660350a9"
      },
      {
        "contentUdi": "umb://element/a96550709a244d45bb7fa87048752706"
      },
      {
        "contentUdi": "umb://element/e4e8f24a561d4bd09eb80e96f266e3c8"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d65cb2da64424f60abe38e84198143b4"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/d65cb2da64424f60abe38e84198143b4",
            "value": "View and manage authorisations for projects {sponsor organisation name} sponsors or is responsible for authorising on behalf of the sponsor."
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/edbedabc9f384a2396b31abec09b9d71",
      "udi": "umb://element/1744dbfb13be4bed9267e95a660350a9"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/5c04e331b0784c5ab6e7b5636e082ec1"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/5c04e331b0784c5ab6e7b5636e082ec1",
            "value": "Authorisations"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/6df36b6f3a4541de911be5473dfa920f",
      "udi": "umb://element/3d62036ced7d4b7d864bc947787f27d0"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/8b506434c0434d259c14b3f45d0db3f2"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/8b506434c0434d259c14b3f45d0db3f2",
            "value": "Sponsor"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/c6c2da9fa34e4fd98455a4fd640428c6",
      "udi": "umb://element/9c269f6c8b564cab9267abb48f2a7414"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7bf2af3b02ca403f958c0b8cf9a19479"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/7bf2af3b02ca403f958c0b8cf9a19479",
            "value": "My organisations"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/e2c85be5060a48238ccf1b471fca63bc",
      "udi": "umb://element/a96550709a244d45bb7fa87048752706"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/6ca74f10fc894674b747b20198aebf01"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/6ca74f10fc894674b747b20198aebf01",
            "value": "View my sponsor organisations and the projects and staff they are responsible for."
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/e0d5e90b35594b8a81b4bfee52ed029f",
      "udi": "umb://element/e4e8f24a561d4bd09eb80e96f266e3c8"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
  </Properties>
</Content>