<?xml version="1.0" encoding="utf-8"?>
<Content Key="edbedabc-9f38-4a23-96b3-1abec09b9d71" Alias="SponsorWorkspace.AuthorisationsDescription" Level="4">
  <Info>
    <Parent Key="bbd3101e-5d60-4aef-a409-e53c7aef0697">SponsorWorkspace</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/SponsorWorkspaceAuthorisationsDescription</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-29T14:17:13</CreateDate>
    <NodeName Default="SponsorWorkspace.AuthorisationsDescription" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>