<?xml version="1.0" encoding="utf-8"?>
<Content Key="34f7b8a1-494c-42cf-8c3c-18dfe0ec5ac6" Alias="SponsorWorkspace.CheckAndAuthoriseProjectClosure.Title" Level="5">
  <Info>
    <Parent Key="aa5a7a78-aea8-42bc-bc8e-6294957e6700">CheckAndAuthoriseProjectClosure</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/CheckAndAuthoriseProjectClosure/SponsorWorkspaceCheckAndAuthoriseProjectClosureTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-01-08T14:03:23</CreateDate>
    <NodeName Default="SponsorWorkspace.CheckAndAuthoriseProjectClosure.Title" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>