<?xml version="1.0" encoding="utf-8"?>
<Content Key="8bc0704f-82de-4936-b9b6-4c615087c4a8" Alias="Sponsororganisations" Level="2">
  <Info>
    <Parent Key="af480879-2295-4031-89a6-1c1f0a877b04">Home</Parent>
    <Path>/Home/Sponsororganisations</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2025-10-06T15:07:07</CreateDate>
    <NodeName Default="Sponsororganisations" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e4b1c14d3b2a4566b5c8350e3d2740d6"
      },
      {
        "contentUdi": "umb://element/1335ed681d3d4281bc6de541e6e58ba4"
      },
      {
        "contentUdi": "umb://element/cd3d879ac98a4cf6b9d13478ce698da7"
      },
      {
        "contentUdi": "umb://element/1e98259537ea4de0a74530ccdd8d1062"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/32fc9082f6d7467caeee59d15c764aeb"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/32fc9082f6d7467caeee59d15c764aeb",
            "value": "Manage sponsor organisations"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/9f60e2cc6b1b46fc9e2f09233fb15e3d",
      "udi": "umb://element/e4b1c14d3b2a4566b5c8350e3d2740d6"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3f2533f367814e0ba2ae63033cb11157"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/3f2533f367814e0ba2ae63033cb11157",
            "value": "Set up a new sponsor organisation"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/e102048573e5441295c60dbebc564e1e",
      "udi": "umb://element/1335ed681d3d4281bc6de541e6e58ba4"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b725d68961fd4b21bac477ecb2def8c2"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/b725d68961fd4b21bac477ecb2def8c2",
            "value": "Find an organisation"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/8de545b2239d4c8699abb20d2344d4ed",
      "udi": "umb://element/cd3d879ac98a4cf6b9d13478ce698da7"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a51d5891e7e94e4ba9bbd5882a9c4a5d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/a51d5891e7e94e4ba9bbd5882a9c4a5d",
            "value": "Search for an organisation name"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/8f6292bb66ac4eba87492d39a21d7fad",
      "udi": "umb://element/1e98259537ea4de0a74530ccdd8d1062"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
  </Properties>
</Content>