<?xml version="1.0" encoding="utf-8"?>
<Content Key="020b26dd-4496-4f12-8a94-de9f7d571fb9" Alias="SponsorOrganisations.InvalidSponsorOrganisation.Title" Level="5">
  <Info>
    <Parent Key="4991a4af-5c82-41b3-b86a-de11b4703f56">InvalidSponsorOrganisation</Parent>
    <Path>/Home/ContentPlaceholders/SponsorOrganisations/InvalidSponsorOrganisation/SponsorOrganisationsInvalidSponsorOrganisationTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-02-12T12:54:36</CreateDate>
    <NodeName Default="SponsorOrganisations.InvalidSponsorOrganisation.Title" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>