<?xml version="1.0" encoding="utf-8"?>
<Content Key="bbd3101e-5d60-4aef-a409-e53c7aef0697" Alias="SponsorWorkspace" Level="3">
  <Info>
    <Parent Key="3e0777ee-ed72-4848-a405-0b4cc10df5c6">Content Placeholders</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2025-10-29T14:11:02</CreateDate>
    <NodeName Default="SponsorWorkspace" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>