<?xml version="1.0" encoding="utf-8"?>
<Content Key="9664d95b-3b02-44b0-bcee-eccf3d246e78" Alias="SponsorOrganisations.Setup.Headline" Level="5">
  <Info>
    <Parent Key="bf65e729-f80b-4594-8821-46faaa178e9f">Setup</Parent>
    <Path>/Home/ContentPlaceholders/SponsorOrganisations/Setup/SponsorOrganisationsSetupHeadline</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-10T09:10:10</CreateDate>
    <NodeName Default="SponsorOrganisations.Setup.Headline" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>