<?xml version="1.0" encoding="utf-8"?>
<Content Key="cd7cd26f-9e72-49d1-ae21-3740d5ece890" Alias="Sponsor contact email" Level="6">
  <Info>
    <Parent Key="642c5557-613b-4b0f-8c62-c598b4ad6a08">Key project roles</Parent>
    <Path>/QuestionSets/ProjectRecordRepository/ProjectRecordV2/Sections/KeyProjectRoles/SponsorContactEmail</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-07-29T10:04:27</CreateDate>
    <NodeName Default="Sponsor contact email" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/d5b0e745867f4354bc072dc493d69545]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Mandatory"
]]]></Value>
    </conformance>
    <questionContent>
      <Value><![CDATA[umb://document/ae9eba8ac0e0486ebbcb6d9d05c7f3d9]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0313]]></Value>
    </questionId>
    <sequence>
      <Value><![CDATA[3]]></Value>
    </sequence>
    <showAnswerOn>
      <Value><![CDATA[]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[0]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d5ac8de8c11d420a9f4f51f84822df67"
      },
      {
        "contentUdi": "umb://element/c955fb03cd674cdfb802b93a539ec6e0"
      }
    ]
  },
  "contentData": [
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/2c418bcef67a41f7b9a7e6672ed0774c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "Enter an email address in the correct format",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "REGEX"
            ],
            "optionType": "",
            "parentOptions": "",
            "udi": "umb://element/2c418bcef67a41f7b9a7e6672ed0774c",
            "value": "^(?!\\.)(?!(?:(?:.*\\.\\.)|(?:.*\\.\\@)))(?!.*\\.\\.$)(?!.*\\.\\@)[\\p{L}\\p{N}!#$%&'*+\\/=?^_`{|}~.-]{1,64}@(?:[\\p{L}\\p{N}](?:[\\p{L}\\p{N}-]{0,61}[\\p{L}\\p{N}])?\\.)+[\\p{L}]{2,}$"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "Email",
      "mode": [
        "AND"
      ],
      "parentQuestion": "",
      "ruleName": "Mandatory",
      "udi": "umb://element/d5ac8de8c11d420a9f4f51f84822df67"
    },
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/477d9751ca024d87b97c38794baa411b"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "SIZE"
            ],
            "optionType": "",
            "parentOptions": "",
            "udi": "umb://element/477d9751ca024d87b97c38794baa411b",
            "value": "govuk-!-width-three-quarters"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "",
      "mode": [
        "AND"
      ],
      "parentQuestion": "",
      "ruleName": "Set width",
      "udi": "umb://element/c955fb03cd674cdfb802b93a539ec6e0"
    }
  ],
  "settingsData": []
}]]></Value>
    </validationRules>
  </Properties>
</Content>