<?xml version="1.0" encoding="utf-8"?>
<Content Key="c32c51e4-e6e7-40d3-8e7e-bd9e35c933cd" Alias="Sponsor Details" Level="4">
  <Info>
    <Parent Key="df71c69e-0cca-4bcf-98b9-030c0c0211d7">Modifications v1</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/SponsorDetails</Path>
    <Trashed>false</Trashed>
    <ContentType>modificationJourney</ContentType>
    <CreateDate>2025-09-27T02:38:25</CreateDate>
    <NodeName Default="Sponsor Details" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <condition>
      <Value><![CDATA[]]></Value>
    </condition>
  </Properties>
</Content>