<?xml version="1.0" encoding="utf-8"?>
<Content Key="6c6a3bd7-e9ec-47e6-96da-9b0af2b4407a" Alias="SponsorWorkspace.Confirmation.NotAuthorisedMessage" Level="5">
  <Info>
    <Parent Key="9afe24b5-b272-4486-9d7d-113aac58e871">Confirmation</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/Confirmation/SponsorWorkspaceConfirmationNotAuthorisedMessage</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-11-12T09:33:44</CreateDate>
    <NodeName Default="SponsorWorkspace.Confirmation.NotAuthorisedMessage" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>