<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f65c7b0-9abe-49a9-a9e7-e8d7e8a1dee0" Alias="SponsorWorkspace.Authorisations.SearchHint" Level="5">
  <Info>
    <Parent Key="a3ed345f-bacb-42e6-bfa8-30e8b72d8ab6">Authorisations</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/Authorisations/SponsorWorkspaceAuthorisationsSearchHint</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-01-08T13:19:37</CreateDate>
    <NodeName Default="SponsorWorkspace.Authorisations.SearchHint" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>