<?xml version="1.0" encoding="utf-8"?>
<Content Key="c6d36f84-4004-4ffd-aaff-2da3ab684b1c" Alias="Sponsor organisation" Level="6">
  <Info>
    <Parent Key="642c5557-613b-4b0f-8c62-c598b4ad6a08">Key project roles</Parent>
    <Path>/QuestionSets/ProjectRecordRepository/ProjectRecordV2/Sections/KeyProjectRoles/SponsorOrganisation</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-07-29T10:03:29</CreateDate>
    <NodeName Default="Sponsor organisation" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/d5b0e745867f4354bc072dc493d69545]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[]]></Value>
    </conformance>
    <questionContent>
      <Value><![CDATA[umb://document/ea43fafb4c1d418fb355a0085e855c26]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0312]]></Value>
    </questionId>
    <validationRules>
      <Value><![CDATA[]]></Value>
    </validationRules>
  </Properties>
</Content>