<?xml version="1.0" encoding="utf-8"?>
<Content Key="668bedf7-7c16-477e-ad9c-24a0c2c302c0" Alias="SponsorWorkspace.ModificationNotAuthorised.RfiDescription" Level="5">
  <Info>
    <Parent Key="692b054b-3d2e-4acb-8f7b-2ce95e7b07f7">NotAuthorised</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/NotAuthorised/SponsorWorkspaceModificationNotAuthorisedRfiDescription</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-04-15T11:11:55</CreateDate>
    <NodeName Default="SponsorWorkspace.ModificationNotAuthorised.RfiDescription" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>