<?xml version="1.0" encoding="utf-8"?>
<Content Key="eff12298-2391-43cb-9419-0a71d6362810" Alias="SponsorOrganisations.EnableSponsorOrganisation.Body" Level="5">
  <Info>
    <Parent Key="857f7dcd-602c-483b-9f11-a50aa6c2a868">EnableSponsorOrganisation</Parent>
    <Path>/Home/ContentPlaceholders/SponsorOrganisations/EnableSponsorOrganisation/SponsorOrganisationsEnableSponsorOrganisationBody</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-17T14:42:07</CreateDate>
    <NodeName Default="SponsorOrganisations.EnableSponsorOrganisation.Body" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>