<?xml version="1.0" encoding="utf-8"?>
<Content Key="d0c42d78-6ec2-4bb8-9678-8add5a41e6c4" Alias="SponsorWorkspace.ConfirmReviseAndAuthoriseOutcome.Title" Level="5">
  <Info>
    <Parent Key="0882c01f-53f4-480d-b3ad-800e984c9057">ConfirmReviseAndAuthoriseOutcome</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/ConfirmReviseAndAuthoriseOutcome/SponsorWorkspaceConfirmReviseAndAuthoriseOutcomeTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-04-23T13:58:30</CreateDate>
    <NodeName Default="SponsorWorkspace.ConfirmReviseAndAuthoriseOutcome.Title" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>