<?xml version="1.0" encoding="utf-8"?>
<Content Key="da0ae2c9-7a62-4ede-abf4-71e600d41208" Alias="SponsorOrganisations.ViewUsers.Body" Level="5">
  <Info>
    <Parent Key="4e48ddfe-ba60-4d17-a8d9-c5c123eadc5e">ViewUsers</Parent>
    <Path>/Home/ContentPlaceholders/SponsorOrganisations/ViewUsers/SponsorOrganisationsViewUsersBody</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-14T09:21:51</CreateDate>
    <NodeName Default="SponsorOrganisations.ViewUsers.Body" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>