<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f1977a6-b688-4d1e-a218-99b0e3e0d341" Alias="Sponsor Modification Date" Level="6">
  <Info>
    <Parent Key="1e4ab5d5-ac4a-4472-876e-0d389863ec46">Sponsor modification reference</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/SponsorDetails/SponsorModificationReference/SponsorModificationDate</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-09-27T01:13:56</CreateDate>
    <NodeName Default="Sponsor Modification Date" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "N/A"
]]]></Value>
    </conformance>
    <questionContent>
      <Value><![CDATA[umb://document/8289e07aef8a43f7b58b592ba74df1b4]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA506]]></Value>
    </questionId>
    <sectionGroup>
      <Value><![CDATA[]]></Value>
    </sectionGroup>
    <sequence>
      <Value><![CDATA[2]]></Value>
    </sequence>
    <sequenceInSectionGroup>
      <Value><![CDATA[]]></Value>
    </sequenceInSectionGroup>
    <showAnswerOn>
      <Value><![CDATA[]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[0]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5de223b18e5b446f8705aa7d11cd7445"
      }
    ]
  },
  "contentData": [
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/41204df507014fe880a10a8c2c1768d0"
            },
            {
              "contentUdi": "umb://element/1d729ee87953441099c83bc545fa098a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "Date should be a valid date and not in future",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "DATE"
            ],
            "optionType": "",
            "parentOptions": "",
            "udi": "umb://element/41204df507014fe880a10a8c2c1768d0",
            "value": "FORMAT:yyyy-MM-dd"
          },
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "Date should be a valid date and not in future",
            "mode": [
              "AND"
            ],
            "negate": "1",
            "operator": [
              "DATE"
            ],
            "optionType": "",
            "parentOptions": "",
            "udi": "umb://element/1d729ee87953441099c83bc545fa098a",
            "value": "FUTUREDATE"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "For example, 19 June 2030",
      "mode": [
        "AND"
      ],
      "parentQuestion": "",
      "ruleName": "Date Validation Rule",
      "udi": "umb://element/5de223b18e5b446f8705aa7d11cd7445"
    }
  ],
  "settingsData": []
}]]></Value>
    </validationRules>
  </Properties>
</Content>