<?xml version="1.0" encoding="utf-8"?>
<Content Key="7e331035-155e-41d8-8014-10b63ce0ee2f" Alias="SponsorOrganisations.View.DisableSponsorOrganisationBody" Level="5">
  <Info>
    <Parent Key="1bc85f34-646b-4d1d-b057-8a3677fd9613">View</Parent>
    <Path>/Home/ContentPlaceholders/SponsorOrganisations/View/SponsorOrganisationsViewDisableSponsorOrganisationBody</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-17T10:52:37</CreateDate>
    <NodeName Default="SponsorOrganisations.View.DisableSponsorOrganisationBody" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>