<?xml version="1.0" encoding="utf-8"?>
<Content Key="eaef1798-8c57-41c3-ac1d-047c9e0e86b1" Alias="SponsorWorkspace.MyOrganisationAuditTrail.Title" Level="5">
  <Info>
    <Parent Key="b727b991-aa2d-4c65-9637-3f3736b372a6">MyOrganisationAuditTrail</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/MyOrganisationAuditTrail/SponsorWorkspaceMyOrganisationAuditTrailTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-12-22T17:02:27</CreateDate>
    <NodeName Default="SponsorWorkspace.MyOrganisationAuditTrail.Title" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>