<?xml version="1.0" encoding="utf-8"?>
<Content Key="e125cd76-cc97-4d7f-8676-5293d5b7600d" Alias="SponsorOrganisations.Setup.SearchHint" Level="5">
  <Info>
    <Parent Key="bf65e729-f80b-4594-8821-46faaa178e9f">Setup</Parent>
    <Path>/Home/ContentPlaceholders/SponsorOrganisations/Setup/SponsorOrganisationsSetupSearchHint</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-10T09:02:43</CreateDate>
    <NodeName Default="SponsorOrganisations.Setup.SearchHint" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>