<?xml version="1.0" encoding="utf-8"?>
<Content Key="c8731c54-2478-498b-bee1-762b2b3f1cbc" Alias="SponsorWorkspace.Confirmation.NoReviewRequiredHeader" Level="5">
  <Info>
    <Parent Key="9afe24b5-b272-4486-9d7d-113aac58e871">Confirmation</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/Confirmation/SponsorWorkspaceConfirmationNoReviewRequiredHeader</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-11-12T09:33:05</CreateDate>
    <NodeName Default="SponsorWorkspace.Confirmation.NoReviewRequiredHeader" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>