<?xml version="1.0" encoding="utf-8"?>
<Content Key="7626ba38-fd41-4391-8f8b-89ff417721b4" Alias="SponsorOrganisations.Setup.SearchTitle" Level="5">
  <Info>
    <Parent Key="bf65e729-f80b-4594-8821-46faaa178e9f">Setup</Parent>
    <Path>/Home/ContentPlaceholders/SponsorOrganisations/Setup/SponsorOrganisationsSetupSearchTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-10T09:03:50</CreateDate>
    <NodeName Default="SponsorOrganisations.Setup.SearchTitle" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>