<?xml version="1.0" encoding="utf-8"?>
<Content Key="425e6fe6-f2a1-4af7-b7d8-158fe1d3f8b6" Alias="SponsorWorkspace" Level="2">
  <Info>
    <Parent Key="af480879-2295-4031-89a6-1c1f0a877b04">Home</Parent>
    <Path>/Home/SponsorWorkspace</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2025-10-29T14:07:13</CreateDate>
    <NodeName Default="SponsorWorkspace" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[]]></Value>
    </contentItems>
  </Properties>
</Content>