<?xml version="1.0" encoding="utf-8"?>
<Content Key="c615b2a2-7d01-4ee3-8233-8079e6a1b01b" Alias="SponsorWorkspace.ProjectClosures.Title" Level="5">
  <Info>
    <Parent Key="cf6d62b1-fa6c-43bc-a2d7-bb8d74c91e74">ProjectClosures</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/ProjectClosures/SponsorWorkspaceProjectClosuresTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-01-15T12:54:56</CreateDate>
    <NodeName Default="SponsorWorkspace.ProjectClosures.Title" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>