<?xml version="1.0" encoding="utf-8"?>
<Content Key="ea7d6df8-5324-4bba-8ed5-99ef9e3c3909" Alias="Sponsor organisation" Level="6">
  <Info>
    <Parent Key="d17f4fce-f17a-42d4-ba7a-74c267ce041e">Sponsor Organisation</Parent>
    <Path>/QuestionSets/ProjectRecordRepository/ProjectRecordV2/Sections/SponsorOrganisation/SponsorOrganisation</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-09-22T09:54:54</CreateDate>
    <NodeName Default="Sponsor organisation" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/d5b0e745867f4354bc072dc493d69545]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Mandatory"
]]]></Value>
    </conformance>
    <questionContent>
      <Value><![CDATA[umb://document/ea43fafb4c1d418fb355a0085e855c26]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0312]]></Value>
    </questionId>
    <sequence>
      <Value><![CDATA[1]]></Value>
    </sequence>
    <showOriginalAnswer>
      <Value><![CDATA[0]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[]]></Value>
    </validationRules>
  </Properties>
</Content>