<?xml version="1.0" encoding="utf-8"?>
<Content Key="ae9eba8a-c0e0-486e-bbcb-6d9d05c7f3d9" Alias="Sponsor contact" Level="6">
  <Info>
    <Parent Key="0e61fb2f-dc46-43f0-8e87-df42af421721">Key roles</Parent>
    <Path>/QuestionSets/ProjectRecordRepository/ProjectRecordV2/QuestionsRepository/KeyRoles/SponsorContact</Path>
    <Trashed>false</Trashed>
    <ContentType>question</ContentType>
    <CreateDate>2025-07-28T15:04:51</CreateDate>
    <NodeName Default="Sponsor contact" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerDataType>
      <Value><![CDATA[[
  "Email"
]]]></Value>
    </answerDataType>
    <editorComment>
      <Value><![CDATA[]]></Value>
    </editorComment>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <possibleAnswers>
      <Value><![CDATA[]]></Value>
    </possibleAnswers>
    <questionFormat>
      <Value><![CDATA[[
  "Text"
]]]></Value>
    </questionFormat>
    <questionName>
      <Value><![CDATA[Sponsor contact]]></Value>
    </questionName>
    <shortQuestionName>
      <Value><![CDATA[]]></Value>
    </shortQuestionName>
  </Properties>
</Content>