<?xml version="1.0" encoding="utf-8"?>
<Content Key="ae5eb5a3-342c-4e76-a8cc-f0e7d0e88a21" Alias="SponsorWorkspace.ConfirmReviseAndAuthoriseOutcome.Description" Level="5">
  <Info>
    <Parent Key="0882c01f-53f4-480d-b3ad-800e984c9057">ConfirmReviseAndAuthoriseOutcome</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/ConfirmReviseAndAuthoriseOutcome/SponsorWorkspaceConfirmReviseAndAuthoriseOutcomeDescription</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-04-23T13:58:45</CreateDate>
    <NodeName Default="SponsorWorkspace.ConfirmReviseAndAuthoriseOutcome.Description" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>