<?xml version="1.0" encoding="utf-8"?>
<Content Key="18fe120a-5c5f-46c2-8ca4-7c558ab85de5" Alias="SponsorWorkspace.MyOrganisationUsersCheckAndConfirm.Description" Level="5">
  <Info>
    <Parent Key="31c59054-96a1-44b3-b490-99c1a3b2a34e">MyOrganisationUsersCheckAndConfirm</Parent>
    <Path>/Home/ContentPlaceholders/SponsorWorkspace/MyOrganisationUsersCheckAndConfirm/SponsorWorkspaceMyOrganisationUsersCheckAndConfirmDescription</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2026-01-07T12:13:24</CreateDate>
    <NodeName Default="SponsorWorkspace.MyOrganisationUsersCheckAndConfirm.Description" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>