<?xml version="1.0" encoding="utf-8"?>
<Content Key="8f6c030e-aaee-4d40-a6f5-5dd8dea424a9" Alias="SponsorOrganisations.ViewAddUser.Title" Level="5">
  <Info>
    <Parent Key="4c266fa4-0a60-46eb-b26c-5eef13f3e7c0">ViewAddUser</Parent>
    <Path>/Home/ContentPlaceholders/SponsorOrganisations/ViewAddUser/SponsorOrganisationsViewAddUserTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-14T09:27:29</CreateDate>
    <NodeName Default="SponsorOrganisations.ViewAddUser.Title" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>