<?xml version="1.0" encoding="utf-8"?>
<Content Key="b2f1ebe9-af15-432e-9c2f-5fac2dbec48d" Alias="SponsorOrganisations.View.EnableSponsorOrganisationBody" Level="5">
  <Info>
    <Parent Key="1bc85f34-646b-4d1d-b057-8a3677fd9613">View</Parent>
    <Path>/Home/ContentPlaceholders/SponsorOrganisations/View/SponsorOrganisationsViewEnableSponsorOrganisationBody</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-17T10:52:56</CreateDate>
    <NodeName Default="SponsorOrganisations.View.EnableSponsorOrganisationBody" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>