<?xml version="1.0" encoding="utf-8"?>
<Content Key="285afeec-7612-435d-8773-1c98dedaf205" Alias="Sub document type" Level="6">
  <Info>
    <Parent Key="2a09985b-ea70-4642-b978-d5585dca5881">Add Document Details</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ProjectDocumentsModification/AddDocumentDetails/SubDocumentType</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-09-22T15:32:09</CreateDate>
    <NodeName Default="Sub document type" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Conditional"
]]]></Value>
    </conformance>
    <questionContent>
      <Value><![CDATA[umb://document/7021d0a4aa074a9684000b990198dd95]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0604]]></Value>
    </questionId>
    <sequence>
      <Value><![CDATA[2]]></Value>
    </sequence>
    <showAnswerOn>
      <Value><![CDATA[]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[0]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/cb7d3bf338534f698e7206fc652ea1a0"
      }
    ]
  },
  "contentData": [
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d2325062343d46c1b12d19750b7317dd"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "IN"
            ],
            "optionType": [
              "Single"
            ],
            "parentOptions": "umb://document/3efbab87f66a441cb4ab2991305915db",
            "udi": "umb://element/d2325062343d46c1b12d19750b7317dd",
            "value": ""
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "",
      "mode": [
        "AND"
      ],
      "parentQuestion": "umb://document/8ca3d8d2b7864669be930dd1d9641499",
      "ruleName": "Show for CV document type",
      "udi": "umb://element/cb7d3bf338534f698e7206fc652ea1a0"
    }
  ],
  "settingsData": []
}]]></Value>
    </validationRules>
  </Properties>
</Content>