<?xml version="1.0" encoding="utf-8"?>
<Content Key="6a56a64b-cdd2-4cf4-88e4-20a1c2d43c78" Alias="Systemadmin" Level="2">
  <Info>
    <Parent Key="af480879-2295-4031-89a6-1c1f0a877b04">Home</Parent>
    <Path>/Home/Systemadmin</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2025-10-03T14:15:49</CreateDate>
    <NodeName Default="Systemadmin" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9cd031adb384471d8f0a87fc6f039fb5"
      },
      {
        "contentUdi": "umb://element/733f67c36ecb44dc8a91bbdc024c2aa4"
      },
      {
        "contentUdi": "umb://element/994949f7346e4b91a8030f4b02eb769a"
      },
      {
        "contentUdi": "umb://element/e87eb32bc66046b7b491407cf257e89f"
      },
      {
        "contentUdi": "umb://element/2aed75276cc1443e96e45cb48f2e6bdf"
      },
      {
        "contentUdi": "umb://element/abc7206be3a64037a41ba77a96c498eb"
      },
      {
        "contentUdi": "umb://element/c7c7c99e6f6446dba6e963e3ecd509da"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/847693b71b3344e7943286538c6432a6"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/847693b71b3344e7943286538c6432a6",
            "value": "System administration"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/774c11454eae4265bc34314b72a96991",
      "udi": "umb://element/9cd031adb384471d8f0a87fc6f039fb5"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/c50716b2777a438083e601ffeb0853e2"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/c50716b2777a438083e601ffeb0853e2",
            "value": "Manage review bodies"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/2757947ae34448cf92f8de87d07a428f",
      "udi": "umb://element/733f67c36ecb44dc8a91bbdc024c2aa4"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9cc0305b675a49e888a80ff24b416ad4"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/9cc0305b675a49e888a80ff24b416ad4",
            "value": "View, add, disable or edit review body records."
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/107ec89c31174a41a6f958998d86e7e6",
      "udi": "umb://element/994949f7346e4b91a8030f4b02eb769a"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/20da583027554175978a751b688f0bb1"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/20da583027554175978a751b688f0bb1",
            "value": "Manage sponsor organisations"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/b62242962a664b42831b3689aaafec51",
      "udi": "umb://element/e87eb32bc66046b7b491407cf257e89f"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/61f700af3aa043ebb7d0b7032089605b"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/61f700af3aa043ebb7d0b7032089605b",
            "value": "View, add, disable or edit sponsor organisations."
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/a35f2de3c0d14afab6b641b8e2a91f37",
      "udi": "umb://element/2aed75276cc1443e96e45cb48f2e6bdf"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/6cc1f788609c477a96774cc82f0a0e67"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/6cc1f788609c477a96774cc82f0a0e67",
            "value": "Manage users"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/382ce8a430ef4f8c978b1acc6d50607b",
      "udi": "umb://element/abc7206be3a64037a41ba77a96c498eb"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/e4e43547796b4d6d81521f110f5b1bbe"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/e4e43547796b4d6d81521f110f5b1bbe",
            "value": "View, add, disable or edit review individual user records."
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/009c9fcf97784c1eaebc05be5ce1e4ba",
      "udi": "umb://element/c7c7c99e6f6446dba6e963e3ecd509da"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
  </Properties>
</Content>