<?xml version="1.0" encoding="utf-8"?>
<Content Key="2757947a-e344-48cf-92f8-de87d07a428f" Alias="SystemAdmin.ReviewBodyTitle" Level="4">
  <Info>
    <Parent Key="232252c5-8c14-4c6d-9961-01ea87a0050f">System Admin</Parent>
    <Path>/Home/ContentPlaceholders/SystemAdmin/SystemAdminReviewBodyTitle</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-06T11:10:13</CreateDate>
    <NodeName Default="SystemAdmin.ReviewBodyTitle" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>