<?xml version="1.0" encoding="utf-8"?>
<Content Key="a35f2de3-c0d1-4afa-b6b6-41b8e2a91f37" Alias="SystemAdmin.SponsorOrgDescription" Level="4">
  <Info>
    <Parent Key="232252c5-8c14-4c6d-9961-01ea87a0050f">System Admin</Parent>
    <Path>/Home/ContentPlaceholders/SystemAdmin/SystemAdminSponsorOrgDescription</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-06T11:12:14</CreateDate>
    <NodeName Default="SystemAdmin.SponsorOrgDescription" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>