<?xml version="1.0" encoding="utf-8"?>
<Content Key="232252c5-8c14-4c6d-9961-01ea87a0050f" Alias="System Admin" Level="3">
  <Info>
    <Parent Key="3e0777ee-ed72-4848-a405-0b4cc10df5c6">Content Placeholders</Parent>
    <Path>/Home/ContentPlaceholders/SystemAdmin</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2025-10-03T14:12:31</CreateDate>
    <NodeName Default="System Admin" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>