<?xml version="1.0" encoding="utf-8"?>
<Content Key="107ec89c-3117-4a41-a6f9-58998d86e7e6" Alias="SystemAdmin.ReviewBodyDescription" Level="4">
  <Info>
    <Parent Key="232252c5-8c14-4c6d-9961-01ea87a0050f">System Admin</Parent>
    <Path>/Home/ContentPlaceholders/SystemAdmin/SystemAdminReviewBodyDescription</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholder</ContentType>
    <CreateDate>2025-10-06T11:10:41</CreateDate>
    <NodeName Default="SystemAdmin.ReviewBodyDescription" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>