<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2f36f84-7167-4a94-974a-69bad6e78a26" Alias="Temporary chief investigator email" Level="6">
  <Info>
    <Parent Key="f16d54a6-8115-42db-a9b2-994309d07cf8">Project personnel</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Questions/ProjectPersonnel/TemporaryChiefInvestigatorEmail</Path>
    <Trashed>false</Trashed>
    <ContentType>question</ContentType>
    <CreateDate>2025-10-22T17:57:53</CreateDate>
    <NodeName Default="Temporary chief investigator email" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerDataType>
      <Value><![CDATA[[
  "Email"
]]]></Value>
    </answerDataType>
    <editorComment>
      <Value><![CDATA[]]></Value>
    </editorComment>
    <evaluateOrganisationsAffected>
      <Value><![CDATA[0]]></Value>
    </evaluateOrganisationsAffected>
    <evaluateResourceImplications>
      <Value><![CDATA[0]]></Value>
    </evaluateResourceImplications>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <nhsInvolvement>
      <Value><![CDATA[]]></Value>
    </nhsInvolvement>
    <nonNHSInvolvement>
      <Value><![CDATA[]]></Value>
    </nonNHSInvolvement>
    <possibleAnswers>
      <Value><![CDATA[]]></Value>
    </possibleAnswers>
    <questionFormat>
      <Value><![CDATA[[
  "Text"
]]]></Value>
    </questionFormat>
    <questionName>
      <Value><![CDATA[New chief investigator email]]></Value>
    </questionName>
    <shortQuestionName>
      <Value><![CDATA[New chief investigator email]]></Value>
    </shortQuestionName>
    <supplementaryInfo>
      <Value><![CDATA[]]></Value>
    </supplementaryInfo>
    <useAnswerForNextSection>
      <Value><![CDATA[0]]></Value>
    </useAnswerForNextSection>
  </Properties>
</Content>