<?xml version="1.0" encoding="utf-8"?>
<Content Key="7a309c4f-93b1-499e-8c58-295280eb97d2" Alias="Temporary arrangement to cover absence" Level="6">
  <Info>
    <Parent Key="d40f633b-0f03-46dc-8c96-2712fdb8168b">Change of principal investigator</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Answers/ChangeOfPrincipalInvestigator/TemporaryArrangementToCoverAbsence</Path>
    <Trashed>false</Trashed>
    <ContentType>answerOption</ContentType>
    <CreateDate>2025-10-22T15:04:07</CreateDate>
    <NodeName Default="Temporary arrangement to cover absence" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[OPT0741]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Temporary arrangement to cover absence]]></Value>
    </optionName>
  </Properties>
</Content>