<?xml version="1.0" encoding="utf-8"?>
<Content Key="9769884e-64c0-4734-8217-b0b7529da27a" Alias="Temporary arrangement to cover absence" Level="6">
  <Info>
    <Parent Key="503b2d46-1086-4afb-b2b6-aa991e0013f0">Change of chief investigator</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Answers/ChangeOfChiefInvestigator/TemporaryArrangementToCoverAbsence</Path>
    <Trashed>false</Trashed>
    <ContentType>answerOption</ContentType>
    <CreateDate>2025-10-22T15:01:55</CreateDate>
    <NodeName Default="Temporary arrangement to cover absence" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[OPT0641]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Temporary arrangement to cover absence]]></Value>
    </optionName>
  </Properties>
</Content>