<?xml version="1.0" encoding="utf-8"?>
<Content Key="192152cb-db19-447c-b410-aa394f1de54c" Alias="Temporary halt to a project" Level="6">
  <Info>
    <Parent Key="a61af52a-5378-47eb-b777-c8d7e2b8a209">Project stop or restart</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/AreaOfChange/ProjectStopOrRestart/TemporaryHaltToAProject</Path>
    <Trashed>false</Trashed>
    <ContentType>subAnswerOption</ContentType>
    <CreateDate>2026-03-03T14:10:04</CreateDate>
    <NodeName Default="Temporary halt to a project" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[51]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Temporary halt to a project]]></Value>
    </optionName>
    <showApplicabilityQuestions>
      <Value><![CDATA[1]]></Value>
    </showApplicabilityQuestions>
  </Properties>
</Content>