<?xml version="1.0" encoding="utf-8"?>
<Content Key="c9a1d814-25a7-4f92-9ecd-da57527cc75f" Alias="Temporary halt to a project modification" Level="4">
  <Info>
    <Parent Key="df71c69e-0cca-4bcf-98b9-030c0c0211d7">Modifications v1</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/TemporaryHaltToAProjectModification</Path>
    <Trashed>false</Trashed>
    <ContentType>modificationJourney</ContentType>
    <CreateDate>2026-03-04T11:09:16</CreateDate>
    <NodeName Default="Temporary halt to a project modification" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <condition>
      <Value><![CDATA[umb://document/192152cbdb19447cb410aa394f1de54c]]></Value>
    </condition>
  </Properties>
</Content>