<?xml version="1.0" encoding="utf-8"?>
<Content Key="f37d89c0-0331-4fb0-a774-c9bd39d8ca7a" Alias="UnfinishedChanges" Level="3">
  <Info>
    <Parent Key="7d10ce7b-5201-428b-a9fd-45140bf56009">Modifications</Parent>
    <Path>/Home/Modifications/UnfinishedChanges</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2026-01-20T16:48:39</CreateDate>
    <NodeName Default="UnfinishedChanges" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/5ba7f7d998024d6e85f57abded914232"
      },
      {
        "contentUdi": "umb://element/bfff0681d7d544469dab6e0638a930cd"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/36c5ff99f376491d8e65438e97dc4b32"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/36c5ff99f376491d8e65438e97dc4b32",
            "value": "You cannot proceed with ‘Unfinished’ changes"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/c4f49d9c19314f4ab58a985e638a5828",
      "udi": "umb://element/5ba7f7d998024d6e85f57abded914232"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/046248ab5dff4a64b0d6a3a3a9806486"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/046248ab5dff4a64b0d6a3a3a9806486",
            "value": {
              "markup": "<p>All changes must have the status 'ready for submission' before you can continue. For any changes with the status 'Unfinished', either select Change to enter missing information, or select Remove if that change is no longer needed.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/0f2c40f0cd5842d78ab7a3ae9257902a",
      "udi": "umb://element/bfff0681d7d544469dab6e0638a930cd"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
  </Properties>
</Content>