<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc6ea787-184a-4681-9218-72d84fd78774" Alias="Users" Level="3">
  <Info>
    <Parent Key="f793edb6-8845-4cca-ba78-11bdbc5426cb">Admin</Parent>
    <Path>/Home/Admin/Users</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2026-01-21T10:30:52</CreateDate>
    <NodeName Default="Users" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c30fb96d060c4b93bc4128ed23182b20"
      },
      {
        "contentUdi": "umb://element/b82d78abb4a14ead8b942730961e2d61"
      },
      {
        "contentUdi": "umb://element/6894ea34e3bc40ad86558c0544f1ea41"
      },
      {
        "contentUdi": "umb://element/a4983b5765704e74a5c35bec7217c960"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f56a6cf86a9c4a819b892b63104dfab5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/f56a6cf86a9c4a819b892b63104dfab5",
            "value": "Manage users"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/e5de508315554aeabcc98199bc087133",
      "udi": "umb://element/c30fb96d060c4b93bc4128ed23182b20"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/cb1464bdd9a542b989a816330ac5df66"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/cb1464bdd9a542b989a816330ac5df66",
            "value": "Find a user"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/8b0a0580b6584b03b984fae895482ea2",
      "udi": "umb://element/b82d78abb4a14ead8b942730961e2d61"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/4a987f7b8e81407f96085bf06fd86917"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/4a987f7b8e81407f96085bf06fd86917",
            "value": "Search for the first name, last name or email address"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/daad52ee0f3542ed939fbc269abc21b7",
      "udi": "umb://element/6894ea34e3bc40ad86558c0544f1ea41"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/00434d4ad5ef4ceebca89f3da80566b1"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/00434d4ad5ef4ceebca89f3da80566b1",
            "value": "Add a new user profile record"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/0b45c3d7fe2a4e979a61ff5b922d72d5",
      "udi": "umb://element/a4983b5765704e74a5c35bec7217c960"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>