<?xml version="1.0" encoding="utf-8"?>
<Content Key="4c266fa4-0a60-46eb-b26c-5eef13f3e7c0" Alias="ViewAddUser" Level="4">
  <Info>
    <Parent Key="65e64e58-c396-4100-80e4-c7eec04ff34e">Sponsor Organisations</Parent>
    <Path>/Home/ContentPlaceholders/SponsorOrganisations/ViewAddUser</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPlaceholderFolder</ContentType>
    <CreateDate>2025-10-14T09:27:10</CreateDate>
    <NodeName Default="ViewAddUser" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>