<?xml version="1.0" encoding="utf-8"?>
<Content Key="9877faa6-6500-4658-a5de-29e0aeed965b" Alias="ViewUser" Level="3">
  <Info>
    <Parent Key="8bc0704f-82de-4936-b9b6-4c615087c4a8">Sponsororganisations</Parent>
    <Path>/Home/Sponsororganisations/ViewUser</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2025-10-15T16:38:21</CreateDate>
    <NodeName Default="ViewUser" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/3f5e23e63a324570b38d5084133ea165"
      },
      {
        "contentUdi": "umb://element/0566e91dab1044f58cd8adda0f9e6018"
      },
      {
        "contentUdi": "umb://element/34a33b64675d43329efecd320a4a6d45"
      },
      {
        "contentUdi": "umb://element/cefc87c36dcd4f7dac3bc046ff0d7218"
      },
      {
        "contentUdi": "umb://element/70e9be1bc85f429c8fbc6ccba8613c74"
      },
      {
        "contentUdi": "umb://element/6edc949c4c864809bc0db47127030cbb"
      },
      {
        "contentUdi": "umb://element/370c2310829849c5a653b5cc62fdaaf9"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a5b62d18afec47f0a854881e9da544ea"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/a5b62d18afec47f0a854881e9da544ea",
            "value": "View and edit user profile"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/e401517e0d0a4529add5218e24414ec8",
      "udi": "umb://element/3f5e23e63a324570b38d5084133ea165"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/6ed35702db504cb7887451b78902a2d2"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/6ed35702db504cb7887451b78902a2d2",
            "value": "Check this information is correct before adding the user to "
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/f126915bebad402e8b0803d95df1fe79",
      "udi": "umb://element/0566e91dab1044f58cd8adda0f9e6018"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f875482639d04a809a8e43116215c08e"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/f875482639d04a809a8e43116215c08e",
            "value": "Check and add user"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/c4ca5ac878eb47a1b8510e554b7199c4",
      "udi": "umb://element/34a33b64675d43329efecd320a4a6d45"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/200c72f712b44b5580890fb0b64a9945"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/200c72f712b44b5580890fb0b64a9945",
            "value": "Disable user from this sponsor organisation"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/38a298d48ca945cba2c567bdb69e42df",
      "udi": "umb://element/cefc87c36dcd4f7dac3bc046ff0d7218"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/44a7cb73983845d3874d391da6517127"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/44a7cb73983845d3874d391da6517127",
            "value": "Disabling this user will stop them from working under this sponsor organisation and can be reversed."
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/8710ab29d1e9426f8fb6f2b2f825a4a8",
      "udi": "umb://element/70e9be1bc85f429c8fbc6ccba8613c74"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9e6769a17df54203b85982b79a9f34f5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/9e6769a17df54203b85982b79a9f34f5",
            "value": "Enable user for this sponsor organisation"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/cfb9fe2eb7f94b79bfc5f1a8eac12738",
      "udi": "umb://element/6edc949c4c864809bc0db47127030cbb"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/137dbb7345954a29be87cb86c492cc0e"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/137dbb7345954a29be87cb86c492cc0e",
            "value": "Enabling this user will allow them to work under this sponsor organisation and can be reversed."
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/2a5915f16659487c89521148b21e2fd0",
      "udi": "umb://element/370c2310829849c5a653b5cc62fdaaf9"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
  </Properties>
</Content>