<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ba008de-29d8-4a6b-9921-2b511b4450b3" Alias="ViewUsers" Level="3">
  <Info>
    <Parent Key="8bc0704f-82de-4936-b9b6-4c615087c4a8">Sponsororganisations</Parent>
    <Path>/Home/Sponsororganisations/ViewUsers</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2025-10-14T09:23:57</CreateDate>
    <NodeName Default="ViewUsers" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ffefebe118894043a7c23fce2ad9993d"
      },
      {
        "contentUdi": "umb://element/21c9e33332474d04aedf33de6a8a1f4d"
      },
      {
        "contentUdi": "umb://element/e18df34d5c0e478a919adf59493a3e7e"
      },
      {
        "contentUdi": "umb://element/dec5cf3051f14e078a09c5fce78c9c0b"
      },
      {
        "contentUdi": "umb://element/2ae1891c2664459fa3f1eb83717bbc21"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a62dccff068445c8882d949d9a2c0b47"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/a62dccff068445c8882d949d9a2c0b47",
            "value": "Users for"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/c1ab0fd21cf24dc88f614ff5a68156eb",
      "udi": "umb://element/ffefebe118894043a7c23fce2ad9993d"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/96b69a327d1f4127a9b35aab3160db8c"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/96b69a327d1f4127a9b35aab3160db8c",
            "value": "Search for an existing user to add to this sponsor organisation"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/da0ae2c97a624edeabf471e600d41208",
      "udi": "umb://element/21c9e33332474d04aedf33de6a8a1f4d"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/befa11e1f6e5442e8d3eea5bd898a409"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/befa11e1f6e5442e8d3eea5bd898a409",
            "value": "Add a new user profile record"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/497552f6e4c14241b56599886d54ee55",
      "udi": "umb://element/e18df34d5c0e478a919adf59493a3e7e"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3e92b8844e7b42b9a16fb5d124635506"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/3e92b8844e7b42b9a16fb5d124635506",
            "value": "Find a user"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/de3a24012186446f9df9bfdb16c9ac6b",
      "udi": "umb://element/dec5cf3051f14e078a09c5fce78c9c0b"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d6bbbb9e49f147d188079919e1face63"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/d6bbbb9e49f147d188079919e1face63",
            "value": "You can search by first name, last name or email address"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/bd74f95c127e4ae8b240aa501098f5fd",
      "udi": "umb://element/2ae1891c2664459fa3f1eb83717bbc21"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
  </Properties>
</Content>