<?xml version="1.0" encoding="utf-8"?>
<Content Key="d9ec7b06-c7d2-4e85-947f-e8e97de51b94" Alias="Welcome" Level="3">
  <Info>
    <Parent Key="60a24d78-9926-460c-ab9c-7fbd70a9054b">Application</Parent>
    <Path>/Home/Application/Welcome</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2025-09-25T16:21:03</CreateDate>
    <NodeName Default="Welcome" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c3e919b55c9042eb9463697202acd73f"
      },
      {
        "contentUdi": "umb://element/d7888fde49604731b1d8a33f93615a29"
      },
      {
        "contentUdi": "umb://element/d46ae91357124889835de0ac97b6bc70"
      },
      {
        "contentUdi": "umb://element/01df8c73c6754ca893e3a22c8ad7e569"
      },
      {
        "contentUdi": "umb://element/4f0283a8420b4d22af5fb4134d65c4c7"
      },
      {
        "contentUdi": "umb://element/804a29bba0e04e58a4df8244549ed5f3"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/34ea0295b99d40ee9f5778e9cf4625cb"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/34ea0295b99d40ee9f5778e9cf4625cb",
            "value": "My research"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/5358d87f57fc4d17b70a363c90d83bce",
      "udi": "umb://element/c3e919b55c9042eb9463697202acd73f"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a2c641b1c33d46578d7ce1d318cf2295"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/a2c641b1c33d46578d7ce1d318cf2295",
            "value": "Add project"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/3960017f763e4ee18120398e2a969ecf",
      "udi": "umb://element/d7888fde49604731b1d8a33f93615a29"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/6f6c0596d6374ee5a90d2d51e82b273d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/6f6c0596d6374ee5a90d2d51e82b273d",
            "value": {
              "markup": "<p>If you need to manage another project, add it here to create a record.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/fa312959d342424896096e87545fa05c",
      "udi": "umb://element/d46ae91357124889835de0ac97b6bc70"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b6dff9c24e8a4aa497bc54cbe15862f7"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/b6dff9c24e8a4aa497bc54cbe15862f7",
            "value": {
              "markup": "<p>You haven’t added any projects yet.</p>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/170380a61bc44ced842461dd3598bae3",
      "udi": "umb://element/01df8c73c6754ca893e3a22c8ad7e569"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/407922ce7d80423fb094c4e6e7303b71"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/407922ce7d80423fb094c4e6e7303b71",
            "value": "There are no matching results"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/3a70997b1b38408e89f22773f5522eb2",
      "udi": "umb://element/4f0283a8420b4d22af5fb4134d65c4c7"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/226d3d07aa4b4c338587469185676859"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8c0f2706-4c94-4f2c-be1f-8740d9d7d009",
            "udi": "umb://element/226d3d07aa4b4c338587469185676859",
            "value": {
              "markup": "<p>Improve your search results by:</p>\n<ul>\n<li>removing filters</li>\n<li>double-checking your spelling</li>\n<li>using fewer keywords</li>\n<li>searching for something less specific</li>\n</ul>",
              "blocks": {
                "contentData": [],
                "settingsData": []
              }
            }
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/94b26cc3a13c43f2ab606f7ec08bdcf3",
      "udi": "umb://element/804a29bba0e04e58a4df8244549ed5f3"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>