<?xml version="1.0" encoding="utf-8"?>
<Content Key="3df5a02d-b9a1-45a2-aab1-e046c4eb16a4" Alias="What is the lead nation for the project" Level="6">
  <Info>
    <Parent Key="9cb66927-770b-45ab-b45f-570fa605a329">Research locations</Parent>
    <Path>/QuestionSets/ProjectRecordRepository/ProjectRecordV2/Sections/ResearchLocations/WhatIsTheLeadNationForTheProject</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-07-30T14:50:50</CreateDate>
    <NodeName Default="What is the lead nation for the project" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/d5b0e745867f4354bc072dc493d69545]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[]]></Value>
    </conformance>
    <questionContent>
      <Value><![CDATA[umb://document/09c46fe473d14769b068f7ed5bdf9c04]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0041]]></Value>
    </questionId>
    <validationRules>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4370efe6dde348ceae881786c805d95e"
      }
    ]
  },
  "contentData": [
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/45d9283a12ec4032bcdf6f6af2d651e6"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "IN"
            ],
            "optionType": [
              "Single"
            ],
            "parentOptions": "umb://document/a1bd3b81dfbb4bb1b3aa211245db0465",
            "udi": "umb://element/45d9283a12ec4032bcdf6f6af2d651e6",
            "value": ""
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "Based on your answer to the previous question, the following question should be answered",
      "mode": [
        "AND"
      ],
      "parentQuestion": "umb://document/149e1cbb98df47b6a8f01767cc39ab6a",
      "ruleName": "Show if previous answer is true",
      "udi": "umb://element/4370efe6dde348ceae881786c805d95e"
    }
  ],
  "settingsData": []
}]]></Value>
    </validationRules>
  </Properties>
</Content>