<?xml version="1.0" encoding="utf-8"?>
<Content Key="b07c6b94-18a8-41e5-9f90-f28a6ed6b198" Alias="Where are the participating Non NHS HSC organisations?" Level="6">
  <Info>
    <Parent Key="07c90bd5-cee2-4a0c-bd0d-1b07f4475141">Affecting Organisations</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ReviewableFreeTextWithApplicabilityModification/AffectingOrganisations/WhereAreTheParticipatingNonNHSHSCOrganisations</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-10-03T11:58:14</CreateDate>
    <NodeName Default="Where are the participating Non NHS HSC organisations?" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Conditional"
]]]></Value>
    </conformance>
    <isEditable>
      <Value><![CDATA[]]></Value>
    </isEditable>
    <playbackQuestionId>
      <Value><![CDATA[]]></Value>
    </playbackQuestionId>
    <questionContent>
      <Value><![CDATA[umb://document/a8919faeaac84d6ea72b2fc52ba556c0]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0504]]></Value>
    </questionId>
    <sectionGroup>
      <Value><![CDATA[]]></Value>
    </sectionGroup>
    <sequence>
      <Value><![CDATA[4]]></Value>
    </sequence>
    <sequenceInSectionGroup>
      <Value><![CDATA[]]></Value>
    </sequenceInSectionGroup>
    <showAnswerOn>
      <Value><![CDATA[]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[0]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e99b14ea86df4f0caba3fed22125aad8"
      }
    ]
  },
  "contentData": [
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/1fe7a3ebdb1e454caded9bccee740060"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "IN"
            ],
            "optionType": [
              "Multiple"
            ],
            "parentOptions": "umb://document/557245be9c64457d9b455a27dbbaf8bb",
            "udi": "umb://element/1fe7a3ebdb1e454caded9bccee740060",
            "value": ""
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "",
      "mode": [
        "AND"
      ],
      "parentQuestion": "umb://document/cf99a8dcc876420ca639e5639357208a",
      "ruleName": "Show if non-NHS/HSC is selected",
      "udi": "umb://element/e99b14ea86df4f0caba3fed22125aad8"
    }
  ],
  "settingsData": []
}]]></Value>
    </validationRules>
  </Properties>
</Content>