<?xml version="1.0" encoding="utf-8"?>
<Content Key="a8919fae-aac8-4d6e-a72b-2fc52ba556c0" Alias="Where are the participating non-NHS/HSC organisations that will be affected by this change?" Level="5">
  <Info>
    <Parent Key="4de398cc-4180-4b6a-8be2-96266b3fa095">Questions</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Questions/WhereAreTheParticipatingNonNHSHSCOrganisationsThatWillBeAffectedByThisChange</Path>
    <Trashed>false</Trashed>
    <ContentType>question</ContentType>
    <CreateDate>2025-08-13T11:45:43</CreateDate>
    <NodeName Default="Where are the participating non-NHS/HSC organisations that will be affected by this change?" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerDataType>
      <Value><![CDATA[[
  "Checkbox"
]]]></Value>
    </answerDataType>
    <editorComment>
      <Value><![CDATA[]]></Value>
    </editorComment>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <possibleAnswers>
      <Value><![CDATA[umb://document/57dae3765ea44cf5be37fd183b3a4ab5,umb://document/1564d09f88a24a57bc8a0199b1a6ae68,umb://document/a613fe5e2d0e44d4a657c7e9d5b12ce2,umb://document/a0bb90c3680d48be890115d256d40db8]]></Value>
    </possibleAnswers>
    <questionFormat>
      <Value><![CDATA[[
  "Look-up list"
]]]></Value>
    </questionFormat>
    <questionName>
      <Value><![CDATA[Where are the participating non-NHS/HSC organisations that will be affected by this change?]]></Value>
    </questionName>
    <shortQuestionName>
      <Value><![CDATA[Affected non-NHS/HSC locations]]></Value>
    </shortQuestionName>
    <supplementaryInfo>
      <Value><![CDATA[]]></Value>
    </supplementaryInfo>
  </Properties>
</Content>