<?xml version="1.0" encoding="utf-8"?>
<Content Key="cc15adc3-a204-494f-b197-9a821a005d4a" Alias="Where are the participating NHS/HSC organisations that will be affected by this change?" Level="6">
  <Info>
    <Parent Key="1fc19502-d6a9-4b78-97ec-a2f567ca975d">Affecting Organisations</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/NonReviewableFreeTextWithApplicabilityModification/AffectingOrganisations/WhereAreTheParticipatingNHSHSCOrganisationsThatWillBeAffectedByThisChange</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-10-08T15:48:08</CreateDate>
    <NodeName Default="Where are the participating NHS/HSC organisations that will be affected by this change?" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Conditional"
]]]></Value>
    </conformance>
    <questionContent>
      <Value><![CDATA[umb://document/a2256cad12bf4a12bf9421dc207a0a17]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0501]]></Value>
    </questionId>
    <sectionGroup>
      <Value><![CDATA[]]></Value>
    </sectionGroup>
    <sequence>
      <Value><![CDATA[1]]></Value>
    </sequence>
    <sequenceInSectionGroup>
      <Value><![CDATA[]]></Value>
    </sequenceInSectionGroup>
    <showAnswerOn>
      <Value><![CDATA[]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[0]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8832a82734a647e0b1839775f762b52a"
      },
      {
        "contentUdi": "umb://element/bc8ffff685394fc48a28feb961cad654"
      }
    ]
  },
  "contentData": [
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/f5035207cd8643df9d3d100d24697342"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "IN"
            ],
            "optionType": [
              "Multiple"
            ],
            "parentOptions": "umb://document/d707c6d2ce0f42d39e1af226b8d0737f",
            "udi": "umb://element/f5035207cd8643df9d3d100d24697342",
            "value": ""
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "",
      "mode": [
        "AND"
      ],
      "parentQuestion": "umb://document/cf99a8dcc876420ca639e5639357208a",
      "ruleName": "Show if NHS/HSC is selected",
      "udi": "umb://element/8832a82734a647e0b1839775f762b52a"
    },
    {
      "conditions": "",
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "Select all that apply",
      "mode": [
        "AND"
      ],
      "parentQuestion": "",
      "ruleName": "Hint Text",
      "udi": "umb://element/bc8ffff685394fc48a28feb961cad654"
    }
  ],
  "settingsData": []
}]]></Value>
    </validationRules>
  </Properties>
</Content>