<?xml version="1.0" encoding="utf-8"?>
<Content Key="733d466e-9cb9-4ce8-9ab4-f754dc519b04" Alias="Where are the participating NHS/HSC organisations that will be affected by this change?" Level="6">
  <Info>
    <Parent Key="387de5ca-27d2-4e83-ad4e-0db972ff520a">Affecting Organisations</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ProjectRestartModification/AffectingOrganisations/WhereAreTheParticipatingNHSHSCOrganisationsThatWillBeAffectedByThisChange</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2026-03-06T16:38:19</CreateDate>
    <NodeName Default="Where are the participating NHS/HSC organisations that will be affected by this change?" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Conditional"
]]]></Value>
    </conformance>
    <isEditable>
      <Value><![CDATA[]]></Value>
    </isEditable>
    <playbackQuestionId>
      <Value><![CDATA[]]></Value>
    </playbackQuestionId>
    <questionContent>
      <Value><![CDATA[umb://document/a2256cad12bf4a12bf9421dc207a0a17]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0501]]></Value>
    </questionId>
    <sectionGroup>
      <Value><![CDATA[]]></Value>
    </sectionGroup>
    <sequence>
      <Value><![CDATA[1]]></Value>
    </sequence>
    <sequenceInSectionGroup>
      <Value><![CDATA[]]></Value>
    </sequenceInSectionGroup>
    <showAnswerOn>
      <Value><![CDATA[]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[0]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c2b23639a508412ab7ae823b3e6ae587"
      },
      {
        "contentUdi": "umb://element/4b3bff4e8f51415ca72d9b9233443171"
      }
    ]
  },
  "contentData": [
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/ca7a6766f1804fd587c77332e1035587"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "IN"
            ],
            "optionType": [
              "Multiple"
            ],
            "parentOptions": "umb://document/d707c6d2ce0f42d39e1af226b8d0737f",
            "udi": "umb://element/ca7a6766f1804fd587c77332e1035587",
            "value": ""
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "",
      "mode": [
        "AND"
      ],
      "parentQuestion": "umb://document/cf99a8dcc876420ca639e5639357208a",
      "ruleName": "Show if NHS/HSC is selected",
      "udi": "umb://element/c2b23639a508412ab7ae823b3e6ae587"
    },
    {
      "conditions": "",
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "Select all that apply",
      "mode": [
        "AND"
      ],
      "parentQuestion": "",
      "ruleName": "Hint Text",
      "udi": "umb://element/4b3bff4e8f51415ca72d9b9233443171"
    }
  ],
  "settingsData": []
}]]></Value>
    </validationRules>
  </Properties>
</Content>