<?xml version="1.0" encoding="utf-8"?>
<Content Key="198b43db-f7df-430b-afea-38b58ee11bdc" Alias="Which references do you need to change" Level="5">
  <Info>
    <Parent Key="78327c1e-ab30-4977-aa35-3fd083602bb2">Project reference numbers modification</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ProjectReferenceNumbersModification/WhichReferencesDoYouNeedToChange</Path>
    <Trashed>false</Trashed>
    <ContentType>section</ContentType>
    <CreateDate>2025-10-14T11:56:22</CreateDate>
    <NodeName Default="Which references do you need to change" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/4dbe3d033d384e3b97107aedb238ee7e]]></Value>
    </category>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <mandatory>
      <Value><![CDATA[0]]></Value>
    </mandatory>
    <sectionId>
      <Value><![CDATA[prn-reference-numbers]]></Value>
    </sectionId>
    <sectionName>
      <Value><![CDATA[Which references do you need to change]]></Value>
    </sectionName>
    <sequence>
      <Value><![CDATA[2]]></Value>
    </sequence>
    <staticViewName>
      <Value><![CDATA[ProjectReferenceNumbers]]></Value>
    </staticViewName>
  </Properties>
</Content>