<?xml version="1.0" encoding="utf-8"?>
<Content Key="71c1417a-8635-4f4a-b808-ea4307fee20a" Alias="Which organisation types does this change affect?" Level="6">
  <Info>
    <Parent Key="93aec0f2-de8c-45ea-9935-591cd979a06b">Affected Organisations</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ReviewableFreeTextWithApplicabilityModification/AffectedOrganisations/WhichOrganisationTypesDoesThisChangeAffect</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-10-03T11:56:51</CreateDate>
    <NodeName Default="Which organisation types does this change affect?" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Mandatory"
]]]></Value>
    </conformance>
    <questionContent>
      <Value><![CDATA[umb://document/c117f5d7475544d1a0c65efe3f0dd7a6]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0500]]></Value>
    </questionId>
    <sequence>
      <Value><![CDATA[1]]></Value>
    </sequence>
    <showAnswerOn>
      <Value><![CDATA[]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[0]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/836adb4fd54d40d697c592efe165a27f"
      }
    ]
  },
  "contentData": [
    {
      "conditions": "",
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "Select all that apply",
      "mode": [
        "AND"
      ],
      "parentQuestion": "",
      "ruleName": "Hint Text",
      "udi": "umb://element/836adb4fd54d40d697c592efe165a27f"
    }
  ],
  "settingsData": []
}]]></Value>
    </validationRules>
  </Properties>
</Content>