<?xml version="1.0" encoding="utf-8"?>
<Content Key="338d3feb-3445-4810-807d-a2d2d47c112c" Alias="Which titles do you need to change?" Level="6">
  <Info>
    <Parent Key="f024e7da-dfe4-49c4-b276-7bfd42f9977e">Which titles do you need to change</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ProjectIdentificationModification/WhichTitlesDoYouNeedToChange/WhichTitlesDoYouNeedToChange</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-10-30T14:14:01</CreateDate>
    <NodeName Default="Which titles do you need to change?" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Conditional"
]]]></Value>
    </conformance>
    <isEditable>
      <Value><![CDATA[]]></Value>
    </isEditable>
    <questionContent>
      <Value><![CDATA[umb://document/cab9c17f5ebf4119ab1ec145e2f38067]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0901]]></Value>
    </questionId>
    <sectionGroup>
      <Value><![CDATA[]]></Value>
    </sectionGroup>
    <sequence>
      <Value><![CDATA[1]]></Value>
    </sequence>
    <sequenceInSectionGroup>
      <Value><![CDATA[]]></Value>
    </sequenceInSectionGroup>
    <showAnswerOn>
      <Value><![CDATA[]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[0]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/65087969dd5d490ebbc679aa835f8fab"
      }
    ]
  },
  "contentData": [
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/30ee06c541154cba9109ba0e9867886a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "IN"
            ],
            "optionType": [
              "Single"
            ],
            "parentOptions": "umb://document/1ac81604f5ae41c09c53d914c88abb32",
            "udi": "umb://element/30ee06c541154cba9109ba0e9867886a",
            "value": ""
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "",
      "mode": [
        "AND"
      ],
      "parentQuestion": "umb://document/e488fdbdd3d14c4b812ed6844e6ed3e6",
      "ruleName": "Show if title is selected",
      "udi": "umb://element/65087969dd5d490ebbc679aa835f8fab"
    }
  ],
  "settingsData": []
}]]></Value>
    </validationRules>
  </Properties>
</Content>