<?xml version="1.0" encoding="utf-8"?>
<Content Key="8b6ea119-8722-4320-945a-cf35a012f7a0" Alias="Which nations are participating in your project?" Level="6">
  <Info>
    <Parent Key="9cb66927-770b-45ab-b45f-570fa605a329">Research locations</Parent>
    <Path>/QuestionSets/ProjectRecordRepository/ProjectRecordV2/Sections/ResearchLocations/WhichNationsAreParticipatingInYourProject</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-07-28T15:08:01</CreateDate>
    <NodeName Default="Which nations are participating in your project?" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/d5b0e745867f4354bc072dc493d69545]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[Mandatory]]></Value>
    </conformance>
    <questionContent>
      <Value><![CDATA[umb://document/21a2b902e16645ba9e6e1368aa556302]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0032]]></Value>
    </questionId>
    <validationRules>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/304b248ede7541c4be24350c0695dde9"
      }
    ]
  },
  "contentData": [
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/cf76309673604640b01bb95cfd019160"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "Select all that apply",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "IN"
            ],
            "optionType": [
              "Multiple"
            ],
            "parentOptions": "",
            "udi": "umb://element/cf76309673604640b01bb95cfd019160",
            "value": "Select all that apply"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "Select all that apply",
      "mode": [
        "AND"
      ],
      "parentQuestion": "",
      "ruleName": "Mandatory",
      "udi": "umb://element/304b248ede7541c4be24350c0695dde9"
    }
  ],
  "settingsData": []
}]]></Value>
    </validationRules>
  </Properties>
</Content>