<?xml version="1.0" encoding="utf-8"?>
<Content Key="f024e7da-dfe4-49c4-b276-7bfd42f9977e" Alias="Which titles do you need to change" Level="5">
  <Info>
    <Parent Key="78327c1e-ab30-4977-aa35-3fd083602bb2">Project Identification modification</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ProjectIdentificationModification/WhichTitlesDoYouNeedToChange</Path>
    <Trashed>false</Trashed>
    <ContentType>section</ContentType>
    <CreateDate>2025-10-30T14:08:18</CreateDate>
    <NodeName Default="Which titles do you need to change" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[umb://document/4dbe3d033d384e3b97107aedb238ee7e]]></Value>
    </category>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <isLastSectionBeforeReview>
      <Value><![CDATA[0]]></Value>
    </isLastSectionBeforeReview>
    <mandatory>
      <Value><![CDATA[1]]></Value>
    </mandatory>
    <parentAnswerOption>
      <Value><![CDATA[umb://document/1ac81604f5ae41c09c53d914c88abb32]]></Value>
    </parentAnswerOption>
    <parentQuestion>
      <Value><![CDATA[umb://document/e488fdbdd3d14c4b812ed6844e6ed3e6]]></Value>
    </parentQuestion>
    <sectionId>
      <Value><![CDATA[pim-which-titles]]></Value>
    </sectionId>
    <sectionName>
      <Value><![CDATA[Which titles do you need to change?]]></Value>
    </sectionName>
    <sequence>
      <Value><![CDATA[2]]></Value>
    </sequence>
    <staticViewName>
      <Value><![CDATA[DisplayQuestionnaire]]></Value>
    </staticViewName>
  </Properties>
</Content>