<?xml version="1.0" encoding="utf-8"?>
<Content Key="1bcd408f-d29b-4b44-80b2-9695272d5871" Alias="Which organisation types does this change affect?" Level="6">
  <Info>
    <Parent Key="46ba9db4-fae7-4375-b51d-fed05a23f53c">Affected Organisations</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ProjectPersonnelPrincipalInvestigatorModification/AffectedOrganisations/WhichOrganisationTypesDoesThisChangeAffect</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-10-27T15:03:01</CreateDate>
    <NodeName Default="Which organisation types does this change affect?" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Mandatory"
]]]></Value>
    </conformance>
    <questionContent>
      <Value><![CDATA[umb://document/c117f5d7475544d1a0c65efe3f0dd7a6]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0500]]></Value>
    </questionId>
    <sectionGroup>
      <Value><![CDATA[]]></Value>
    </sectionGroup>
    <sequence>
      <Value><![CDATA[1]]></Value>
    </sequence>
    <sequenceInSectionGroup>
      <Value><![CDATA[]]></Value>
    </sequenceInSectionGroup>
    <showAnswerOn>
      <Value><![CDATA[]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[0]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2eb2bec753ba4ad08dde1c79b6424c7c"
      }
    ]
  },
  "contentData": [
    {
      "conditions": "",
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "Select all that apply",
      "mode": [
        "AND"
      ],
      "parentQuestion": "",
      "ruleName": "Hint Text",
      "udi": "umb://element/2eb2bec753ba4ad08dde1c79b6424c7c"
    }
  ],
  "settingsData": []
}]]></Value>
    </validationRules>
  </Properties>
</Content>