<?xml version="1.0" encoding="utf-8"?>
<Content Key="01f50328-d12c-4eb5-8879-120bf6a5d011" Alias="Which references do you need to change?" Level="6">
  <Info>
    <Parent Key="8473be11-76b4-448d-9734-8c1a29302b91">Project identification</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Questions/ProjectIdentification/WhichReferencesDoYouNeedToChange</Path>
    <Trashed>false</Trashed>
    <ContentType>question</ContentType>
    <CreateDate>2025-10-14T11:34:27</CreateDate>
    <NodeName Default="Which references do you need to change?" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerDataType>
      <Value><![CDATA[[
  "Checkbox"
]]]></Value>
    </answerDataType>
    <editorComment>
      <Value><![CDATA[]]></Value>
    </editorComment>
    <evaluateOrganisationsAffected>
      <Value><![CDATA[0]]></Value>
    </evaluateOrganisationsAffected>
    <evaluateResourceImplications>
      <Value><![CDATA[0]]></Value>
    </evaluateResourceImplications>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <nhsInvolvement>
      <Value><![CDATA[]]></Value>
    </nhsInvolvement>
    <nonNHSInvolvement>
      <Value><![CDATA[]]></Value>
    </nonNHSInvolvement>
    <possibleAnswers>
      <Value><![CDATA[umb://document/9019a9c15a0a4e83a5fb530e56e28fa6,umb://document/4013b8f194bc449489dba074a5166cbd,umb://document/0a0f0880a6b74e5a8061876cba4301de]]></Value>
    </possibleAnswers>
    <questionFormat>
      <Value><![CDATA[[
  "Look-up list"
]]]></Value>
    </questionFormat>
    <questionName>
      <Value><![CDATA[Which reference(s) do you need to change?]]></Value>
    </questionName>
    <shortQuestionName>
      <Value><![CDATA[Which reference(s) do you need to change?]]></Value>
    </shortQuestionName>
    <supplementaryInfo>
      <Value><![CDATA[]]></Value>
    </supplementaryInfo>
    <useAnswerForNextSection>
      <Value><![CDATA[0]]></Value>
    </useAnswerForNextSection>
  </Properties>
</Content>