<?xml version="1.0" encoding="utf-8"?>
<Content Key="d30342d8-fa30-4691-93e2-7351ed06bbc5" Alias="Will participating NHS/HSC organisations require additional resources to implement this change?" Level="6">
  <Info>
    <Parent Key="387de5ca-27d2-4e83-ad4e-0db972ff520a">Affecting Organisations</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ProjectRestartModification/AffectingOrganisations/WillParticipatingNHSHSCOrganisationsRequireAdditionalResourcesToImplementThisChange</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2026-03-06T16:38:19</CreateDate>
    <NodeName Default="Will participating NHS/HSC organisations require additional resources to implement this change?" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Conditional"
]]]></Value>
    </conformance>
    <isEditable>
      <Value><![CDATA[]]></Value>
    </isEditable>
    <playbackQuestionId>
      <Value><![CDATA[]]></Value>
    </playbackQuestionId>
    <questionContent>
      <Value><![CDATA[umb://document/8aecdd88e5f64f609fdff36623369270]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0503]]></Value>
    </questionId>
    <sectionGroup>
      <Value><![CDATA[]]></Value>
    </sectionGroup>
    <sequence>
      <Value><![CDATA[3]]></Value>
    </sequence>
    <sequenceInSectionGroup>
      <Value><![CDATA[]]></Value>
    </sequenceInSectionGroup>
    <showAnswerOn>
      <Value><![CDATA[]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[0]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9e01ab6679124ba59f7b28109b289afc"
      }
    ]
  },
  "contentData": [
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/fd63b1028d424790a36d16379de8df59"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "IN"
            ],
            "optionType": [
              "Multiple"
            ],
            "parentOptions": "umb://document/d707c6d2ce0f42d39e1af226b8d0737f",
            "udi": "umb://element/fd63b1028d424790a36d16379de8df59",
            "value": ""
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "",
      "mode": [
        "AND"
      ],
      "parentQuestion": "umb://document/cf99a8dcc876420ca639e5639357208a",
      "ruleName": "Show if NHS/HSC is selected",
      "udi": "umb://element/9e01ab6679124ba59f7b28109b289afc"
    }
  ],
  "settingsData": []
}]]></Value>
    </validationRules>
  </Properties>
</Content>