<?xml version="1.0" encoding="utf-8"?>
<Content Key="560faf96-67a3-40b6-b845-0649fdd8f59e" Alias="Will some or all of the participating organisations be affected?" Level="6">
  <Info>
    <Parent Key="07c90bd5-cee2-4a0c-bd0d-1b07f4475141">Affecting Organisations</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/ReviewableFreeTextModification/AffectingOrganisations/WillSomeOrAllOfTheParticipatingOrganisationsBeAffected</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-10-03T11:58:14</CreateDate>
    <NodeName Default="Will some or all of the participating organisations be affected?" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Conditional"
]]]></Value>
    </conformance>
    <questionContent>
      <Value><![CDATA[umb://document/67fccab783ab49db907cd8ca950374b4]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0502]]></Value>
    </questionId>
    <sequence>
      <Value><![CDATA[2]]></Value>
    </sequence>
    <showAnswerOn>
      <Value><![CDATA[]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[0]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d5f3c3db0efb4338a697e59a9c7ac569"
      },
      {
        "contentUdi": "umb://element/da7972cc7d714762baf9f50470e2e7bb"
      }
    ]
  },
  "contentData": [
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/23f4d98bcbe547f4b2f3d7d345eeebf1"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "IN"
            ],
            "optionType": [
              "Multiple"
            ],
            "parentOptions": "umb://document/d707c6d2ce0f42d39e1af226b8d0737f",
            "udi": "umb://element/23f4d98bcbe547f4b2f3d7d345eeebf1",
            "value": ""
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "",
      "mode": [
        "AND"
      ],
      "parentQuestion": "umb://document/cf99a8dcc876420ca639e5639357208a",
      "ruleName": "Show if NHS/HSC is selected",
      "udi": "umb://element/d5f3c3db0efb4338a697e59a9c7ac569"
    },
    {
      "conditions": "",
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "This answer may affect the categorisation for the change",
      "mode": [
        "AND"
      ],
      "parentQuestion": "",
      "ruleName": "Hint Text",
      "udi": "umb://element/da7972cc7d714762baf9f50470e2e7bb"
    }
  ],
  "settingsData": []
}]]></Value>
    </validationRules>
  </Properties>
</Content>