<?xml version="1.0" encoding="utf-8"?>
<Content Key="8aecdd88-e5f6-4f60-9fdf-f36623369270" Alias="Will participating NHS/HSC organisations require additional resources to implement this change?" Level="5">
  <Info>
    <Parent Key="4de398cc-4180-4b6a-8be2-96266b3fa095">Questions</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/Questions/WillParticipatingNHSHSCOrganisationsRequireAdditionalResourcesToImplementThisChange</Path>
    <Trashed>false</Trashed>
    <ContentType>question</ContentType>
    <CreateDate>2025-07-31T11:30:35</CreateDate>
    <NodeName Default="Will participating NHS/HSC organisations require additional resources to implement this change?" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <answerDataType>
      <Value><![CDATA[[
  "Radio button"
]]]></Value>
    </answerDataType>
    <editorComment>
      <Value><![CDATA[]]></Value>
    </editorComment>
    <guidanceContent>
      <Value><![CDATA[]]></Value>
    </guidanceContent>
    <possibleAnswers>
      <Value><![CDATA[umb://document/b20287b326c84c9eb619ba81c4585c13,umb://document/aaab695b0c0f4b9eb39b416e30c05f6d]]></Value>
    </possibleAnswers>
    <questionFormat>
      <Value><![CDATA[[
  "Look-up list"
]]]></Value>
    </questionFormat>
    <questionName>
      <Value><![CDATA[Will participating NHS/HSC organisations require additional resources to implement this change?]]></Value>
    </questionName>
    <shortQuestionName>
      <Value><![CDATA[Additional resource implications]]></Value>
    </shortQuestionName>
    <supplementaryInfo>
      <Value><![CDATA[]]></Value>
    </supplementaryInfo>
  </Properties>
</Content>