<?xml version="1.0" encoding="utf-8"?>
<Content Key="dabc762e-9f39-44e3-a3b5-321382399671" Alias="Will some or all of the participating organisations be affected?" Level="6">
  <Info>
    <Parent Key="ae68e135-f96a-45f8-a434-e4c0575c7090">Affecting Organisations</Parent>
    <Path>/QuestionSets/ModificationsRepository/ModificationsV1/PlannedEndDateModification/AffectingOrganisations/WillSomeOrAllOfTheParticipatingOrganisationsBeAffected</Path>
    <Trashed>false</Trashed>
    <ContentType>questionSlot</ContentType>
    <CreateDate>2025-07-31T11:33:26</CreateDate>
    <NodeName Default="Will some or all of the participating organisations be affected?" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[]]></Value>
    </category>
    <conformance>
      <Value><![CDATA[[
  "Conditional"
]]]></Value>
    </conformance>
    <questionContent>
      <Value><![CDATA[umb://document/67fccab783ab49db907cd8ca950374b4]]></Value>
    </questionContent>
    <questionId>
      <Value><![CDATA[IQA0502]]></Value>
    </questionId>
    <sectionGroup>
      <Value><![CDATA[]]></Value>
    </sectionGroup>
    <sequence>
      <Value><![CDATA[2]]></Value>
    </sequence>
    <sequenceInSectionGroup>
      <Value><![CDATA[]]></Value>
    </sequenceInSectionGroup>
    <showAnswerOn>
      <Value><![CDATA[]]></Value>
    </showAnswerOn>
    <showOriginalAnswer>
      <Value><![CDATA[0]]></Value>
    </showOriginalAnswer>
    <validationRules>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7a0cbbfc36cb48a8af6d92eed4e24870"
      },
      {
        "contentUdi": "umb://element/2cbc86b773e44407a9519ecd4e964a00"
      }
    ]
  },
  "contentData": [
    {
      "conditions": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/2f274ec696b54196b7432545db733eb4"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "4ddb9a06-f0f2-41cc-a920-3cb6b7bdc6b4",
            "description": "",
            "mode": [
              "AND"
            ],
            "negate": "0",
            "operator": [
              "IN"
            ],
            "optionType": [
              "Multiple"
            ],
            "parentOptions": "umb://document/d707c6d2ce0f42d39e1af226b8d0737f",
            "udi": "umb://element/2f274ec696b54196b7432545db733eb4",
            "value": ""
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "",
      "mode": [
        "AND"
      ],
      "parentQuestion": "umb://document/cf99a8dcc876420ca639e5639357208a",
      "ruleName": "Show if NHS/HSC is selected",
      "udi": "umb://element/7a0cbbfc36cb48a8af6d92eed4e24870"
    },
    {
      "conditions": "",
      "contentTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "description": "This answer may affect the categorisation for the change",
      "mode": [
        "AND"
      ],
      "parentQuestion": "",
      "ruleName": "Hint Text",
      "udi": "umb://element/2cbc86b773e44407a9519ecd4e964a00"
    }
  ],
  "settingsData": []
}]]></Value>
    </validationRules>
  </Properties>
</Content>