<?xml version="1.0" encoding="utf-8"?>
<Content Key="3be21e35-ab0b-4d12-8fc9-1d02c6a6f3f8" Alias="WithdrawModification" Level="3">
  <Info>
    <Parent Key="7d10ce7b-5201-428b-a9fd-45140bf56009">Modifications</Parent>
    <Path>/Home/Modifications/WithdrawModification</Path>
    <Trashed>false</Trashed>
    <ContentType>mixedContentPage</ContentType>
    <CreateDate>2026-02-19T13:31:20</CreateDate>
    <NodeName Default="WithdrawModification" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contentItems>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0d48f3673ce4420390121c1e3d0e9b47"
      },
      {
        "contentUdi": "umb://element/78c603e0699a43a0b8f2d7d999662849"
      }
    ]
  },
  "contentData": [
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/9aea8b52e6e94f3ba88417315442839d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/9aea8b52e6e94f3ba88417315442839d",
            "value": "Confirm you want to withdraw modification"
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/952a45c4ce864100b6cce0c9fe2be17f",
      "udi": "umb://element/0d48f3673ce4420390121c1e3d0e9b47"
    },
    {
      "content": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7f4bce7f911f4e20ac5c15c022ab77a8"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "395a5cf2-aded-4d19-b693-e9d5d9147492",
            "udi": "umb://element/7f4bce7f911f4e20ac5c15c022ab77a8",
            "value": "Once you've withdrawn this modification, you can't submit it again. You'll need to create a new modification if you want to submit this change again in the future."
          }
        ],
        "settingsData": []
      },
      "contentTypeKey": "fda7fe49-6b6d-404f-8b24-b638893d2227",
      "placeholder": "umb://document/b518ea610eef4024839bc711a049798c",
      "udi": "umb://element/78c603e0699a43a0b8f2d7d999662849"
    }
  ],
  "settingsData": []
}]]></Value>
    </contentItems>
    <metaTitle>
      <Value><![CDATA[]]></Value>
    </metaTitle>
  </Properties>
</Content>