<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1bd3b81-dfbb-4bb1-b3aa-211245db0465" Alias="Yes" Level="6">
  <Info>
    <Parent Key="613f3aff-29ed-401f-92e0-f4d4f968e7c2">True false</Parent>
    <Path>/QuestionSets/ProjectRecordRepository/ProjectRecordV2/AnswerRepository/TrueFalse/Yes</Path>
    <Trashed>false</Trashed>
    <ContentType>answerOption</ContentType>
    <CreateDate>2025-07-28T09:52:16</CreateDate>
    <NodeName Default="Yes" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <optionId>
      <Value><![CDATA[OPT0004]]></Value>
    </optionId>
    <optionName>
      <Value><![CDATA[Yes]]></Value>
    </optionName>
  </Properties>
</Content>