<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="34771d5c-a237-40ac-b43a-850c71a20ab8" Alias="modificationsQuestionSet" Level="2">
  <Info>
    <Name>Modifications Question Set</Name>
    <Icon>icon-book-alt-2 color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Modifications</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="e8915190-79a7-4435-9492-b1b150befa65" SortOrder="0">section</ContentType>
    <ContentType Key="5b97f345-d052-4027-9ad9-f45d1ec0ac5e" SortOrder="1">modificationJourney</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>7b00c6ba-e9a9-48b9-aa61-d0301e1e2d10</Key>
      <Name>Comments</Name>
      <Alias>comments</Alias>
      <Definition>d03c006d-653d-455a-9867-4883c9b70c63</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="editorCommentary">Editor commentary</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>c6075f23-76f3-4a18-a8ca-414a5c4a8703</Key>
      <Caption>Editor commentary</Caption>
      <Alias>editorCommentary</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>