<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a32bc2e9-111c-489c-bf60-a43997eec9c7" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Website</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="e3d74774-4e81-424d-8ad7-6fbff7e155d1" SortOrder="0">genericPage</ContentType>
    <ContentType Key="9bf20a1b-1611-49a6-900b-48c53fd00de3" SortOrder="1">contentPlaceholderRepository</ContentType>
    <ContentType Key="e5ea4272-0209-4a29-9cf0-04f33fda3ba9" SortOrder="2">mixedContentPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>e920d9ff-069c-4c0b-b3b8-00db07ae048e</Key>
      <Name>Dashboard Content Items</Name>
      <Alias>dashboardContentItems</Alias>
      <Definition>11d6bdf9-4df5-41a3-9c68-15a07b9749db</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="dashboard">Dashboard</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3425d1a7-5581-4ecd-ba7b-50478fe960c2</Key>
      <Name>Footer Links</Name>
      <Alias>footerLinks</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2e666362-2b2b-4e5e-8516-97af8bf9e15e</Key>
      <Name>Login landing page above the fold</Name>
      <Alias>loginLandingPageAboveTheFold</Alias>
      <Definition>5bac1718-3ddf-43e8-b2b1-5fae07daafb1</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="loginLandingPage">Login Landing Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5796a7e0-193d-40dc-8cce-8cb3932a8bc9</Key>
      <Name>Login landing page below the fold</Name>
      <Alias>loginLandingPageBelowTheFold</Alias>
      <Definition>5bac1718-3ddf-43e8-b2b1-5fae07daafb1</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="loginLandingPage">Login Landing Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1f495b43-46c1-46cf-be94-af94a641d8ca</Key>
      <Name>Phase banner content</Name>
      <Alias>phaseBannerContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="phaseBanner">Phase Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1a938bb7-e674-448e-bd65-c13c7cfd127f</Key>
      <Name>Right side menu links</Name>
      <Alias>rightSideMenuLinks</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="loginLandingPage">Login Landing Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2085f529-0c9c-4ffb-933d-5698871290ee</Key>
      <Name>Service navigation links</Name>
      <Alias>serviceNavigationLinks</Alias>
      <Definition>72e53342-4799-4b7c-8bd5-5e47d5c268bb</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Links for the service navigation]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="serviceNavigation">Service Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>56262702-364d-4868-a119-b9bba967d64c</Key>
      <Caption>Service Navigation</Caption>
      <Alias>serviceNavigation</Alias>
      <Type>Tab</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>6922f2ca-58b6-4e87-a575-1914494b84e8</Key>
      <Caption>Phase Banner</Caption>
      <Alias>phaseBanner</Alias>
      <Type>Tab</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>b3bf1c37-6369-441e-8e57-13609e7621a8</Key>
      <Caption>Dashboard</Caption>
      <Alias>dashboard</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>d1e91b56-76f1-491d-aea0-bcca94ec4975</Key>
      <Caption>Login Landing Page</Caption>
      <Alias>loginLandingPage</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>d99c6a4c-ad7d-4092-8b79-6a13f558d22f</Key>
      <Caption>Footer</Caption>
      <Alias>footer</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>