<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e5ea4272-0209-4a29-9cf0-04f33fda3ba9" Alias="mixedContentPage" Level="2">
  <Info>
    <Name>Mixed Content Page</Name>
    <Icon>icon-article color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Page that contains dynamic and static content. It allows for static content to be edited by editing of content placeholders.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Website</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="e5ea4272-0209-4a29-9cf0-04f33fda3ba9" SortOrder="0">mixedContentPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>fb158994-17f0-4ecc-b971-1a03454078c2</Key>
      <Name>Content Items</Name>
      <Alias>contentItems</Alias>
      <Definition>11d6bdf9-4df5-41a3-9c68-15a07b9749db</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Collection of various content placeholders that hold static content for various elements and components related to this page]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>52371c09-6619-424c-b33f-9976fdc6745e</Key>
      <Name>Meta title</Name>
      <Alias>metaTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="metaProperties">Meta properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>69ca7d0d-eae0-41e1-899e-eea46b05a5ac</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>db142d86-fbd8-4aad-ae2b-8bdfedad67de</Key>
      <Caption>Meta properties</Caption>
      <Alias>metaProperties</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>