<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c9303390-2ba0-4161-bb1c-c91ca33fade0" Alias="questionsetContentContainer" Level="2">
  <Info>
    <Name>Questionset Content Container</Name>
    <Icon>icon-thumbnails color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Questionnaire</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="e8915190-79a7-4435-9492-b1b150befa65" SortOrder="0">section</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>