<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6bba7b90-4192-4dd8-8034-9651ce50eb40" Alias="questionsFolder" Level="2">
  <Info>
    <Name>Questions folder</Name>
    <Icon>icon-folder color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Questions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="3d0f3732-e7a6-499b-9e96-a0909b351773" SortOrder="0">question</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>