<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="59f2dd20-834f-47bf-ab1b-2383001242b7" Alias="questionSet" Level="2">
  <Info>
    <Name>Question Set</Name>
    <Icon>icon-book-alt-2 color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Questionnaire</Folder>
    <Compositions>
      <Composition Key="c5f24e16-0fe1-4d80-a879-49b3fba09a6f">questionsetMetadataComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="30e2e48c-6274-465e-b52d-f8172dcd667b" SortOrder="0">answersRepository</ContentType>
    <ContentType Key="e328ae25-e7e0-48c9-899e-2de37074157b" SortOrder="1">questionsRepository</ContentType>
    <ContentType Key="c9303390-2ba0-4161-bb1c-c91ca33fade0" SortOrder="2">questionsetContentContainer</ContentType>
    <ContentType Key="96cb9ab6-78c5-41ab-80f4-2676a253c448" SortOrder="3">categoriesRepository</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>15019e17-cb03-4a68-8628-1648d438bb06</Key>
      <Name>Comments</Name>
      <Alias>comments</Alias>
      <Definition>d03c006d-653d-455a-9867-4883c9b70c63</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="editorCommentary">Editor commentary</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0174822e-4a42-4ebd-a65d-e0767f4c772a</Key>
      <Caption>Editor commentary</Caption>
      <Alias>editorCommentary</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>