<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="733a0746-47a8-49da-b4a5-ba802a9cac62" Alias="reviewTypeCriteria" Level="2">
  <Info>
    <Name>Review Type Criteria</Name>
    <Icon>icon-science</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Ranking</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6a2b466f-904d-4c1d-bf65-f1a508ad7b4e</Key>
      <Name>Specific Area Of Change</Name>
      <Alias>specificAreaOfChange</Alias>
      <Definition>a2671738-0cbd-401c-891b-5e2e83aff29f</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>465d22fb-bebd-471b-8157-68c44f100db1</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>