<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0c0b1f2c-d569-4ff1-99df-f860e1cbb044" Alias="Accordion - Items - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Accordion - Items - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9116e674-4054-4697-827d-c6ae2271b897",
      "label": "{umbValue: title}",
      "editorSize": ""
    }
  ]
}]]></Config>
</DataType>