<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a9f845fd-669e-4c23-8394-beb2136ac855" Alias="Answer Format" Level="1">
  <Info>
    <Name>Answer Format</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Text",
    "Date",
    "Radio button",
    "Checkbox",
    "Boolean",
    "Email"
  ],
  "multiple": false,
  "umbMigrationV14": "2025-06-04T08:44:01.2232517+00:00"
}]]></Config>
</DataType>