<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d03c006d-653d-455a-9867-4883c9b70c63" Alias="Block list - Editor - Comments" Level="1">
  <Info>
    <Name>Block list - Editor - Comments</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "04b2f930-7c10-4d7c-a9f4-ab32c05ff0a9",
      "label": "{umbValue: editorName} - {umbValue: note | truncate:200}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>