<?xml version="1.0" encoding="utf-8"?>
<DataType Key="401b22df-d955-4d88-8301-3fa75cbaa06c" Alias="Question Set - Status - Dropdown Property Editor UI" Level="1">
  <Info>
    <Name>Question Set - Status - Dropdown Property Editor UI</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Draft",
    "In review",
    "Published",
    "Archived"
  ]
}]]></Config>
</DataType>