<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2d74ad87-ce93-4a49-a4f7-976b3c9882ca" Alias="Question - Guidance Content - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Question - Guidance Content - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "5a39d3b0-c10e-40ad-9475-1c9e8461f6e9"
    },
    {
      "contentElementTypeKey": "d10f8af2-acdd-440c-b05d-24314c8558e0",
      "label": "{umbValue: title}"
    },
    {
      "contentElementTypeKey": "01be4f43-db33-4958-a971-b7593b43c185"
    },
    {
      "contentElementTypeKey": "59774e00-134e-4886-b4d9-e8ed7ca20600",
      "label": "{umbValue: value | truncate:200}"
    }
  ],
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>