<?xml version="1.0" encoding="utf-8"?>
<DataType Key="68c40873-b110-49bc-a1bb-7b8b198f8931" Alias="Validation Option Type" Level="1">
  <Info>
    <Name>Validation Option Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Single",
    "Multiple"
  ],
  "multiple": false,
  "umbMigrationV14": "2025-06-04T08:44:01.2262923+00:00"
}]]></Config>
</DataType>