<?xml version="1.0" encoding="utf-8"?>
<DataType Key="800ea051-69d7-454a-9169-7ac57766ab6d" Alias="Validation Rules" Level="1">
  <Info>
    <Name>Validation Rules</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "a65f7415-bd1c-45fb-85c5-1c879b71f49d",
      "label": "{umbValue: ruleName}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>