<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="59f2dd20-834f-47bf-ab1b-2383001242b7" Alias="questionSet" Level="2">
  <Info>
    <Name>Question Set</Name>
    <Icon>icon-book-alt-2 color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Questions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="5b97f345-d052-4027-9ad9-f45d1ec0ac5e" SortOrder="0">modificationJourney</ContentType>
    <ContentType Key="ee73dd9f-67b5-4c79-b60b-be42877deeec" SortOrder="1">specificChangeQuestion</ContentType>
    <ContentType Key="0f9ba040-5d0b-4bc9-b040-ac508bc147b1" SortOrder="2">areaOfChangeQuestion</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>15019e17-cb03-4a68-8628-1648d438bb06</Key>
      <Name>Comments</Name>
      <Alias>comments</Alias>
      <Definition>d03c006d-653d-455a-9867-4883c9b70c63</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="editorCommentary">Editor commentary</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>84557abc-5e53-4e9b-88e1-5ef38ad78d17</Key>
      <Name>Version number</Name>
      <Alias>versionNumber</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="version">Version</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0174822e-4a42-4ebd-a65d-e0767f4c772a</Key>
      <Caption>Editor commentary</Caption>
      <Alias>editorCommentary</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>8aa353cd-9840-434e-8ea0-16f229067300</Key>
      <Caption>Version</Caption>
      <Alias>version</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>